[2017-12-06 10:40] powerbuoy commented on #557
Oh, I noticed that inside `router:navigation:processing` it is in fact `true` after using `navigateBack()`. That solves my issue as I can store the value of it and use it later on inside `complete`. I'm curious why it would be reset to `false` inside `complete` though? I still feel that's undesirable behaviour but I might be missing something?

[2017-12-06 18:51] powerbuoy commented on #557
Also, the fact that it's false when you use the normal back button inside the browser makes it much less useful. It would be awesome if it could be merged with the work done by @jwx for this very similar issue: https://github.com/aurelia/router/issues/436

[2017-12-06 19:54] powerbuoy commented on #557
I see that PR https://github.com/aurelia/router/pull/459 is just waiting to be merged, and that would solve everything as we'd have proper back/forward button support and more so I'll close this issue for now and hope to see that PR in the next release.

[2017-12-06 19:54] #557 closed

[2017-12-08 20:03] robscottnh commented on #129
I also would like to do this

[2017-12-10 07:37] #436 closed

[2017-12-10 19:09] davismj commented on #534
@EisenbergEffect see here

[2017-12-10 22:51] jwx commented on #534
@davismj @EisenbergEffect Making the view model a singleton only preserves the view model state. State details not bound to the view model is lost, for example an unbound scroll position in a list or unbound position and zooming in a google map. Basically, this is completely cached views and so on.

[2017-12-11 08:56] fracz commented on #457
Temporary (I hope) fix for this issue: with support of [arrive.js](https://github.com/uzairfarooq/arrive) you can watch for new links with `route-href` and detect middle- or ctrl-clicks on them, replacing the URL for a moment. It lets the browser "do the right thing" and does not break the aurelia router.

[code]

Initialize it in your `app.ts` :

[code]

[2017-12-11 11:03] davismj commented on #534
Good info. I'll review again.

I'd like to pull this in out of the context of the optional and default view ports. This seems like a totally separate item.

[2017-12-11 11:08] bigopon commented on #534
I'd like to add in that making something `singleton` is not always viable. Sometime the element used at the leaf - route may end up being a real element in another context, thus making them singleton will not allow this scenario. My use case is I have a complex editor as a route, but then in another route, I reuse the element in a dialog.

[2017-12-15 18:45] benstevens48 commented on #428
@EisenbergEffect  I also think there should be some way of preventing the router from processing a link (i.e. `<a href="...">...</a>`).

In addition to the OP's example, this is needed in order to link from part of a site that uses Aurelia client-side routing to another part of a site which does not use client-side routing (and possibly does not use Aurelia).

Ignoring links with the attribute `ta

[2017-12-16 09:03] davismj commented on #428
@benstevens48 @fracz Take a look at the feature request here: https://github.com/aurelia/router/issues/527

I think this is probably the most robust way to solve these kinds of problems. I have this on my radar for a 1.6.0 release of the router.

[2017-12-16 10:00] davismj commented on #527
@mgraf1

#558 doesn't seem to solve this issue

(1) created a push state enabled application
(2) added a link to a local path file (build/paths.js)
(3) click the link, the router quietly navigates to build/paths.js, but the request does not fall through to the server

[2017-12-16 10:01] benstevens48 commented on #428
Oh, yes, that also works, and is probably good enough, although it's not exactly the same. For example, you might still want to have a custom 404 not found page in your Aurelia app (so not ignore unmatched routes), whilst still specifically creating some links that should result in requests to the server.

[2017-12-16 10:07] davismj commented on #428
Hm. Good, really good point, @benstevens48

@PWKad can I get your input here. What was your use case for #527 ? You had mentioned like a fall through to the web server, but I'm wondering if there isn't a more general answer?

What about this approach?

**Add a fall through route config**

[code]

Then we could pass through all unknown routes (not recommended):

[code]

The advantage to this approa

[2017-12-16 10:47] benstevens48 commented on #428
I haven't had a lot of time to think about this and I'm not very familiar with the router, but I'm going to reply now else I never will.

There is a difference between ignoring the route and fetching from the server. In the case that a link was clicked, ignoring the route would result in a server request as long as event.preventDefault() was not called (so this needs checking). In the case of call

[2017-12-16 11:15] davismj commented on #428
@EisenbergEffect Would also like your input.

[2017-12-16 18:20] PWKad commented on #527
I added a new PR as a work in progress to address this but as you mentioned it should fall through.  https://github.com/aurelia/router/pull/561/files

[2017-12-16 18:39] davismj commented on #428
@benstevens48 Does this work? Can you enhance this gist to show me what isn't working? https://gist.run/?id=d7c1b92146c250e726da904e8f08b417

[2017-12-16 19:14] benstevens48 commented on #428
You need to set the pushState option to true. This might not be the best way to test it because you can't really see the URL in the address bar. Here is a forked gist - https://gist.run/?id=885010d294c6039d94db03e394b7fa59. The links `download1` and `test link 1` work, whereas the links `download 2` and `test link 2` do not work. In my option a link with the download attribute should never by hand

[2017-12-16 19:15] PWKad commented on #428
I'm on my phone so can't see the gist but that use case sounds exactly like what I've been asked for as well.

[2017-12-20 23:51] ordinaryorange commented on #380
I just tried this in one of the skeletons. I added a `route: 'http://www.somedomain.com'` and it worked. So I assume it has been patched in ?

[2017-12-27 10:29] Mobe91 commented on #225
How should hash anchor links generelly work with pushState and a base-tag?
A simple anchor link in /app/view1 like
[code]
will never work with the suggested pushState approach because this approach also requires a `<base>` tag in the head.
For this anchor to work, it needs to be prefixed with the current path, i.e. /app/view1#anchor1. Does Aurelia provide any facilities to rewrite such anchor link

[2017-12-27 10:44] alexisargyris commented on #66
Is this still a problem? Any workaround?

[2017-12-28 21:28] jonathaneckman opened #564 "navigateBack or home"
**I'm submitting a feature request**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Browser:**
Chrome

* **Language:**
TypeScript 2.2

**Current behavior:**
1. Navigate directly to a route by typing the URL in the address bar.
1. Click a button on the page that calls router.navigateBack()
1. The router navigates away from the Aurel

[2017-12-28 23:25] sboyd commented on #225
@bryanrsmith do you happen to know if there's a work around in place for the issue @Mobe91 is describing?

[2017-12-29 16:05] sboyd commented on #225
So @Mobe91 I ended up doing the following, though I'm not sure it'll work for your case it worked well for me.

In my viewmodel I added this funciton
scrollToElement(elementId){
        document.getElementById(elementId).scrollIntoView();
}

In the view I removed my href and replaced it with this.
click.delegate="scrollToElement('app-highlights')"

Hope this helps someone
--Steve

[2018-01-04 08:01] davismj opened #566 "setRoot doesn't execute activation lifecycle on new root"
**Current behavior:**
Calling `setRoot('page1')`, then `setRoot('page2')` does not trigger the deactivation lifecycle for page1. Calling setRoot('page1')` next does not trigger the activation lifecycle for page1.

**Expected behavior**
`setRoot()` should activate and deactivate routes.

[2018-01-05 12:29] gama410 commented on #528
Hello!

Any update on this bug?

[2018-01-05 13:09] gama410 commented on #302
I agree with @EisenbergEffect 's comment to some extent. While it seems perfectly valid to me that a cancelled navigation should not have an history entry, removing an entry from the history stack seems illogical. An entry that is in the stack has already been visited, it's not one that is being added. If the entry is removed, the history is left inconsistent (in this case, doing back again would

[2018-01-05 13:42] thomaskonrad opened #567 "useViewPortDefaults already in docs but not in 1.4.0 stable release"
The `useViewPortDefaults` feature is [already documented](http://aurelia.io/docs/routing/configuration#rendering-view-ports) but it is not shipped with the 1.4.0 release, which is kind of weird and inconsistent.

[2018-01-05 15:15] davismj commented on #528
I'm going to want to start looking at this once for 1.6.0, potentially a March release if all goes well.

[2018-01-08 08:12] sagomanoj opened #569 "ERROR [app-router] Error: Invalid argument."
My **Aurelia** application is working fine Chrome, Firefox and NOT working in IE.
I'm getting **ERROR [app-router] Error: Invalid argument**. and also **ERROR [app-router] Router navigation failed, and no previous location could be restored.**

Thanks in advance.

[2018-01-08 14:36] thomas-darling commented on #289
@EisenbergEffect @davismj We're seeing this too, and it's definitely a bug.

Basically, we have a route, `/flights/:destination`, with a navigation strategy, which sets `navigationInstruction.config.moduleId` dynamically based on the type of place referenced by the `destination` parameter in the URL.

This works correctly on the first navigation to that route. However, if you then, while on that r

[2018-01-09 11:43] KingRial commented on #155
I can confirm the described behaviour.

While waiting for a fix I created the following workaround.
In the parent View model:
[code]
For example I decided that, when route parameters are the same as the one already in the view, there is no need to reactivate the lyfecycle.

[2018-01-09 12:28] nmocruz commented on #225
this also affects [this ](https://github.com/shaunluttin/aurelia-open-id-connect/issues/30)

[2018-01-10 04:21] AlainBaslter opened #570 "ERROR [app-router] TypeError: name is null"
**I'm submitting a bug report**

Viewport moduleId cannot be null

ERROR [app-router] TypeError: name is null
Stack trace:
relativeToFile@http://localhost:9000/jspm_packages/npm/aurelia-path@1.1.1/aurelia-path.js:38:9
loadRoute@http://localhost:9000/jspm_packages/npm/aurelia-templating-router@1.2.0/route-loader.js:53:95
loadComponent@http://localhost:9000/jspm_packages/npm/aurelia-router@1.4.0/aur

[2018-01-10 04:28] AlainBaslter commented on #567
Hi @thomaskonrad
Why are you trying to use this?
Is it because you ran into the issue that moduleId: null throws an error like I did?
I thought of using useViewPortDefaults as a work around but if this also does not work we are stuck.

[2018-01-10 10:22] jwx commented on #570
I'm not sure this is actually released yet. @davismj?

[2018-01-11 09:35] davismj commented on #570
@AlainBaslter Hey Alain, apologies for this, I thought I had responded via email. This is available in 1.5.0 of the router. Apparently, the most recent documentation changes have pulled this content in before it was officially released. Please pardon the mistake.

That said, 1.5.0 should be released today.

[2018-01-14 14:18] thomaskonrad commented on #567
@AlainBaslter, no, I just wanted to create a master-detail view with two router outlets and wanted to set a default content for the detail view.

[2018-01-15 02:34] ordinaryorange commented on #90
@heruan are you doing anything on this still ? I've got a working solution with inspiration from your alpha, and from the nested navigation @jagonalez made. The library is a plugin that I think meets everyone's needs here. I hope to have the git repo up soon once I've finalised some aspects. Will post back here when done, am keen to get reviews.

[2018-01-15 07:57] davismj commented on #569
This is likely not related to the router. This error means that the router tried to load the module but an error was thrown. Try debugging into the module you're trying to load.

[2018-01-15 07:57] #569 closed

[2018-01-15 07:58] davismj commented on #567
@thomaskonrad Sorry Thomas. There have been changes to the way docs are generated. I wrote the docs for 1.5.0 but committed them too soon. This change is getting prepped for release as we speak. Stay tuned.

[2018-01-15 07:58] #567 closed

[2018-01-15 07:59] davismj commented on #564
@jonathaneckman Ready for your next submission? :smile:

[2018-01-15 08:08] davismj commented on #553
@deap82 I understand why you would want to do this ,and I think there could probably be better handling for this case, such as a warning or better documentation.

In the meantime, try the following pattern instead. First, instead of redirecting in `activate`, redirect in `canActivate`. The idea is that once `activate` starts, the routing needs to complete. `canActivate` is the right place to cance

[2018-01-15 08:08] #553 closed

[2018-01-15 14:54] AlainBaslter commented on #570
@davismj Yessss it works now with 1.5.0 thanks.

[2018-01-15 22:57] jonathaneckman commented on #564
Haha yes I am! Good thing I have an excellent blog to guide me.

I'd be happy to put my name on this once I understand a little more about the solution. I'd need to read the router code to understand the effort required, if the change is a good design, if it causes a breaking change, etc. Other priorities have filled my after hours time in January, so I cant commit to anything yet.

[2018-01-17 00:54] fedoranimus opened #572 "History not activated after update to 1.5.0"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
Webpack 3.10.0

* **Browser:**
all | Chrome 63.0.3239.132

* **Language:**
TypeScript 2.6.2

**Current behavior:**
When loading, exception is thrown: `Error: History must

[2018-01-17 03:54] jack4it commented on #572
Got a similar error saying History is undefined in Router class after upgrading to 1.5, had to revert back to 1.4 to fix the issue.

[2018-01-17 11:13] davismj commented on #572
@fedoranimus Thanks for the info. Looking into it.

[2018-01-17 11:33] davismj commented on #572
@jack4it are you also using webpack?

[2018-01-17 11:49] davismj commented on #572
Seems the issue is only in Webpack. For whatever reason, the `History` and not `BrowserHistory` module is being injected into the router. I'll see what's up and push out a fix soon.

[2018-01-17 17:50] jack4it commented on #572
@davismj Yes, I'm using webpack as well. Thanks for looking into this

[2018-01-21 00:36] jonathaneckman commented on #289
I have an [issue](https://github.com/shaunluttin/aurelia-open-id-connect/issues/47#issuecomment-359213272) open in `aurelia-open-id-connect` that may be this same problem.

The gist is that a navigation instruction is added like so:

[code]

While routing, I get the following error. Stepping through, I can see it is because `moduleId` not undefined.

[code]

[2018-01-22 07:01] davismj commented on #289
Let me know if you can set up a repro @jonathaneckman.

[2018-01-22 15:10] jonathaneckman commented on #289
@davismj here is a [repro](https://github.com/jonathaneckman/aurelia-router-repro). If a `navigationStrategy` must also include a `moduleId`, then this is a bug in the plugin I'm using. If not, its a bug in the router. You can see this in my [configureRouter](https://github.com/jonathaneckman/aurelia-router-repro/blob/bad18194f21c4b8f96f0a2cdf5950bec8de6eacf/src/app.ts#L31).

In the example, I am

[2018-01-22 19:22] gheoan commented on #170
https://github.com/aurelia/router/pull/459 added APIs that can help decide when to scroll to top.
Using the code below the page scrolls to top on new routes, allowing the user agent to restore scroll position on the routes already visited:

[code]

[2018-01-22 20:14] dkent600 opened #573 "Router.title is used but not defined in the Router class"
**I'm submitting a bug report**

* **Library Version:**
current, see permalink in expected behavior

**Current behavior:**

This line in `RouterConfiguration` sets `Router.title`:

https://github.com/aurelia/router/blob/c1720c4fc911f58fb9233ae88f182f2256a19d67/src/router-configuration.js#L165

**Expected/desired behavior:**
`Router.title` is not defined in the Router class, nor is it mentioned in

[2018-01-23 02:10] #170 closed

[2018-01-25 17:00] powerbuoy opened #574 "Back button is broken in iOS since 1.5.0"
Since the latest update that introduced the very useful `isNavigating*` flags the back button is broken in iOS and seems to always take the user back to the home page.

To reproduce simply set up an Aurelia CLI app with at least 3 routes, then navigate from home, to route 2 to route 3 then hit the back button and you'll end up on home - not route 2.

[2018-01-25 18:51] powerbuoy commented on #549
I've done exactly this by checking inside activate() whether the routeConfig (second argument to activate) has any modelData and if so assigning it to my bindable properties.

[2018-01-26 08:39] davismj commented on #574
Thanks for bringing this to my attention. I'll take a look when I can get my hands on an iOS device.

Any idea what might be going on?

[2018-01-26 08:43] davismj commented on #549
@nashwaan You wouldn't want to use a custom element view for a route, in general. You might find a special case where this makes sense, but in general it's a bad idea and should be avoided. Instead, keep your routes and custom elements separate.

**app.js**
[code]

**foo1.js**
[code]

**foo1.html**
[code]

[2018-01-26 08:44] #549 closed

[2018-01-26 09:43] powerbuoy commented on #574
Unfortunately no :/ But after further testing it does seem like the back button _always_ brings you back to the home page for some reason.

`window.history.length` seems correct (there's more than one entry in there at least) but `window.history.go(-1)` always takes you to the home page...

Same issue in the iOS simulator if you have access to an OSX machine.

[2018-01-26 09:48] powerbuoy commented on #574
If there's anything I can help you test just let me know and I'll do my best!

[2018-01-26 09:58] davismj commented on #574
I've got an old iPod touchy for testing, but I gotta get a charger for it lol. Appreciate the leads.

[2018-01-26 10:33] powerbuoy commented on #574
Lol OK :) I guess in the meantime I'll roll back a version.

On Jan 26, 2018 10:58, "Matthew James Davis" <notifications@github.com>
wrote:

[2018-01-26 11:11] powerbuoy commented on #574
Can confirm it's definitely a problem with `aurelia-router@1.5.0` - rolling back to `1.4.0` solves the issue.

[2018-01-26 23:29] jwx commented on #574
Could it have something to do with routes not being added to browser history?

I don't think anything I've added has caused this (but yeah, if I had a nickel for every time...) but I have to admit I haven't tested my PRs on iOS on account of not having it available. :blush:

[2018-01-26 23:30] jwx commented on #574
(That blush looked way too happy. It's supposed to be a sad and embarassed blush, guys.)

[2018-01-31 13:02] jerep commented on #574
I have the exact same issue with Safari on Mac and downgrading to `aurelia-router@1.4.0` solved it.

[2018-02-01 17:36] #278 closed

[2018-02-05 03:34] huochunpeng commented on #574
I also encountered this problem on macOS Safari. You don't need an iOS device to debug.

[2018-02-05 15:01] jimwards17 commented on #574
Possibly a related issue?

https://github.com/aurelia/router/issues/528

I ran into both at the same time? Can anyone determine if downgrading the router to v1.4 fixes issue 528 as well?

[2018-02-05 15:05] powerbuoy commented on #574
@jimwards17 #528 was reported before 1.5.0 released afaik.

[2018-02-05 18:59] eric-914 commented on #480
I'm now hitting this problem, and would like to know if there's any status change on how to fix it?

[2018-02-06 05:24] davismj commented on #480
@Kukks for the record, the problem is just a warning being logged to the console?

I think a good, viable long term fix would be to allow resolving a redirect as well. I agree that while the reject notation half makes sense, it half doesn't. PRs welcome if someone wants to take a stab at that.

[2018-02-07 02:48] powerbuoy commented on #574
So... not to be that guy, but is anyone working on this? It's a pretty huge bug that's currently live and out there in the latest release of `aurelia-router`...

[2018-02-07 09:20] davismj commented on #574
All right so I got my touchy charged up and create a test repo: http://davismj.me/test-router/

I navigate Welcome > Github Users > Child Router. I click the back button. I'm at Github Users. This is the expected behavior.

I'll need a repro to move forward, @powerbuoy .

[2018-02-07 11:05] powerbuoy commented on #574
@davismj Cheers :) My guess is it doesn't affect hashChange apps because your example works in Safari for me. Here's a newly created Aurelia CLI app that exhibits the bug though.

[route-test.zip](https://github.com/aurelia/router/files/1702775/route-test.zip)

And here's a video: https://youtu.be/p-BHoAm6qNo

[2018-02-07 11:48] huochunpeng commented on #574
@davismj
1. test on a Mac Safari should be easier for you.
2. I confirmed @powerbuoy's finding, you need to turn on pushState in router.`config.options.pushState = true;`.
3. in addition, you need `<base href="/">` in index.html, and set `config.options.root = "/";`, in order to reproduce the issue. Anyway, they are mandatory steps to turn on pushState, based on aurelia-router official document.

[2018-02-07 12:37] davismj commented on #574
Got it, so it is a push state issue. I'll take another look.

@huochunpeng no access to a mac sadly

I personally never use pushState in apps. Is it that popular of an option?

[2018-02-07 12:48] huochunpeng commented on #574
@davismj, to be honest, you might be the only one left using hash instead of push. :-)

[2018-02-07 12:57] davismj commented on #574
@huochunpeng are there any errors logged to the console in safari? that would be a huge help to me

[2018-02-07 13:04] huochunpeng commented on #574
@davismj I will check tomorrow once I got to office.

[2018-02-07 14:06] powerbuoy commented on #574
There are no errors in the Safari console. `window.history` looks like this:

![screen shot 2018-02-07 at 15 05 44](https://user-images.githubusercontent.com/1027780/35920542-6e5ea502-0c18-11e8-8480-84be6fbe08ca.png)

if that helps at all.

[2018-02-07 19:30] mattgaspar commented on #574
This bug **does** occur when using hash change.
I noticed that back actually removes the hash from the url.  Normally a link to a route of '' would normal change the browser address to /#/, but when pressing back the url changes to /

I heard mention on github of a feature that would prevent the back navigation from browsing to a previous site (different host).  Did that get implemented in 1.5?

@

[2018-02-07 22:00] huochunpeng commented on #574
@davismj zero error in Safari console for me too. Even with developmentLogging turned on, no extra debug/log/warn/error.

[2018-02-07 22:45] MaximBalaganskiy commented on #363
When I had child redirects parent view model was created twice, hence subscribing twice in the constructor. One of the instances never gets `detached`

[2018-02-08 05:02] davismj commented on #363
@corneliutusnea @MaximBalaganskiy A quick repro would be a big hel!

[2018-02-08 05:15] davismj commented on #574
Appreciate the feedback guys. I'll do what I can.

@mattgaspar Thanks for the insight, both on the bug and on contributing. I use sublime text and so I've never seen errors and never thought twice about it. I'll take another look and maybe look at adding documentation about contributing. In the mean time, check out the [flow types plugin for vs code](https://github.com/flowtype/flow-for-vscode).

[2018-02-08 06:01] MaximBalaganskiy commented on #363
@davismj https://gist.run/?id=2dcf2577f8fd756724c27774ee48939b
Navigate between Parent1 and Parent2 and observe console log

[2018-02-08 12:47] MaximBalaganskiy commented on #363
So, parent constructors are called twice, but only 1 gets attached. My particular mistake was creating a subscription in a constructor

[2018-02-08 13:05] MaximBalaganskiy commented on #363
BTW, I'm getting the "real" fragment here `event.instruction.router.currentInstruction.fragment`

[2018-02-09 04:30] huochunpeng commented on #574
@davismj I confirm the issue come from https://github.com/aurelia/router/blob/c1720c4fc911f58fb9233ae88f182f2256a19d67/src/app-router.js#L143

Once you comment out that line, on more issue on Safari. It looks like Safari is not happy if you touch history state object.

[2018-02-09 05:01] huochunpeng commented on #574
Based on what I read from https://www.w3.org/TR/html50/browsers.html#history
[code]
Both `history.pushState` and `history.replaceState` need to CLONE the input state object.

Although the standard does not explicitly reject you from touching the cloned object, but to me it's common sense that the standard tries to protect the state object as immutable.

In this sense, Safari looks like the only br

[2018-02-09 06:33] davismj commented on #574
@huochunpeng Thanks for this, great info and saved me a lot of headache since I don't have a Safari machine.

I think `getState` and `setState` are still likely viable strategies, but my guess is that there is a problem in the implementation. If you were not able to modify the state variables at all, then the state variables are totally useless. If you are able to modify them, then it seems we're

[2018-02-09 09:53] davismj commented on #574
@huochunpeng and I are working on it. I'll keep everyone posted here.

[2018-02-09 10:14] jwx commented on #574
@davismj @huochunpeng Might be that url is null, possibly similar to this: https://stackoverflow.com/questions/47145052/ios-11-1-securityerror-dom-exception-18-blocked-attempt-to-use-history-replac

[2018-02-09 10:22] davismj commented on #574
Unlikely, the third parameter is optional.

[2018-02-09 10:35] jwx commented on #574
I think we're already in the realm of Unlikely since such a fairly simple thing is not working. But technically, the third parameter isn't left out; it's set to `null`. And that might make a difference in Safari/iOS. Even though it's a bit ... unlikely.

[2018-02-09 14:40] davismj commented on #574
@huochunpeng https://github.com/aurelia/router/issues/574#issuecomment-364335789

Seems like Safari isn't strictly following the standard after all. Thanks again for debugging and finding the fix.

[2018-02-09 14:46] huochunpeng commented on #574
:-)

[2018-02-09 16:30] powerbuoy commented on #574
Awesome work guys!

[2018-02-14 04:59] thinkOfaNumber commented on #546
I think I was misunderstanding the activate() params on a layout view-model. They're not "page" params, it's a model property like a dialogs activate method.

i.e. if I specify the route like this:

    config.map([
        {
            route: '', name: '...',
            layoutView: 'split-form-layout.html', layoutViewModel: split-form-layout', layoutModel: 3,
            moduleId: '...', nav: t

[2018-02-14 04:59] #546 closed

[2018-02-14 15:59] powerbuoy commented on #574
Any ETA on a 1.5.1 release with this fix? :) The biggest use-case for me with `isNavigatingBack` is being able to restore the scroll position when the user goes back. We have a list of search results and it's not great UX to end up at the top of the list every time the user goes back to it.

[2018-02-14 16:32] EisenbergEffect commented on #574
@davismj Let me know when you're ready for me to do a new release.

[2018-02-15 00:01] dantheother opened #575 "Routes with optional parameters seem to be matching substring routes with similar names"
**I'm submitting a bug report**

* **Library Version:**
1.3.0 and whatever is in the gistrun

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
610.1

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**

Route foo/:id? and fooBar/:id?. Cannot navigate to /fooBar by itself, foo gets activated with an id parameter

[2018-02-16 06:46] fkleuver commented on #90
I recently created a little [plugin](https://github.com/fkleuver/aurelia-router-metadata) (`npm i aurelia-router-metadata`) to provide router configuration through decorators, basically to replace most `configureRouter` code with convention-based configuration.

Eager loading of childRoutes wasn't my initial plan with it, but it turned out to be really simple to add in.

Essentially there's two de

[2018-02-16 07:02] EisenbergEffect commented on #90
Hey @davismj Can you take a look at this? Seems interesting.

[2018-02-16 07:03] davismj commented on #90
@fkleuver This is exactly what I had in mind from the start. It's going to be very at home with the .NET crowd.

[2018-02-16 09:33] fkleuver commented on #480
@davismj I've been digging into the router recently and noticed a few places where promises aren't being returned from one internal method to the next. For example in the `app-router`, `_queueInstruction` calls `_dequeueInstruction` but doesn't return it. So what happens to the promise that's returned by `_dequeueInstruction`? I can't help but wonder if this is intended for some kind of asynchrony

[2018-02-16 10:05] fkleuver commented on #509
Stumbled upon this today when looking through the code. It kind of feels like `Router.addRoute` wasn't meant to be a public API, because it makes assumptions on its input based on how `RouterConfiguration.mapRoute` calls it.
That one transforms a RouteConfig with a route array into multiple RouteConfigs and does a few other things. Seems like you really can't "win" by calling addRoute over mapRout

[2018-02-16 12:12] Lichtjaeger commented on #548
I have the same problem.

[2018-02-16 13:38] huochunpeng commented on #548
See the PR above for a fix.

[2018-02-16 13:41] huochunpeng commented on #548
In my app, I have to inject a common obj to avoid using binding scope chain.

[2018-02-18 05:32] fkleuver commented on #90
I've uploaded a [sample project](https://github.com/fkleuver/aurelia-router-metadata-sample) to showcase how to utilize this for building a navigation menu. I'm using a value converter to traverse the routeconfigs and build the url which is still a bit hacky imo. Should I add in some route generator functionality to make the href part a bit cleaner? Opinions?

[2018-02-18 12:00] huochunpeng commented on #556
@volak I could not reproduce your issue. Could you publish a gistrun or repo?

[2018-02-18 12:04] huochunpeng commented on #547
Well, I am the third.
https://discourse.aurelia.io/t/the-easy-way-to-customize-child-router-based-on-parent-router-param/768?u=huochunpeng

@davismj neither endorses nor totally rejects the usage.

[2018-02-18 12:13] davismj commented on #547
They are here to stay since we have no intention of introducing breaking changes. I may or may not document them at some point since, as @huochunpeng mentioned, I think this leads developers down a bad path that leads to architectural problems.

[2018-02-18 12:45] huochunpeng commented on #90
I come to the party quite late. I have implemented hierarchical nav menus since 2016 when I picked up Aurelia, and I had totally different view on this problem.

To me, having delayed router config is NOT a bad thing. Dynamic behavior is good, is flexible, please don't "FIX" it.

In my view, the problem here is not to show hierarchical menus of hierarchical router config. "Hierarchical menus" is p

[2018-02-18 12:59] huochunpeng commented on #547
@davismj actually I rely on dynamic behaviour quite a lot. I have many pure backend defined dynamic routes like the one I showed you in the last post of the discourse topic.

In many parts of my app, I have no way to pre-define routes. My app is in cloud business. For instance, I need to show tabs "AWS" and "AZURE" because those are the cloud providers that client (app user) is using. That can be

[2018-02-18 20:15] huochunpeng commented on #547
You did not get my point. “AWS” is unknown noun in my front-end code, it is just a provider. The list of providers is unknown, and should not be anyway hard coded by frontend code.
The config of any provider is unknown to my front-end, its driven by meta-data provided by backend, then rendered by front-end using exactly same code, same class.

[2018-02-18 20:20] huochunpeng commented on #547
In our architecture, provider type can be added to the app through plugin (backend). So some client can have their own provider named “Lorem” with a total different config and backend logic.

[2018-02-19 02:04] fkleuver commented on #90
@huochunpeng

I completely agree with you there. And the example you gave does work fine in most smaller projects.

Maybe not for a shallow admin panel or line-of-business application where you know the structure upfront.
Consider e-commerce, CRM, ERP and other "category/data-heavy" types of web applications. I've worked on several large projects of this sorts with Aurelia, and I can guarantee you

[2018-02-19 02:43] huochunpeng commented on #90
@fkleuver I understand your argument, you want the framework to help to organize the code.

My argument is, I might not need much from the framework in order to meet this. Since your complex structured routes are static anyway, why not push them up to top level routes definition. You can have some code to automate the routes creation without fighting the framework.

This is just my view, I underst

[2018-02-19 05:34] davismj commented on #548
This is definitely a bug as the same behavior should occur on the first and each subsequent navigation. Thanks for the PR.

@Lichtjaeger If you really need access to a parent scope in a child route, there is likely a better way to approach the problem. Here are two suggestions.

## Use a parameterized route

There's a temptation to jump on child routes when a parameterized route would do. For the

[2018-02-19 05:38] davismj commented on #509
@fkleuver I think that's a great approach. PR welcome!

[2018-02-19 05:42] davismj commented on #480
@fkleuver as I didn't write the code and there aren't a lot of comments, I can't say for sure whether or not the highly async architecture was the right way to go. I've noticed the same things and they seem like a liability to me as well, but they're (a) deep and (b) pervasive, so I'm not in any place to start messing with them.

That said, as far as I understand, this particular issue is caused w

[2018-02-19 05:45] davismj commented on #363
Sounds like a bug to me. Thx for the repro.

[2018-02-19 05:51] huochunpeng commented on #548
Thanks for all the options @davismj.

I am using option2 "use a service pattern", it looks like the best I can get.

Option1 has one limitation, parameterized routes are not in `router.navigation`. Hard to build menu for them.

[2018-02-19 06:03] davismj commented on #575
Excellent repro, thx @dantheother

[2018-02-19 06:06] davismj commented on #548
@huochunpeng You're right. Personally, I never use the navModel. It's too limited for nearly every application I build. I've worked on a lot of applications and haven't found a one size fits all solution. Going to continue that conversation here: https://github.com/aurelia/router/issues/90#issuecomment-366575999.

In any case, I recommend building the best routing structure for the router, option

[2018-02-19 06:33] huochunpeng commented on #548
I am with you.

I am not sure whether to inflate that thread even more with following very rough idea.

If there is a way to support parameterized routes in `router.navigation`, even a hint, that will be great to reduce the need of dynamic route.

It could be just static route with dynamic `navigableTo`, no more need of dynamic route itself (at least for my use case, the only reason I use dynamic

[2018-02-19 06:35] davismj commented on #90
@fkleuver I think this is a 2.x level change. Appreciate the feedback, extremely useful.

[2018-02-19 06:35] Lichtjaeger commented on #548
Thank you @davismj.

In the end, I definitely will use a service because these states will be from a backend logic. The project I'm working on is in a very early stage so I thought using a transparent state that is inherited from parent to child would be easier to debug for now.

[2018-02-19 07:56] Kukks commented on #90
@fkleuver I also had a much more rough and primitive automatic router configurator but I ran out of time to work on it and the tracing breaking change(`PLATFORM.moduleName`) wreaked havoc on it and made me scrap it. You can find an example repo of its usage [here](https://github.com/Kukks/aurelia-modules-example) but I took down the main lib to not confuse people that found it hoping for a solutio

[2018-02-19 08:25] fkleuver commented on #90
@huochunpeng

Correct, and I acknowledge that in the end this boils down to coder preference and experience.

I put a lot of work into my codegen templates to make the output as robust and feature-rich as possible. Popular tools such as the Visual Studio TypeWriter extension and T4 templates generate one output file per input file. I've had to resort to wonky build scripts to concatenate some of t

[2018-02-19 08:33] fkleuver commented on #90
@davismj makes sense. Has TypeScript been considered for a 2.0 release as well? I [converted ](https://github.com/fkleuver/aurelia-typescript/tree/master/router)it as a learning exercise and feels promising to me. The type checking exposes everything ruthlessly :)

[2018-02-19 09:28] Alexander-Taran commented on #573
What kind of help is wanted?
Seems like a simple case if help wanted in adding typings.

[2018-02-19 09:31] fkleuver commented on #509
@davismj done! #576

[2018-02-19 09:42] davismj commented on #573
Just needs to be added to the jsdoc.

Here:

https://github.com/aurelia/router/blob/c1720c4fc911f58fb9233ae88f182f2256a19d67/src/router-configuration.js#L165

Like this:

https://github.com/aurelia/framework/blob/master/src/framework-configuration.js#L118-L121

[2018-02-19 09:56] fkleuver commented on #566
I'm willing to have a crack at this, but the scope needs some clarification:

The root viewModel doesn't take part in the router activation lifecycle - the `activate` method on the root is actually invoked by the composition engine's `createController` which calls `tryActivateViewModel`. There is no corresponding deactivation lifecycle during composition.

This would mean some potentially signific

[2018-02-19 11:24] fkleuver commented on #547
Keep in mind that `configureRouter` can actually be called in two different ways:
### 1. During initial composition (templating lifecycle) of the top-level `router-view`.

When a router-view is constructed during composition, it calls `registerViewPort` on the router to register itself as a rendering target. If the router is AppRouter it also calls `configureRouter` on the component and **does not

[2018-02-19 11:34] huochunpeng commented on #547
Very grateful for your informative inside. I used Router injection but no more than doing manual navigation.

[2018-02-19 13:38] dkent600 commented on #573
@davismj would your suggested fix result in `title` winding up in the d.ts?

[2018-02-19 15:36] fkleuver commented on #575
I got [nerd sniped](https://xkcd.com/356/) by this..

When I was looking at the parsed states, there was an epsilon segment at the 'b' of 'foobar' which made it jump over the '/' segment and behave as if it were directly comparing a static segment to a dynamic one. AFAIK, the static one is meant to win in that case.

I submitted a [PR](https://github.com/aurelia/route-recognizer/pull/33) in `route

[2018-02-19 16:04] davismj commented on #573
Yes. You can test it by running gulp doc.

[2018-02-20 12:40] pndewit commented on #564
Alternatively this could be done by a router config setting? Would prevent it from being a breaking change, would allow users to decide for themselves whether this is preferable or not, etc. 👍

Might be wrong, but this could also maybe allow users to let a child router route back to the child router's "home" state and not navigate back to a parent router.

[2018-02-20 13:27] pndewit commented on #574
I can confirm that [the PR](https://github.com/aurelia/history-browser/pull/35) fixes my issues, with navigating back on Safari in macOS, as well. Looking forward to this being merged and released!

[2018-02-20 14:25] davismj commented on #574
@EisenbergEffect can be pulled in, see PR comments

[2018-02-20 21:46] #573 closed

[2018-02-21 05:28] huochunpeng commented on #476
Good new @davismj #571 fixes this bug.
With the fix, the events now fired same with or without layout.

[2018-02-21 05:41] huochunpeng commented on #472
@allencoded, @ejlaw01 can one of you help to test this issue against #571?
Your issue sounds like related to #476 (which is fixed by #571), the events are not published at right point.

However, I could not reproduce your error based on the code from #476. Would appreciate if you guys can test through your code.

Thx.

[2018-02-21 06:15] huochunpeng commented on #433
Just learnt here how to use "href" with parameterized route. It's pity it doesn't work with isActive at least for now.

One possible workaround I can see, is to avoid parameterized route.
[code]

[2018-02-21 09:25] Alexander-Taran commented on #433
Would be interesting to know what problem are you trying to solve with this multiple identical routes

[2018-02-21 09:32] dweggemans commented on #433
For example product categories. The module is the same but you use category parameter for filtering, title etc.

[2018-02-21 09:33] huochunpeng commented on #433
@Alexander-Taran if you read from top, parameterized route currently doesn't support isActive natively, my proposed workaround just uses rigid route definition to bypass the issue.

[2018-02-21 14:06] Alexander-Taran commented on #370
@HIRANO-Satoshi can you close the issue?

[2018-02-21 23:39] HIRANO-Satoshi commented on #370
Sure. Thanks.

[2018-02-21 23:39] #370 closed

[2018-02-22 09:07] pndewit commented on #419
What's the status? I'm running into the same issue and would really like to be able to change the separator. Even something like `config.titleSeparator = ' - ';` inside the `configureRouter` function would be enough for me.

[2018-02-22 10:16] fracz commented on #419
https://xkcd.com/974/

[2018-02-23 00:57] fkleuver commented on #90
I've made several updates to the [plugin ](https://github.com/fkleuver/aurelia-router-metadata) and in it's current form is actually serving me pretty well in a moderately sized app. Using it for the decorator convention-based configuration though, so I haven't really tested the navigation-templating side of things that much.

I'm guessing next steps are to make the regular `configureRouter()` com

[2018-02-23 13:29] powerbuoy commented on #574
Any chance we'll see a release this week?

[2018-02-23 18:26] EisenbergEffect commented on #574
Yes. @davismj Can you go ahead and merge this? After that, just give me the all clear for a release and it will go out this weekend.

[2018-02-23 19:18] pndewit commented on #574
@EisenbergEffect, @davismj already merged the PR :)

[2018-02-24 00:56] EisenbergEffect commented on #574
LOL That's what I get for being in a rush! We'll get it out this weekend.

[2018-02-24 06:50] #574 closed

[2018-02-24 06:51] davismj commented on #574
https://github.com/aurelia/history-browser/releases/tag/1.1.1

[2018-02-27 19:58] tbnovaes opened #580 "detached is called after deactivate"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.3

* **Node Version:**
9.4.0

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
When I change the route to a different one, the deactivate is called before the detached methods from the child components. So if your com

[2018-02-27 20:17] Alexander-Taran commented on #580
http://aurelia.io/docs/plugins/dialog#lifecycle-hooks
because you have to clean up anything atached to dom before detached

[2018-02-27 20:17] Alexander-Taran commented on #580
can be closed

[2018-02-27 20:51] Alexander-Taran commented on #580
Yeah.. I guess it is still right..
Sorry for misfire the 1st time.

activate() and deactivate() do  come from The Route Screen Activation Lifecycle
http://aurelia.io/docs/fundamentals/cheat-sheet#routing

and detached() and attached() - from component lifecycle.

So there is a possibility, that deactivate() won't succeed and your app won't actually navigate away.
Hence the order, I guess.

@Eisenb

[2018-02-27 21:02] tbnovaes commented on #580
@Alexander-Taran yes your point make sense. But still maybe the lifecycle should be canDeactivate (router), detached (all components), deactivate(router).

[2018-02-27 21:04] Alexander-Taran commented on #580
A man can dream (-:
can you elaborate your use case?
I'm pretty sure it won't happen in 1.x because it is a breaking change.
But maybe you see something that was overlooked.

[2018-02-27 21:28] tbnovaes commented on #580
Both cases happened to me in the same application I was building, may be a special case, or a bad design from my side, but it worth listing.

1. User navigate away from route A. The child component has a pending request, it try to cancel the request on detached. Suddenly the requests done by route B are also cancelled. Because the route B activate method is also called before the detached from the

[2018-02-27 22:45] Alexander-Taran commented on #339
can be closed

[2018-02-27 22:46] #339 closed

[2018-02-27 22:50] Alexander-Taran commented on #413
documentation reflects that you can now specify null instead of module for viewport
http://aurelia.io/docs/routing/configuration#rendering-view-ports

can be closed

[2018-02-27 22:51] #413 closed

[2018-02-28 02:52] davismj commented on #413
@alexander-taran thanks for all the hard work today! It's huge.

[2018-02-28 09:52] Alexander-Taran commented on #413
Well the goal is to close everything but my pull request  (-:
https://github.com/aurelia/pal-nodejs/pull/28

*wink* *wink*

On a serious note, I can't imagine how the .. are you managing 600+ issues on queue.
It's a classic support problem though.
And one of the solutions is "anything older than 6 months -> autoclose"
Real problems will find the way to backlog again.

[2018-02-28 10:44] Alexander-Taran commented on #243
http://aurelia.io/docs/routing/configuration#basic-configuration
Navigation States
kinda covers the idea behind issue to be able to know weather app is navigating back or forward

can be closed

[2018-02-28 11:05] davismj commented on #243
I think the idea was different, but I'm not sure where Bryan was going with this.

[2018-02-28 11:08] Alexander-Taran commented on #314
There have been changes to router design. It is now possible to have null as module for view-port..
I forked you repro and modified it in a way to allow for your scenario
http://plnkr.co/edit/rFZIh0iC0E30r7y4yqfc?p=preview

main difference is in configuration of child router

[code]

I also removed default `<router-view>` from the corresponding view

here is the relevant documentation
http://aurel

[2018-02-28 11:08] Alexander-Taran commented on #314
can be closed

[2018-02-28 13:00] #243 closed

[2018-02-28 13:06] davismj commented on #314
@jon123

@Alexander-Taran is right. You wouldn't want to have the `<router-view>` in child-router.js without defining view port configurations for the `'default'` view port.

[2018-02-28 13:06] #314 closed

[2018-02-28 13:32] davismj commented on #580
@tbnovaes so activate is a completely separate lifecycle from attached and detatched. In this case, I think you're going to want to use the attached and detatched lifecycle, as activate and deactivate is more for preparing and cleaning up data and state. For this reason, detatched, removing the view from the dom, will always be called after deactivate.

[2018-02-28 14:01] Alexander-Taran commented on #348
can be closed

[2018-02-28 14:04] Alexander-Taran commented on #366
can be closed.. maybe

[2018-02-28 14:35] Alexander-Taran commented on #456
fix merged
can be closed

[2018-02-28 14:36] Alexander-Taran commented on #524
fix merged
can be closed

[2018-02-28 14:37] landofjoe commented on #457
@fracz  - Thank you for posting this fix.  This issue has been a severe pain, but your idea is working great.

[2018-02-28 14:38] Alexander-Taran commented on #525
http://aurelia.io/docs/routing/configuration#redirecting-routes

seems like all the threads about empty parent routes end there

maybe can be closed

[2018-02-28 14:43] davismj commented on #366
This is still an issue and a good one to track.

[2018-02-28 14:45] davismj commented on #348
Would be good to add docs for name on the route config to the official docs.

[2018-02-28 15:45] #524 closed

[2018-02-28 15:46] #456 closed

[2018-02-28 15:55] #348 closed

[2018-03-01 00:35] Alexander-Taran commented on #249
No activity since nov 2015
maybe can be closed

[2018-03-01 00:44] Alexander-Taran commented on #440
separation of concerns
and deep linking

alternate behavior (pop up window for new message w/o folder structure) can be defined with just another route using the same module

IMO can be closed..
unless further discussion magically erupts after this (-:

[2018-03-01 02:04] #440 closed

[2018-03-01 02:45] EisenbergEffect commented on #249
Let's keep this open as a potential improvement, albeit low priority.

[2018-03-02 15:07] Alexander-Taran commented on #335
stale since 2016

[2018-03-02 23:48] Alexander-Taran commented on #430
duplicates: https://github.com/aurelia/templating/issues/505

can't find it at the moment, but sure it came up recently and was closed

[2018-03-03 00:22] Alexander-Taran commented on #458
fix merged
can be closed

[2018-03-03 19:23] Alexander-Taran commented on #365
stale since 2016

[2018-03-03 21:18] EisenbergEffect commented on #430
No plan to do this in the current version of Aurelia. It's possible in vNext, which would involve breaking changes.

[2018-03-03 21:18] #430 closed

[2018-03-03 21:23] #458 closed

[2018-03-03 21:58] EisenbergEffect commented on #365
I think we fixed this via router updates as part of the SSR work. I haven't seen any issues like this since then.

[2018-03-03 21:58] #365 closed

[2018-03-04 03:31] davismj commented on #430
I wouldn't recommend this as a feature at all..

[2018-03-05 06:23] davismj commented on #335
There's very little interest, and there are other ways to get this information. I'm with Alex.

[2018-03-05 06:23] #335 closed

[2018-03-05 09:43] Alexander-Taran commented on #378
Unanswered question.
Does it still need a paragraph documentation?

[2018-03-05 13:20] Alexander-Taran commented on #412
Could not find "using router outside of ChildRouterComponent"

User of framework wants to Navigate to route from a component without configureRouter method defined.

candidate for contrib

[2018-03-07 16:20] alienriver49 opened #581 "util Functions Missing from TypeScript Definition File"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.2

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
TypeScript 2.7.1

**Current behavior:**
I feel kind of silly opening this ticket, but the utility functions (in util.js)

[2018-03-07 23:17] Alexander-Taran commented on #581
@alienriver49  Would you be willing to provide a PR for that?

[2018-03-08 00:16] alienriver49 commented on #581
Most certainly! I was playing around with getting those function definitions into the .d.ts file earlier, so I'll see what I can come up with. I'll get a pull request out tomorrow.

[2018-03-08 14:08] Alexander-Taran commented on #581
@alienriver49 and also don't hesitate to ask if you need any help with that (-:

[2018-03-08 16:13] alienriver49 commented on #581
@Alexander-Taran Awesome thanks! So it looks like this repo is using babel-dts-generator to generate the .d.ts files and that has a memberOutputFilter to not output members beginning with '_', which explains why those functions aren't exported in the type definitions. Most Aurelia repos seem to use babel-dts-generator with the same settings, the one repo I've seen not use it (where useTypeScriptFo

[2018-03-08 16:35] Alexander-Taran commented on #581
@EisenbergEffect  I guess now is the time we ask someone from the core team to chime in.

If the team is ok with changing the process of generating d.ts?

What would be sensible exports from util useful for more than just you @alienriver49?
could we wrap those internal properties with public getters?

I'd be sad to see you invest your time in something that would not get merged.

[2018-03-08 16:55] alienriver49 commented on #581
@Alexander-Taran I agree, I think that changing the type declaration file might be overkill. I would also be fine with the exporting of a resolveUrl which just calls _resolveUrl or just renaming _resolveUrl to resolveUrl.  I would be interested in the core teams input as well. We internally use _'s to denote private functionality as well, so I understand, maybe there is another route (haha) I shou

[2018-03-08 17:50] istrau2 commented on #419
+1 can this be solved please?

[2018-03-08 17:57] Alexander-Taran commented on #419
anyone willing to provide PR for this?

[2018-03-08 21:49] EisenbergEffect commented on #581
For the router, the original code was written with Babel as the target transpiler. We used flow types and then wrote a plugin to generate d.ts files. We had a convention that private members/exports were named with a `_` prefix and so would be filtered out of the public API. We can add these to the API, but I'd want to defer to @davismj on whether he is ok with supporting that.

[2018-03-09 01:44] jordan-ware commented on #476
I think the issue here is that you have `activate` promises in both the layout and the module, but the router navigation instruction finishes before both of these promises resolve.

They seem to prevent the layout attaching to the DOM, but they should also hold up the routing until the promises resolve like in a normal parent/child router scenario.

I don't have a gist yet but have observed it in

[2018-03-12 01:22] Alexander-Taran commented on #420
@enrico-padovani is this still relevant to you?

[2018-03-12 01:41] Alexander-Taran commented on #217
Thou shalt not force the user to wait 15 seconds for activate to finish.
Long running loads should have their own spinners in the view.

I'd close this

[2018-03-12 02:04] EisenbergEffect commented on #217
Let's keep it for now, though I don't think we'd do it outside of overhauling the router in some future version.

[2018-03-12 02:27] fkleuver commented on #217
With regards to overhauling the router in a future version, I'm adding a reference to a [somewhat related issue](https://github.com/aurelia/templating-router/issues/26). It's about rendering a parent route's viewmodel before a child route's `activate` promise has resolved.

[2018-03-12 06:31] #420 closed

[2018-03-12 08:29] Alexander-Taran commented on #217
Might I add that whole middleware pipeline as in asp.net core and koa looks so appealing

[2018-03-15 06:19] davismj commented on #217
I'm honestly with Alex here. If you want to support cancellation, you can easily do this by wrapping a promise.

[code]

@EisenbergEffect I'd vote to close. Your thoughts?

[2018-03-15 06:23] #217 closed

[2018-03-15 06:51] #509 closed

[2018-03-15 06:52] davismj commented on #509
@fkleuver Merged. Thanks for your hard work! Code looks perfect.

[2018-03-15 15:45] smoore4moma commented on #380
I can confirm that @mohsenasfia solution below works. It lacks the ability to set the target to _blank (true?) but otherwise works well.

{ route: "http://other-domain.com", name: "external", title: "External", navigationStrategy: () => undefined }

[2018-03-15 15:54] Alexander-Taran commented on #380
I'd love to see how you guys use it.
Because from where I'm standing I don't see the use case for having a route for external link
might as well be href.bind="http://domain/path/${param1}/path/${param2}"
It will also be clearer for those who will read this, that the link is external

Would love to know what am I missing

[2018-03-15 16:04] davismj commented on #380
As OP stated, it is a feature for those relying on the nav model.

[2018-03-15 16:04] #380 closed

[2018-03-15 16:09] smoore4moma commented on #380
The use case for an external route: a menu.  The second link here is an external url so the route nav is defined like this:
[code]
etc...

![image](https://user-images.githubusercontent.com/4989910/37475658-96a7d7d4-2849-11e8-9dab-b1d64c5495af.png)

[2018-03-15 16:15] davismj commented on #380
While I understand people like the nav model and I'd like to look at making it more robust in the future, my current recommendation is that when you get to this level of complexity, don't rely on the nav model.

[2018-03-15 18:04] Alexander-Taran commented on #380
@smoore4moma sorry, I missed that about nav model

[2018-03-15 21:10] Alexander-Taran commented on #352
This is stale
Could not find a PR merged
for gist  https://gist.run/?id=e8e3c7fcc68957a9a11d24c4535f2c04 there is now an error log with stack and error message

I augmented said gist with another child and an expception thrown on deactivate() of first
https://gist.run/?id=cfd7bc9a2dafcdab7701632beb7e906b

error is also being logged

can be closed, I guess

[2018-03-15 22:54] Alexander-Taran commented on #518
can be closed
https://github.com/aurelia/router/pull/544

[2018-03-15 22:58] #518 closed

[2018-03-16 05:19] #352 closed

[2018-03-16 05:24] davismj commented on #419
PRs welcome.

The right thing to do is to add a function that generate titles and implement the current behavior as the default function.

[2018-03-16 14:40] michaelbull commented on #170
@gheoan I'm using the snippet you pasted above, however it resets the scroll position as I *start* to navigate away, not as the route is loaded. The route I'm navigating to returns a `Promise` in its `activate` method and does some data-loading before finishing, therefore I don't want to reset the scroll position until this has happened. Do you have any suggestions on addressing this issue?

[2018-03-19 14:38] gheoan commented on #170
@michaelbull The `postRender` step should be called by the router after the `activate` promise has completed. Might be a bug in the router.

Maybe queueing the scroll reset in the [task queue ](http://aurelia.io/docs/api/task-queue/class/TaskQueue)will help:
[code]

[2018-03-19 14:58] michaelbull commented on #170
Ah, it seems my router link to the base route (that gets resolved to `href="#/"`) forcefully scrolls to the top of the page when clicked. I don't think the `taskQueue` solution is necessary as I put in a bunch of debug statements to confirm that the `run` method was indeed only being called after `activate`.

The `#/` href seems like a separate issue.

[2018-03-19 14:59] gheoan commented on #352
How about [this comment](https://github.com/aurelia/router/issues/352#issuecomment-319489299)? I never managed to assemble a fix. Should I open another issue?

[2018-03-19 15:04] Alexander-Taran commented on #352
@gheoan did you have any progress?

[2018-03-19 15:30] davismj commented on #352
@gheoan Please do, especially if you can show a more common use case example. I closed this since the original gist.run is now working properly.

[2018-03-21 05:00] #575 closed

[2018-03-21 05:18] #412 closed

[2018-03-21 05:25] davismj commented on #378
I'm thinking this has been fixed recently. Please reoopen if not.

[2018-03-21 07:43] davismj commented on #564
Nice ideas, @pndewit.

[2018-03-21 07:50] davismj commented on #472
@ejlaw01 @mczp can you generate a repro, please?

[2018-03-21 08:06] #547 closed

[2018-03-21 08:13] davismj commented on #566
Potentially. I haven't looked too deeply at this problem, but I think that the root view model is handled at least in part by the `AppRouter`, and therefore we might be able to easily link into the Pipeline for this behavior. If not, then I would say it is still worth the significant changes to the templating library.

`app.setRoot(root = 'app')` is essentially the same as `router.navigate('route'

[2018-03-21 08:51] Infuser commented on #456
Looks like this is fixed thanks everyone for getting this done, this will make it alot easier to find the leaks in my own code

[2018-03-21 18:25] fkleuver commented on #566
It makes more sense the way you put it. On the other hand though, that would give aurelia-framework a hard dependency on aurelia-router. No Aurelia app would be able to start without the router. Currently that's all separated. Are you saying it shouldn't be?

[2018-03-21 18:53] fracz commented on #457
Our users just reported that right click -> open in new tab still does not work. Have no idea how to workaround this...

[2018-03-22 02:02] davismj commented on #457
@fracz can you point me to a working example?

[2018-03-22 02:55] davismj commented on #566
No Aurelia app can start without the router today. There is a hard dependency, it just is treated as if it isn't one.

[2018-03-22 04:22] fkleuver commented on #566
Yes they can.

I've done this with the Umbraco CMS for a client who didn't want to switch completely to SPA. The router package isn't even installed and Aurelia works completely fine without it, adding a very fancy set of features to an otherwise server-only legacy application. No routing, just templating/binding/di via `enhance`.

The CMS still has control over routing and some pages just have an

[2018-03-22 04:46] davismj commented on #566
Using Aurelia, but an enhanced app isn't an Aurelia app. It's a progressive enhancement app.

You're right. There is [a softer dependency](https://github.com/aurelia/framework/blob/d650b01993aa2db81f8c9587793b73b2d1f0476d/src/aurelia.js#L120).

You're right, it is no more convoluted than the process already is, and might match the complexity of the problem perfectly.

So the advantage of having mu

[2018-03-22 04:57] fkleuver commented on #566
Sorry, I have been editing my post probably while you were writing your reply.

Well sure, it's not an Aurelia app, but wasn't the whole point of Aurelia from the get-go to be as unobtrusive as possible and allow people to pick and choose only the parts they need?

I'm not sure if you can call that a dependency though. Similar things happen in other parts of the framework which boils down to abusi

[2018-03-22 05:52] EisenbergEffect commented on #566
Important correction. There is no hard dependency between framework/bootstrapper and router. You can build an Aurelia app without the router. The aurelia.io web site is an example of an Aurelia app that doesn't use the router.

[2018-03-22 06:13] fkleuver commented on #566
How about a new `aurelia-bootstrapper-router` package that hooks the router in directly at `setRoot`?
It could set the root's `host` element as the viewPort for the AppRouter and (I haven't worked this out yet) it could pull the root through a slightly different lifecycle that treats the root just like any other route.

[2018-03-22 10:27] fracz commented on #457
Cannot create such example in Gist.run, because it's difficult to demonstrate URL roots there. However, I have extended the [ScottWhittaker's Aurelia Router Demo](https://gist.github.com/ScottWhittaker/92825f79a9156cd55194b2ba7c8c42df) by adding the following lines to the `configureRouter`:

[code]

See updated Gist: https://gist.github.com/fracz/92d3472cfb39c7233c6cc4fb031a4183
And deployed app:

[2018-03-22 21:11] Alexander-Taran commented on #534
Don't like the seeming hackiness of it. Kinda shoehorning.
you actually can achieve it with optional viewports now i think and a bit of css magic.

[2018-03-22 21:22] jwx commented on #534
@Alexander-Taran See https://github.com/aurelia/router/pull/538.

[2018-03-22 22:32] vuorinem commented on #378
Looks like I still have the same issue. I seem to have overwritten the GistRun above, but the code from https://github.com/aurelia/router/issues/306 still behaves the same with router 1.5.0.

Original gist: https://gist.run/?id=8a73eca78d76065306dd459b64929ceb
Repro with aurelia-router 1.5.0: https://github.com/vuorinem/aurelia-router-bug

[code]

The call from activate() will generate the url `#/

[2018-03-23 00:09] Alexander-Taran commented on #293
maybe can be closed?
or considered for vNext

[2018-03-23 00:52] Alexander-Taran commented on #527
I guess https://github.com/aurelia/router/pull/561 is not merged because of conflicts.
can't close issue then?

[2018-03-23 00:53] Alexander-Taran commented on #428
workaround with ignoreUnknowRoutes
no reply
close/reopen it needed

[2018-03-23 03:51] fkleuver commented on #550
@davismj Can close this one then :)

[2018-03-23 04:21] #550 closed

[2018-03-23 04:21] davismj commented on #550
@fkleuver thanks!

[2018-03-23 05:09] PWKad commented on #527
@Alexander-Taran  The issue was addressed and an issue was found in the PR so the work was reverted without ever being tested or worked on further, going to close this and other issues around the router to get the issues down.  PushState is borderline unusable without a hacky workaround so I would advise not using pushstate unless you absolutely have to because it makes "embedding" your aurelia ap

[2018-03-23 05:18] EisenbergEffect commented on #428
@davismj Can we close this?

[2018-03-23 05:23] PWKad commented on #428
I left the comment in another issue before closing it but this makes pushState arguably unusable in real app scenarios such as putting an aurelia pushstate app inside of a server rendered page.

[2018-03-23 07:15] pndewit commented on #428
@Alexander-Taran @EisenbergEffect I am using a dirty workaround as explained in https://github.com/aurelia/router/issues/527#issuecomment-349258603 but I would really like a real solution to the issue. [The PR](https://github.com/aurelia/router/pull/558) was merged, but then reverted and I hope the work started there can continue.
I have an Aurelia application running in a larger web app and I nee

[2018-03-23 07:20] Alexander-Taran commented on #428
well can you handle Unknown routes? with  ->  doing nothing?

[2018-03-23 08:05] pndewit commented on #428
If only I could lol. No, Aurelia Router then decides to route my app, I suppose, back to the last known route. That's why the workaround is to return a never resolving promise.

[2018-03-23 08:58] benstevens48 commented on #428
Hi guys,
Please don't close this. The with ignoreUnknowRoutes option (not sure on the status of this) solves a different problem in my opinion. I would still like a custom 404 page for my app, but I need the ability to add links (`a` tags) to different parts of the site which don't use Aurelia, or for downloads, so there needs to be a way of telling the router not to intercept clicks on certain li

[2018-03-23 10:46] DickvdBrink commented on #129
bump, I think this needs te be reopened as the proposed solution doesn't fully work

[2018-03-23 10:52] davismj commented on #129
I have yet to see a routing use case that isn't solved by multiple shells. Don't remove the routes, set a new shell with different routes.

http://davismj.me/blog/aurelia-login-best-practices-pt-1/

[2018-03-23 12:50] pndewit commented on #400
Seems like I am running into the same kind of issues, any news?

[2018-03-23 16:05] Alexander-Taran commented on #400
@StrahilKazlachev & @EisenbergEffect
was there anything tried and not mentioned here apart from workaround?

[2018-03-23 16:08] Alexander-Taran commented on #129
@davismj can I steal your stuff for contrib?

[2018-03-24 21:12] EisenbergEffect commented on #400
@davismj Putting this on your radar :)

[2018-03-24 22:40] Alexander-Taran commented on #480
Can we change this?
Or we can't?
Should we?

Or just keep in mind for vNext?

[2018-03-24 22:44] Alexander-Taran commented on #556
[code]

[2018-03-24 22:56] EisenbergEffect commented on #556
Closing since repro could not be achieved and no response from OP after a long period.

[2018-03-24 22:56] #556 closed

[2018-03-24 23:35] fkleuver commented on #480
As davismj pointed out, it seems my earlier comment isn't applicable to this specific issue. I'd go with his suggestion to allow redirects to be resolved as being the point of action here.
I seem to recall someone was working on that in another PR but I can't find it right now.

I might take a stab at it if no one else is working on it. Could you double check?

[2018-03-24 23:40] Alexander-Taran commented on #480
I remember too.. there were an issue where a question was asked..
do we really want to fix a warning? when nothing is really broken?
Is it really that easy to distract developers?

[2018-03-25 00:04] fkleuver commented on #480
Technically it's an uncaught error, and that's certainly not a good thing.

[2018-03-25 00:09] Alexander-Taran commented on #480
Technically-shmecnically
It works?
don't change it!
(-:
How's that for an argument?

[2018-03-25 09:34] benstevens48 commented on #428
Hi Rob, Well both `_top` and `_parent` work (`_self` or empty string don't and anything else results in a new tab). However, using `_top` or `_parent` are not good solutions as if your site is running in an iframe then this results in the target page being loaded in the root window or parent of the iframe (if permissions allow).

[2018-03-25 10:01] pndewit commented on #428
And also, my Aurelia app is running in a larger SPA. Users that have visited the Aurelia child app have loaded in the Aurelia router code, making the router respond to all route changes (also completely outside the Aurelia app). Changing all links to have a target attribute there is not an option.

[2018-03-25 10:13] Alexander-Taran commented on #428
So edge case ..

[2018-03-26 04:42] EisenbergEffect commented on #428
You can implement a custom LinkHandler to address your specific needs. Take a look in the `history-browser` library. You can register a LinkeHandler with the DI and the history implementation will use that instead of the DefaultLinkHandler.

[2018-03-26 04:44] EisenbergEffect commented on #428
Note: I think that if you set the link target to something custom, it will also work. Have a look at our DefaultLinkHandler to see the exact behavior that's currently implemented for link checking.

[2018-03-26 12:27] jaipundir opened #584 "How to make responsive design using Aurelia JS."
I have use CSS for responsive design but now my concern that how it is possible with aurelia js.
I have no code for showing so please help me .

[2018-03-26 16:19] benstevens48 commented on #428
Ok, thanks, I hadn't worked out you could do that. (Setting the target to something custom actually causes Chrome to open a new tab).

[2018-03-26 16:48] Alexander-Taran commented on #584
You better file this one @ https://discourse.aurelia.io

It’s a community forum

[2018-03-26 16:49] Alexander-Taran commented on #584
Can be closed

[2018-03-26 16:55] #584 closed

[2018-03-26 16:55] EisenbergEffect commented on #584
Closed since questions should go to the discourse rather than via issues.

[2018-03-26 17:16] EisenbergEffect commented on #428
@benstevens48 So, what I'd suggest, is take a look at the DefaultLinkHandler. We'd love to have a PR from you to add/address this scenario. I think that's the place it would go. In the mean time, while you are waiting for the PR to be merged and released, you could just plug in your own implementation. Sound good?

[2018-03-27 12:56] valichek opened #585 "Dynamic redirect route handler"
**I'm submitting a feature request**

Having possibility to redirect from route handler would be a nice feature
For example sometimes I need redirect with some logic.
This could look like following:

[code]

**Current behavior:**

Now it's possible to handle redirect in modelView handlers like canActivate(). So I need to create dummy module and place redirection logic to `canActivate()`.

[2018-03-27 13:15] davismj commented on #585
@valichek can you give me a real example? It seems like it could be useful but I can't think of a valid use case.

[2018-03-27 13:40] valichek commented on #585
@davismj real use case: we have ACLs, child router is configured with all possible routes, navigation menu is filtered according to ACL, user can switch role any time, depending on role default route in child router can be different.

[2018-03-27 13:52] benstevens48 commented on #428
Ok, I have made a pull request here - <https://github.com/aurelia/history-browser/pull/36>. It ignores links with a download attribute and adds a router-ignore attribute you can add to links to ignore them. I expect the pull request might need modifying.

[2018-03-27 14:01] valichek commented on #585
@davismj another use case, consider we want to handle `/shop/SHOP_ID/admin` route and redirect to `/user/USER_ID/profile`

[2018-03-29 00:18] Alexander-Taran commented on #313
If it is still not fixed, why nobody else complains?
Maybe it is OK?

[2018-03-29 00:37] Alexander-Taran commented on #405
I think at the time I wanted it not to go for the cached by name route.. but parse it anew..
I think problem was with caching routes by name
root
   child1 with route named `list`
   child2 with route named `list`

If one navigates to child1 route with name `list`
and then gets to child2 route-hrefs targeting route with name `list` would lead to child1's list

That was the problem at the time..
cr

[2018-04-03 08:39] rquast commented on #527
@PWKad https://github.com/aurelia/router/issues/527#issuecomment-375546740 - but I need pushState.
You can't do opengraph or SSR that requires fragment information because it doesn't go to the server.
I guess I'll have to hack my download links for now to make them work.

[2018-04-03 23:24] Alexander-Taran commented on #177
I wonder.. If it is still the same?

[2018-04-08 05:01] davismj commented on #585
@valichek and `AuthorizeStep` doesn't solve this use case?

[2018-04-08 05:03] davismj commented on #480
@fkleuver No one is working on it as far as I know.

[2018-04-08 05:12] davismj commented on #400
Is this a dupe of https://github.com/aurelia/router/issues/289#issuecomment-359452023, @pndewit @mjwwit @StrahilKazlachev

[2018-04-08 06:47] valichek commented on #585
@davismj `AuthorizeStep` is good only for `AppRouter`, but not for its childRouters

[2018-04-10 03:16] mattgaspar opened #587 "Multiple instances of aurelia-router installed by npm"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.11.1

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Language:**
TypeScript 2

**Current behavior:**
Occasionally npm installs 2-3 instances of aurelia-router
One instance at the top level of node_modules

[2018-04-10 04:08] davismj commented on #587
Appreciate the heads up.

[2018-04-10 09:49] Alexander-Taran commented on #587
@mattgaspar could you recheck with latest stable version of npm?
5.6 is known to have a lot of problems with figuring out the dependency graph etc

[2018-04-10 11:57] TomDoig commented on #114
Hi,

Just wanted to share that i'm still seeing this issue as well. In my example, I have a parent viewModel which loads data asynchronously in the activate callback and shares it between a number of simple child routes.

The parent's activate() is triggered once on first visit, but also re-triggered again each time the default child route (and only the default route) is activated, even if just na

[2018-04-11 08:02] pranuel commented on #329
This warning is bugging us as well.
I think it is a bad idea to use exceptions (by rejecting a promise) to control the application flow.
Especially if this results in such a warning on the console.
We use Aurelia to build nice and solid apps for our customers - having warnings on the browser's console saying that the app misused promises doesn't really fit in that picture...
I vote for fixing this

[2018-04-11 13:16] balazsmeszegeto opened #588 "Redirect in child router (navigation strategy), when parent is using navigation strategy"
**I'm submitting a bug report**

* **Library Version:**
1.3.0 (also tried in 1.5.0)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.2.1

* **NPM Version:**
5.7.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all (Chrome 64 | Firefox 59 | Edge 41 )

* **Language:**
ESNext

**Current behavior:**
Redirecting in child router using

[2018-04-12 10:28] Alexander-Taran commented on #588
@EisenbergEffect something to consider for vNext?

[2018-04-12 18:13] balazsmeszegeto commented on #588
If you point me to the right direction, I'm happy to contribute with a PR

[2018-04-13 06:00] davismj commented on #588
This bug is a race condition. Adding the navigation strategy handler adds one too many items to the wrong queue, which causes the navigation pipeline before the navigation instruction is created.

The source of the bug is on [history-browser/index.js#L235](https://github.com/aurelia/history-browser/blob/master/src/index.js#L235):

[code]

`this.options.routeHandler` refers to [Router.loadUrl](http

[2018-04-13 06:41] balazsmeszegeto commented on #588
Sure, I'll check that :)

[2018-04-13 08:16] fracz commented on #457
@davismj any progress with this issue? Thank you!

[2018-04-13 09:17] balazsmeszegeto commented on #588
Should I create a PR in browser-history and _then_ in router? Or is it okay to send in parallel?

[2018-04-13 10:53] Alexander-Taran commented on #588
@balazsmeszegeto you can send in parallel with mentions of each other.. that one depends on another if that's the case

[2018-04-13 11:35] balazsmeszegeto commented on #588
Sure. I cannot promise to be ready during the weekend, but I'll work on it next week

[2018-04-13 21:41] EisenbergEffect commented on #173
Originally, this was funded by a company specifically, but they decided to focus their funding in other areas. As a result, at the time, the work on this stopped. The core team is not actively investing in this above other areas of the router right now. We're always open to community contributions. As an alternative, you may want to consider using a portal to cache heavy screen components outside

[2018-04-13 21:50] EisenbergEffect commented on #173
Note that the router can treat VMs as singletons to cache those. You can also implement `getViewStrategy` on your VM instance along with creating a custom ViewStrategy/ViewFactory to enable caching of the view. That's been possible since the beginning, more or less. You could create a ViewStrategy that wraps one of the built-in strategies and just returns a factory that wraps the default factory,

[2018-04-13 22:04] jfstephe commented on #173
Thanks for the detailed and upfront guidance. 😊

[2018-04-14 11:25] Alexander-Taran commented on #588
@balazsmeszegeto don't promise anything.. It ends up badly usually (-:

[2018-04-14 12:54] Vaccano commented on #173
@jfstephe - just a word of warning. I tried to implement this. It looks as if is should work, but there are problems that cannot be resolved once you get into the details.

See my post above for how I worked around this. What I did was a lot more work, but it functioned perfectly.

[2018-04-14 17:35] jwx commented on #173
@CedusJenkins @jfstephe Would https://github.com/aurelia/router/pull/538 work for your use cases?

[2018-04-16 10:28] CedusJenkins commented on #252
@stevies - IMHO you were correct to raise this issue. This should not be breaking window.location.search, and this is against the specs as you correctly indicated: the #fragment should be the last part of the URL after the query string.

[2018-04-16 22:27] Alexander-Taran commented on #329
![image](https://user-images.githubusercontent.com/1029452/38838356-6514cc32-41de-11e8-9f5f-9b2ecdd420d4.png)
![image](https://user-images.githubusercontent.com/1029452/38838378-7b0f2a78-41de-11e8-95ad-5e5f911a5e2d.png)

[2018-04-19 09:18] jamiepollard commented on #378
Seems this might be a regression, we're getting the same issue again with router 1.5.0 (was fixed previously)

[2018-04-20 11:51] jfstephe commented on #173
@jwx - It sounds like it thanks.

[2018-04-22 09:59] davismj commented on #114
@gama410 no-change is the activation strategy used on the parent route when navigating from one child route to another, for example. In any case, that sounds different from the bug on this thread. If you think there is a bug, please provide a repro. If it is this bug, please post here, otherwise, double check there isn't an open issue already and open a new issue if necessary.

@TomDoig This issue

[2018-04-22 09:59] #114 closed

[2018-04-22 10:02] davismj commented on #252
@CedusJenkins I think this is a good point too. There's no chance of it getting prioritized anytime soon but I believe its worth tracking.

[2018-04-22 21:35] Alexander-Taran commented on #252
without pushstate it'll reload the page

[2018-04-24 04:04] EisenbergEffect opened #590 "Request: add a `viewUrl` property to the routes"
@gordon-matt commented on [Sun Apr 22 2018](https://github.com/aurelia/framework/issues/882)

As discussed in an email with @EisenbergEffect, could we please have a **viewUrl** property in the routes? At the moment it appears that Aurelia is simply taking the moduleId and appending a **.js** extension to find the model and an **.html** extension to find the view.

In order to use Razor routes, I m

[2018-04-24 04:07] EisenbergEffect commented on #590
Not, I think we already support this 😃 I forgot. Try setting the moduleId property of the route config to an html file path. Looking in the templating-router's route-loader, I see special code there intended to handle that scenario. @gordon-matt Give it a try and let me know if it's as you would expect.

[2018-04-24 05:29] gordon-matt commented on #590
@EisenbergEffect When you say "Set it to an .html file path", I see 2 issues:

1. Does that mean it needs to have an ".html" extension? Don't forget I am using ASP .NET routes and they are extension-less.

2. Even if that works, how would I then tell Aurelia where to find the .js file (if I want it in a different location)? Don't forget I need to be able to also have embedded view models in some c

[2018-04-24 06:29] gordon-matt commented on #590
Having a `viewUrl` property on the routes would be backend agnostic, because your implementation would be as simple as something like:

[code]

This would work perfectly as far as I can tell. Am I missing something?

[2018-04-24 07:24] stsje commented on #590
Looking through the code, it looks like you can already tell it a view to use
https://github.com/aurelia/templating-router/blob/498234e1370366fe82c2de424b1c0c7cb71a077b/src/route-loader.js#L25
[code]

So you could maybe just add a `view` property to your routes, or a custom view strategy?

[2018-04-24 07:32] gordon-matt commented on #590
@stsje Thanks, I will give that a try a little later today and report back here.

[2018-04-24 13:29] gordon-matt commented on #590
Well, I've tried the `view` property and it sort of works, but not quite. It seems to only work for routes that have `nav: true`. Also, I can't use it for `app.js` to use `/app` as the url, because obviously it's inside `app.js` that I start defining the other routes. I could live with this however if there wasn't the other bug I mentioned with only items that have `nav: true` making use of `view`

[2018-04-24 13:46] stsje commented on #590
So it's not just the router you want to change the view convention for, it's every component in your project? That's something the `@useView` decorator can do, but if you don't want to add a decorator to every component in your project, then I'm not sure where to override the convention.

[2018-04-24 14:11] gordon-matt commented on #590
Yes perhaps I was not clear.. I am using ASP .NET Core 2.0 and want to use Razor views (.cshtml) to output the HTML. I already have a working project which you can find here: https://github.com/gordon-matt/aurelia-razor-netcore2-skeleton. You can take a look at my **main.js** in there and see what I am doing in the `ViewLocator.prototype.convertOriginToViewUrl()` function if you like.. I am propos

[2018-04-24 21:58] Alexander-Taran commented on #590
this should be a 'plugin'
too many options in core would be bad

[2018-04-25 01:29] gordon-matt commented on #590
@Alexander-Taran It appears the option is already there (there's a `view` property on the routes), but it's not documented and not working in all cases (only when `nav: true` is set.

[2018-04-25 14:08] balazsmeszegeto commented on #588
@Alexander-Taran I've sent in the PR last week as promised :) When can I expect some review?

[2018-04-25 14:51] Alexander-Taran commented on #590
nav:true is a true mystery (-:

[2018-04-25 14:53] Alexander-Taran commented on #588
@balazsmeszegeto  I see that  @davismj assigned himself. Let's wait and see.

[2018-04-26 13:13] caseycarroll42 commented on #587
I saw this with Axios in one of my company's projects. I was able to import only one instance of axios by setting an alias:

[code]
This made all instances where axios is referenced point to the instance of axios that exists at the top level of `node_modules` instead of at the referencing module level. i.e. `node_modules/some_module/axios`.

[2018-04-28 06:50] #419 closed

[2018-04-28 10:25] #588 closed

[2018-04-30 10:18] jfstephe opened #593 "Navigating to a bookmark at the same path, but different query string doesn't re-active the route"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
jspm 0.16.53

* **Browser:**
all

* **Language:**
typescript 2.3.3

**Current behavior:**
From this Gist: https://gist.run/?id=e659e4d172030613182570ed5f

[2018-04-30 21:02] CasiOo commented on #593
@jfstephe It is documented here http://aurelia.io/docs/routing/configuration#reusing-an-existing-view-model

[2018-05-02 08:46] jfstephe commented on #593
@CasiOo - Thanks, I've used that a while ago but had forgotten it existed.

The documentation is very sparse but my understanding is that in either of the 2 activation strategies 'activate()' should be being called. In the scenario I'm describing it's not.

I'm basing this of [this information](https://stackoverflow.com/questions/39999969/how-to-set-default-activationstrategy-in-aurelia?utm_medium

[2018-05-04 12:57] Alexander-Taran commented on #593
@jfstephe can this be closed?

[2018-05-04 12:59] jfstephe commented on #593
Nope sorry. I don't see how changing the activation strategy would help me.

[2018-05-04 16:29] powerbuoy commented on #574
@jimwards17 care to elaborate?

[2018-05-04 16:34] jimwards17 commented on #574
https://github.com/aurelia/history-browser/issues/40

[2018-05-10 18:47] CasiOo opened #595 "route-href docs is missing"
Documentation for `route-href` is missing https://aurelia.io/docs/routing
The attribute is mentioned in the Cheat sheet, but should also be documented in the main router docs https://aurelia.io/docs/fundamentals/cheat-sheet#routing

[2018-05-12 06:31] davismj commented on #595
@CasiOo This is something that @HIRANO-Satoshi has brought up with me (a long time ago). I totally agree! It's just finding time.

[2018-05-12 06:37] davismj commented on #574
@jimwards17 that is a known issue: https://github.com/aurelia/router/issues/45

[2018-05-12 06:51] davismj commented on #593
@jfstephe confirmed that @CasiOo's suggestion above works for you. Also, you can grab username from the params argument to activate.

[code]

[2018-05-12 06:51] #593 closed

[2018-05-13 23:52] HIRANO-Satoshi commented on #595
Yes, thanks.

There is some doc for router configuration but not for its usage at all in the main docs.

[2018-05-14 12:44] iiiyx opened #598 "Navigation stops work after chunk load failure"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.1

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 4.6.0

* **Browser:**
Chrome 66

* **Language:**
ESNext

**Precondition and steps to reproduce:**
1. Use code splitting: PLATFORM.moduleName(moduleId1, chunkName1

[2018-05-14 16:08] iiiyx commented on #598
`this.Router.isNavigating` gets stuck in the `true` value
Neither `router:navigation:complete` nor `router:navigation:error` events arised.

[2018-05-16 12:02] jemhuntr commented on #507
Bump. Would be great if there was some way to reference child routes, maybe something like:

[code]

which ideally would activate the named route `parent-route` and look into its inner router for a `child-route`.

[2018-05-16 13:59] lancescole opened #599 "History must implement activate issue error"
**I'm submitting a bug report**

I saw the same type of error at: https://github.com/aurelia/router/issues/572
It is closed. I looked at the resolution and it changes some dependancies, so I tried that as well. Has this fix been pushed to production?

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
9.2

* **NPM Vers

[2018-05-17 11:09] Alexander-Taran commented on #507
@jemhuntr  you might want to check out this plugin https://github.com/aurelia-contrib/aurelia-router-metadata

[2018-05-17 11:15] Alexander-Taran commented on #599
yep. bootstrapper was released the same day those changes were merged
https://github.com/aurelia/bootstrapper/releases

[2018-05-17 16:33] jemhuntr commented on #507
Thanks @Alexander-Taran, I've seen that plugin and although it's very tempting to use it, it's hard to commit to using a third-party plugin for a feature as basic as navigating to child routes. As much as possible, I'm trying to avoid maintenance bottlenecks down the line since I'm pretty sure the API for this will still significantly change once the functionality hits core.

In the end I've decid

[2018-05-17 17:29] EisenbergEffect commented on #507
@jemhuntr For the experimental work, we're still figuring out core pieces, so we haven't gotten to something higher level like the router. I do think, when we get there, the vNext router will get a substantial set of improvements.

[2018-05-17 18:27] jemhuntr commented on #507
@EisenbergEffect Sounds great! Looking forward to vNext :)

[2018-05-20 11:53] timfish commented on #469
In Electron, the page title can automatically be used for the window title and the current ordering makes less sense in this case. I'm guessing the existing order favours the narrow width of browser tabs?

Current title:
[code]
Required title:
[code]

Are there any preferences on how custom title generation should be implemented? I would consider doing a PR.

[2018-05-21 04:09] oneillci commented on #469
I agree with having this as a configurable option.  The current implementation of _buildTitle is very opinionated as to what the document title should be.

I have a requirement that our document.title always just display as {App Name} and not update with any route change, and I'd rather not do this by overriding the NavigationInstruction._buildTitle function as this would not seem to be best pract

[2018-05-23 04:34] davismj commented on #599
@lancescole should be able to fix this by forcing an install of the latest history-browser.

[code]

[2018-05-26 09:29] HasanAyan commented on #599
@davismj forcing reinstallation of aurelia-history-browser@1.1.0 didn't work for me. I still get the same error with aurelia-router@1.5.0 and had to revert it back to 1.4.0.

[2018-05-27 07:04] #507 closed

[2018-05-27 08:13] #433 closed

[2018-06-05 18:31] rluba commented on #480
The fix introduced in 487c33d50fa938c9e725180877f6510ecae89db5 causes a much more serious error when redirecting in a sub-router config: `TypeError: Cannot read property 'childRouter' of undefined` is thrown because [`determineWhatToLoad(…)` tries to interpret the `Redirect` plan as a regular plan](https://github.com/aurelia/router/blob/6912e0af451c29b14c8acaee0e2cc19f7cd8a42a/src/route-loading.js

[2018-06-11 06:36] deap82 commented on #553
Sorry for coming back to this so late, but for anyone coming here I'd just like to point out that I'm not really using the event to do a redirect, and even the "Working example" from davismj has the issue I'm actually reporting;

Namely that the eventargs of the complete event does not contain the same navigation instruction as router.currentInstruction when the navigation complete event is trigge

[2018-06-18 14:17] jfstephe commented on #593
@davismj - Thanks. Finally managed to confirm that this has fixed the issue.

The documentation around this is really really bad. References to navigation lifecycle (from the link kindly provided by @CasiOo - https://aurelia.io/docs/routing/configuration#reusing-an-existing-view-model) which can't be found in the search etc. If the documentation in that SO lin kI provided is wrong perhaps a link t

[2018-06-18 14:32] nathanchase opened #604 "How to use router navModel to inject metatags server-side?"
Is there a way to create a method like routeConfig.navModel.setTitle(), but for adding meta tags to the head for SSR?

Essentially, I need a way to add html meta tags server-side (description, OpenGraph, Twitter, etc.) for each route - but it needs to be dynamic and dependent entirely on API-retrieved data.

So something like (not real code, just approximate):

[code]

[2018-06-19 08:37] stefan505 commented on #480
I concur with @rluba , after doing a "clean" install this morning referencing `aurelia-bootstrapper@2.2.0` (since Feb 2018), I got `aurelia-router@1.6.0`, which is causing the `TypeError: Cannot read property 'childRouter' of undefined` error. Manually installing `aurelia-router@1.5.0` fixed it though.

[2018-06-19 10:14] Kukks commented on #480
Same boat, broke our prodcution builds since we get rid of package lock
json file due to other weird crazy errors from aurelia when we leave it in

On Tue, Jun 19, 2018 at 10:37 AM Stefan Buys <notifications@github.com>
wrote:

[2018-06-19 11:04] fkleuver commented on #480
Yep agreed, https://github.com/aurelia/router/pull/603 should be merged asap. Sorry for breaking your apps!

[2018-06-19 12:06] davismj commented on #480
It'll be getting pulled in today.

[2018-06-20 05:30] huochunpeng opened #605 "[BUG] v1.6.x broke redirect in child router config"
**I'm submitting a bug report**

* **Library Version:**
1.6.1

* **Please tell us about your environment:**
OSX 10.13

* **Node Version:**
8.11.2

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
NA

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
With latest v1.6.1, when a route page `/child` has additional child router config, the redirect in config doesn't work prop

[2018-06-21 09:07] matik12 opened #606 "Invalid absolute route url generated by a child router"
**I'm submitting a bug report**

**Library Version:**
1.6.1

**Current behavior:**
When you generate absolute url for a route that is registered globally in AppRouter and you are using a ChildRouter for url generation i.e.

[code]
The following code will not generate an absolute url, but only a relative url i.e. `/some-route/something`.

**Expected/desired behavior:**
Expected behaviour is to have

[2018-06-21 15:14] bobum commented on #605
I can confirm this behavior in our app as well

[2018-06-22 00:06] EisenbergEffect commented on #605
@davismj Can you look into this. Appears to be a rather serious couple of issues in the latest router release.

[2018-06-22 14:46] RomkeVdMeulen commented on #177
@Alexander-Taran It is: just ran into this specific problem.

[2018-06-26 09:33] fragsalat commented on #605
:+1:  Got this problem as well on main router after updating from 1.5.0 to 1.6.x

[2018-06-26 09:41] davismj commented on #605
On it.

[2018-06-26 13:22] balazsmeszegeto commented on #605
I was about to submit the very same issue

[2018-06-28 13:01] ormasoftchile opened #607 "Possible bug in redirecting routes with parameters"
**I'm submitting a bug report**

* **Library Version:**
1.6.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
9.11.1

* **NPM Version:**
6.0.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Up to version 1.5.0 of Aurelia-router I was using this configuration

[2018-07-01 06:48] huochunpeng commented on #607
Is it a child route? If so could be a duplicate of #605.

[2018-07-01 13:10] ormasoftchile commented on #607
They are root level routes. I think it's different from #605 .

[2018-07-03 11:15] Alexander-Taran commented on #604
start here https://discourse.aurelia.io/t/server-side-rendering-improvements/883

[2018-07-03 13:44] nathanchase commented on #604
@Alexander-Taran Yes, I'm already on that thread, but rquast was going a different route (tying data statically to each route via the router config) whereas I need the data populated dynamically depending on API data. I haven't been able to find any way to do this anywhere online with Aurelia. It seems like it's no big deal in the [Vue (vuew-meta)](https://github.com/declandewet/vue-meta)/[React (

[2018-07-03 23:56] fkleuver commented on #604
Just so I understand this correctly, you want to:
- Add meta tags to the router configuration from the client side
- The precise meta tags that you're adding depends on data you get from the server side
- The server should extract this information and pre-render the HTML head accordingly for the next page you navigate to (from the client side)

To rephrase: metadata goes from the server to the cli

[2018-07-04 00:12] nathanchase commented on #604
@fkleuver Using SSR, running Aurelia server-side, the requested page/route is rendered with metatags that are dynamically populated by whatever route is requested.

Example:
myapp.com/user/JohnDoe

Aurelia should render the user view, then takes the dynamic value "JohnDoe", sends to the API, pulls appropriate information about that page, then adds it to the <head>.

Then it gets rendered server-si

[2018-07-04 00:30] fkleuver commented on #604
Ah that makes sense. I guess we wouldn't need to do anything specific in `aurelia-router` as this information (like any other arbitrary info) can just be added to a route config's `settings` property.

Perhaps accompanied by some SSR configuration to tell SSR on which property it needs to look. Then it can't accidentally do unexpected things when people use a particular settings property for other

[2018-07-04 00:36] nathanchase commented on #604
@fkleuver Well, look at vue-meta's implementation:

[code]

I would think you could pull the dynamic route slug off the route, use isomorphic-fetch to send it to the API to get back the metadata needed, and then that "metadata" object is injected into the head before Aurelia renders the page.

The thing is, I can't use route.config, because that would be static only.

[Rquast's "transformer-step"

[2018-07-04 00:41] nathanchase commented on #604
The "ssr-transformer":

[code]

https://gist.github.com/rquast/a9cbc0551a48d10e83b2ad899b293c77

[2018-07-04 13:45] josundt commented on #605
Any progress on this?
Upgrading to 1.6.x is no option in my current project till this is OK

[2018-07-04 15:29] stefan505 commented on #605
Guys, this issue is rather serious. Its completely broken my sub-routers + defaults strategy.

As a long-time Aurelia user / supporter I am very concerned about the recent router problems.

[2018-07-04 15:41] fkleuver commented on #604
The thing is that the page title can changed via `document.title` (it doesn't actually change the `title` metadata tag in the HTML file).

That's a key difference that makes `title` different from those other properties, which can only be changed by modifying the html. Modifying the HTML is not something that the router should do, hence this is not really the right place to be doing that. I suppos

[2018-07-04 16:12] nathanchase commented on #604
So, something like:

[code]
?

How exactly would we be able to add tags to the HTML via the ssrProperties property? How would the ssrProperties object parse the incoming data?

I really appreciate the discussion and assistance, as I know there must be many developers in the same boat with SEO requirements for their apps.

[2018-07-04 22:58] huochunpeng commented on #605
@stefan505 for temporary fix, I use this in my package.json

[code]

The regression is from #515, which can be reverted.

[2018-07-04 23:07] huochunpeng commented on #605
@EisenbergEffect @davismj can we have a hot-fix reverting #515 before further investigation?

It seems many users are waiting for the fix urgently for production apps.

[2018-07-05 21:24] EisenbergEffect commented on #605
Both @davismj and I are on vacation right now. When Matt gets back, this is on the top of his list to address. In the mean time, I recommend rolling back via package.json as described above. We apologize for this. We will get it fixed soon.

[2018-07-17 02:51] #607 closed

[2018-07-17 02:51] #378 closed

[2018-07-17 02:52] #606 closed

[2018-07-17 04:39] davismj commented on #605
Closed via #610

[2018-07-17 04:39] #605 closed

[2018-07-22 08:47] huochunpeng opened #612 "[BUG] lifecycle callbacks called in wrong sequence for top level route."
**I'm submitting a bug report**

* **Library Version:**
all
It is a regression caused by aurelia-templating v1.8.2.
But I am pretty sure this is a router bug (whether the buggy code is in this repo, I am not sure), the new aurelia-templating fix just made this router bug appears even worse.

* **Operating System:**
OSX 10.13

* **Node Version:**
8.11.3

* **NPM Version:**
6.2.0

* **JSPM OR Webpac

[2018-07-22 11:15] bigopon commented on #612
This is not correct. Child element cannot have `attached` called before parent's `attached` gets called.

[2018-07-22 12:06] huochunpeng commented on #612
@bigopon right, so with 1.8.1, the behaviour is expected.

I just tested by removing router from the picture.

app.html
[code]

Both 1.8.1 and 1.8.2 behaves same:
[code]

So this is likely still a router related bug.

[2018-07-22 12:09] bigopon commented on #612
It's likely to be in `templating-router` + `templating` than router I think.

https://github.com/aurelia/templating-router/blob/e83bd1bc182350c7cdc66736404633a05cbb711b/src/router-view.js#L131-L136

It's a bit early compared to what we have in `templating@1.8.2`

[2018-07-22 12:16] huochunpeng commented on #612
Means an easy fix for you?

[2018-07-23 04:31] datvm commented on #298
The link is now: https://aurelia.io/docs/binding/binding-behaviors#signal

[2018-07-27 00:06] bigopon commented on #612
Isn't this the expected behavior ? A view port (read `<router-view/>` element) should process (nav, route, router) before it bind the view and view model together

[2018-07-27 08:43] StrahilKazlachev commented on #612
Does anything guarantee that the `<router-view>` itself is bound when [this line](https://github.com/aurelia/templating-router/blob/a465e6e43c08533e7c9e45f557581fba1e11bcdc/src/router-view.js#L115) is hit?

[2018-07-28 23:09] bigopon commented on #612
I haven't had any immediately obvious fix for this atm, so the suggestion is to undo https://github.com/aurelia/templating/pull/633 via following block

[code]

and avoid using `bluebird` to work around the original issue.

[2018-07-28 23:45] StrahilKazlachev commented on #612
@bigopon why? Where is the code path that calls `.compose`, since I don't see how else you can reach `_createControllerAndSwap`? I can't find any code in `aurelia-router` that uses the `CompositionEngine`. `<router-view>` uses `.createController`, from there you can't reach `_createControllerAndSwap`, and then itself "automates" the `Controller`s.
I'm not so familiar with the router system so can

[2018-07-29 12:41] bigopon commented on #612
The fix at https://github.com/aurelia/templating/pull/633 pushes app root `bind` to happen after any `<router-view/>` view model `bind()`, which is a not nice change. Undoing that PR brings back the old behavior, which I think is a better temporary solution.

The way the root router & child router work, though may be not nice (`bind` happens inside out), but it's been there, & usable.

---

For ht

[2018-07-29 12:43] StrahilKazlachev commented on #612
@bigopon my *"solution"* did lock the app startup with `1.8.2`. Basically the `.bind` never gets called, the `Promise` never gets resolved.

[2018-07-29 12:46] huochunpeng commented on #612
@bigopon for nested child routes, if you bring #571, it might just works.

[2018-08-01 07:52] gama410 commented on #528
I'm not familiar with the implementation details but wouldn't it be logical to call history.back only after candeactivate returns true? It seems weird to me that we navigate back before checking if we are allowed to.

[2018-08-01 09:38] davismj commented on #528
I've found a number of related bugs. Specifically, if you start at `#/first` and navigate to `#/second` via `<a href="#/second">`, and if `first` returns `false` from `canDeactivate()`, a new history item would be appended for the current route.

Some early tests show this solving this issue and most of the related issues I've uncovered:

[code]

I need to do additional testing to with pushState a

[2018-08-03 08:02] davismj commented on #528
This strategy is not a good one because it enters an infinite loop when the user navigates back (or forwards) more than one entry.

I think the only and right way to handle this is using sessionStorage. I'm going to give that a try.

[2018-08-03 08:24] #599 closed

[2018-08-03 08:25] davismj commented on #599
I've not heard a word about this since. I'm happy to revisit it if it is still in place. I've recently bootstrapped a few apps when testing other issues and haven't seen it so I'm guessing it was temporary.

[2018-08-03 08:30] davismj commented on #472
Can't rerpo.

[2018-08-03 08:30] #472 closed

[2018-08-03 11:00] jalmansa88 commented on #472
Having this issue here.
`Message: Cannot read property 'config' of null`

I've have imported/injected the Router (which config has been defined in app.ts) into my navbar component, and I am not able to get the current route because of null:

`this.router.currentInstruction.config.name`

Help please.

[2018-08-06 17:25] jemhuntr commented on #581
On a related note, `RouterConfiguration.titleSeparator` also isn't on the type definitions.

Not exactly the same as the OP's issue, but I think this is related and could be included in a single PR.

[2018-08-07 13:12] RomkeVdMeulen commented on #477
Indeed. AFAIK the bracket style is some whacky convention that PHP came up with. Standards-oriented Aurelia should be using `/people?id=1&id=2`.

[2018-08-08 16:13] fragsalat opened #614 "Memory Leak in router / di"
**I'm submitting a bug report**

* **Library Version:**
1.6.2

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 18.04

* **Node Version:**
10.7.0

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
webpack used by aurelia cli

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Custom elements are not cleaned up by the garbage collector because the r

[2018-08-13 01:54] huochunpeng commented on #614
I am no expert of this, but I think I can reproduce the issue, seeing JS Heap keep growing.

[2018-08-13 10:04] fragsalat commented on #614
@EisenbergEffect @davismj ping

PS: @EisenbergEffect it would be nice to have a maintainers file in each repo to know who's responsible and to not ping you for every issue :D

[2018-08-14 15:03] fragsalat commented on #614
I actually could find out that the cause of the memory leak is bluebird and not the router. Bluebird holds the navigationInstructions in a CaptureTrace object which is not cleared up.

[2018-08-14 15:03] #614 closed

[2018-08-14 15:05] davismj commented on #614
@EisenbergEffect Yes, of course.

@fragsalat Thanks for the update! Appreciate the follow up.

[2018-08-14 22:43] huochunpeng commented on #614
@fragsalat do you have a bug report to bluebird? or do you have some work around in aurelia app?
Since majority of aurelia apps use bluebird, this could affect many users.

[2018-08-16 05:44] #45 closed

[2018-08-16 05:56] EisenbergEffect commented on #45
Are we back-porting all of this to the TS conversion, so that we don't have a regression?

[2018-08-16 06:12] davismj commented on #45
Gunna update the TS conversion PR with changes here.

[2018-08-17 12:01] avril-verhaeghen commented on #23
What about passing an object into a navigate method?

[2018-08-17 12:44] davismj commented on #23
That is a different use case. You can ise params and navigateToRoute. https://aurelia.io/docs/api/router/class/AppRouter/method/navigateToRoute/

[2018-08-30 07:11] jmezach opened #617 "Child router keeps view alive after navigating away to parent router"
**I'm submitting a bug report**

* **Library Version:**
1.6.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.6

* **Node Version:**
8.11.3

* **NPM Version:**
6.3.0

* **JSPM OR Webpack AND Version**
webpack 3.12.0

* **Browser:**
Chrome 68

* **Language:**
TypeScript 3.0.1

**Current behavior:**
We have our application setup in such a way that we have a root route a

[2018-09-01 20:54] thomas-darling commented on #60
Just ran into this one too :-/

Parts of my application needs info about the currently authenticated user, so I thought I'd just register my `User` instance in the container once the user signs in, so it can be easily injected into the view models that need it. However, that failed, as it relied on the assumption that the `authorize` step would ensure those views are never instantiated until the a

[2018-09-02 04:54] kristianmandrup commented on #60
@thomas-darling I think the router definitely needs to be re-thought, re-engineered and re-implemented in order to be more flexible and composable to suit any scenario.

Would be nice with a simpler router engine alternative to build from, based on Router and Route components similar to React Router v4, instead of building a static Router model from a fixed configuration. Just my 2 cents on it.

S

[2018-09-03 04:34] davismj commented on #60
I think a good point has been made here. The authorize step doesn't need to know anything about the specifics of the route it is loading. It's more meant to be a global can activate, which is probably why it landed before the local can activate step, but it could be moved before the load route step.

Unfortunately, at this point it would be a breaking change to change and I'm not sure we want to b

[2018-09-03 11:29] jmezach commented on #617
@bigopon I've managed to create a small repro for the issue at https://aurelia-javascript-kqydff.stackblitz.io/. Interestingly enough I'm not seeing the same issue as we're seeing in our application. In the repro when I navigate from child back to home (using the buttons at the top) and take a memory snapshot I don't see the ChildRouter and Child components. But in our application we are actually

[2018-09-03 11:44] bigopon commented on #617
@jmezach My guess is your issue is similar to this https://github.com/aurelia/router/issues/614

Can you verify if `bluebird` is the issue ?

[2018-09-03 11:46] jmezach commented on #617
We are not using bluebird anymore. We used to, but we've moved away from it a couple of weeks ago.

[2018-09-03 11:52] bigopon commented on #617
I see your 👍 in this issue https://github.com/aurelia/templating/pull/637 but I'm not sure if you have already applied that fix. Can you apply the following if not:

[code]

[2018-09-03 11:55] jmezach commented on #617
@bigopon ;) FYI @dannyBies are on the same team, so I'm very aware of the above fix. I've just applied it locally, but I'm still seeing the issue where our view is being kept around:

![screenshot 2018-09-03 13 54 56](https://user-images.githubusercontent.com/1225489/44985561-0be50300-af81-11e8-9f8f-0941d0ba8111.png)

[2018-09-03 12:00] bigopon commented on #617
Then my next guess is somewhere in your app, not at the root direct child level, you are injecting `Router`. Though theoretically it should be garbage-collected when the parent route is gone, but I'm not so sure about it, as as long as there is a reference to that injected `Router`, the view persists.

[2018-09-03 16:52] thomas-darling commented on #60
@davismj Thanks, but no need - already worked around it by injecting a service instead. I was just really surprised that this didn’t work - although I should have known, given how child routers are configured...

What really needs to happen here, is a separation of the route configs from the view models, such that the information needed to generate and recognize routes is available before the view

[2018-09-04 04:11] davismj commented on #60
Technically, this is the case today. The only reason why it might not be possible is to support child routers.

It's hard to know how to do that well. The only way to support this case is to have route configurations completely separate. It's an idea we're playing with.

Part of the problem is that people are using child routers. We could solve a great deal of problems just by removing child route

[2018-09-04 04:33] davismj commented on #617
@jmezach Since it seems that the issue is not intrinsic to the framework, the best thing for your team might be to reach out to either [official](https://aurelia.io/support) or third party support to drill into this issue in your production app. Please reach out to me personally if you need help getting help.

[2018-09-04 04:33] #617 closed

[2018-09-04 07:40] jmezach commented on #617
It turned out to be an issue where objects were being logged to the console, which kept elements alive unnecessarily. After fixing that we're no longer seeing the Router being kept around.

[2018-09-06 12:37] Krussicus opened #619 "Updating from version 1.5.0 to ^1.6.0 breaks route redirect to child route"
**I'm submitting a bug report**

* **Library Version:**
^1.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.0.0 (varies across my team but results are the same)

* **NPM Version:**
6.4.0 (varies across my team but results are the same)

* **JSPM OR Webpack AND Version**
Webpack 4.17.2

* **Browser:**
Haven't tested every browser but confirme

[2018-09-19 21:58] stevies commented on #252
Any update on fixing this?

[2018-09-20 06:02] davismj commented on #252
No. This is an important issue to track but there are other more pressing issues we're working on first. If you're interested in sponsoring a fix please reach out to me directly.

[2018-09-21 01:49] jvlobo commented on #612
Hi there!!

I've just opened this [Stackoverflow question](https://stackoverflow.com/questions/52435440/main-component-publishing-event-before-child-is-loaded) and seem like the problem is the one you guys are discussing here.

Any news on it?

Cheers :)

[2018-09-21 02:02] huochunpeng commented on #612
@jvlobo unfortunately the team has decided to live with this bug at the moment. This is one of domino bugs, created by a chain of patches to fix some other nasty bugs. Comparing to other bugs, this one is the least serious one. We are bit lazy here, or should I say bit scared to create another new bug with another patch :-)

Don't worry, vNext will cleanup all of them :D (@fkleuver sweating heavil

[2018-09-21 02:04] jvlobo commented on #612
I've been having a lot of bugs recently with some of the updates :(
I'll try to do a workaround for this one too, since our app is in production.
Thank you.

[2018-09-21 02:06] huochunpeng commented on #612
@jvlobo sorry to hear that. Could you post some code to discourse forum so folks can help?

[2018-09-21 02:07] jvlobo commented on #612
Where is the discourse forum? Thanks!

[2018-09-21 02:08] huochunpeng commented on #612
Man, on aurelia home page :-) https://discourse.aurelia.io

[2018-09-21 14:05] fkleuver commented on #612
@huochunpeng  vNext won't need to clean any of this up since the new core framework will make it much simpler to achieve the same things. Timing related issues will be pretty much nonexistent. I'm not sweating at all :)

[2018-09-21 20:34] evanlarsen commented on #217
Cancelling the promise on the activate really doesn't solve @devteamexpress' issue.  The issue is that when a user is trying to navigate while the current page is still activating the router does not have the ability to cancel navigation and serve the new request. Instead it waits until the activate completes before navigating again.

Rejecting the activate on a page after 15seconds is not the des

[2018-09-22 06:59] stevies commented on #329
I think a similar issue got fixed in the latest release of the http client - https://github.com/aurelia/http-client/releases/tag/1.3.0

Can a similar fix be added to the router?  This error polluting the debug console is very annoying and masks possible real errors.

[2018-09-28 11:32] tomschluter opened #620 "navigateToRoute can't be awaited in activate method"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **NPM Version:**
6.3.0

* **JSPM OR Webpack AND Version**
webpack 4.1.1

* **Browser:**
 Chrome XX | Firefox XX

* **Language:**
TypeScript 2.9.2 - 3.0.3

**Current behavior:**
Even though navigateToRoute returns

[2018-10-02 15:39] davismj commented on #528
I did spend a fair amount of time trying to fix it, but unfortunately due to limitations on the browser detailed above I was not able to make sufficient progress. I'd be happy to accept a PR from a community member who thinks they may have a solution.

[2018-10-02 15:46] TonyLugg commented on #528
Thanks for the update.  We will avoid using CanDeactivate.

[2018-10-06 00:16] jwx commented on #528
@TonyLugg @davismj I think I could put together a PR if it's of interest.

[2018-10-06 01:05] TonyLugg commented on #528
@jwx @davismj It is of great interest.  Thank you.

[2018-10-06 01:55] davismj commented on #528
I'd really like to see it too. I'd be happy to work with you on it. It's tougher than it seems. If you open up a preliminary PR we can collaborate on it as well.

[2018-10-06 08:29] jwx commented on #528
I'll take a look later this weekend. Just to be clear (since I haven't really used the "exit" cycle steps): canDeactivate only triggers when you're navigating (either through link or history) to a different page within the same Aurelia application, right? Since navigation is done via browser location, if I go from `my-aurelia-app.com/#/some-page` to `not-an-aurelia-app.com/elsewhere` the exit cycl

[2018-10-08 14:12] jwx commented on #528
Note that this doesn't in any way prevent a user from leaving the Aurelia application; it only deals with navigation within the application.

[2018-10-08 14:18] jwx commented on #528
Also, I'd really appreciate some help in testing this with pushstate, other browsers than Chrome, some more use cases etc. @davismj @TonyLugg

[2018-10-08 14:42] ricardograca commented on #329
@davismj What's the original issue this one is a duplicate of?

[2018-10-08 14:49] ricardograca commented on #480
Shouldn't this be reopened since #597 was reverted?

[2018-10-08 15:15] TonyLugg commented on #528
I'm happy to help with testing.  However, I am a .NET/WPF with TFS guy turned Aurelia, so the whole git workflow is a bit foreign to me.  If you can help me setup the test environment I will make the effort.

[2018-10-08 16:32] jwx commented on #528
Thanks @TonyLugg! I've made two extra branches to simplify testing so just installing
[code]
in a project should do.

[2018-10-08 16:35] TonyLugg commented on #528
OK, I will give this a try.  Are they ready now?

[2018-10-08 16:35] jwx commented on #528
Yeah, should be.

[2018-10-09 16:29] TonyLugg commented on #528
@jwx I have tested your fix, both backward and forward, with cancellation and without, with user confirmation and without, including multiple history items deep.  It works perfectly!  Great work!

@davismj When can we get it released in a router update?

[2018-10-12 13:33] Alexander-Taran commented on #483
Can be closed

[2018-10-12 14:09] #483 closed

[2018-10-12 14:10] #426 closed

[2018-10-15 09:00] Alexander-Taran commented on #367
This is the loneliest issue in all of the aurelia repos.

[2018-10-15 12:56] pndewit commented on #590
@gordon-matt I don't know if anything changed or I'm just not using everything you are, but the `view` property is working for me **without** specifying the `nav` property.

@stsje Thanks for looking into this, you saved my day! 👍

[2018-10-31 15:37] RichTeaTime commented on #619
This seems to be linked to changes to _buildNavigationPlan in #623 and later. The GistRun is using an aurelia.js bundle prior to this version so can't reproduce it 👎  (is there an up to date version anywhere?)

The STRs in the current aurelia/router are pretty simple:

Top Level router:
  { route: 'shortcut', redirect:'/myModule/actualPath/actualPage'}

Go to:
#/shortcut

Expected redirect:
#/myMo

[2018-10-31 17:07] davismj commented on #619
Try here. We're working on updating the documentation and getting this working better.

https://codesandbox.io/s/zqnj2pq7jm

[2018-11-01 08:42] johan-v-r commented on #619
Thanks for the feedback @RichTeaTime. We have created a new [repo to replicate the issue](https://github.com/johan-v-r/aurelia-router-issue) as described with the latest packages.

@davismj not sure about that link? Looks like it's got some react source in there..?

[2018-11-01 08:46] davismj commented on #619
Sorry about that, try again.

[2018-11-01 09:37] johan-v-r commented on #619
No problem, you can see the issue replicated here: https://codesandbox.io/s/y735958pkv

[2018-11-02 07:07] johan-v-r commented on #619
Updating the `href` from `'#/products'` to `'#/arrivals/products'` to match the redirect value seems to do the trick. Everything else still stays the same, see my [updated sandbox](https://codesandbox.io/s/qqm8xoxr3w).

I remember having the exact same issue with `aurelia-router 1.6.1` that _"fallback to the default (blank) child route"_, however I can't replicate that anymore either, and the `hre

[2018-11-02 10:12] Krussicus commented on #619
This just changes the link to navigate directly to the child route, instead of using the `redirect`.
If the URL for the route with the `redirect` is used, the issue is still encountered, as seen [here](https://qqm8xoxr3w.codesandbox.io/#/products).
The issue also still exists when using `router.navigateToRoute('products')`.

While this works fine, if one is just after a nav link, it feels a bit wr

[2018-11-02 11:20] RichTeaTime commented on #619
As we're generating these redirects from handleUnknownRoute in the AppRouter, we're now working around this by redirecting to another page (e.g. `{redirect:'the-redirector', settings:myRouteConfig}`) and then generating a Redirect there, e.g.

    canactivate(p, d, instruction) {
      return Redirect(instruction.config.settings.redirect);
    }
and this does work for redirecting to the child-rout

[2018-11-14 09:02] simonfox opened #625 "Route Generation for route in another hierarchy"
cc @bigopon (from Gitter)

I'm looking for a way, or at least some router internals that might help, to generate a route from one hierarchy to another.

As a simplified example, assume the following hierarchy
[code]

Assume `client-detail` is the active route, I want to generate a route (or navigate) to the `audio-detail` route.

I'm currently doing this by defining a route builder module in the a

[2018-11-14 09:14] bigopon commented on #625
cc @davismj I think it's been a long time feature request

[2018-11-14 11:14] davismj commented on #625
If you're looking for a time-effective solution, can you just generate the route by hand? That will be your best bet.

[code]

If you're using child routers, you can't really do it easily. If you navigate to client-detail and the route information lives in audio-shell, and you've never loaded audio-shell, the information is just not there to generate the route.

If you're not using child routers,

[2018-11-14 19:57] simonfox commented on #625
Thanks @davismj this was basically the conclusion I had come to, just wanted to make sure I hadn't missed anything.

Yes we are using child routers (and wouldn't want to change that as they are great).

_ you've never loaded audio-shell, the information is just not there to generate the route_ - does this mean that if I had already visited audio-shell this would be possible? Isn't the information

[2018-11-15 08:20] bigopon commented on #625
@simonfox  Theoretically, **after every navigation**, the whole mapping table of every branches from every child router can be aggregated into a giant single table. But I don't think it's something can be added easily for current router code base. Maybe it will be easier after TS conversion.

[2018-11-16 06:10] #537 closed

[2018-11-20 03:11] #619 closed

[2018-12-10 21:47] jeremy-holt opened #628 "aurelia-cli beta 1.7/typescript 3.2.2 activationStrategy not allowed in router.config"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli 1.0.7 beta

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.11.0

* **Yarn Version:**
1.12.3

* **JSPM OR Webpack AND Version**
Webpack 4.27.1

* **Browser:**
Chrome 70.0.3538.110

* **Language:**
TypeScript 3.2.2

**Current behavior:**
Just ran `yarn upgrade`. It updated aurel

[2018-12-10 21:54] huochunpeng commented on #628
Can you show more details? It looks like a syntax error `'replace"`.

[2018-12-10 21:57] jeremy-holt commented on #628
Sorry - that was my bad typing. This was the actual code. I removed activationStrategy and it compiles now.

[code]

[2018-12-10 21:59] huochunpeng commented on #628
Sorry, I am not TS user. But can you try TS v3.1.6 + cli beta7? It could be the same reason for the bluebird import failure.

[2018-12-10 22:03] jeremy-holt commented on #628
I suspect it was the upgrade to TS 3.2.2 - Stupidly I did them both at the same time. Each time I upgrade TS it find more errors in my code (good thing!).
I do remember that putting in activationStrategy:"replace" never worked anyway. I ended up changing the query string when wanting to reload the same page. I should have removed from route.config at the time.

[2018-12-10 22:04] huochunpeng commented on #628
Based on the d.ts file, I guess you need to do
[code]

[2018-12-10 22:07] jeremy-holt commented on #628
Nope - doesn't like that

![image](https://user-images.githubusercontent.com/2135027/49764656-f55cef00-fcc7-11e8-81e0-902c623e4d49.png)

[2018-12-10 22:09] jeremy-holt commented on #628
[code]

[2018-12-10 22:11] jeremy-holt commented on #628
OK  - so it's just a problem in the d-ts. Need to change it to
`activationStrategy: "replace" | "no-change" | "invoke-lifecycle"`

[2018-12-10 22:12] huochunpeng commented on #628
@bigopon @davismj some typing problem with latest TS?

[2018-12-10 22:13] jeremy-holt commented on #628
Sorry - misspoke. It is correct in the d.ts. Can't see why it throws an error for 'replace'.

[2019-01-06 12:55] Alexander-Taran commented on #66
@EisenbergEffect added to vNext router use cases list.
Can be closed

[2019-01-06 12:57] Alexander-Taran commented on #89
@EisenbergEffect added to vNext router use cases list
Can be closed

[2019-01-07 10:10] Alexander-Taran commented on #293
@EisenbergEffect added to vNext router use cases.
Can be closed

[2019-01-07 15:32] #66 closed

[2019-01-07 15:38] #293 closed

[2019-01-07 17:57] Alexander-Taran commented on #379
@EisenbergEffect added to vNext router use cases
Can be closed

[2019-01-07 17:59] #379 closed

[2019-01-09 14:33] jwx commented on #528
This is on me. I was asked to create some thorough tests for this and have so far been coming up a short. I hope to have it fixed before the end of the week.

[2019-01-09 14:44] gama410 commented on #528
Ok great! Thanks for your work!

[2019-02-06 04:38] timmyktom commented on #528
Hi @davismj  @jwx - Any update on this ?

[2019-02-13 15:12] JontyMC commented on #553
I'm hitting this issue now. Is there any way to get the proper navigation instruction for the redirection from a router event?

[2019-02-13 15:39] JontyMC commented on #553
Ah, I see now I can just use the current router instruction

[2019-02-14 18:14] coder8keyboard commented on #203
if.bind works(which it doesn't exist in doc) as Aurelia has rendered my HTML before data has loaded. It'd be nice if Aurelia takes care of this in the background.

[2019-02-19 10:00] tomasbillborn commented on #528
Would also love to see this implemented, any update on when this could be merged? @davismj @jwx

[2019-02-19 10:05] davismj commented on #528
It works in the basic case but edge cases are not handled, e.g. when a route is not found. See here for the status of the PR: https://github.com/aurelia/router/pull/621

[2019-03-08 16:17] robpal94 opened #630 "canDeactivate Hook Triggered Twice if the Destination Contains Unencoded Characters"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre
1.6.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]
macOS 10.14.2

* **Node Version:**
8.11.1

* **NPM Version:**
6.4.1

* **Browser:**
Electron/Chromium

* **Language:**
TypeScript 2.9.2

**Current behavior:**
The `canDeactivate()` hook is called twice w

[2019-03-14 15:18] MOHAN-T commented on #361
Actually I am facing the similar issue,
Ex : I have parent page which has records list and i have child route for the same parent to display the details of parent record. The child route doesn't have any models but from html it invoke multiple view-models through compose, but in this case without revisiting parent route if i tried to revisit the child with diff parameters it is not invoking the li

[2019-03-14 16:42] bigopon commented on #361
@MOHAN-T I think you can use `determineActivationStrategy` hooks on child view model to always invoke lifecycle, or replace it entirely every time. https://aurelia.io/docs/routing/configuration#reusing-an-existing-view-model

Did you try that?

[2019-03-18 10:29] MOHAN-T commented on #361
Yes, I have tried that also, still no change. As I see this, it's issue in routing itself, because i checked the same scenario in angular it works as expected. So do you have any other choices or anyone has ans, I would really appreciate.

[2019-03-18 10:34] bigopon commented on #361
I think I misunderstood you. Is the following template close to what you are having:

[code]

When you change the selected record in parent, you want all existing `<compose/>` to reevaluate?

If it's hard to explain, can you give an reproduction based on this template https://codesandbox.io/s/y41qjr36j

[2019-03-18 14:20] MOHAN-T commented on #361
yes that is exactly what i want, because i have written db calls in activate method but that method is not at all invoking. if u could be helpful to resolve this, it will be a great help

[2019-03-19 18:21] davismj commented on #361
In order to get the activate() methods to fire on `vm1`, etc., you need to add a model binding that updates:

`<compose view-model.bind="vm1" model.bind="data1"></compose>`

Lets say you have this:

[code]

The best thing to do is pass in some or all of the data from the parent vm through the activate function.

[code]

[code]

If you don't have any data to pass in, then pass the parameter of your

[2019-03-20 01:16] luisvsilva opened #631 "Route parameters containing forward slashes are not correctly encoded."
**I'm submitting a feature request**

* **Library Version:**
1.6.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.13.0

* **NPM Version:**
6.6.0

* **JSPM OR Webpack AND Version**
webpack 4.29.0

* **Browser:**
all
* **Language:**
TypeScript

**Current behavior:**

Route parameters containing forward slashes are not correctly encoded.

say t

[2019-03-20 02:25] jordan-ware commented on #631
internally the router is using `encodeURI()` which doesn't properly escape everything:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI

It should probably use `encodeURIComponent()` which properly encodes the fragments. This is a significant change to the behaviour of the router and might affect existing applications

[2019-03-20 13:17] MOHAN-T commented on #361
I tried, but this doesn't work. Any other options?

[2019-03-20 13:29] davismj commented on #361
The problem is somewhere else. Try reaching out to support@aurelia.io to get more specific and direct help on your individual project.

[2019-03-20 15:47] MOHAN-T commented on #361
Actually the problem was for empty route, instead of modelId, I used Viewport: {default: {modelId: null}} once i changed this to a dummy empty view-model it started working. So I think is the reason or else it may be because of other issue altogether i don't know.

Anyway thanks bigopon and davismj. U guys have been very helpful.

[2019-03-27 19:56] davismj commented on #628
The router typings are correct. This is a bug or a quirk, depending on how positive you are, in TypeScript itself. See https://github.com/Microsoft/TypeScript/issues/10570.

[code]

What happens is that when you write the above TypeScript infers a type from the route config object literal and then tries to match it up with `RouteConfig`. In the first step, it recognizes 'invoke-lifecycle' as a str

[2019-03-27 21:59] EisenbergEffect commented on #628
I think this was fixed in the latest version of TS, wasn't it?

[2019-03-27 22:02] davismj commented on #628
Haven't seen that. Issue is still open in MS repo and upgrading to latest is what brought my attention to this issue.

[2019-04-03 14:35] JamesFenton commented on #289
Our team hit this issue as well. The suggestion `delete instruction.config.viewPorts;` suggested https://github.com/aurelia/router/issues/289#issuecomment-297816986 does solve the problem for us.

[2019-04-17 08:33] bigopon commented on #620
I think this may not be a good feature, since it could lead to unresolved promise.
cc @davismj

[2019-04-17 08:39] bigopon commented on #581
The utility functions aren't supposed to be exported. For typings, it's now fixed with the latest release, I think we can close this.
@alienriver49 may I know what you want the util functions for?

[2019-04-17 12:15] alienriver49 commented on #581
Hey @bigopon, so we wrote an application portal framework similar in architecture to the Azure portal, but with Aurelia instead of Knockout. One of the early requirements was routing that would simply pass the route change to a command manager that would then execute the command based on the route information.

Due to this, I ruled out aurelia-router due to it's coupling between the routes and vie

[2019-04-17 13:32] alienriver49 commented on #581
So I just gave this a try and that works quite well, I'm able to use the command loader to hook into all my logic for loading of commands. I really like the idea of using the aurelia-router instead of rolling my own. I am running into one issue though, route-href doesn't work with any of my URLs, I get:
[code]

The HTML looks like:
[code]

In this case, I would assume this would still be a valid r

[2019-04-17 13:35] bigopon commented on #581
@alienriver49 `route-href` works based on name, so when you pass a literal string to it, it tries to find the route with that string from injected router.

[2019-04-17 13:57] alienriver49 commented on #581
Okay that makes sense. I gave my route the name of 'command' and changed the route-href to be:
[code]

This works! So, I'm all set.

[2019-04-17 14:02] bigopon commented on #581
That's great to hear. I think we can close this issue then @alienriver49 ?

[2019-04-17 14:10] alienriver49 commented on #581
We can, closing with this comment, thanks for all the help!

[2019-04-17 14:10] #581 closed

[2019-04-21 05:22] bigopon commented on #630
This can and should be fixed from `history-browser` module. The target is here https://github.com/aurelia/history-browser/blob/4cf18cf4bef2461915b94d0b4e9babd975b77cf3/src/browser-history.ts#L274

Basically change from
[code]
to
[code]

[2019-04-21 06:23] bigopon commented on #424
This is an issue with `encodeURI` and `decodeURI` API pair. They are meant to be used on full URI while in the router, we typically supplied the fragment, with query string/hash only.
Could simply be fixed by changing `encodeURI` -> `encodeURIComponent` and `decodeURI` -> `decodeURIComponent`

@EisenbergEffect @davismj @fkleuver @jwx

[2019-04-21 07:01] bigopon commented on #424
Hmm, it was a wrong analysis. Please ignore

[2019-04-21 08:49] bigopon commented on #289
@jonathaneckman Thanks for your repo. Here https://github.com/aurelia/router/blob/9ba6ef338e4e4f5e21758b245d7ebf82fb364982/src/router.ts#L726-L730 is where the issue seems to be.

After evaluating `navigationStrategy`, current it assumes `moduleId` is available on `config` object and continue to process.

Maybe we can do a check for `undefined` and normalized to `null`, so that it will ignore the

[2019-04-22 03:26] bigopon commented on #527
IMO, this should be solved in browser history via a new API on it. Could potentially be an API on abstract class `History` from `aurelia-history` too. Something like this:

[code]

So when History implementation detects any changes that falls within ignore patterns, it simply ... ignores it and doesn't notify the router.

[2019-04-22 09:25] bigopon commented on #527
Another option is to in `loadUrl` at https://github.com/aurelia/router/blob/9ba6ef338e4e4f5e21758b245d7ebf82fb364982/src/app-router.ts#L62-L70

If there is a config for `ignoreUnkownRoutes` on app router, then it does a check with `RouteRecognizer` to see if a URL is supported before processing further.

Something like this

[code]

Thoughts? @EisenbergEffect @davismj @fkleuver @jwx

[2019-04-22 10:43] jwx commented on #527
@bigopon  I don't think I agree that it should be added to `History`. In my opinion, `History` should be responsible for detecting and performing navigations. Its API should reflect this by making it possible to get reports of navigations, including their relevant data, and to perform navigations (and/or update relevant data). How to act on those navigations, or when to do navigations, should be d

[2019-04-22 11:06] bigopon commented on #527
@jwx Without touching the lovely details of routing of `Router`, I see one possible API:

[code]

Then in user code, probably just supply some manual process:

[code]

[2019-04-23 03:29] PWKad commented on #527
@bigopon I PR'd almost that same code a year and a half ago - https://github.com/aurelia/router/pull/561/files - to `loadUrl` and it was rejected and all code immediately reverted by the listed technical maintainer of the repo @davismj because he didn't have time to test or review it.  I think the approach solves the problem from a pragmatic perspective and handles this case that I have run in to

[2019-04-23 03:37] bigopon commented on #527
@PWKad thanks for the reminder. There are some small differences between 2 versions, The earlier tries to create an instruction, and then check if it should proceed. The later tries to check if it should proceed before trying to create an instruction.

I would say the later is safer and less side-effect prone.

[2019-04-23 03:48] davismj commented on #527
for more context: https://github.com/aurelia/router/pull/558

[2019-04-23 04:17] PWKad commented on #527
For more context - I offered to pay Matthew good money to add this feature on behalf of a client of mine, he agreed but kept putting it off for months so when I paid someone else to do it he reverted the work the second a bug was reported after I asked him not to, saying he wanted to test it more but that never happened.  I ended up having to pay the developer and the client back as well in additi

[2019-04-25 15:30] davismj commented on #289
@JamesFenton @jonathaneckman what's going on in navigationStrategy? before we dig into a PR I'm just curious if there's a better or easier way.

[2019-04-30 07:45] bojanv91 commented on #313
Today I stumbled upon this issue. Any suggested workarounds at the moment?

[2019-05-07 03:25] davismj commented on #630
I couldn't reproduce this issue. Is there a repro?

[2019-05-09 11:36] nenadvicentic commented on #23
@davismj When using `navigateToRoute`, passing object instance by attaching it to `parameters` property gets it serialized in the URL. Is there valid way to pass object without it being serialized?

[2019-05-10 15:48] davismj commented on #23
@nenadvicentic passing objects is a bad idea in vCurrent. The router handles mapping urls to pages. That means each route should have a unique url and entering that url into the browser should get you the same page. Passing state or object to the router isn't supported because it would violate that principle.

[2019-05-13 11:58] avbentem commented on #363
Nice. However, for me this does not include the child route if that is triggered using something like:

[code]

For the very same navigation (so: when `redirect` is used), a prerender step _does_ yield the children:

[code]

The above prints two instructions in the prerender step; great. But after that, when `router:navigation:success` or `router:navigation:complete` is triggered _for the very sam

[2019-05-18 14:48] euglv opened #640 "Navigation to dynamic routes does not work properly"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
8.11.2

* **NPM Version:**
6.9.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.0.0-beta.7

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
[Documentation](https://aurelia.io/docs/routing/configuration#dyna

[2019-05-27 07:27] MartyBoi opened #639 "Wrong queryString when building navigation plan in aurelia-router"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.1

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
webpack 4.29.6

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
Not redirected with correct query parameter. We are using _aurelia-open-id-connect_

[2019-05-27 09:29] bigopon commented on #639
@MartyBoi thanks for filing this issue. Any chance you could help with a minimal repro? Maybe just even pseudo code

[2019-05-28 06:21] MartyBoi commented on #639
@bigopon of course! Is this ok?
[code]
Expected behavior:
[code]

[2019-05-28 12:53] bigopon commented on #639
@MartyBoi I tried to reproduce your issue with this test https://github.com/aurelia/router/pull/637/commits/24394dd6afac8c5b62ac6b1e81f4988445e8d796#diff-c70fb785178d11245e55f0a186031839R14

But it seems it's working fine. I think we may need your help with the route configuration here https://github.com/aurelia/router/pull/637/commits/24394dd6afac8c5b62ac6b1e81f4988445e8d796#diff-a24a48cd3ab94544

[2019-05-29 03:55] davismj commented on #640
@euglv have a look at this article and let me know if this seems like it has a solution for you

http://davismj.me/blog/dynamic-routing/

[2019-05-29 06:04] MartyBoi commented on #639
I think think the router should be like this:
[code]

If you now try to navigate to 'redirectPage' it will not include the query string when redirected to 'routePage?queryTest=123'.

[2019-05-29 07:29] StrahilKazlachev commented on #640
Duplicate of https://github.com/aurelia/router/issues/289 ?

[2019-05-29 09:41] bigopon commented on #639
@davismj I think we should merge the query param from both instruction, with redirect instruction query string overriding the current instruction query string. This requires deserializing/serializing query string of both instructions. Thoughts?

We have existing tests verifying that redirect should get the query string from current instruction, so it makes this complicated.

[2019-05-29 17:04] euglv commented on #640
@davismj Hi, thank you for help. I already found the solution:

inside `navigationStrategy` function I should configure `moduleId` in two places:
`instruction.config.moduleId`
and
`instruction.config.viewPorts.default.moduleId`

[2019-06-11 06:25] MartyBoi commented on #639
@bigopon Any progress on this? Do you want me to create a pull request for this and merge the query params from both instruction?

[2019-06-12 00:52] HIRANO-Satoshi commented on #595
@davismj or somebody  Could you give this issue some more priority?

I am confused with an error message, but there is no explanation on route-href.

ERROR [route-href] Error: A value is required for route parameter 'pID' in route 'a-list'.

**Docs for navigateToRoute(), navigate(), navigateBack() are also needed.**

[2019-06-12 01:02] davismj commented on #595
You have configured a route `{ route: 'path/to/route/:pID', name: 'a-list' }`. You have a link `<a route-href="a-list">`. It doesn't know how to make the `href` because you haven't provided a `pID`. Instead, write this: `<a route-href="route: a-list, params.bind: { pID: 123 }">`. Then, it will generate `href="path/to/route/123"`.

Does that make sense?

Sorry about the documentation shortage.

[2019-06-12 02:59] HIRANO-Satoshi commented on #595
Thanks, but no. My problem was solved by if.bind="pID_value"  as described at https://github.com/aurelia/router/issues/203.

It must be a common pit hole. We need a real document that covers all about how to use the routing.
We would really appreciate if you could have time for it.

* patterns for activating routing
  * <a href=""  or <a href.bind=""
  * <a route-href="
  * router.generate()
  * r

[2019-06-12 17:48] davismj commented on #595
The `if.bind` thing was resolved. If you're still seeing this issue there's probably a deeper issue.

[2019-06-12 22:58] bigopon commented on #595
@davismj what @HIRANO-Satoshi meant I think is the need for doc to cover various scenarios, common errors and how to resolve them.

@HIRANO-Satoshi since you are aware most of them, would you like to give it a try? Others would love it like you do

[2019-06-13 02:16] HIRANO-Satoshi commented on #595
I see. Maybe my aurelia-router is 1.6.3 and too old.

@bigopen We have a background story. I'm respecting his Promise.

[2019-06-17 08:09] MartyBoi commented on #639
@bigopon I think something like this should keep your existing tests intact and fix the issue I'm having. Could you please try this?
[code]

[2019-07-04 19:30] jfstephe commented on #252
Hi - This is biting me on the proverbible too. @davismj - can you explain if this is fundamentally necessary for the current design of the router ATM? If not I can possibly take a crack at it.

_normalizeAbsolutePath() in util.ts seems a likely candidate along with _createRootedPath(). Alsoi, _createNavigationInstruction and the tests that go with it.

...but I could be vastly underestimating this

[2019-07-08 22:37] jfstephe commented on #252
@EisenbergEffect - can you give guidance on the above?

[2019-07-09 03:41] EisenbergEffect commented on #252
@jfstephe We’d certainly love for you to take a crack at it. The best person to provide guidance on this is @davismj Matt, can you point John in the right direction?

[2019-07-09 16:32] davismj commented on #252
@jfstephe In order to get your PR merged quickly, you'll need some strong unit tests. Add some tests that define the behavior and properly break on the broken behavior.

I'm not sure there is anything to fix, here. As Alex pointed out, right now they are appended to the hash because **appending them to the path would cause a page reload on hashchange** (not pushstate) style **applications**. That

[2019-07-09 18:21] jfstephe commented on #252
hmmm. For hashchange, for me, the spec mentioned by @stevies is king, and this inconsistency is killing me. (as I say - this is my personal view :-) ). In my scenario, I have a query string for other non-aurelia related purposes. When I navigate to http://myapp.com?param=stuff#a/b/c this gets messed up by the router and when sent to the server during various operations, the server is expecting to

[2019-07-09 21:06] stevies commented on #252
@jfstephe - Your scenario appears to be similar to what I faced: my initial application page request at the server end needed to pluck a value from the query string from a normal GET - eg:

`http://localhost:9000/index.html?userId=12345`

In my case, I would enter the aurelia app at the main route - no hash params needed (other than that userId) at that stage.

If I needed the parameter in the Aur

[2019-07-09 21:22] jfstephe commented on #252
Indeed (I agree about changing'?' for something else but also that it's probably too big a deal) - and thanks for adding your use case.

This also, really affects users when they bookmark the URL that's been transformed by the router. They are then left wondering what's changed :-~.

[2019-07-10 22:44] jfstephe commented on #252
@davismj - do you concur with the problems and agree the way forward? Supporting:

hashchange
http://example.com/?r=456#/my/route?q=123
pushstate
http://example.com/my/route?q=123&r=456

[2019-07-16 09:31] jfstephe commented on #252
@davismj poke

[2019-07-19 12:49] jfstephe commented on #252
@EisenbergEffect @davismj - Hi guys, I'm going to need more feedback I'm afraid. At this rate I'l end up doing a branch that breaks the scenarios I don't care about. This isn't what I want to do but for me opportunities to do this don't present themselves very often. I can't promise that I'll get it done as there's other things to balance, but with some guidance, as requested, I can make a start a

[2019-07-29 14:09] davismj commented on #252
@jfstephe I'm leaning towards leaving it alone, perhaps because  I don't fully understand your use case.

If you're using the Aurelia router and routing mechanisms to handle params, you're going to end up with the non-standard `#/my/route?q=123`, which Aurelia handles. That would be expected.

If you need true query string parameters, I don't know what is stopping you. Instead of `route-href`, use

[2019-07-29 14:55] jfstephe commented on #252
Hi Matt,
Thanks for getting back to me. The specific scenario to support is:

1. Go to: <host>?serverParam=abc#/my/route?q=123
2. The URL should not be changed in any way by the aurelia router. The query string param (serverParam) should not be changed at all, and should be maintained as a query string parameter (not a fragment) between router navigations. This is important if, for example serverP

[2019-07-29 14:59] davismj commented on #252
This should be the current behavior.

[2019-08-01 10:29] RomkeVdMeulen opened #647 "Parameters for parent route also added to query"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Current behavior:**
In a child route, when generating the URL of a parent route with parameters, if I explicitly pass in one of those parameters, it is added to the query string in stead of being in the path itself.

E.g.: I'm in `#/user/1/preferences/edit` and I call: `router.generate("userprefs", {id: 1})` I get: `#/user/1/preferen

[2019-08-02 22:27] chethandb commented on #380
Is this still possible to declare the one as mentioned above? I just tried having a route to localhost and it error-ed.

[2019-08-13 15:21] carlkenne commented on #457
Any progress on this issue?

[2019-08-15 02:14] matthewcorven opened #648 "navigateToRoute return signature change - no longer a Promise?"
- Overview of the Issue: router navigateToRoute() previously has a return signature type of `Promise<PipelineResult | boolean>`, [then](https://github.com/aurelia/router/commit/6b2232d8e7dd0420f50ce4a008b1a4b34264b84a) `NavigationResult` and [most recently](https://github.com/aurelia/router/commit/908ec620c136f1a4a3da5928ed751f5ee599c264) `boolean` (version 1.7.1).
- Motivation or Use Case:
   - U

[2019-08-15 02:40] EisenbergEffect commented on #648
Ping @davismj

[2019-08-15 11:38] bigopon commented on #648
If i understand correctly, returning a `Promise` is incorrect, since it's not what the history navigate returns

[2019-08-15 13:22] davismj commented on #648
The typing is in fact wrong. After quickly tracing through, I want to say it should be `boolean | Promise<PipelineResult>` but it might be `boolean | Promise<boolean | PipelineResult>`.

[2019-08-15 14:00] matthewcorven commented on #648
Thanks for the initial investigation @davismj

[2019-08-16 16:51] matthewcorven commented on #648
@davismj  @EisenbergEffect I'd be happy to submit a PR for this.  I'm not sure where the CLA is that I need to sign.  The CONTRIBUTING.md in this project sends me to:

http://goo.gl/forms/dI8QDDSyKR

Which says "Sorry, the file you have requested does not exist.":

[2019-08-16 20:20] EisenbergEffect commented on #648
Please feel free to submit a PR :) When you submit the PR, Github will check our CLA sig list and prompt you with the proper way to sign. Sorry about the bad link. I thought I had that updated everywhere after we switched over to CLA Assistant. I'll get that fixed soon.

[2019-08-21 13:07] minimoe commented on #639
@bigopon @davismj had you had a chance to look into this? Thanks

[2019-09-03 15:26] TimVevida commented on #469
@oneillci Your use case is easily solved by just setting the title for the main router and not setting any sub route titles. Aurelia should then only show the main router title, no separators, no subroutes.

[2019-09-03 15:38] TimVevida commented on #469
I am interested in a method to transform the title with extra information about the current route and its params. I want to conditionally show the title of a parent route based on if it is the currently active route or not. This is not possible at the moment, so I walk over the `NavigationInstruction`s on `router:navigation:success` an roll my own title. It would be nice if Aurelia could facilitat

[2019-09-16 06:15] ejuntu commented on #628
I had this issue and got around with
`var replaceStrat: any = "replace";
    config.map([
      {
        route: "",
        name: "index",
        moduleId: PLATFORM.moduleName("pages/index/index", "index"),
        title: "Front page",
        nav: 0,
        activationStrategy: replaceStrat
      },`

[2019-09-16 14:14] ricardograca commented on #335
Can you provide an example of one of these other ways? Because @bryanrsmith's comment above only says that:

But that's not possible since the third argument to `activate()` does not include the `previousInstruction` any more.

[2019-09-17 15:30] davismj commented on #335
@ricardograca

[code]

[2019-09-17 16:16] ricardograca commented on #335
@davismj It's always `null`, so that doesn't work.

[2019-09-21 19:00] davismj commented on #335
Sounds like a separate issue. If you can open up an issue with a repro I'll look into it.

[2019-09-21 19:15] davismj commented on #639
I haven't. Am I correct to say that the issue is you're redirecting from page a to page b and the query string from page a is lost on page b? That sounds like a bug.

[2019-09-21 19:32] davismj commented on #469
@TimVevida I agree. Can you please propose (a) a new API that would achieve what you're looking for and (b) a demonstration of how the new API would not break any of the existing behavior around `_buildTitle`.

[2019-10-03 20:01] davismj commented on #465
while we wait on an official pull, this should work for now:

[code]

[2019-10-03 22:59] bigopon commented on #465
Its already in I think. Or at least in one of my hanging PR

[2019-10-07 11:24] arnederuwe commented on #465
I think it's in here :https://github.com/aurelia/router/pull/637

[2019-10-23 02:23] MJSanfelippo commented on #2
@EisenbergEffect @bigopon Any thoughts on @matik12 's comment? the config.onActivateRejection sounds great.

[2019-10-23 04:17] EisenbergEffect commented on #2
Adding @jwx who is working on our vNext router so he can gather the use case for the new router. Also adding @davismj who knows the most about the current router.

[2019-10-23 05:29] MJSanfelippo opened #655 "Life cycle methods activate, created, and bind in a composed view model uncaught exception/rejection will kill app"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre 1.7.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.3.11

* **NPM Version:**
6.12.0

* **JSPM OR Webpack AND Version**
Webpack, unsure, command would not work

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
When there is an uncaught exception/

[2019-11-08 17:58] davidlav commented on #328
If this feature was implemented, is it documented anywhere?  I couldn't find anything about it in the routing or Aurelia Store docs.

I was looking for a way to activate a component routed to upon a state change in Aurelia Store (if that can be done with a promise, I don't know how) and landed here.

[2019-11-11 06:52] Ixonal commented on #328
@davidlav Not sure if this feature was ever added to the documentation, but so far as I can tell, it's still there. Unfortunately, I'm not particularly familiar with Aurelia Store, so I'm a bit limited on what I can say regarding that.

[2020-01-31 03:53] sousekd commented on #529
I am struggling with this issue too. The application I'm developing uses child routers heavily to support sharing and bookmarking deep links. I'd love to be able to use fallbackRoute on child routers to get users as close to what they needed as possible, even if the enitity deep down in hierarchy doesn't exist anymore. Any chance of a fix?

[2020-02-04 05:20] Calabonga commented on #648
Hi, and again...

Aurelia version:
[code]
method this.router.navigateToRoute and this.router.navigate are return both a  **Promise** not the boolean :(
but:
[code]

If the bug is fixed how i can update aurelia-router.d.ts?

[2020-02-05 21:38] bigopon commented on #648
@Calabonga let me have a look at this. From what I remember, the signature was wrong, and boolean was a fix

[2020-02-05 21:50] matthewcorven commented on #648
@bigopon The change I had proposed for this I eventually abandoned because @davismj indicated that he had identical changes (as a Promise) in a local branch that hadn't yet been pushed,  which he would carry forward.

[2020-02-06 00:53] Calabonga commented on #648
@bigopon , @matthewcorven  Thanks for your quick answers, but...
1. What's the correct type for return in fact?
2. When will I can download the correct version?

[2020-02-06 01:01] matthewcorven commented on #648
@Calabonga I think this is the best-matching signature, but ultimately I'm looking to @davismj and @bigopon to validate.

https://github.com/aurelia/router/blob/17258378e92201481e41064c16449b579c1c4fd0/src/interfaces.ts#L323

[2020-02-06 01:03] Calabonga commented on #648
@bigopon I think so too! Thanks. I'll be waiting.

[2020-02-06 11:49] bigopon commented on #648
@matthewcorven @Calabonga @davismj on the surface, `boolean` is the sufficient return type as it's the contract that `History` guarantees. However, the implementation of `History` doesn't conform this, and actually returns a different type: it's eventually: `Promise<PipelineResult>` if the pipeline ran successfully, or `Promise<void>` if there was an error in the pipeline. So final typing could be

[2020-02-06 12:21] Calabonga commented on #648
Thanks. I'll try to refactor my logic yet.

[2020-03-27 10:17] jfstephe commented on #534
@bigopon @jwx - any news on this or #538 ?

[2020-05-29 19:20] brandon-marginalunit commented on #60
I'm running into this same issue and I can't figure out how to add a step earlier in the pipeline, before the view would be constructed.

@EisenbergEffect you mentioned this was possible:

But according to the docs:

It does also say:

But does that not just put the new step into one of those existing slots? How do I put something _before_ `authorize`?

[2020-05-30 16:49] EisenbergEffect commented on #60
@brandon-marginalunit The router is designed with a standard set of "slots" that you can add steps into. It is possible to add steps manually, as long as you are careful not to break the expected pipeline behavior. Have a look here:

https://github.com/aurelia/router/blob/master/src/pipeline-provider.ts#L49

The `PipelineProvider` contains all the steps that make up a navigation flow. So, you can

[2020-06-10 21:45] brandon-marginalunit opened #658 "navigateToRoute does not update currentInstruction immediately"
[code]

[code]

At the time of this `console.log()`, the actual URL in the browser has been visibly updated. And the parameter does make it into `currentInstruction` eventually. But for some reason, `router.currentInstruction` does not get updated synchronously. This is causing havoc in my logic when I want to do non-destructive changes like the following:
[code]

Here, `currentInstruction.queryPa

[2020-06-17 11:39] nenadvicentic commented on #363
Is there any update on this issue?

I am facing similar bug. My route is defined as:

`{ route: "copy-item/:id", nav: false, navigationStrategy: (i) => { i.config.redirect = "edit-new-item"; } }`

If I subscribe to "router:navigation: child:complete" and "router:navigation:complete" I see both navigation instructions in the output.

1. `copy-item/:id` as main navigation instruction coming from "ro

[2020-07-05 13:11] ayaanraj opened #659 "configureRouter method is not triggered, when the template is loaded dynamically(from server)"
Hi all,

`aurelia-framework  -  1.3.0,
aurelia-router  -  1.7.1`

**home.js**

[code]

**home.html**
[code]

response from **api/home**

[code]
**child-router/child-router.html**

[code]

**child-router/child-router.js**

[code]

As you can see above, I'm getting the template from the server and rendering it using InlineViewStrategy
and in the server response, I have required a component(child-rou

[2020-07-05 21:18] bigopon commented on #659
In the response from your `api/home`, you have
[code]

`<child-router/>` is loaded too late, because of `if.bind="viewTemplate"` I think, can you try remove that if?

[2020-07-06 06:30] ayaanraj commented on #659
Hi @bigopon
I have removed the `if.bind="viewTemplate` and tried it, but still `configureRouter` has not got triggered.

[2020-07-08 10:44] ayaanraj commented on #659
Hi @bigopon  any update on this issue.

[2020-07-09 02:10] bigopon commented on #659
@ayaanraj I'm not sure if the usage you have there is supported, as normally, router view should be ready upfront.

cc @jwx @davismj @fkleuver

[2020-07-13 08:59] fkleuver commented on #659
`router-view` is registered during compilation and so any kind of dynamic (via compose, etc) or conditional (with if.bind, etc) rendering of the `router-view` will lead to the registration happening too late. It must be statically present in the  html template of the component you need `configureRouter` to be called on.

This is a design limitation in v1 and it will not be solved in v1, however it

[2020-08-05 09:03] radenkozec opened #663 "Back button not working on Android Phone Chrome browser when using return in activate"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Please tell us about your environment:**
* **Operating System:**
Linux

* **Node Version:**
10.15.3

* **Language:**
ESNext

**Current behavior:**
When navigation to view using Aurelia Router
this.router.navigateToRoute('view', { 'id': someGuid });
back button on mobile Chrome Android is not working.
I have found that problem is havi

[2020-08-07 10:51] radenkozec commented on #663
Bug in my App sorry.

[2020-08-08 06:47] radenkozec commented on #663
I had a if statement in activate which was causing the issue. When I replace if with return of one method in activate problem solved.

[2020-08-08 06:47] #663 closed

[2020-08-13 16:39] willread commented on #363
I was having a similar issue with `router:navigation:complete` and did manage to find a reference to the child `NavigationInstruction` in `NavigationInstruction.viewPortInstructions.default.childRouter.currentInstruction`.

[2020-08-14 15:03] rick0907 opened #664 "Can't navigate directly to route when pushState is true in Aurelia js, react js with backend server as .net 4.5"
I have a below route configuration:
   config.options.pushState = true;
    config.options.root = "/";
    config.options.hashChange = false;
url: applicationdomain...**/displayData**
this application working locally without any issue but after deploying it to the server, same URL giving me 404 on refresh or direct hit.
I read on the net that we need to configure the server to support the push sta

[2020-08-17 19:13] ItWorksOnMyMachine commented on #585
We have routes that look like '/clients/module' and want to change to '/clients/:clientId/module' but we have a lot of places where the old routes still exist.  The solution proposed here would help us to create a dynamic redirector that would capture any navigation even to the old URL, inspect the current user's state information, and redirect to the new url with the :clientId parameter in place.

[2020-09-18 16:10] Sidewinder1138 commented on #664
I'm having a similar issue. Just following along with the official Contact Manager Tutorial, I can click on a Contact and the router works, loading the component, and URL changes to: http://localhost:8080/contacts/1

But then if I refresh the browser, I get errors like this:
`Refused to apply style from 'http://localhost:8080**/contacts/css/**vendors~253ae210.260f15a8e8c173d839a3.chunk.css' becaus

[2020-09-19 07:08] bigopon commented on #664
@3cp I'm not sure if there's something that could affect a freshly generated project, could you help have a look with this?
@Sidewinder1138 thanks for commenting on this. Could you help give some info about your local env? CLI/node/npm versrions?

[2020-09-19 10:17] 3cp commented on #664
@Sidewinder1138 I am following the tutorial and could not reproduce your error. Could you push your project to GitHub for us to check?

[2020-09-19 10:22] 3cp commented on #664
@rick0907 I am not a .net user. But if you still need help, go to https://discourse.aurelia.io for help, there are many .net users around to help.

[2020-10-13 06:31] mjpearse commented on #424
Ran into what I think was this issue today with a string parameter going through the router.  I didn't want to change it to a setting on the route as I wanted the user to be able to refresh the page on the other side.

My workaround was to encode the string as base64 url encoded rather than the usual encodeURIComponent.

[2020-10-20 07:52] rmja opened #667 "Configured route redirect does not propagate query string"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
14.6.0

* **NPM Version:**
6.14.8

* **JSPM OR Webpack AND Version**
webpack 4

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The following route configuration does not propagate the query string to the redirected route:

[2020-11-19 20:01] sousekd commented on #528
Is there any viable workaround for this issue? I need to ask user about leaving the large form with unsaved data.

[2020-11-20 01:59] davismj commented on #528
So the bug is that there is no way to cancel "back" when you click it. You might try `history.forward()` if `canDeactivate` would return false.

[2020-11-20 06:49] sousekd commented on #528
You mean something like this?
[code]
Thanks, I can give it a try. Otherwise, I guess I need to ensure I return **true** from `canDeactivate()` when `router.isNavigatingBack`. The unsaved changes confirmation would not appear in that rare scenario when user uses the browser's back button. On the back navigation initiated from code, I can read `router.history` and call `router.navigate(_last history

[2020-11-20 07:39] sousekd commented on #528
Hmm... I found that `router.isNavigatingBack` doesn't return `true` if tried to use as described (probably a bug, `router.isExplicitNavigationBack` seems to work correctly. I tried your suggestion, but used `router.history.go(1)` instead of `router.history.forward()` (such doesn't exist in TypeScript definition), and it did not work. What seems like a working workaround is returning a redirect fro

[2020-11-26 13:23] DanieleRosada opened #668 "Dynamic Routing with Webpack"
Hi,
I have a problem with navigationStrategy. I load only the first time moduleId, then when I change the route the moduleId remains the same even if the route  #has the right name . (No error)
I use aurelia with webpack.

Thanks

    PLATFORM.moduleName('./tipologia/CALDAIA/dettagli');
    PLATFORM.moduleName('./tipologia/REFRIGERATORE/dettagli');
    PLATFORM.moduleName('./tipologia/SCAMBIATORE/

[2020-11-26 13:24] DanieleRosada opened #669 "Loading on change route"
Good morning,
I have a problem with router, I don't know wich child route is navigating, because isNavigating only changes in appRoute.
I can't use a spinner in the right `<router-view` `routing-loading-animation></router-view>`
I created this automatic customAttribute in order to use it everywhere and have a user friendly interface.
I searched in all fields where I could think of, to no avail.

H

[2020-11-26 13:24] DanieleRosada opened #670 "Parent Router doesn't know Id of child"
Good morning,
I am using powerful routing, to rebuild the status after refreshing the page.
But I can't access the parameter :IdRiferimento from the father and therefore I don't know if I have to set the default value or load the previous route.

How can i build the infrastructure to this fairly common problem?
Thanks

    @autoinject()
    export class Riferimenti {

        columns: Array<ColDef

[2020-11-28 07:42] bigopon commented on #668
It's a bit complicated guessing what you want to achieve. Can you help create a small repro describing what the issue? I've prepared a gist https://gist.dumber.app/?gist=5dfee522d31bab9df9bd7c03bf4567f8

[2020-11-28 07:43] bigopon commented on #669
Maybe you can get the current navigation instruction from `appRouter` and figure out the name of the route?

[2020-11-29 15:17] davismj commented on #668
how many modules do you have for this pattern?

[2020-12-01 10:36] DanieleRosada commented on #668
I can't replicate the error, but thanks for repro. Webpack is the problem, it doesn't load files correctly.
I want webpack to load 6 modules and not just the first one used so that through the router parameters I can identify which one I have to use to  achieve correct navigation.

[2020-12-01 10:37] DanieleRosada commented on #669
The only field in AppRouter that identifies the next istruction is history.fragment, but it is not unique.

[2021-01-05 07:24] Ischca commented on #598
Is there an update on this?
I have the same problem.

[2021-01-06 04:01] bigopon commented on #598
We are focusing our effort on v2, also this issue is a bit difficult to work on at the moment, as v1 router may need some more tests to cover the regression that may be introduced if we are to add a module loading failure recovery code.

[2021-01-17 11:14] hankur commented on #631
I'd like to point out that this is a serious problem. Consider a use case where I want to send `%/` as a route parameter:

1. I have to escape it first by using `encodeURIComponent()`, because I can't put `%` directly into a URL.
2. After escaping, I get the encoded string `%25%2F` as expected and pass it along with `navigateToRoute()`.
3. When I want to access the route parameter in the `activate

[2021-01-18 12:26] bigopon commented on #631
@hankur I think you can encode/decode your route parameters with base64 strings.
So it may look like this:
1. escape it first by using `btoa(...)`
2. ...
3. When I want to access the route parameter in the activate() method, for example, the router has already done some decoding (presumably using encodeURI()) and decode it using `atob(...)`.

Can you try this?

[2021-01-18 12:33] hankur commented on #631
@bigopon I guess this would work, but it would render the URL unreadable by us humans. Simple `encodeURIComponent()` would only encode the special symbols, but text would still be understandable, which I'd prefer.

[2021-03-04 14:50] matthewcorven commented on #648
Any update @Calabonga ?
CC @bigopon

[2021-04-05 17:07] jlipford commented on #639
Anyone have workaround for this?

[2021-04-05 23:57] dkent600 commented on #225
wow, this has been open for 5.5 years  :-)

[2021-08-23 14:59] maryprazyan commented on #201
In case anyone's looking for a workaround, I tried this one

[code]

 and in the router configuration

[code]

[2021-09-01 20:45] Seebiscuit commented on #363
Wonder why this isn't documented or at least talked about. This is pretty massive. I wonder if there are cases where this blows up?

[2022-01-05 22:37] #655 closed

[2022-02-07 12:04] rmja commented on #667
Is there an update on this? The fix seems really easy.

The error is shown specifically when using aurelia-open-id-connect, where the redirect route is assigned here: https://github.com/aurelia-contrib/aurelia-open-id-connect/blob/master/src/open-id-connect-navigation-strategies.ts#L86. For example:
[code]
The redirect route may contain query parameters, which are then later stripped by the router

[2022-02-07 12:10] rmja commented on #667
It seems that there is a PR for a fix here https://github.com/aurelia/router/pull/643
cc @bigopon

[2022-02-07 12:11] rmja commented on #667
Related to https://github.com/aurelia/router/issues/639

[2022-02-11 18:06] rmja commented on #639
@davismj There are simple failing examples in #667 and #643 seems to solve the issue.

[2022-02-23 22:39] #252 closed

[2022-05-23 20:55] Alexander-Taran commented on #446
@bigopon
🤷‍♂️

[2022-05-28 20:21] Alexander-Taran commented on #489
R.I.P. IE ?

@bigopon

[2022-05-30 20:26] Alexander-Taran commented on #525
@davismj  (-:

[2022-06-01 19:41] Alexander-Taran commented on #587
@bigopon  can be closed.. I think.

[2022-06-02 02:59] #587 closed

[2022-11-24 14:07] m-gallesio opened #688 "Typings for CanActivate and Activate seem slightly incomplete"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

* **Language:**
TypeScript 4.9

**Current behavior:**
I am trying to use the `RoutableComponent*` interfaces, but the typings of `canActivate` and `activate` seem slightly incomplete.

[code]

This causes an error:

[code]

Indeed, the type of the function is `Promise<boolean | NavigationCommand>` which is missing from the declaration.