[2015-01-09 15:52] jdanyow opened #2 "bubble rejected activation promises"
It would be nice if there was a way to give the router a handler for activation promise rejections.  This would reduce boilerplate error handling code in activate methods.

Code like this:

    public activate(...): Q.Promise<any> {
        var deferred = Q.defer();

        doSomething()
            .then(() => deferred.resolve())  // yay
            .fail(reason => {
                deferred.rej

[2015-01-09 16:55] tyrsius commented on #2
In chat we discussed the possibility of providing a navigation-error hook, to allow the module to subscribe to errors instead of bubbling them up.

[2015-01-09 17:04] zewa666 opened #3 "specify Viewmodel at runtime"
It would be great if we could decide at runtime which moduleId to load, based on whatever condition is provided. The current route entry looks like this where you have to provide the moduleId as a string during configuration phase.

[code]

[2015-01-09 17:05] EisenbergEffect commented on #3
Would you need any inputs to that function?

[2015-01-09 17:06] zewa666 commented on #3
hmm maybe you're right maybe just add a object parameter (like activationData) passing all necessary information. Who knows what this could be used for.

[2015-01-09 17:07] tyrsius commented on #3
the `currentInstruction` seems reasonable

[2015-01-09 18:17] jedd-ahyoung opened #4 "Route Helper: Expose current route to view"
Feature request for a `route.current` method or something similar to be used within a view. Currently, relative hyperlinks inside a child view do not respect parent/child router relationships (for good reason) but this breaks encapsulation.

Use cases for this include nested views and viewmodels where relative links would update the view relative to its parent (rather than relative to the app).

[2015-01-15 19:50] jedd-ahyoung commented on #4
Per gitter conversation, a variant of this may be possible by setting the `baseUrl` property on the router object, and using this in an A tag:

    <a href='router.baseUrl + ${object.id}'>

This, however, requires the view to have an injected router.

[2015-01-15 20:04] jedd-ahyoung commented on #4
For handling relative hrefs, there are a few options:

 1. Modify the `handleLinkClick` method in app-router to support relative paths.
 2. Add a custom behavior for hrefs. The behavior could look like this:

    <a router-href=“name: myRoute; params.bind: { id:object.id }”>Something</a>

While option 1 is a quick fix, option 2 is definitely more powerful.

[2015-01-15 20:18] EisenbergEffect commented on #4
Option two shouldn't be too hard either though, since all the building blocks are in place now.

[2015-01-15 20:43] jedd-ahyoung opened #9 "YUI-documetation for external methods"
Document the public-facing API for the router submodules.

[2015-01-20 04:39] tyrsius opened #10 "Exposing parent router can cause infinite loop"
Consider this class

[code]

This might be done if using the router for navigation methods, instead of as a state controller. This will cause an infinite loop, as the [route-loader](https://github.com/aurelia/router/blob/master/src%2Froute-loading.js#L87) finds the exposed `router` property, and creates a child navigation context. If this class is the default route, the child will be itself.

[2015-01-21 01:23] #10 closed

[2015-01-25 19:38] tyrsius opened #11 "Router only adds querystring parameters that are defined in the route to lifecycleArgs"
The router does not deserialize the entire querystring, which would allow for dynamic viewmodel activation arguments.

[2015-01-25 21:18] tyrsius commented on #11
So I think the issue is [here](https://github.com/aurelia/router/blob/master/src%2Frouter.js#L117-L124)

The `results` object is an array which also has a `queryParams` property on it with the properly parsed queryString object. However, the `NavigationInstruction` is being created with `queryParams` from the first result in the `results` array. I think the correct thing to do is use the `results.

[2015-01-25 21:25] EisenbergEffect commented on #11
What if we did this: `first.queryParams || results.queryParams` ?

[2015-01-27 15:51] Alxandr opened #13 "canActivate = false doesn't change the url back to the previous route"
Having a module with `canActivate() { return false; }` does prevent the view from being displayed, however, the URL in the browser still retains the address of the "illegal" route.

Sample repo that causes this error: https://github.com/Alxandr/potential-aurelia-bug/blob/master/dist/admin/_common.js#L7

This clearly shows the problem, because multiple attempts at clicking the link to the `welcome`

[2015-01-28 03:31] Serhioromano opened #14 "activate() multiple resolvs"
I cannot figure out how I would resolve few HTTP requests? I return only one right?

[code]

But what if I need to resolve 4 `http` get requests before show navigation? I need to get items, categories, user parameters, ... all before display route.

[2015-01-28 03:39] EisenbergEffect commented on #14
You are in luck :smile: There are lots of ways to compose promises together and the Promise spec has a helper method to do exactly what you want. First make each http request and store the returned promise in an array. Then return the aggregate by using the `Promise.all()` helper. This will create a promise that resolves when all supplied promises have resolved.
Something like this:

[code]

You c

[2015-01-28 03:39] #14 closed

[2015-01-28 09:36] Serhioromano opened #15 "Dynamic Routes"
What I like about this framework is ability to load JS on the fly when you need it. Very good for large application as the one I plan to create.

In my mind I have modular application. And each module has it's own set of routes. But it always start with module name. Lets say I have module `acl`. Then routes will be `acl/rules`, `acl/rule/:id` and so on.

So I always know where to look. I can analy

[2015-01-28 20:29] bfil opened #16 "Add configuration option to use the history pushState API"
By a quick look at the code, the router seems to handle pushState, but there is currently no way to enable it.

In addition, some documentation on how to configure it would be nice to have.

[2015-01-28 20:54] kevinrenskers opened #17 "Document the navigation pipeline"
Currently all we have is http://aurelia.io/docs.html, and it's not a full reference.

[2015-01-28 21:20] #11 closed

[2015-01-29 12:20] EisenbergEffect commented on #16
Added in 79db2e45acab6dc76cad0a68ba929ce21ebdf0c2

[2015-01-29 12:20] #16 closed

[2015-01-30 02:31] EisenbergEffect commented on #15
To handle this you call this api:

[code]

If you need to do this asynchronously, you can also return a Promise for the instruction. Finally, by ultimately combining this with a bundling config via jspm you can put all your "acl" modules in a bundle and minimize on round trips for related functionality.

[2015-01-30 02:31] #15 closed

[2015-01-30 02:51] Serhioromano commented on #15
Perfect. Thank you. Now I see how I can create router based application easily extendable by convention. Like you create URL like

    [module name]/[moduleId]/[params]

where `moduleId` is 2 segment value for better organization.

    acl/users/list/role/10

This will be JS in `modules/acl/routes/users/list.js` and `role/10` will be a parameters.

I like it so far.

[2015-01-30 04:00] EisenbergEffect commented on #15
Yep. If you can decide on a convention for your app, you can easily to the interpretation dynamically just like that.

[2015-01-30 15:00] RonnyPfannschmidt opened #20 "better documentation of absolute vs relative module ids"
starting at the examples i got bitten by just using a absolute module id in a router for a app that was actually being renamed

it took a while to figure i need to use ./about instead of about as module id

the matter was worse, because i serve a spa shell at all non-static non-api locations, and all i got was a strange syntaxerror

[2015-01-30 15:55] jaimerivera opened #21 "ViewModels Singleton Instance"
When navigating between views the viewmodel always gets instantiated.  Need a way to make view models singletons to preserve state when a user navigates various routes.  This will give the app more of a desktop feel.

The documentation currently states to use Metadata.singleton() but this does not work either.

[2015-02-02 00:17] treasonx opened #23 "Passing data for bindings via route model."
I was trying to add some additional attributes to the route model so they could be exposed in the HTML bindings.

Here is a simple example:

[code]

[code]

It at first I tried to access the `styles` attribute via the route model directly in the bindings like `item.styles`. That didn't work and after looking through the code I found that the config is saved as part of the route model under the `co

[2015-02-02 18:24] EisenbergEffect commented on #2
@tyrsius Was this the idea of adding a new navigation callback that view models can subscribe to? Such as `activationFailed`? Or is that a different idea?

[2015-02-02 18:55] #13 closed

[2015-02-03 14:10] jdanyow commented on #2
If there's a way provide a hook for rejected activation lifecycle promises it would make the user code simpler.  This is the use case I was thinking of:

Often code in the activate method fails- required data is no longer on the server, the user's internet connection is down, or maybe a modal popped during activation and the user cancelled rather than continue with opening the screen.  Maybe it's

[2015-02-04 21:53] zewa666 opened #24 "Add Router events like in Durandal"
I liked the emitted events from the Durandal Router, as in certain situations, especially for E2E tests, those were quite helpful to understand what the current state of page routing is.

Just for the sake of completeness I'll post them here again:
- router:navigation:complete
- router:navigation:cancelled
- router:navigation:processing
- router:route:activating
- router:route:before-config
- rout

[2015-02-05 14:23] SAAirey commented on #23
This should be explicitly supported via a `data` property:

[code]

[2015-02-05 15:06] PWKad commented on #23
Currently each route has a config object that supports what you are looking for -

In your VM -
[code]

And when you define your route -
[code]

Now you have access to anything you set as custom on your route in your view-model.  In your example if you are looking to add it to the navigation you can do so like this (pseudo-code) -

[code]

[2015-02-05 15:15] treasonx commented on #23
Yup thats what I ended up doing. I just thought it might be nice if there were an area reserved for this type of metadata. It would reduce the amount of conflict with the official route config names.

For example if I added `fooBar: 'thinger'` to my route config. And then in the future aurelia decided to update its API to use `fooBar` for something else we would have a bad day.  If there is a spec

[2015-02-05 15:16] EisenbergEffect commented on #23
I've had this request before...and we had it in Durandal. So, I think we
should add a dedicated place for this. It should be pretty easy.

On Thu, Feb 5, 2015 at 10:15 AM, James Morrin <notifications@github.com>
wrote:

--
Rob Eisenberg,
President - Blue Spire
www.durandaljs.com

[2015-02-05 18:28] EisenbergEffect commented on #20
I fixed up the examples and add some emphasis in the documentation. It will go out with the next doc release today or tomorrow.

[2015-02-05 18:28] #20 closed

[2015-02-05 20:03] EisenbergEffect commented on #23
Unless there are any serious complains, we will call the property `settings`. That's basically what we supported in Durandal, so I think it would be nice to keep that the same. Working on this now.

[2015-02-05 20:04] treasonx commented on #23
:+1:

[2015-02-05 20:12] #23 closed

[2015-02-05 20:12] EisenbergEffect commented on #23
Just put a `settings` property on your route config now. It will be propagated to the nav model as well.

[2015-02-05 20:30] treasonx commented on #23
Thanks so much!

[2015-02-07 04:22] liuyuanhuo opened #25 "empty parameter in router url"
![1](https://cloud.githubusercontent.com/assets/8426293/6090778/9041cbd4-aec1-11e4-87ca-bfcd3502a403.png)

![3](https://cloud.githubusercontent.com/assets/8426293/6090807/08ea7d3c-aec3-11e4-986d-23e8bea6199f.png)

![3](https://cloud.githubusercontent.com/assets/8426293/6090780/94751044-aec1-11e4-9c4a-0656b1148156.png)

![4](https://cloud.githubusercontent.com/assets/8426293/6090815/affc5d8e-aec3-1

[2015-02-09 13:37] jdanyow commented on #2
right- since I'm unable to return a terminated promise chain from my activate method I have to do the little dance with the deferred you see in my first note in this issue.

[2015-02-09 13:43] jdanyow commented on #2
Didn't explain that well- here's what I meant:

The code above shows how I ensure the promise chain is terminated while still returning an un-terminated promise to the durandal framework from my activate method.  The reason I have to do this is the promise chain doesn't really end in my activate code, it ends in the durandal framework code and the durandal framework does not call `done`.  Without

[2015-02-09 16:21] tyrsius commented on #2
I'm a bit confused. Do you just want to see the error in the console? Who is getting the rethrown error?

If you just want to see it in the console, you can drastically simplify by doing this:

[code]

[2015-02-09 18:54] jdanyow commented on #2
sorry, I'm butchering the explanation of this.  Let me take another shot at it...

The aurelia/durandal activation lifecycle interprets a rejected promise as the signal to cancel activating/deactivating or as "no" when calling canactivate/candeactivate.

Neither framework does anything with the rejection reason.  How could they?  The framework has no way to tell whether the promise was rejected du

[2015-02-09 19:51] SAAirey opened #26 "Add an API to the PipelineProvider to enable the adding of pipeline steps"
Add an API to add pipeline steps to the router's pipeline provider.

For example, an authentication step might be added as the very first step in the pipeline.

[2015-02-09 20:39] tyrsius commented on #2
So you are just trying to involve your global error handler from `activate`. That makes sense. This has been discussed a few times, but until support is added you could at least de-duplicate the bulk of your code like this

[code]

It's not ideal, but it's still much cleaner that your original code.

Also, I realized I never responded to @EisenbergEffect: yes, that was the idea.

[2015-02-09 22:19] jdanyow commented on #2
Good point, that is much cleaner.

[2015-02-12 00:34] SAAirey opened #27 "Let child routers run off empty URL fragments"
As part of implementing authentication, I was trying to have a login page that looked different to the authenticated part of the application. To do this I set up a default route that went to a layout page which then had a child router that contained the other routes; for example, 'dashboard', 'orders', 'returns' etc.

In my main router configuration I had a default route and a login route:

[code]

[2015-02-12 00:38] lan3jur commented on #27
I can relate to this.. My landing pages usually look totally different to the rest of my site ..

[2015-02-12 18:12] Alxandr opened #28 "Add `redirect` support to the router"
Allow the router to recognize `redirect` keys in routes, and perform the redirect action.

Example:

[code]

This would make the empty route `''` actually redirect to `#/blog` (with path changes). This could be added quite early to the router pipeline, to reduce the overhead of having to go through the entire pipeline.

[2015-02-12 22:15] EisenbergEffect commented on #2
Perhaps someone wants to submit a pull request to add this....

[2015-02-12 22:16] EisenbergEffect commented on #9
Closing this for now, as it's a bit too generic.

[2015-02-12 22:16] #9 closed

[2015-02-12 22:49] Alxandr commented on #26
I've implemented a proposal of this over at https://github.com/Alxandr/router/tree/feature-route-filters.

Sample usage:

[code]

Here, the `AuthorizeStep` is added to the pipeline, at a named point (namely `authorize`). These named points can be seen here: https://github.com/Alxandr/router/blob/feature-route-filters/src/pipeline-provider.js#L22,L24

These named "filters" (as I've chose to call th

[2015-02-13 02:06] EisenbergEffect commented on #26
I'd really be interested to have this as part of the config api, so you could do something like this:

[code]

[2015-02-13 03:53] EisenbergEffect commented on #28
Added in master. Going out in next release.

[2015-02-13 03:53] #28 closed

[2015-02-13 03:54] EisenbergEffect commented on #27
So the logic would be that if we find no match for routes...then look for an empty route, load that if present and see if it has a child router that matches the next segment?

[2015-02-13 08:21] Alxandr commented on #26
That's definitely doable, I just think it's kind of illogical. Given that you app can have several instances of router, and if you config this at the innermost router, it's going to apply to all of them.

[2015-02-13 14:36] EisenbergEffect commented on #26
We would disallow this on child routers. We could even throw if someone tries to do this. Mainly, I want to have a unified config api.

[2015-02-13 19:20] SAAirey commented on #27
Yeah, that would work.

[2015-02-15 14:42] paullryan opened #31 "Add Arbitrary Meta To a Route"
It would be great to be able to add and then access arbitrary meta such as a sub-title or icon reference without having to maintain a separate map (one that is likely to get out of sync).

[2015-02-15 17:30] zewa666 commented on #31
Hi there,

you can add any meta you wan't to the route mappings like here the `myMeta` property
[code]

and access it via the config object of the iterated route
[code]

[2015-02-15 18:41] EisenbergEffect commented on #31
There's a dedicated `settings` property you can set on a route config. This will be copied over to the nav model as well and is guaranteed not to conflict with future Aurelia apis.

[2015-02-15 18:41] #31 closed

[2015-02-15 19:59] paullryan commented on #31
Thank you both. Might be worth documenting this feature.

[2015-02-16 06:36] jaimerivera commented on #21
Was looking at the router-loader under the templating-router and the function could be changed to the following to get this functionality.  Would need to add a isSingleton property to the router config.  Just an idea.  This would cache the instruction per module id.

[code]

[2015-02-16 09:15] bsrdjan opened #32 "click.delegate from within the repeat.for loop does not find a function"
I have an array of Bootstrap Alerts and try to delegate the click event, to close the clicked Alert.

The first example below works but within the repeat.for loop, the error is triggered:

[code]
**View**

[code]

**Model**

[code]

[2015-02-16 13:08] bsrdjan commented on #32
this works

[code]

[2015-02-16 22:05] #26 closed

[2015-02-16 22:25] #32 closed

[2015-02-16 22:28] EisenbergEffect commented on #17
New capabilities for plugging into the pipeline have been added along with a friendly api. Docs are not present. Features going out in the next release, probably tomorrow.

[2015-02-16 22:28] #17 closed

[2015-02-18 01:33] EisenbergEffect commented on #2
@tyrsius Any interest in tackling this and submitting a PR?

[2015-02-18 01:53] tyrsius commented on #2
@EisenbergEffect Yes, I will try to get this done this week. I'm in the middle of buying a house though, so my after-work-coding-time is a bit restricted. It might slip into the weekend.

[2015-02-18 02:01] EisenbergEffect commented on #2
I understand. No worries. I'll assign it to you, that way I know we know who's working on it. When you get it done, just send a PR. Thanks!

[2015-02-18 02:14] #21 closed

[2015-02-18 02:16] EisenbergEffect commented on #21
Ok, I've improved the singleton metadata to allow you to specify that you want the view model to be a singleton in the root container. This should allow the router to re-use the same instance across requests. The release is coming today or tomorrow. Once it hits, please give this a try and let me know. You would need to add the metadata to your view model:

[code]

[2015-02-20 02:34] Alxandr opened #34 "Stop injecting `Router` from having side effects"
We talked about this in aurelia gitter, but injecting router should not cause side-effects. Instead configuring the router should do this. Until a router is configured, it should just delegate all method calls to it's parent.

[2015-02-20 05:32] jaimerivera commented on #21
Thank you the metadata works as expected now and the same view model instance is re-used.  I did notice two possible issues with the bindings as follows:

1.  The <select> element when bound to a simple property does not update the selection when returning to the view.  The view model property has the last selected value, however the select element displays the default.

Markup:
[code]

View model

[2015-02-24 03:10] tyrsius commented on #24
the `before-config` and/or `after-config` be raised if no configuration is provided, or should they be skipped?

[2015-02-24 04:02] EisenbergEffect commented on #24
Actually, let's leave those two events out of the new router for now. I think the events we probably need in the end are something like this:

* router:navigation:complete
* router:navigation:cancelled
* router:navigation:processing
* router:route:activating
* router:route:deactivating
* router:route:not-found

[2015-02-25 21:38] PWKad opened #36 "Ensure rejected promise message from activation failure propagates properly"
This enhancement is referenced from Durandal 2.1 issue -  https://github.com/BlueSpire/Durandal/issues/595#issuecomment-76047279

[2015-02-26 01:53] tyrsius commented on #24
I made the pull request, but these events did not make it in. They will require a lot more thought

router:route:activating
router:route:deactivating
router:route:not-found

[2015-02-26 10:28] zewa666 commented on #24
Regarding not-found what about this place? https://github.com/aurelia/router/blob/master/src/router.js#L149

[2015-02-26 14:15] EisenbergEffect commented on #24
Yes, that could be done there.

[2015-02-26 14:45] devmondo commented on #36
!!First!!
i really like ravendb docs style http://ravendb.net/docs/article-page/3.0/csharp/welcome
good parts
- you can choose a version and docs will reflect that
-the left navigation has collapsible sub topics

[2015-02-26 15:33] tyrsius commented on #24
I didnt want to make modifications to the base router, so that another implementation could avoid using events. @EisenbergEffect, when I asked you agreed that changes should be kept to the app-router.

[2015-02-26 15:36] EisenbergEffect commented on #24
That's true. It's probably the only way to raise that event though. We could detect the failed promise in the app router and if it has the correct message or starts with the correct indicator, raise the event I suppose.

[2015-02-26 15:40] tyrsius commented on #24
Yea, that should work. I will give that a try later today. PWkad had another suggestion that I will add as well, but it will be after work

[2015-02-27 01:35] #24 closed

[2015-02-27 20:19] Awaken6389 opened #38 ""Customizing the Navigation Pipeline" Documentation source code is broken."
Installed the Aurelia according to instructions, copied the code from the documentation and get

	index.js:174 Uncaught TypeError: undefined is not a function

[2015-02-27 20:20] EisenbergEffect commented on #38
I think you might have an older version of the router. Try `jspm update aurelia-router` and see if that makes a difference. Also, I'll be making sure everything is all up to date for the next release.

[2015-02-27 20:20] #38 closed

[2015-02-27 22:15] cmenke commented on #27
I'm looking to accomplish the same thing. Nesting my main application router at the second level for the sole purpose of having a login page with a different layout feels a bit workaround-ish though (to me anyways).

Wouldn't it also be possible to dynamically override / replace the current (i.e. root) view for specific routes? For example by setting an `overrideView` flag on the route config:
[co

[2015-03-05 18:33] MaluTom opened #40 "activate(...) method doesn't return query string/params for default route"
Placing the following code in the Welcome class for the aurelia-skeleton -
[code]

[2015-03-08 01:37] badunk opened #41 "Reusing view models in routes doesn't call activate"
I'm trying to reuse a view model that switches behavior based on the settings passed in router.

When navigating between the two routes that reuse the same view model, however, it does not call activate twice, so I can't get the metadata for subsequent routes.

Specifically for my use case, I'm trying to create a routable view model that takes some model from an API and allows someone to perform C

[2015-03-08 04:25] jdanyow commented on #36
dupe of https://github.com/aurelia/router/issues/2

[2015-03-09 04:39] oneillci opened #42 "Does the router support multiple 'active' views that are not in a visible view port?"
have a question regarding the router and/or the page lifecycle.

I have a current Silverlight application (using Prism) that has multiple top level modules (think tabs). Each module contains it's own region and consists of a large set of business screens (30+ screens per module). Each module has a landing page with a menu as an entry point to the screens for that module.

Using these module region

[2015-03-09 21:36] EisenbergEffect commented on #42
There is a way to do this today, by marking a view model as Singleton. Then the same instance will be used when you navigate back. Assuming all important state is stored in the VM, you will be good to go.

However, there is another approach that we hope to enable in the future. This involves cache settings on the `router-view` element. So, you could turn caching on and have it re-use view/view-mod

[2015-03-09 21:37] EisenbergEffect commented on #42
FYI We had both of these options available already in Durandal from a couple of years ago. They weren't implemented as nicely as we can do in Aurelia though.

[2015-03-13 10:20] hadrienl opened #43 "Change routes titles in activate method"
Hi,

I have a dynamic route without title, but I'd like to set the title after loading the displayed resource. So I've tried this :

In parent component's router :

[code]

And in `accounts/account` controller :

[code]

In console, `routeConfig.title` is well set, but `document.title` does not change :(

[2015-03-13 13:49] olegstepura opened #44 "Fail to use multilevel path in System.baseUrl"
Hi!

If I try to use multilevel directory in `System.baseUrl` for having my templates and `js` files being stored several levels deep from the root, I got an error in console and nothing works. With this:
[code]
and
[code]
I got an error: `Uncaught TypeError: Illegal module name "/assets/app/test"`

If I do this modification:
[code]
`/assets/app/test.js` file is loaded, but `/assets/app/test.html`

[2015-03-13 21:57] vizo opened #45 "canDeactivate() is triggered twice"
canDeactivate() is triggered twice when you navigate to another route where canActivate returns  new Redirect('...').

Is there any workaround?

[2015-03-13 22:05] vizo opened #46 "config.mapUnknownRoutes and views"
I want to use
[code]
but it is searching for '/en/main-router.html' view.

Any idea?

[2015-03-17 05:41] EisenbergEffect commented on #46
Views are relative to the view model. Try using `../main-router.html`.

[2015-03-17 05:41] #46 closed

[2015-03-17 05:42] EisenbergEffect commented on #45
Hmmm. That is an interesting problem. I'll need to think a bit about it.

[2015-03-17 05:46] EisenbergEffect commented on #44
The problem relates to an issue with Aurelia's template loader not fully leveraging system.js and its path resolution mechanism for views. We have fixed that and it will go out in the next release this week.

[2015-03-17 05:46] #44 closed

[2015-03-17 05:47] EisenbergEffect commented on #43
Use `routeConfig.navModel.title` instead.

[2015-03-17 05:47] #43 closed

[2015-03-17 06:04] EisenbergEffect commented on #41
Try this:

[code]

If you add the `determineActivationStrategy` callback, you should be able to force the activation to run.

[2015-03-17 06:04] #41 closed

[2015-03-17 06:09] #42 closed

[2015-03-18 01:22] Alxandr opened #49 "Call `setRouter` (if it exist) instead of setting `command.router` on `NavigationCommands`"
Currently, in the activation sequence of the router, if you return a `NavigationCommand` from any of the VM methods, the current router gets attached by way of `command.router = router`. This should instead be made into a optional method call, something like

[code]

[2015-03-18 01:41] Alxandr opened #50 "Router refactoring"
I named this issue rather ambiguously because it will be covering a few points that I find somewhat hard to take apart, or name properly.

Currently, when you call `router.navigate` it does all of the work, and builds a instruction that is sent through the router pipeline. The `Redirect` navigation command is a simple wrapper around this call.

I propose inverting this relationship, and renaming `

[2015-03-18 01:46] Alxandr opened #51 "Allow navigation from to be executed from the app router"
Currently, if you do `router.navigate('foo')`, it redirects you relative to that router (as it logical), but there should be some way to tell it to redirect you to `foo` relative to root. I suggest this can be done in two manners. One, with the options object passed to navigate (something like `router.navigate('foo', {useAppRouter: true})`), and `router.navigate('/foo')` where the slash at the beg

[2015-03-18 01:52] Alxandr commented on #50
Oh, and btw, `RedirectCommand` should also be added (given that it does redirect, instead of navigate). However, with this architecture it could be created really simple like this:

[code]

[2015-03-18 11:11] Alxandr commented on #50
Oh, and a point that just popped up from a user that was trying to call `navigate` from within `activate`, any call to `process` should cancel out any currently ongoing navigation commands.

[2015-03-18 12:01] vizo commented on #46
Sorry maybe i wasn't clear ... instruction.config.view is ignored no matter what is it. It always requests for "http://localhost:9000/dist/en/main-router.html "

[2015-03-18 12:23] jdanyow commented on #46
@vizo here's another thing you could try:

add a `getViewStrategy` to your view model as described [here](http://aurelia.io/docs.html#compose):

[2015-03-18 12:31] vizo commented on #46
Thanks for your help. But i want simply redirect to "locale" /en or /sl. I want to use existing view-model.

I have router config
[code]
and i want simply redirect to "locale" route:
[code]

[2015-03-19 19:35] EisenbergEffect commented on #49
Got this fixed in 1e1c4d3b0389ad3725051a4c04c2482ea595eac1

[2015-03-19 19:35] #49 closed

[2015-03-19 21:15] #34 closed

[2015-03-21 22:35] badunk commented on #41
that worked - thanks!

[2015-03-23 14:21] #51 closed

[2015-03-23 21:38] Alxandr commented on #51
As far as I can see, your commit does not deal with `navigate('/foo')` (url's starting with `/`).

[2015-03-23 21:42] EisenbergEffect commented on #51
No, I'm not changing the '/' aspect at this time. I will consider this for the future.

[2015-03-23 22:15] Alxandr commented on #51
Fair enough. I'll make a new issue for it then, so it at least get's tracked.

[2015-03-23 22:16] Alxandr opened #52 "Make navigation to urls starting with / navigate from root"
When navigating to urls that start with a `/` (like `router.navigate('/foo')`), it should navigate from the root, not the current router.

Ref #51

[2015-03-27 16:43] kristianmandrup commented on #3
Yes, we need this for sure :) Would be awesome to integrate this with net http-client using Fetch API :) to load modules over the wire asynchronously and thus enhance the app dynamically given some business rules/data, such as the user being logged in, upgraded to VIP member or navigating to specific part of the app etc.

[2015-03-29 23:18] bryanrsmith opened #54 "Consider using "URI" instead of "URL" for consistency with other projects"
This project and aurelia/templating both use the term "URL" in API properties and methods, but aurelia/http-client uses "URI". It would be great to pick one and use it consistently across all projects.

[2015-03-29 23:34] bryanrsmith opened #55 "Support navigating to named routes"
Possibly related to #4. I think it's relatively rare to actually have a URI when you need to navigate within an app, and building URIs is a pain. It would be great if the router provided a convenience method similar to `router.navigate()` that took a route name and a route params object and built the URI for you.

[code]

This would probably require a new (optional?) `name` property on configured

[2015-03-30 00:12] EisenbergEffect commented on #55
It already exists actually. It called `generate`. It takes a route name and a params object :) What we need is to build an attached behavior on top of that so we can generate routes into the html easily, based on the current scoped router. We've got an issue tracking that.

[2015-03-30 00:12] #55 closed

[2015-03-30 00:27] bryanrsmith commented on #55
Sure enough. I'm not sure how I missed that. Thanks!

[2015-03-31 12:51] zzapal opened #56 "Nested states and nested views"
This week my team and I finished big project in Durandal and see some shortcomings with router and view composition that angular's ui-router's nested states and nested views would would solve.

Angular 2 is going in wrong direction by resigning from two way databinding, so the only choice is to try to convince you to implement nested states and view like ui-router does :).

Any luck implementing t

[2015-03-31 14:26] zewa666 commented on #56
Hi there, could you provide an example that you felt was hard to achieve with the router? Maybe also just a pseudo code for how you'd do that with UI-Router? It's always easier to decide upon such things with a concrete example and use case

[2015-03-31 17:54] zzapal commented on #56
Here's example, simplified layout we have.
http://run.plnkr.co/3KND9Rcx8oUvlUwo/

On left there's normal menu which changes whole right section. In this right section we've got tabs. Each tab currently is separate durandal widget. In each tab there's some data organized in separate panels which can be edited.

Each panel has it's own edit lifecycle - when you click Edit it's layout changes to a fo

[2015-03-31 18:02] teejdotme commented on #55
Sorry to comment on a closed issue, but I've run into confusion around this same topic.  I did find the generate function some time ago, but it seems that it will never produce a URI.  The route recognizer always has a names object with no properties, so every call to generate results in an exception.  I've tried checking the recognizer for every parent up the chain (I have a number of child route

[2015-04-02 04:45] bryanrsmith commented on #55
Actually, I can't get it working either. `RouteRecognizer.add(routes, options)` [looks for `options.as`](https://github.com/aurelia/route-recognizer/blob/master/src/index.js#L366), but the router doesn't seem to ever include that parameter. It looks like the router [ensures each route does have a name](https://github.com/aurelia/router/blob/master/src/router-configuration.js#L100), but from what I

[2015-04-02 15:55] bryanrsmith commented on #55
@EisenbergEffect Great, thanks. I'll try to dig in to it tonight or this weekend.

[2015-04-02 16:40] teejdotme commented on #55
Thanks guys for looking into this!

[2015-04-06 19:59] bryanrsmith opened #59 "router.navigation includes invalid hrefs when using nav:true on a dynamic route"
If you fail to specify an `href` on a route using `nav: true`, the default is to [copy the route pattern](https://github.com/aurelia/router/blob/master/src/router.js#L219-L222), which may include dynamic segments. This will result in invalid hrefs being included in navigation links.

Eg, changing [this skeleton-navigation route](https://github.com/aurelia/skeleton-navigation/blob/master/src/app.js

[2015-04-06 20:14] EisenbergEffect commented on #59
I like the idea of throwing an error if there's no href on a dynamic router marked with nav:true. What do you think? Want to work on it. Your work has been fantastic so far :)

[2015-04-07 02:19] bryanrsmith commented on #59
I agree, and should be able to take care of this tonight. I think stricter validation with helpful errors is better than potentially surprising behavior. What's the reason for allowing a navigation href to differ from the route path? Shouldn't they always be static, and always be the same?

Thank you for the compliment. I've found the codebase very approachable and well-organized :-)

[2015-04-07 04:09] Zoltu opened #60 "authorize pipeline step should occur before instantiating the view."
As a developer, I would like certain parts of my application to be able to make assumptions about authentication and let the navigation pipeline deal with ensuring authentication.  In order to do that however, the `authorize` pipeline event must evaluate before instantiating the view, otherwise it is possible for my views to be instantiated for unathorized users.

This problem is compounded by the

[2015-04-07 13:06] #59 closed

[2015-04-07 16:39] bryanrsmith commented on #52
I agree. I think this relates to a few issues with paths in `navigate` and `generate` right now. Fragments returned by `generate` should always do what you expect when you pass them directly to `navigate` on the same router, but I don't think that's the case now.

1. `generate` currently always returns paths that start with a slash, even when the router that generated them is a child and the path

[2015-04-07 18:49] EisenbergEffect commented on #52
@bryanrsmith I didn't have time to consider all the implications during the last release. That's main reason I didn't include that fix. You are doing great work to improve this aspect of the router. I'd be happy to take a PR to improve all this if you want to put together a final recommendation for me to review.

[2015-04-07 19:04] bryanrsmith commented on #52
@EisenbergEffect Perfect. I'll work on a PR. Quick heads up, though-- my wife and I are expecting our first baby any day now. If I suddenly disappear for a few days or a week it's not because I'm abandoning the work :-)

[2015-04-07 19:25] EisenbergEffect commented on #52
Congratulations! That's awesome.

[2015-04-09 22:13] gilazo opened #62 "Child Route Throws Route Not Found"
I'm trying to create a child route in a PoC app that I'm building for my company.  I have parent routes setup in the app.js file:

[code]

The accounts view model contains a router that maps a child route.
[code]
This is my first go at creating a nested view using aurelia, but the way I understand it is that since the 'vehicles' route is setup inside the accounts view model then the vehicles view

[2015-04-11 03:45] Zoltu opened #63 "redirect route doesn't work."
In the previous version of Aurelia I was able to do
[code]
After updating, that not only doesn't redirect, but it causes my router to fail to initialize, taking down my entire application.
[code]

[code]

[2015-04-11 04:13] EisenbergEffect commented on #63
Got it. Going out in the next release.

[2015-04-11 04:13] #63 closed

[2015-04-12 23:54] Zoltu commented on #60
After some further discussion on gitter and viewing https://github.com/aurelia/router/blob/master/src/pipeline-provider.js, I believe that `createRouteFilterStep('authorize'),` should be moved up above `LoadRouteStep,` in the pipeline.

[2015-04-12 23:56] EisenbergEffect commented on #60
It cannot be moved up because all the instances that might need to be authorized would not have been created then.

[2015-04-12 23:56] #60 closed

[2015-04-12 23:57] EisenbergEffect commented on #60
Bare in mind that only the view-model's constructor is called. Nothing else happens. The view itself is only created if the route can be fully activated.

[2015-04-13 00:08] Zoltu commented on #60
That was the entire point.  The authorization code shouldn't be depending on the thing that needs to be authorized and constructing the VM before authorizing is very counter-intuitive.  It means you are creating a VM that will never be accessed, just constructed and thrown away due to the authentication system saying, "No, it is not okay to create that view at this time, the user is not authentica

[2015-04-13 00:10] EisenbergEffect commented on #60
You can add a step earlier in the pipeline and do whatever you want whenever. Part of the design is so that you can do that if you need or want to.

[2015-04-13 00:18] Zoltu commented on #60
Yeah, I won't push back too hard on this issue because of that extensibility.  However, I still question the value of having `authorize` occur after VM construction.  I struggle to come up with a compelling story where the user would benefit from this and as it stands now is counter-intuitive.

Speaking from experience, this cost me about an hour of troubleshooting to realize what was happening (V

[2015-04-13 01:21] Zoltu opened #64 "Discussion: Correct time in the pipeline to construct a ViewModel."
From a "principle of least surprise" point of view, I believe that the navigation current pipeline is more confusing than it should be.

**Note:** The current system works.  Someone who already understands it is able to do whatever they want as long as they are careful and remember the pipeline ordering.  This discussion is purely about user expectations and making the API easy to understand and d

[2015-04-14 21:48] amitaibu commented on #56
named views is indeed a needed feature when dealing for example with dashboard pages. Here's [some explanation](https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views) from Angular's UI router

[2015-04-15 01:03] EisenbergEffect commented on #56
@amitaibu We call these "siblings" and I'm happy to say that it's already been supported since we first announced Aurelia :) (It just hasn't been documented.) For your route config, instead of having a moduleId, you add a viewPorts property. That is an object that maps keys to route configuration. Something like this:

[code]

Then, in your view, you need multiple `router-view`s. Name each one the

[2015-04-15 07:46] amitaibu commented on #56
:+1:

@EisenbergEffect should I create a PR to add this info to this repo's readme?

[2015-04-15 12:52] Magrangs opened #65 "An easier way to hide and show nav items using the router"
I have my main routes in app.js and I wanted a way to hide and show these from the nav based on certain criteria that would change over time (an example of this could be a login/register route which shows in the nav when logged in, but then not shown when you are logged in). When setting up the routes it would be great if the value of nav: boolean could be computed from a function - which is more

[2015-04-15 13:04] EisenbergEffect commented on #56
@amitaibu If you would like, send a PR to the documentation repo and add a section there to the documentation on the router.

[2015-04-15 18:00] milunka opened #66 "Two redirects in router and child router"
I saw strange behaviour of aurelia router when i was using router with one child router and both of them use redirect parameter in router configuration. I have prepared forked repository of skeleton-navigation repository where my problem is implemented:
https://github.com/milunka/redirect-problem

For quick review, this is what i am talking about:
**app.js** - this viewmodel has defined only one r

[2015-04-16 12:09] Magrangs commented on #65
I think this can be done with a step in the navigation pipeline. So probably no need for this now.

[2015-04-17 16:22] jonaskello commented on #64
I think this is an interesting discussion. I was also confused about the order things run in, but I think better docs would solve a lot. (I am not using Aurelia actively at this time since my current main project is done in Dart. But I am implementing our own Router in Dart that emulates Aurelia's so it will be easier to switch to ES6/Aurelia at some point in the future if we want).

I don't think

[2015-04-17 17:47] Zoltu commented on #64
Hmm, I wasn't aware that you could re-use a VM, I assumed that they were always freshly constructed.  This definitely throws a wrench in what I was going for.

Personally, I really dislike having objects that can be in an invalid state, such as constructed before authenticating or being re-used after deactivation.  I prefer my objects to either be in a fully valid state or not exist.  My intent wa

[2015-04-17 17:59] EisenbergEffect commented on #64
@Zoltu You misunderstand VM re-use. Re-use happens when a route change occurs that matches the existing module but with different input parameters. There is no invalid state. It just gets pushed through the navigation lifecycle. So, first it is deactivated and if that is successful, it is re-activated with the new data. This is a HUGE deal when it comes to performance.

These instances aren't cach

[2015-04-17 18:16] Zoltu commented on #64
@EisenbergEffect What happens to the injected router in that case?  When I use the DI system to inject a router into my VM, and then a route change occurs that results in the same VM, if the constructor isn't re-run doesn't that mean that my dependency injected router is the one from the original route, not the one from the current route?  Or do both routes have the same router and the router just

[2015-04-17 18:22] bryanrsmith commented on #54
@EisenbergEffect What do you think about this? I can rename things if we pick one. I think most Aurelia projects are using "URL", but HttpClient uses "URI". The inconsistency is bothering me ;-)

[2015-04-17 18:33] Zoltu commented on #64
It sounds like I need to rethink how I was planning on using VMs.  Given the scenario described by @EisenbergEffect, the VM can be re-used to display different data.  If I understand correctly, if I navigate to `/user?name=Bob` and then from there I navigate to `/user?name=Jane`, the VM would be re-used and therefore the constructor will not be called again.  I will receive a new activate however

[2015-04-17 18:47] bryanrsmith opened #68 "Support lazy document.title updates"
I often want to update the document.title after navigation when data loads in a VM. For example, if I have a blog app with route `posts/:id` that routes to a `Posts` view model, I'll want to fetch the post from the server, and the update the document title with the post's title. It looks like right now the document title is calculated and committed in `NavigationContext.CommitChangesStep`. It woul

[2015-04-17 19:46] EisenbergEffect commented on #64
@Zoltu You would use `REPLACE` to tell the router that your entire VM should be replaced with a new instance.

Also, again, we can't not instantiate the view model because then we won't know if there's a child router or not. That child router could map to a view model that has a canActivate which should be accounted for in the navigation.

[2015-04-17 19:47] EisenbergEffect commented on #54
It would be nice to be consistent. Do you have a list of the places where URL is used in stead of URI?

[2015-04-17 19:48] EisenbergEffect commented on #68
You can do this today by using the navModel. Have a look in the app-contacts sample. You will see in the contact-detail screen's activate how exactly what you describe is done.

[2015-04-17 19:51] bryanrsmith commented on #68
Nice! Thanks for the pointer.

[2015-04-17 19:51] #68 closed

[2015-04-17 20:03] bryanrsmith commented on #54
http-client is the only project using "URI". browser-history, loader, loader-default, path (private variables only), router, and templating all use "URL". Most of these projects only use it in a couple identifier names for public properties or method parameters. router has quite a few, though.

[2015-04-17 20:23] jonaskello commented on #64
@Zoltu I get your point about not being in an invalid state. But I also think that depends on which states you can consider your VM to have. I come from many years of using Caliburn.Micro, and it has a similar life-cyctle only it has both Initialize and Activate. So I am used to considering my VM to be in "uninitialized" state when first constructed. If you think of a VM as a state machine, you ca

[2015-04-18 03:55] boogunote opened #69 "Set 'routeConfig.navModel.title' cannot change title except in canActivate();"
`routeConfig.navModel.title` only can be set in canActivate(). Hope it can be changed in other place.

[2015-04-20 04:19] mbroadst opened #71 "generating a sitemap with the router"
Hey,
I'm trying to create a sidebar with routes grouped under categories and couldn't find an immediate way to do so. The sidebar would look like:

[code]

When I asked this on gitter someone mentioned using nested routers, but it seems as if router.childRecognizer isn't populated until the actual route is activated. There seems to be two logical ways to represent this:

   * nested routers
   * a

[2015-04-20 16:12] jdanyow commented on #71
@mbroadst can this be closed?  Sounded like you came up with a nice solution using the settings property and some converters.  :point_up: [April 20 2015 10:02 AM](https://gitter.im/Aurelia/Discuss?at=553506e90e3138bb6be89b82)

[2015-04-20 16:14] mbroadst commented on #71
@jdanyow yeah we can, unless you want to keep this here for reference for potentially enhancing the routers configuration to handle this kind of scenario without valueConverters

[2015-04-21 11:28] amitaibu commented on #56
Will do, thanks.

[2015-04-21 19:26] #52 closed

[2015-04-21 20:04] jaimerivera opened #72 "Default viewModel with child router breaks child routes"
This issue happens when the default route for the main router is a view model which has a child router.
When the default view model is loaded the default route on the child router loads.  However, any other routes will not load.  This can be tested by swapping the welcome and child routes in the aurelia-skeleton to set the child routes as the default.  Then clicking on the child route for flikr wi

[2015-04-22 05:06] #4 closed

[2015-04-22 05:42] EisenbergEffect commented on #71
@mbroadst Do you have a blog or could I convince you to write a short article about what you did? I think the community would find it interesting.

[2015-04-22 05:42] #71 closed

[2015-04-22 10:46] mbroadst commented on #71
@EisenbergEffect sure give me a couple hours. In the meantime, while this solution works for my needs today I still think it's worth discussing alternatives to this approach. I see a couple potential alternatives off the top of my head:

  * ```nav: true``` is already specified to include a route in some sort of navigation building logic, shouldn't it be able to build hierarchical models?

  * The

[2015-04-25 05:35] bryanrsmith commented on #69
I'm able to set it in both `canActivate()` and `activate()`, as long as the change happens before the router commits. That is, if you set `routeConfig.navModel.title` asynchronously, you must return the promise from `activate` so the router knows to wait for your change.

@boogunote Where is it you're hoping to set `routeConfig.navModel.title`? Can you post the code that'd like to work?

@Eisenber

[2015-04-25 05:47] EisenbergEffect commented on #69
@bryanrsmith I definitely think we should fix this. I haven't looked into it to see how much work it would be. If you want to investigate further, let me know what you think would be a reasonable solution.

[2015-04-25 05:55] bryanrsmith commented on #62
Your href binding doesn't look quite right. If you use `.bind` then you'll need an expression that returns the value you want. Eg, `href.bind="'vehicles/' + account.Id"`. You can also skip `.bind`, and use string interpolation instead, like `href="vehicles/${account.Id}"`.

[2015-04-25 16:51] bryanrsmith commented on #72
This is a slightly different manifestation of #27. The problem is that giving the child a path of `""` gives it an empty path prefix that sort of overlaps with the parent router, so there's no good way to know that the match needs to descend into the child. Maybe we can continue the discussion in #27 to try to reach a good solution.

[2015-04-25 16:53] EisenbergEffect commented on #27
So, perhaps what we need to do is this:

* process the route matching like normal on the parent router
* if a no match is found, check to see if there is an empty route
* if there is an empty route, select that route and assume there's a child router that will match

Maybe something along those lines?

[2015-04-25 18:08] bryanrsmith commented on #2
Is there any remaining work to be done on this? It appears the nav failure event has since made it into the router, along with other navigation events. Do we still want to add support for an `activationFailed ` callback on the VM?

[2015-04-25 19:26] EisenbergEffect commented on #2
I would like to avoid adding any additional callbacks to the vm, if we can. I'm not sure if anything else needs to be done. @jdanyow You originally opened this issue. Are we good or do we need something else?

[2015-04-25 19:59] #54 closed

[2015-04-25 20:04] bryanrsmith commented on #27
I think that sounds good. There might still be some weirdness if child routes overlap parent routes, like in the skeleton where it recursively registers child routers. In that case we'll always match the parent's route. It seems like a reasonable limitation. We might be able to reduce that case by adding special handling for child routes that specify alternate non-empty paths. Eg, `{ route: ['', '

[2015-04-25 20:09] EisenbergEffect commented on #27
@bryanrsmith Can you look into that and see what would be involved and estimate how long it might take to do?

[2015-04-25 20:10] bryanrsmith commented on #27
Yep.

[2015-04-25 20:23] jaimerivera commented on #27
Would the functionality be recursive.  That is if there are three levels of child routers with default routes will it work?

I had also thought of the possibility of the framework automatically assigning a route fragment to routes contained in child routers.  This would be much like the existing fragment which gets added to routes where the child router is not the default.

[2015-04-25 23:25] CharlesPockert opened #73 "Unconfigured child-router breaks navigation if named `router`"
Here's a strange one - so I injected a grandchild `Router` instance into a VM but didn't configure it - I wanted it just so I could call `router.navigate("childroute")` on it without needing to pass a router down from parent -> view - but it didn't work.

Debugging it looks like in `navigation-plan.js` the plan is built for the child router even though it's not configured. This results in a route

[2015-04-26 01:07] EisenbergEffect commented on #73
We are changing the way the router is configured in the next release, coming early this week. That should fix this issue.

[2015-04-26 01:07] #73 closed

[2015-04-26 01:08] CharlesPockert commented on #73
Ah great can't wait! :)

[2015-04-26 05:39] bryanrsmith commented on #27
Yes, I would think so. We'll just need to make sure we don't infinitely match against child routes for cases like the skeleton that recursively register child routers using the same module.

[2015-04-26 16:18] jdanyow commented on #2
the router event covers my use-case, from my perspective this can be closed.

[2015-04-26 19:43] bryanrsmith opened #74 "API suggestion: merge params and queryString objects in activate and canActivate"
[code]

I don't think there's any advantage to separating route params from query string params here. The view model classes generally aren't aware of the exact route pattern anyway, so I think it'd be better to hide that detail and simply provide a params object containing all route and query parameters. This is similar to how `router.generate()` now accepts a single params object and maps proper

[2015-04-26 19:55] EisenbergEffect commented on #74
Let's do it. I like that idea. Any notion of when you might have that ready? I'd like to do a release soon and want to try to stabilize the router's public usage scenarios soon if we can. Let me know.

[2015-04-26 20:01] EisenbergEffect commented on #2
Ok. Closing it out then.

[2015-04-26 20:01] #2 closed

[2015-04-26 20:05] bryanrsmith commented on #74
I can get it done today, though I'm also going to propose a change to `navModel` for #69 that would also affect the signature of these methods, and would take me longer. I'll do my best to prioritize the API change work.

[2015-04-26 20:10] bryanrsmith commented on #69
In the current implementation the navModel is a plain object property of the route configuration. We're allowing view models to mutate the config.navModel, and then reading that data in the final step of the navigation pipeline.

I propose separating the navModel from the route config. Other parts of the router use it to store state, such as `isActive`, which I think makes it more than just a "con

[2015-04-26 20:12] bryanrsmith commented on #69
On second thought, perhaps `canActivate` should not receive the navModel at all. We should probably wait until we've decided to activate before making changes like setting the title.

[2015-04-26 21:15] EisenbergEffect commented on #69
Correct, we don't want anyone changing the title until the activate phase. One trick to bear in mind is that the title property is designed to be databound to and if we make it into a getter/setter then we can't bind to it without dirty checking it, so we need to avoid that somehow... If we can keep the title a simple property, that would be best. We might need some additional api that could updat

[2015-04-26 21:51] bryanrsmith commented on #69
Right, I forgot about the data binding. Maybe a title property for binding and a setTitle method that sets it & then handles the document.title change?

I wouldn't expect it to take more than an hour or two. I might be able to make the API change quickly if I can't find the time for the full fix tonight.

[2015-04-26 21:55] EisenbergEffect commented on #69
Yes, I think that would be the way to go. We can do the release on Tuesday if you want some extra time to get this in. I can easily s

[2015-04-27 19:15] #74 closed

[2015-04-27 20:04] bryanrsmith commented on #69
I looked closer at this last night. Splitting navModel from config will take a bit more work than I originally estimated. The config object is what gets passed around as the main route representation, including in the route recognizer, so I think we'd need to change the internal representation of a route to make navModel a sibling of the config. I don't think I can confidently get that done by tom

[2015-04-27 20:12] EisenbergEffect commented on #69
Ok, I think I agree with you. Let's go with 3 and we can work on renaming things in code and docs to support the idea. How does that sound? Thoughts on when this might be ready? No rush. I'd like to know if I should wait on the release or go ahead and do it tomorrow.

[2015-04-27 20:44] EisenbergEffect commented on #50
@bryanrsmith After the current set of changes you are working on, I'd like to look again at this issue and see if this would be advantageous and what the level of effort would be.

[2015-04-28 03:07] PWKad opened #77 "viewPorts appears to have a bug in latest release"
Using the following does not appear to work anymore -

[code]

[code]

as it throws an error for config missing an moduleId property here - https://github.com/aurelia/router/blob/master/src/router.js#L278

Tried also using a default route and router-view no luck.

[2015-04-28 03:09] EisenbergEffect commented on #77
Already fixed in master. Going out in next release.

[2015-04-28 03:09] #77 closed

[2015-04-28 03:32] bryanrsmith commented on #72
Closing as duplicate of #27.

[2015-04-28 03:32] #72 closed

[2015-04-28 19:18] EisenbergEffect commented on #3
This is implemented in master and going out in the next release.

[2015-04-28 19:18] #3 closed

[2015-04-28 19:19] EisenbergEffect commented on #36
This issue has been addresses via the duplicate.

[2015-04-28 19:19] #36 closed

[2015-04-28 19:25] EisenbergEffect commented on #56
Closing since this isn't an issue.

[2015-04-28 19:25] #56 closed

[2015-04-28 19:26] EisenbergEffect commented on #62
Closing this since it was an incorrect binding expression.

[2015-04-28 19:26] #62 closed

[2015-04-28 19:27] EisenbergEffect commented on #64
Closing this since changing the lifecycle in tis way would not work with child routers.

[2015-04-28 19:27] #64 closed

[2015-04-30 05:24] stoffeastrom opened #80 "Make the handleLinkClick event listener configurable"
https://github.com/aurelia/router/blob/master/src/app-router.js#L15

This will have a 300 ms delay on touch devices. Would be nice to opt-in a function that could do it's own setup for handleLinkClick. Thoughts?

[2015-04-30 05:26] stoffeastrom commented on #80
I guess you could inherit from AppRouter and override this behavior so maybe it's already configurable!

[2015-05-02 00:23] bryanrsmith commented on #80
Sounds reasonable. It should be trivial to add a configurable `isLinkNavigationEnabled`, property and reorganize the current implementation to make the navigation logic available to an external consumer.

[2015-05-04 13:47] amagdas opened #82 "Redirect example"
Hi,
It would be really useful to have in the documentation and in one of the sample apps an example of how redirects are done, it's quite hard to figure it out ATM how to do it using the latest skeleton-app.
I'm not sure how to get a reference to the app router from a different module/page/

[2015-05-04 13:49] EisenbergEffect commented on #82
Can you provide some more concrete information for how you would like to do this? One way is to return a Redirect command from the canActivate callback of your view-model. Another way is to add a redirect property to your route config. Also, you can alway call the navigate api on a router instance. To get a Router for navigation purposes, you can have one injected into the constructor of your view

[2015-05-04 13:59] amagdas commented on #82
Thanks for the quick reply,
Before upgrading to the latest version of the libs, I used DI to get the router but in the last code drop this was removed from the docs/sample app, this made me think that maybe this is discouraged/not a good practice in the future.
It looks like option 2 or 3 should do the trick, I want to implement a basic Login scenario with a redirect after it succeeds.
I think hav

[2015-05-04 14:16] EisenbergEffect commented on #82
Understood. We are working towards getting more extensive documentation in place. Thank you!

[2015-05-04 14:16] #82 closed

[2015-05-05 01:04] bryanrsmith opened #83 "Support optional route segments"

[2015-05-05 01:09] bryanrsmith opened #84 "Detect and avoid infinite redirects"
Reported via Gitter at https://gitter.im/Aurelia/Discuss?at=5547f7af00544af36bdf8b8f

If a route redirects to a second route, which fails to activate, the router navigates back to the original, entering an infinite redirect loop.

Probably low-priority, but would be good to detect and log a helpful error.

[2015-05-05 01:13] bryanrsmith opened #85 "Ensure errors in pipeline steps are handled"
Reported via Gitter at https://gitter.im/Aurelia/Discuss?at=5547f07e26b588274527ad46

We should ensure that errors in pipeline steps are well-handled.

[2015-05-05 03:03] jedd-ahyoung commented on #83
Mentioned this in the Aurelia gitter. For what it's worth, at the moment, you can pass an array of routes, like the following:

	configureRouter(config, router){
		config.title = 'Courses';
		config.map([
			// { route: '', moduleId: ''}
			{ route: '', moduleId: 'no-selection', title: 'Select'},
			{ route: ['courses', 'courses/:id'],  moduleId: 'course-detail' }
		]);

		this.router = router;

[2015-05-06 00:59] cehoffman opened #86 "router-view and useShadowDOM"
When using elements with useShadowDOM with the router they do not have a shadow root created. I'm unsure of which component is at fault here, but since it happens in conjunction with the router I thought this might be the right place.

Also I noticed that the top level app, when used with aurelia-bootstrapper at least, does not get a shadow root either. Should I open an issue with aurelia-bootstra

[2015-05-06 01:02] EisenbergEffect commented on #86
Generally speaking, it's not a good idea to put your app inside of a shadow root. Also, you don't want to put "screens" inside of a shadow root either usually. It's something that should be reserved for controls/widgets. Bear in mind that this only really works on Chrome at this point. That said, we can look at improving this in a future iteration.

[2015-05-06 01:11] cehoffman commented on #86
Is this true for child routers too? I want to make use of the strong encapsulation of components and css and I can understand the top level app not getting a shadow root with a router but any children should.

I'm currently trying to test, but I haven't gotten the child router to route yet.

[2015-05-06 01:13] EisenbergEffect commented on #86
The router doesn't currently support shadow dom on the screens that it activates. We can look at enabling that for sure.

[2015-05-06 01:14] cehoffman commented on #86
Ah I see what you were talking about screens now. Ok good to know. I'll look at compose to see if it does uses the shadow dom on the elements it creates. You can close this issue or keep it open to track.

[2015-05-06 01:17] EisenbergEffect commented on #86
Compose works the same way. Dynamically created UI doesn't use shadow dom currently. We can make both work, if you want to create an issue for that. Create it on the templating-resources repo.

[2015-05-06 01:17] #86 closed

[2015-05-07 21:34] davidpeden3 opened #88 "Support scheme, host, and port in route generation"
It would be great to be able to pass a configuration object to `router.generate` that would enable fully qualified URIs to be rendered. As it is now, you only get a relative path (which is fine by default).

[2015-05-08 03:45] bryanrsmith opened #89 "Router.generate should support routes registered with sibling routers"
Currently `router.generate()` will search for named routes registered with the current router, or an ancestor router. Consider a StackOverflow-style site with a `Questions` VM that configures a child router with 'list', 'search', and 'details' routes, and a `Users` VM that configures a child router with 'list', 'search', and 'profile' routes. The question details page will need to link to the user

[2015-05-08 04:23] bryanrsmith opened #90 "Support eagerly configuring child routers"
Lazily configuring child routers has a couple downsides:

1. We can't support hierarchical nav menus because the application's route structure isn't known until all child routes are activated.
2. We can't support generating URLs for routes in "sibling" routers for the same reason.

If we let child routers be eagerly configured we could implement features that require knowledge of the whole apps ro

[2015-05-08 04:25] bryanrsmith commented on #89
What if we supported route namespaces, so that from the `Questions` VM, I could `router.generate('users.details', { id: '123' })`. This would activate the 'users' module if it hasn't been configured yet, and then look for the 'details' route under that child router.

[2015-05-08 15:07] #85 closed

[2015-05-08 16:15] davidpeden3 opened #92 "Bug (regression): Redirects do not respect absolute paths"
[code]

produces the following URI:

`http://localhost:9000/http://www.google.com`

[2015-05-08 20:24] #92 closed

[2015-05-09 05:34] EisenbergEffect commented on #40
@bryanrsmith Assigning this to you to look at after you finish up your current tasks.

[2015-05-09 17:54] bryanrsmith opened #94 "Prefer stricter validation of route configs over guessing omitted values"
[code]

Currently *all* properties of a route config are considered optional.
* If `name` is omitted, it is derived from the title, route pattern, or module ID.
* If `route` is omitted, it is derived from module ID, or name.
* If `moduleId` is omitted, it is derived from the route pattern.
* If `title` is omitted, it is derived from the name (which may have been derived itself).

I think that deri

[2015-05-09 19:07] EisenbergEffect commented on #94
I agree. That's a hold over from Durandal. It's not much work to configure the route maps, so I think that we should make this more explicit.

[2015-05-09 20:01] Zoltu opened #95 "Split query string parameters and route parameters."
The inverse of #74.

Unfortunately, I didn't know about #74 when it was being discussed else I would have mentioned this over there.  The problem with merging query string and route parameters is that query string parameters may include user input.  In particular, my user provides me with a set of key/value pairs that I want to encode in the query string (so they can easily link back to the curren

[2015-05-09 20:16] bryanrsmith commented on #95
Good point. Currently if there is a name collision the value from the route params will be chosen over the value from the query string.

`activate()` is passed a third parameter that is the navigation instruction, and the original separate objects are available on that. You should be able to use that to read your user input without fear of a collision. I think the merge simplifies the common case,

[2015-05-09 20:36] EisenbergEffect commented on #95
I agree, the merge is the common use case, but you can always get the other pieces from the navigation instruction.

[2015-05-09 20:36] #95 closed

[2015-05-10 13:50] #69 closed

[2015-05-11 00:11] bryanrsmith commented on #84
Note that this can also happen if the first route to be activated fails.

[2015-05-11 03:26] #94 closed

[2015-05-12 15:05] bfil commented on #60
@EisenbergEffect I came across this issue today after adding an `authorize` step.

I can see a `router:navigation:complete` event triggered for the view that is not supposed to be reached, and a subsequent one for a login view for instance (this also causes layout flickering in my app because of the double navigation complete event raised).

You said it's possible to add a step earlier on the pipe

[2015-05-12 15:51] davidpeden3 commented on #60
This is the [feature](https://github.com/aurelia/router/pull/30) that was added and here is the corresponding [documentation](https://github.com/aurelia/documentation/commit/6722bd9b95f66e22087c0a55349a3a75ddc98d9a).

What is unclear is if you can actually add your own custom steps at any arbitrary point in the pipeline, rather than piggybacking on existing steps as documented above. I also found

[2015-05-12 17:46] bfil commented on #60
Thanks for the info @davidpeden3

The manual pipeline crafting does not look like a great approach though.

I'm trying to see if I can achieve my end goal with a base view and a canActivate() method on it instead for views that need authentication.

It would be good to know if any effort will be put to improve this API, I agree with @Zoltu, the way it behaves now feels very counter-intuitive. Espe

[2015-05-12 21:08] bfil commented on #60
To help anyone else trying to add a step to the pipeline at a different position, here's an example that is working for me (adds the authentication step after the LoadRouteStep and before the authorize):

[code]

The `router:navigation:complete` is still raised for the view even if the step is executed before everything else in the pipeline and the next instruction is cancelled with a redirect, mi

[2015-05-12 21:41] bfil commented on #60
I've opened pull request https://github.com/aurelia/router/pull/97 to solve the issue with the wrong navigation event being raised.

This actually solves my original problem, using the standard `addPipelineStep` results in no flickering (that was caused by some of my logic in handling the navigation complete event to recreate the layout based on the view)

[2015-05-13 21:20] davidpeden3 opened #98 "Please consider attaching the Router to the NavigationInstruction passed into Activate()"
See [here](https://gitter.im/Aurelia/Discuss?at=5553bb6999ddd5552722d941) for reference. Alternatively, pass the `Router` as a 4th parameter.

The use case is to navigate to another view in `activate()` if the result of an api call returns an error status code (e.g., 401/403/500).

[2015-05-13 21:24] davidpeden3 commented on #98
After looking at the API that `Router` exposes, it looks like it would be cleaner/better API design to proxy only the `navigate*()` and `generate` methods. Having an actual instance of `Router` would not be appropriate in `activate()`.

[2015-05-13 21:30] davidpeden3 commented on #98
And diving a bit deeper, it looks like an instance of a [`NavigationContext`](https://github.com/aurelia/router/blob/master/src/navigation-context.js#L4-L9) would be perfect instead of the existing `NavigationInstruction`.

[2015-05-15 04:48] bryanrsmith commented on #98
`NavigationContext` has internal data and functionality that I don't think should be exposed outside of the router.

If you return a `Promise` from activate that rejects with a navigation command, the current navigation will be cancelled and the command will be executed.

[code]

I do think we can make this a little easier to use -- maybe as part of #50. I also agree that passing a router to `acti

[2015-05-15 04:52] bryanrsmith commented on #98
Also, if you don't want the actual router instance until you know you need it, you can use the `Lazy` resolver. http://aurelia.io/docs.html#dependency-injection

[2015-05-15 17:34] cmichaelgraham opened #99 "navigating to default route in child router navigates to default route in parent"
possible router bug?  i have a child router who's first route is "".  the child router belongs to a non-default route in the app router.  when i try to navigate the child router to its default route, the app navigates to the default route in the app router

[code]

[2015-05-16 05:06] #98 closed

[2015-05-19 19:17] olanod commented on #84
:+1: maybe add some event or callback when the route fails to activate.
I have a route, lets' say it's called `list` and a redirection from `''` to `'list'`. the list veiw model loads some data in the activate method returning a promise but when the promise is rejected it enters the infinte loop. I should be able to do somthing when the promise is rejected like redirecting somewhere else.
Redirect

[2015-05-21 17:14] Aaike commented on #83
:+1:
The optional segments would really help with the i18n plugin. it's the last thing we need to finish it.
what i would like to do is prefix a segment to every route so i would get
`en/route` or `de/route` depending on the current language of the i18n plugin.

[2015-05-21 17:26] #99 closed

[2015-05-22 07:28] bykof opened #102 "Unrecognized routing"
Hey,
I don't know if this is a bug or rather my stupidness.

This is my link in my template:
[code]

And here my router config:
[code]

Everytime I try to access the link the js console prints:
[code]

[2015-05-22 09:01] bykof commented on #102
Ok I figured it out. The problem was the data-target attribute in the link.
So with this configuration it worked:

[code]

[2015-05-22 09:01] #102 closed

[2015-05-23 09:30] bastienJS opened #103 "Redirect configs in child routers don't work"
The router does not write the "Welcome" into the URL.

The angularjs router has the same "design flaw".

Can this be fixed?

My expectation is to get a correct URL for default routes. Also for the initial root route.

![image](https://cloud.githubusercontent.com/assets/5945955/7783318/cf42f1c6-013e-11e5-8213-2772c67001fd.png)

[2015-05-23 09:37] bastienJS opened #104 "Support view-property like in the angular ui router module"
I haven`t found any information how to do that in aurelia.

if you regard that image you see that only when welcome-state is active the navbar has other elements visible.

The other elements does not need to be in the root navbar. They could also be put at the bottom or somewhere... Therefore I want to define for a certain state to render multiple html files at different positions of the screen.

[2015-05-23 11:05] tomasbonco commented on #104
Based on [Gitter discussion](https://gitter.im/Aurelia/Discuss?at=55605db1c13de0840ffc2e1d) this is propose to name `route-view`:
[code]

Then router might like like this (I guess):
[code]

[2015-05-23 13:10] bastienJS commented on #104
You can play around with this old angular bug fiddle to get a feeling what I mean.

http://run.plnkr.co/GvXSO5CxcH8FQMES/#/projects

Just open a project via selecting a project and click open button.  Then the dateplanner is loaded. ONLY when the dateplanner is loaded I have the navigation on the top-right div.

This is what I wanna do with aurelia too.

[2015-05-23 15:04] EisenbergEffect commented on #104
The router supports this already. First, add multiple router-view elements, each with a name. Then, you need to configure your router with view ports:

[code]

Above is what ends up getting generated by default. To add your own view ports, just provide the `viewPorts` property on a route config and then one key per named router view. The value of each key should be a config object that specifies t

[2015-05-23 15:04] #104 closed

[2015-05-23 21:43] bryanrsmith commented on #103
I'm not sure what you mean.

Do you want the router's nav links to use `'welcome'` instead of `''`? It uses the first pattern in the route array, so you can specify `route: [ 'welcome', '' ]` to accomplish that.

Do you want the default route `''` to redirect to `'welcome'`? You can do that by adding a redirect route instead of making `''` an alias for `'welcome'`: `{ route: '', redirect: 'welcome

[2015-05-23 22:48] BlueHayes commented on #103
I believe the redirect setup is the correct way to resolve this. However I'm having issues with redirects in child routers as @bryanrsmith mentions, good to hear that's already been picked up on though.

[2015-05-23 22:57] bastienJS commented on #103
@bryanrsmith  I can confirm what @BlueHayes said:

The redirect does not work in child router see here:

http://plnkr.co/edit/XOBJn3?p=preview

check the browser for error in console

TypeError: Illegal module name ""
    at x.$__Object$defineProperty.value (https://jspm.io/es6-module-loader@0.16.5.js:1:29223)
    at x.$__global.upgradeSystemLoader.e.normalize (https://jspm.io/system@0.16.7.js:5:1

[2015-05-23 23:01] bastienJS commented on #103
and I correct my harsh comment. The root redirect works, but I couldnt make it work in angular :P

[2015-05-24 01:47] bryanrsmith opened #105 "Redirects not working in child router configs"
Changing the skeleton navigation's child route config so that the default route redirects to 'welcome' causes a crash.

[2015-05-24 03:21] bryanrsmith commented on #105
Duplicate of #103

[2015-05-24 03:21] #105 closed

[2015-05-24 03:59] bryanrsmith commented on #104
Added basic docs for this in aurelia/documentation#96

[2015-05-24 05:16] Zoltu opened #106 "Routing fails when query string parameters are given to a default route."
Launch the skeleton application and navigate to `/#/child-router?foo=bar`.  Notice the failed navigation and error in the log.

[2015-05-25 03:40] jadrake75 opened #108 "Routing generate will encode keys"
Many web-services that support frameworks like ODATA Queries using "$" in the keys.   This is getting incorrectly encoded.

For example:
[code]

In this case `opts.$filter` would be something like `(countryRef eq 5056)` so I expect this to be encoded to `(countryRef%20eq%205056)` but the key $filter should still be $filter I believe.  Using an expressJS backend, the request.query object will conta

[2015-05-25 03:47] jadrake75 commented on #108
Out of curiosity - I looked up the Query specification in W3C http://www.w3.org/TR/url/

* 3.For each byte in buffer run these subsubsteps:
    * 1.If byte is less than 0x21, greater than 0x7E, or is one of 0x22, 0x23, 0x3C, 0x3E, and 0x60, append byte, percent encoded, to url’s query.
    * 2.Otherwise, append a code point whose value is byte to url’s query.

So as you can see the "$" should not

[2015-05-25 14:22] #106 closed

[2015-05-25 22:13] bryanrsmith opened #110 "Navigating before the current route's activation has completed breaks rendering"
If you navigate to a new route before the previous VM's `activate` completes, both templates end up in the `<router-view>`.

navigation-skeleton repro:
1. Start on the welcome tab.
2. Click on the Flickr tab.
3. Before the flickr request has completed, click back to the Welcome tab (hit 'confirm' quickly).

 Result: When the flickr request comes back its results are rendered, and the flickr templa

[2015-05-26 04:59] bryanrsmith commented on #108
Hmm. We're just using `encodeURIComponent`, which encodes `$`. From what I can tell it's standard behavior in an HTTP client. A quick Google search reveals a lot of people using ODATA complaining about it, though, and having to use string concatenation to build their query strings. As you suggest, it does look safe to include unencoded. We can probably just make an exception for `$` and replace it

[2015-05-26 05:39] jadrake75 commented on #108
The key would be only for keys though.  You'd still likely want to encode values as %24, although there likely would not be a lot of harm.

encodeURI and encodeURIComponent as you say are inherently grumbled about.  Over the past 15 years I have probably introduced a custom encoder at least a few times at various companies for these kinds of issues.

[2015-05-26 17:40] jadrake75 commented on #110
ha..... I was just hitting this and was baffled as to what was going on.

Also if you need to redirect a route in activate (for example, detect a "last visited object and set that on the route path" you have to call the navigateToRoute( ) in a timeout after activate completes or it will remove the current route path.

ie.  if the current view-model is mapped to

/details

and has a sub-route that

[2015-05-26 17:47] jadrake75 opened #111 "double // in routes when fragment contains / in it."
Using 0.8.1 of Router, I was noticing some // showing up in the router paths.  Things seemed to be working correctly but I had a tingling feeling something was off.

in Router.prototype.createRootedPath I am seeing the following with these inputs....
baseUrl; "details/"
fragment: "/some-dynamic-name"

The output is

"/details//some-dynamic-name"

I believe another condition is needed below the lin

[2015-05-26 20:39] BlueHayes opened #112 "activate(), canActivate() running on each route change for child routers"
I have a child router configured (in fact a couple of them proceeding each other). Each time the route is changed within the bottom router, the canActivate() and activate() methods for all parent routers are called - apart from the top level router.

activate() and canActivate() should only be called once until the user navigates away from that router's "namespace". I think this is a bug because t

[2015-05-27 03:19] bryanrsmith commented on #111
What API were you using to build the path? Or were you calling it directly? I thought that method was only used with fragments that are known to be relative. That is, that fragment shouldn't make it into the method because it's an absolute path.

[2015-05-27 03:45] bryanrsmith opened #113 "Router can't generate correct fragments before navigation is committed"
Reported by @jadrake75 in #110:

Also if you need to redirect a route in activate (for example, detect a "last visited object and set that on the route path" you have to call the navigateToRoute( ) in a timeout after activate completes or it will remove the current route path.

ie. if the current view-model is mapped to

/details

and has a sub-route that is dynamic such as :name then if you attem

[2015-05-27 04:30] bryanrsmith commented on #113
This happens because the router's baseUrl doesn't get set until the navigation has been committed. I had to work around this issue in [#109](https://github.com/aurelia/router/pull/109#discussion_r30994603), but we really need it to work right here.

@EisenbergEffect can we set the router's baseUrl earlier in the pipeline so it's correct when we reach activation?

[2015-05-27 11:39] EisenbergEffect commented on #113
@bryanrsmith We should be able to do that. You'll need to add that calculation at some point earlier in the navigation pipeline.

[2015-05-28 14:28] jadrake75 opened #114 "Child routers are causing a parent router dom refresh"
First off this situation happens both for transient and singleton view-models....  The only observed difference I saw was the construction was called once vs. each time.

If you have a simple page configuration where there is a page (call it parent) that contains child routes included via the <router-view> tag the parent DOM is completely unloaded and loaded from the DOM with each child route chan

[2015-05-28 14:39] zhhz commented on #114
+1
it would be nice if we can treat the child routes differently other than the normal life cycle calls...

[2015-05-28 16:49] EisenbergEffect commented on #114
@jadrake75 The router was designed specifically to not do what you are describing. Either we've had a regression or there's something seriously wrong in some other way.  But, I've never seen this behavior and as I said it was designed not to do that. Can you reproduce it in a plunkr? @bryanrsmith Can you help investigate this?

[2015-05-28 17:45] jadrake75 commented on #114
Sure, I will work to add a plunker for it..... Glad to hear it is NOT
supposed to work that way!

On Thu, May 28, 2015 at 12:49 PM, Rob Eisenberg <notifications@github.com>
wrote:

[2015-05-29 02:49] bryanrsmith commented on #114
I will definitely help investigate this. I have also never seen it & so far haven't had luck reproducing it. A Plunkr that demonstrates the problem would be very helpful.

[2015-05-29 03:08] jadrake75 commented on #114
I am going to work on the Plunkr tomorrow morning.... stay tuned

On Thu, May 28, 2015 at 10:49 PM, Bryan Smith <notifications@github.com>
wrote:

[2015-05-29 17:13] jadrake75 commented on #114
ok it took a little bit of finagling to get it to show up.  I believe the critieria to make it show is 3 levels deep in the nav (possibly).  With 2 levels deep it was not showing up.  I apologize if the example is a little contrived..... basically you navigate to

/top-level

Then pick one or more objects.  I have a global "count" that I increment when I activate the object's "view model".  So cli

[2015-05-29 17:18] jadrake75 commented on #114
Incase the link above it acting up this one seems to be working smoother
http://embed.plnkr.co/e7njXl/preview

[2015-05-29 19:06] bfil commented on #83
Another issue in this regards to keep into consideration is that when you navigate from (using Jedd's example) from `/courses/:id` to `courses` the url changes but it doesn't trigger a full navigation so it does not execute the view model logic again for `courses`.

This ended up being an issue when I was trying to show different things on the view based on the presence of the segment, navigating

[2015-06-01 00:20] #108 closed

[2015-06-02 12:41] fopsdev commented on #21
wouldn't it be possible to add a property like 'cacheDOM' to the route properties?
in this case the exact DOM as it was left will be recreated from cache when hitting the route again
(aslo firing the activate() etc. lifecycle events)
sorry if i i see this a bit too simplistic...

[2015-06-02 12:44] EisenbergEffect commented on #21
@fopsdev We are planning to introduce a general template instance caching capability across the entire system soon. I believe this would dover you.

[2015-06-02 13:25] fopsdev commented on #21
yeah sounds good. keep us posted :)

[2015-06-02 13:50] jadrake75 commented on #112
@BlueHayes Does this only occur when you are three levels deep or more in the child navigation?  Issue #114 showed me that for two levels deep it did not show up but as soon as I went three levels deep (with a dynamic route at least) it showed up.  This sounds like a duplicate of #114, but I'd let Bryan rule on that.

[2015-06-02 13:53] jadrake75 commented on #111
Just realized I never got back to you on this.

[code]
where 'details-views' is
[code]
and the name is just the models name (for example "IQ Analyzer")

[2015-06-03 18:49] valichek opened #116 "Possible bug with config.mapUnknownRoutes"
one small change,
just change the first route in skeleton-navigation from
[code]
to
[code]

and `config.mapUnknownRoutes` won't work

[2015-06-03 20:45] #103 closed

[2015-06-03 21:19] mbroadst opened #117 "router with default route to page with child router results in invalid routes"
This plunker demonstrates the issues: http://plnkr.co/edit/06iAL0HKrmWtofsTFehZ

On the main page, there are two routes (toptestone, and toptesttwo - excuse the names I was trying to rule out casing as an issue). "toptestone" is the default route, and the module it routes too has a child router in it. When one tries to navigate to the *non* default route of the child router page, it results in an

[2015-06-03 21:35] mbroadst commented on #117
To help clear up some issues with naming, I've renamed everything to People, Animal, Squirrel and Rabbit :smile: over here http://plnkr.co/edit/VHGKRin7Do2IMgL6hf7n

[2015-06-04 16:12] mbroadst commented on #117
Is it possible to force aurelia to always inject the route, even when using the default route? This would fix the problem entirely for me. For instance, if I hade a top level route ['', 'welcome'], and navigated to my.site.com/, and it rewrote the address as my.site.com/welcome

[2015-06-05 12:34] dpinart opened #119 "ConfigureRouter issue"
Hi,
I have a view model where I want to get router injected without setting up a child navigation. So, in the view model I've added following code snippet (typescript):
 public configureRouter(config: RouterConfiguration, router: Router) {
    this.router = router;
  }
the associated html view does not contain any router-view element.

I'm getting an Error :'Route not found' when navigating to thi

[2015-06-05 13:29] EisenbergEffect commented on #119
To get a router without creating a new child router, have the router injected into the constructor through DI. This will get you the nearest parent router (or the app router).

[2015-06-05 13:29] #119 closed

[2015-06-05 14:31] EisenbergEffect commented on #117
@bryanrsmith Can you look into this. I think we have a duplicate of this somewhere else as well.

[2015-06-05 15:17] jadrake75 commented on #117
Just to clarify - you are wanting the default "" to be map to welcome on the address bar?  what if you had something like [ '', 'welcome', 'welcome-error'] ?  what would it map to?

[2015-06-05 15:26] mbroadst commented on #117
@jadrake75 that was a suggestion for a stopgap solution for the particular case I ran into. I'm not exactly sure what ['', 'welcome', 'welcome-error'] would route to today? Do you have some sort of logic to route to those based on some flags?

The real problem is illustrated by the plunker posted above, and specifically is that if a default route is followed to a page with a child router, none of

[2015-06-05 15:45] mbroadst commented on #117
also for anyone else checking this out, I was able to workaround the issue by providing a redirect for the default route (only on the top level! if you try this trick on the sublevel you'll run into infinite redirect loops and totally bork your browser):

[code]

changes to:
[code]

[2015-06-05 15:48] EisenbergEffect commented on #117
Our next release fixes redirects on child routers :)

[2015-06-05 15:50] mbroadst commented on #117
Okay that works for me, do you guys want me to close this issue? Or would be interesting in the future to sort of "complete" the feature to support the example in the plunker?

[2015-06-05 19:59] bryanrsmith commented on #117
The original issue is a duplicate of #27. I'm going to go ahead and close this one.

[2015-06-05 19:59] #117 closed

[2015-06-05 20:01] bryanrsmith commented on #112
I do believe #114 is a duplicate of this. I'm going to go ahead and close this one since there's more information and some repro Plunkers in the other thread.

[2015-06-05 20:01] #112 closed

[2015-06-07 16:25] CBeTHaX commented on #62
For people coming here with the same problem, if your child router does not have a 'default' route it will throw the same error.

Example:

[code]

The above will throw an error, so you'll have to add a default route ''
Like this:

[code]

I know it's trivial, but sometimes it's the simple things that take hours to isolate.

[2015-06-08 13:46] #111 closed

[2015-06-09 10:20] maxgrv opened #121 "Problem after update"
After updating aurelia today my app does not work anymore: when the main router starts, I get the following error:

    Unhandled promise rejection Error: History must implement activate().
    at History.activate (http://localhost:9000/jspm_packages/github/aurelia/history@0.5.0/index.js:18:17)
    at AppRouter.activate (http://localhost:9000/jspm_packages/github/aurelia/router@0.9.0/app-router.js

[2015-06-09 13:30] PWKad commented on #121
@maxgrv Is this a public repo you can share?  Been trying to reproduce this morning with no luck.

[2015-06-09 13:49] maxgrv commented on #121
Unfortunately not, it is a company project su the repo is private. I can send you a zip file with a stripped version privately if it is of any use to you .

[2015-06-09 13:59] maxgrv commented on #121
I have prepared a zip file with a version which still shows the error but does not contain much company code. Can I send you a drobpox link privately?

[2015-06-09 14:01] EisenbergEffect commented on #121
I believe it's a configuration issue. There was a breaking change that was accidentally left out of the blog post. I've updated it to include notes on how to fix this I believe. Please read the breaking changes section here: http://blog.durandal.io/2015/06/09/aurelia-early-june-release/

[2015-06-09 14:01] #121 closed

[2015-06-09 14:56] PWKad commented on #121
@maxgrv Thanks for taking the time to put the zip together, after I asked for the repro Rob did identify that change and update the post like he mentioned so it should be good to go!  If not let us know, thanks again.

[2015-06-09 15:04] maxgrv commented on #121
It was the missing config :)

[2015-06-10 01:09] dpinart opened #122 "There was no router-view found in the view for ./index"
Hi,
I have created a 3 child routing navigation hierarchy:
1)Main router contains 2 routes:
     app(default)
     login
2) app contains a child router that defines 2 routes
    module 1(default)
    module 2
3) module1 contains another child router that defines 3 routes: route1(default), route2 and route3

at app view, I have a navigation bar with 2 links:
    #app/module1
   #app/module2
After l

[2015-06-10 08:57] flieks opened #123 "router.navigate('route') doesn't return a promise anymore"
in old release i had this working
[code]
i jspm installed all packages and it doesn't work anymore

[2015-06-11 06:45] HIRANO-Satoshi opened #124 "The first page (module) in a router cannot have a child router."
Motivation: Two pane apps such like iPad apps have the top nav-bar, the master pane and the detail pane. The master pain has a child router in order to show detail info in the detail pane.

Phenomenon: If the URL of the first page in a router is '' and the page has its own child router, links governed in the child router in the first page point to the pages in the parent router, not in the child r

[2015-06-11 14:00] metatribal opened #125 "Incorrect slashes in navigateToRoute()"
`navigate` and `navigateToRoute` generate urls which are missing the `/` following the `#` e.g. `http://127.0.0.1:9000/#welcome` instead of `http://127.0.0.1:9000/#/welcome`

This issue can be recreated by making the following changes to navigation-skeleton's `app.js`

[code]

An unmapped url, such as `http://127.0.0.1:9000/#/foo` will result in `http://127.0.0.1:9000/#welcome`

Additionally, `rou

[2015-06-11 14:08] metatribal commented on #125
I also noticed this error when calling `navigate`
`message: "undefined is not an object (evaluating 'name.trim')"`

[code]

[2015-06-11 14:36] bryanrsmith commented on #124
This sounds like a duplicate of #27, which we do plan on fixing. Does that issue sound like it covers the problem you're experiencing?

[2015-06-14 16:30] mgenev opened #126 "no documentation on how to create nested hierarchical routes"
I'm seeing some hints in the latest release blog on parent/child routes, but I don't see documentation on how to achieve this.

I created a stack overflow question and asked  in the chat, but nobody has been able to answer yet:
http://stackoverflow.com/questions/30746383/how-to-create-nested-routes

A good example of this is Ember's router, which allows parent and child routes and the child route

[2015-06-14 16:48] bryanrsmith commented on #126
Currently the only way to build a hierarchy is with child routers, and there's no API for configuring child routers inline like in your Ember example. If you don't want to use child routers, you'd have to duplicate part of the route pattern in a (non-hierarchical) route list, like..

[code]

I agree that it would be nice to support an API for configuring a hierarchy inline.

Here's what the blog p

[2015-06-14 16:58] mgenev commented on #126
I see, thanks for the explanation, I'll try that out. I think it's a lot more straightforward to the dev if you can define your nested routes in one place, instead having to have many routers in your app.

[2015-06-15 07:31] pekkah commented on #66
+1 for fixing this

[2015-06-15 10:54] Aaike commented on #83
has there been any progress around this ? it would be really great to be able to use it :)

[2015-06-16 04:17] bryanrsmith commented on #123
@flieks I'm not seeing this behavior-- I still get a promise. Would you be able to provide a [Plunker](http://plnkr.co/edit/sak5db) that demonstrates the problem you're seeing?

[2015-06-16 11:35] flieks commented on #123
indeed, it works now.  Thanks and sorry for the issue

[2015-06-16 11:35] #123 closed

[2015-06-16 11:40] flieks opened #128 "route-href doesn't work for child routes"
[code]
this doesn't work.
error `Unexpected token` in chrome
maybe it's not implemented yet so it's a feature request..

[2015-06-16 16:12] EisenbergEffect commented on #128
You will need to add a name property to the route in your route config. Then you should reference that from the route-href: `route-href="route: theNameYouChose; params.bind:{id:item.id}"`

[2015-06-16 16:12] #128 closed

[2015-06-16 20:15] bryanrsmith commented on #126
I'm going to go ahead and close this. #90 is open for the discussion of eager configuration of nested routes/routers.

[2015-06-16 20:15] #126 closed

[2015-06-16 20:41] flieks commented on #128
@EisenbergEffect but if the child router isn't loaded yet (because we didn't navigate yet to the page) then the routes aren't registered yet and the name can't be found. I just tested:
`Error: There is no route named contactdetail`

[2015-06-16 20:44] bryanrsmith commented on #128
#89 is open for that issue. There is currently no way to generate using routes by sibling or child routers.

[2015-06-16 22:21] flieks commented on #128
thanks bryan

[2015-06-19 13:51] Siecje opened #129 "Add router.removeRoute()"
There is a ```router.addRoute()``` but currently no ```router.removeRoute()```

Use Case:

After login remove the login route.

[2015-06-19 19:31] bryanrsmith commented on #122
@dpinart This sounds like it might be a duplicate of #27-- we currently have some issues with using child routers under "default" or empty string routes. If you think that sounds like the problem you're having, I'll go ahead and close this one. If not, would you be able to provide a plunker that demonstrates the problem you're seeing?

[2015-06-20 16:05] dpinart commented on #122
@bryanrsmith thanks for your response. To be honest, I'm not quite sure this issue might be a duplicate of #27. I have tried to get rid of default or empty string routes but the problem persists. I've been able to reproduce the error in a plunker: http://plnkr.co/edit/XJRDlN?p=preview. Just run the plunker and clik on 'module2' link. That's enough to reproduce the error

[2015-06-20 18:27] bryanrsmith commented on #122
Thanks a lot for the repro; that's very helpful. I'll try to dig in soon.

[2015-06-22 12:01] petermorlion opened #131 "Consider adding a templateUrl property to the router configuration to override the convention"
I know you can provide your own convention via `ConventionalViewStrategy.convertModuleIdToViewUrl`, but would it not be interesting to be able to override the view url for specific views?

Similar to the `templateUrl` property in Angular, where you can do:

    $routeProvider.
      when('/phones', {
        templateUrl: 'partials/phone-list.html',
        controller: 'PhoneListCtrl'
      }).

[2015-06-22 12:34] milunka opened #132 "Deactivate method isn't called when user is moving between two child routers."
I think that deactivate method isn't called on page for this situation:
- application has 3 routers defined as one master router with two child routers
- user moves from page in one child router to different page in different child router and deactivate method on page where user was at the begining isn't called.

Example of how child routers are configured:

**app.js**:

[code]

**child1.js**

[co

[2015-06-22 13:17] EisenbergEffect commented on #131
You can use the `viewStrategy` property on a route config object. It can be either a relative url to the view or it can be an instance of a view strategy.

[2015-06-22 13:17] #131 closed

[2015-06-22 20:47] ahallez opened #133 "Default route with parameterized routes"
I have a router with one parameterized route:
[code]
The data is now hardcoded, but is meant to be loaded through jsonp.
After the data is loaded, I want to redirect to a chalid route with parameters derived from the data that is loaded.
What would be the best way to do that?

Thanks for any hints,
Axel

[2015-06-23 02:00] peebles commented on #21
I too am looking for an equiv. to what I did in Durandal:

<div id="page-content" class="page-content"  data-bind="router: { transition:'entrance', cacheViews:true, alwaysTriggerAttach: true }"></div>

Esp. the cacheViews.  I've tried your metadata trick above, but it does not seem to cause anything to be cached, altho I must admit I am into ES6 by about 2 days!

export class App {
    static meta

[2015-06-23 05:42] bryanrsmith commented on #133
You can return a `Promise` from your `activate` method. You'll want to reject that promise with a `Redirect`.

[code]

[2015-06-23 05:42] #133 closed

[2015-06-23 05:45] bryanrsmith commented on #124
I'm going to go ahead and close this one since I think it's a duplicate. Please let me know if I'm mistaken and I will reopen it.

[2015-06-23 05:45] #124 closed

[2015-06-23 05:55] HIRANO-Satoshi commented on #124
No problem, maybe. Thank.

[2015-06-23 07:02] ceoaliongroo opened #134 "Error using viewPorts and child router"
Hi,

I have a router with viewPorts:
__app.js__
[code]
app.html
[code]

and a child route:
__cockpit.js__
[code]
__cockpit.html__
[code]

I receive the error
[code]

if you want to check [all the code](https://github.com/ceoaliongroo/sandbox-aurelia/tree/issue-router-viewPorts%2BchildRoute)

[2015-06-23 15:50] #125 closed

[2015-06-24 01:06] #116 closed

[2015-06-24 02:23] #84 closed

[2015-06-24 12:38] petermorlion commented on #131
I'm not sure I understand exactly where I find this property.

I have found the possibility to add a `getViewStrategy` function to the viewmodel. But I find that is coupling my VM to much to my View. Plus it puts the mapping of a route to its view URL in multiple locations in my app:

 - In app.js where I configure my router
 - In my viewmodels where I want to override the default behavior

Having

[2015-06-24 12:40] EisenbergEffect commented on #131
No, that should work. Let me double check.

[2015-06-24 12:46] petermorlion commented on #131
I've made a [Plunker for this](http://plnkr.co/edit/K9qUjS?p=info).

[2015-06-24 17:56] jdanyow opened #136 "consider implementing "autofocus""
The Durandal dialog plugin had a feature where it would find the first `.autofocus` element and focus it.  Code for this is [here](https://github.com/BlueSpire/Durandal/blob/master/src/plugins/js/dialog.js#L502).

In Durandal, this behavior didn't extend to standard (non-modal) routing scenarios but it could easily be added by doing something like this:

[code]

Should we consider adding this func

[2015-06-25 04:32] Zoltu opened #137 "Error in default route construction crashes chrome."
If your default route redirects and you have an error in the redirected page the router will redirect back to the default route which will redirect back to the page which will error again.  This loops forever and Chrome does not handle infinite anchor redirects well and the entire browser locks up (not just the tab).

On a somewhat related note, there should be a way to tell the router about an er

[2015-06-25 04:35] Zoltu commented on #137
[code]
[code]

[2015-06-25 04:46] bryanrsmith commented on #137
Thanks, @Zoltu. This was fixed by #130, which will be included in the next release.

[2015-06-25 04:46] #137 closed

[2015-06-26 11:01] MeirionHughes opened #138 "Parameter Routes and Navigation"
The documentation says I can do parametrised routes:
[code]
but how does the auto-generated nav menu work in this case? Is there a way to add/remove or bind-to context? i.e. something like:

[code]
makes nav entries to "doc/A", "doc/B", "doc/C"?

or something that can be passed around and updated?

[code]

[2015-06-27 05:00] bryanrsmith commented on #136
Sounds good to me! I think we can add this pretty trivially to app-router. Will we need to do anything to make sure we don't clobber any focus attempts made by the new autofocus custom attribute that was contributed a few weeks back?

[2015-06-27 05:03] bryanrsmith commented on #138
If you specify `nav: true` on a route with dynamic segments you must provide an `href` to be used in the nav menu.

[code]

There is currently no way to add more than once nav link per route, but you can always hard code them in the view, or use logic in your VM or custom attribute to generate them.

[2015-06-27 05:03] #138 closed

[2015-06-27 05:15] bryanrsmith commented on #129
Wouldn't you just need to add it again if the user logs out? Also, won't you want to redirect rather than showing an error on the login route? Instead of a `moduleId` you can provide a `navigationStrategy`, which is a function that can dynamically choose the module or action to take. This would let you select a login view if the user is unauthenticated, or redirect to another view if not.

We coul

[2015-06-27 12:56] Siecje commented on #129
I would also like to remove the Login menu item in the nav and add another item.

Do you have any examples of how to do this?

[2015-06-27 13:06] EisenbergEffect commented on #129
The navigation model is just an array. So, you can always remove the item from that.

[2015-06-27 13:06] #129 closed

[2015-06-28 21:04] bryanrsmith commented on #134
@ceoaliongroo I'm not sure I understand the problem. I can't seem to get any error to appear by using your sample app. Also, it looks like your dashboard/subscription/list.html has a `<router-view>` element, but the view model in list.js does not configure a router that uses it.

Could you tell me the steps to reproduce the error in your app?

[2015-06-29 07:31] ceoaliongroo commented on #134
Yes, i think i had an error in dependencies, sorry.
I'll fixed  https://github.com/ceoaliongroo/sandbox-aurelia/commit/fe6b6dc5b3a05fed95d3394a84d856a6041f25f0

try, again with:

[code]
You could see something like this:
![screen shot 2015-06-29 at 10 23 26 am](https://cloud.githubusercontent.com/assets/2622152/8403031/d351f83e-1e49-11e5-91e0-c1521b5a7c5a.png)
![screen shot 2015-06-29 at 10 24 28

[2015-06-30 21:53] npelletm opened #139 "childRouter is instantiated again if you navigate away from the child router and return back on a singleton VM"
From the gitter :
I have a child router in a decorated @singleton() VM class, the VM is not recreated, the View is created again but it doesn't matter.
The main issue is the child router is instantiated again if you navigate away from the child router and return back to this VM.
How avoid this child router to be instanciated again, and reset by configureRouter function call ?

[2015-07-01 21:07] joelkinzel commented on #21
@EisenbergEffect - Any word on the template caching? Or related issue number perhaps? Looked through both the templating and templating-router repos and didn't see anything?

[2015-07-02 21:18] mttmccb opened #141 "PushState throwing security error"
I've updated my depedencies and have pushState enable. now I'm getting this error

    Uncaught SecurityError: Failed to execute 'pushState' on 'History': A history state object with URL 'http://mentions/' cannot be created in a document with origin  'http://localhost:9000'.
    navigate @ index.js:195
    handleLinkClick @ index.js:1621

[2015-07-02 21:21] mttmccb opened #142 "PushState throwing security error"
I've updated my depedencies and have pushState enable. now I'm getting this error

    Uncaught SecurityError: Failed to execute 'pushState' on 'History': A history state object with URL 'http://mentions/' cannot be created in a document with origin  'http://localhost:9000'.
    navigate @ index.js:195
    handleLinkClick @ index.js:1621

I've looked at changing the baseUrl which is set to '/' but

[2015-07-02 21:21] EisenbergEffect commented on #141
@bryanrsmith Looks like push state may have had a regression...

[2015-07-02 21:21] #142 closed

[2015-07-02 21:22] mttmccb commented on #142
sorry, duplicated that one :/

[2015-07-02 21:36] The1nternet commented on #27
+1

[2015-07-02 21:52] The1nternet commented on #27
As an alternative to the proposed logic, you could instead encapsulate some logic into a getter for the href property, which would check if it's parent route is represented in the current route, and if not, prepend it.

[2015-07-03 06:15] bryanrsmith commented on #110
Closing, as this appears to be an issue with the animator tracked in aurelia/framework#132.

[2015-07-03 06:15] #110 closed

[2015-07-03 06:26] bryanrsmith commented on #139
@EisenbergEffect We could probably solve the problem of configuring routers in singleton VMs by caching routers in a `WeakMap`. Should we consider ways to support caching child routers configured by transient VMs? Perhaps a static `configureRouter` method could indicate that the configuration will not change between activations, and is safe to cache?

[2015-07-03 08:25] ktomala opened #144 "Implement route navigation reorder method"
I would like to discuss adding a method for reordering navigation. This method would be especially useful when dynamically loading routes from the server. When defining a set of routes that should always be available, you can load additional routes e.g. after user login. Since the user may have different ACL classes (like admin, editor, normal user, etc.), different sets of routes may be loaded fr

[2015-07-04 18:53] Zoltu opened #146 "RouterConfiguration in aurelia-router.d.ts is missing properties."
Using TypeScript, I have a function like
[code]

The TypeScript compiler errors on `config.title` because the `RouterConfiguration` class doesn't have a `title` property on it.  In https://github.com/aurelia/router/blob/master/src/router-configuration.js#L63 we can see that title is an optional parameter, so it should be included in the d.ts as such.

I'm guessing that the d.ts auto-generator does

[2015-07-04 18:54] Zoltu commented on #146
Now that I am using the Aurelia typings I'm likely going to run into a number of these situations.  Is this the appropriate way to communicate missing type information or is there another place I should bring up such concerns?

[2015-07-04 18:54] EisenbergEffect commented on #146
Yes, this is a fine way to address that. Also, sending PRs is welcome.

[2015-07-04 18:54] boxofnotgoodery commented on #141
I ran into this as well.
All was working as expected until the latest full update.

[2015-07-04 18:56] Zoltu commented on #146
I can submit a PR for this.  What is the preferred solution?  Adding a `set*` method in order to expose the title?  Are the d.ts files auto-generated (I am operating under the assumption that they are, but if not I can simply update them to be more accurate)?

[2015-07-04 19:02] EisenbergEffect commented on #146
The d.ts files are auto-generated from the source. We've also set up the repos to use ES7 property initializers, so those can be used to solve this.

[2015-07-06 01:25] Vheissu commented on #141
Experiencing the same issue here as well. There has definitely been a regression in the current update. I might dig deeper and see if I can help submit a PR to fix it when I get the time (if someone doesn't beat me to it).

[2015-07-06 19:02] The1nternet commented on #27
Is there a work-around for this, for now?  Should we manually prepend the parent route to the hrefs of the child router?  How else can we get to the child routes, if the app is currently at the default route of the parent router?

[2015-07-07 00:35] #146 closed

[2015-07-07 02:54] lukehutch opened #152 "Please include user-provided route metadata"
It would be great to be able to attach arbitrary metadata to a route, e.g. (note the "data:" entry)

[code]

and then use it like this:

[code]

This would allow the user to set more than just the "title" field for each route.

(Or is there some way to achieve this already that I somehow missed?)

[2015-07-07 02:56] EisenbergEffect commented on #152
You can do it today. Just add a `settings` property.

[2015-07-07 02:56] #152 closed

[2015-07-07 05:45] lukehutch commented on #152
Great, thank you. This would be a useful addition to the documentation.

[2015-07-07 10:36] lukehutch opened #153 "Please add router.activeRoute"
Currently (as far as I can tell) the only way to get the active route in declarative syntax is by using a repeat.for="route of router.routes" expression with the "route.isActive" binding expression. This is fine if you need to do something with all the routes, but it's wasteful when you need a property from only the active route, such as the title:

[code]

A better option would be:

[code]

The c

[2015-07-07 11:24] nojaf opened #154 "Router navigation failed, and no previous location could be restored."
Hi,

Sorry to be so pushy on this problem but it's really starting to get quite blocking.
I'm doing a very simple route config with pages in sub folders.
Example: https://github.com/nojaf/aurelia-router-issue
Is this a bug or is my setup wrong?
I've asked this on the gitter channel but no solution yet.

Thanks,
nojaf

[2015-07-07 12:30] JeroenVinke commented on #154
It works for me when I change two lines:
[code]

[2015-07-07 12:31] doeck commented on #141
I ran into this too when trying to set up pushstate.
The fix by @Vheissu worked for me, thanks!

[2015-07-07 12:34] EisenbergEffect commented on #154
I don't really know what the details of the problem are. You aren't giving me much to go on. I do know that there were a couple of router bugs reported on Friday. Fixes for those are going out in a patch release today. My guess would be that your configuration is incorrect. See the answer from @JeroenVinke

[2015-07-07 12:34] #154 closed

[2015-07-07 12:53] EisenbergEffect commented on #153
Have a look at `router.currentInstruction`. I believe you will find what you need there. If not, let me know.

[2015-07-07 12:53] #153 closed

[2015-07-07 14:07] nojaf commented on #154
@JeroenVinke thanks, that partially solves the problem.
However by changing
[code]
you are not executing the plugins in the main function.
So certain plugins would not be executed.

[2015-07-07 14:14] EisenbergEffect commented on #154
Set it to `aurelia-app="main"`. That should do it.

[2015-07-07 14:16] JeroenVinke commented on #154
Yes, and change `aurelia.start().then(a => a.setRoot("./src/app", document.documentElement));` to `aurelia.start().then(a => a.setRoot());` in `main.ts`

[2015-07-07 14:51] nojaf commented on #154
Thanks you guys!! Really appreciate this!

[2015-07-07 18:31] lukehutch commented on #153
Ah! Sorry, I didn't notice that currentInstruction had a link to settings. That does work, thank you. For anyone else's reference that comes across this, the path needed is

[code]

(This would be another useful thing to have in the docs, if you're keeping a list..)  Much appreciated.

[2015-07-09 03:39] decademoon opened #155 "Navigating from child route to parent route causes parent route to be reactivated"
Consider these view models:

[code]

Consider the following series of events:

1. Navigate to /parent:
 - Parent constructor
 - Parent configure router
 - Parent activate
 - Parent bind
2. Then navigate to /parent/child-a
 - (No parent events)
3. Then navigate to /parent/child-b
 - (No parent events)
4. Then navigate to /parent
 - Parent deactivate
 - Parent activate

Upon returning back to the pa

[2015-07-09 10:28] paulvanbladel opened #156 "Is it possible to add a route to the router inside the config callback of a plugin."
In my view, aurelia plugins can serve as a nice container for cross cutting concerns, but they could be used also for application modularization.
Now, I'm thinking of app modules that register themselves in the app. One aspect of that would be that the app modules (in the form of an aurelia plugin) let the main app know what there route info is vis-à-vis the main app. (of course the plugin can hav

[2015-07-09 12:49] EisenbergEffect commented on #156
Your plugin's configure method will get an instance of the `aurelia` object as its first parameter, so you can do this:

[code]

[2015-07-09 12:49] #156 closed

[2015-07-09 19:03] The1nternet commented on #27
If anyone is struggling with this issue, I have discovered the only current work-around is to setup a redirect route as your default route, so that your child routes will work when the default route is navigated to.  There is a code example (no documentation yet) of setting up a redirect route here:  http://aurelia.io/docs.html#customizing-the-navigation-pipeline

[2015-07-10 02:33] digitzfone opened #157 "When using pushState configuration a direct link throws an error."
When pushState is enabled according to the docs, local navigation works great. But if I refresh a page other than the index page I get an error. A refresh of `http://localhost:9000/showcase/freddies` causes the following error. `GET http://localhost:9000/showcase/jspm_packages/github/aurelia/bootstrapper@0.14.0.js 404 (Not Found)` Notice that "showcase" is in the address.

[2015-07-10 02:40] EisenbergEffect commented on #157
Did you set a base in your index.html?

[2015-07-10 02:42] digitzfone commented on #157
Yes sir I did... This is in my index page.

[code]

[2015-07-10 06:38] paulvanbladel opened #158 "addRoute method doesn't allow to specify the route as an array for defining both 'named' and 'default' route."
Using the router map function allows to do the following (so using an array with both a named and default route):
[code]

adding a route with the addRoute method does NOT allow:

[code]
Any reason for this ?

[2015-07-10 14:02] EisenbergEffect commented on #158
Actually, `map` has a convenience for adding two routes that share the same navModel object. (addRoute has a second arg for passing a shared nav model). The best way to handle this it co create an instance of `RouteConfigration`. Then you can use its `map` API. It's the same as the one your are used to normally using. Then, you can call `config.exportToRouter(router)` to configure a router instanc

[2015-07-10 14:02] #158 closed

[2015-07-14 12:21] #141 closed

[2015-07-14 12:23] EisenbergEffect opened #159 "Errors Obscured"
It seems that when something goes wrong during a navigation, the "generic" navigation failed error is displayed. I think we may need to use the AggregateError in this case (from metadata) so that we can preserve the original error and make it available to the end user.

[2015-07-14 12:24] EisenbergEffect commented on #159
@bryanrsmith Can you take a look at this with top priority? It's very difficult to track down the real problem when there's an error now sometimes.

[2015-07-14 12:31] EisenbergEffect commented on #159
We don't see the real stack trace in the browser.

[2015-07-15 22:40] urbaitel opened #160 "Unit test from Karma fails when adding 'Redirect' into app.js"
If you follow the instructions here to add Redirect into app.js for Authentication handling in the Router, the unit tests fail.

http://aurelia.io/docs.html#customizing-the-navigation-pipeline

Added to top of app.js:
[code]

Error:
[code]
NOTE:  I removed my file names and location.  It listed the first .js file from main page.

[2015-07-18 17:59] cezgit opened #161 "child router with multiple sections/views"
Hi,
Is it possible to have a child-router with more than one config map? I want to be able to split my side navigation menu in multiple sections like this:

Section A
  Link1
  Link2

Section B
  Link3
  Link4

So ideally I would want to use repeat.for for each section:
Section A: repeat.for="row of router1.navigation
Section B: repeat.for="row of router2.navigation

I'm not sure how configure 2 s

[2015-07-19 01:08] EisenbergEffect commented on #161
You can add a settings property to your route config. That will be copied over to the nav model so you can provide a custom property or properties there which you could use to filter and render the nav into different areas.

[2015-07-19 01:08] #161 closed

[2015-07-19 01:49] cezgit commented on #161
Of course...that would work. Thank you!

[2015-07-19 08:19] devmondo opened #162 "Aurelia not working inwindows 10 Internet explorer"
hi, i am running windows 10 and Aurelia works fine with Chrome, Firefox except in IE and no matter if i chose between version 11 or 10, nothing happens, console dont show errors, but sometimes i get htis error.

```TypeError: Assignment to read-only properties is not allowed in strict mode```

[2015-07-19 10:14] EisenbergEffect commented on #162
Can you determine where that error  is coming from? In the past when we've seen similar errors it has been from inside one of the polyfills, rather than Aurelia itself. I can't think of anything in Aurelia that would raise that error, which is why I'm asking.

[2015-07-19 13:44] devmondo commented on #162
@EisenbergEffect , the problem is that is the only message i get from IE :(

what polyfills i must remove exactly ? i am not including any now

[2015-07-19 14:00] devmondo commented on #162
@EisenbergEffect  i think i narrowed down the problem  it is when i use this
``` this.router.navigateToRoute('profile');```

[2015-07-20 03:53] devmondo commented on #162
@EisenbergEffect  i think i found the cause, it happens if i add ```containerless``` to a ``` composes ``` element!

[2015-07-21 02:44] EisenbergEffect commented on #157
@bryanrsmith Can you take a look at this top priority?

[2015-07-21 04:29] bryanrsmith commented on #157
Looks like you also need to configure JSPM with a `baseURL`. I have added a note to the docs-- see aurelia/documentation#127. Sorry for the delay in looking into this, @digitzfone.

[2015-07-21 04:29] #157 closed

[2015-07-21 04:45] bryanrsmith commented on #89
After #90 we should be able to support generating for eagerly configured routers.

[2015-07-21 14:39] EisenbergEffect commented on #162
Fixed in 7764774cf6621d25a111759cbe1217dfae64812d

[2015-07-21 14:39] #162 closed

[2015-07-22 03:12] devmondo commented on #162
:+1:

[2015-07-22 04:48] urbaitel commented on #160
Any ETA on reviewing this?   It's critical for me as I'm adding authentication to my app and would like to continue unit testing the router.

[2015-07-22 05:26] bryanrsmith commented on #160
@zewa666 Any idea on this? It runs fine in the browser.

[2015-07-22 08:03] brantwedel opened #164 "Child route deactivate/activate method isn't called when moving between two parent route params of the same child route."
It looks like the child router is not being deactivated when navigating with new parent route params from a child view:

Application with app router and child router
user moves from one group to another with same child route
child route is not deactivated/activated
Example of how routers are configured:

app.js:
[code]

[2015-07-22 15:43] brantwedel commented on #164
Closing: I was using { replace: true } in the navigation, without that it works correctly. This may still be a bug when using { replace: true } option in router.navigation. I will investigate that later and reopen if that is indeed the case.

[2015-07-22 15:43] #164 closed

[2015-07-22 18:13] zewa666 commented on #160
@urbaitel for me the same things fails, to be specific the flickr test. Now could you test something out for me? Please just add the same import you stated above as the very first line in the test.spec file where the issue happens and tell me what happens.

[2015-07-22 20:21] digitzfone commented on #157
Hey Bryan,

This is exactly what I needed!!

Thank you

EJ

[2015-07-23 12:51] brantwedel commented on #132
I am having this same problem in a slightly different scenario:

When a parent route changes with a replace strategy:
[code]

deactivate does not get called on child VM's, but since `canDeactivate` *is* called in this scenario, I am using this workaround:

[code]

[2015-07-23 20:00] cpritchard opened #166 "Custom pipeline step names not processed and child router steps cause child router failure"
Using the skeleton as a base started using some of the addPipelineStep features, but with error or unexpected behavior occurring even using a simple step such as...

class SomeStep {
	run(routingContext, next) {
		console.log('Running Step');
		return next();
	}
}

On the parent router the only steps that appear to work are 'authorize' and 'modelbind', the documentation states that any name can be

[2015-07-23 20:09] #159 closed

[2015-07-24 04:24] DuNuNuBatman opened #167 "Adding parameter to child router causes navigation to fail"
Taking the navigation skeleton project and adding a parameterized route causes navigation to fail.

[code]

Clicking on the Child Router link will cause the url to flicker, but it won't navigate to the page, it will say on the current page. I also tried adding id to the activate parameter.

[code]

Also, there are no logs in the console to indicate any error.

[2015-07-24 06:24] bryanrsmith commented on #167
You can't use nav: true on a parametrized route unless you specify an href to use in the nav link.

What version of the router are you using? There was a bug in a recent version that prevented errors from being logged to the console. The bug has been fixed in the most recent release. Could you check that you're up to date? If you already are I'll try to investigate tomorrow-- we definitely should

[2015-07-24 09:11] kdeberni opened #168 "router.navigate change url but not activating viewmodel"
In couple of places in our code we have `router.navigate` which works fine till recent. However, on days we updated aurelia to latest version with router version 0.10.2 and now `router.navigate` does not do it's job (I tried to use Router and AppRouter from aurelia-router). Url is changing but viewmodel is not activated and there are no errors. However if I use location.href with same route fragme

[2015-07-24 09:34] kdeberni opened #169 "route-href sets wrong url on viewmodel from child route after page refresh"
This is something we noticed from very beginning. If you have navigated to some child route and then refresh the page all hrefs in views generated from route-href are generated from baseUrl and not from main route url. Example, I navigated to 'http://localhost:9000/#/app/new' where 'app' is route from my main route and 'new' is route from my child route. On view 'new' in html I have `route-href="r

[2015-07-24 14:10] jdanyow opened #170 "how to reset scroll position after navigating to a new route"
This has come up in the gitter a couple times:

You've scrolled down the page, then you navigate to a different page/route, the developer/user expects the scroll position to be reset to the top.  What's the best way to accomplish this?

Here's some code that was shared:

[code]

Here's how durandal handled this:
https://github.com/BlueSpire/Durandal/blob/master/src/transitions/js/entrance.js#L69

[2015-07-24 15:39] DuNuNuBatman commented on #167
Makes sense.
I was on 0.10.0 and just did jspm update and it pulled 0.10.2. The issue is in the error message!
Thanks, sorry for wasting your time. Odd I didn't have latest though, I just started playing around with this yesterday.

Thanks again.

[2015-07-24 15:39] #167 closed

[2015-07-24 20:00] cpritchard commented on #166
Updating to 10.2 give a more usuable error that steps applied to children router is not supported, although it seems like this should be an option.

10.2 still results in custom step naming to not work as suggested by documentation.

[2015-07-24 20:25] Alxandr commented on #166
As I've replied to you on [gitter](https://gitter.im/Aurelia/Discuss?at=55b29c53cfe8c23a6dfa7d04), you've misunderstood how custom pipeline steps work. First of all, it's by design that they are never to be added to child routers. This is due to several reasons. For once, it's generally not really practical to do at all, given that the routes are loaded **during** the pipeline (so, long after it's

[2015-07-27 15:17] cpritchard commented on #166
Based on Alxandr's comments it turns out this is all possible as the main router does fire on child router navigation and it is possible to access things from the child router from the parent. It is just not as simple as being able to apply steps directly to child routers as you do the patent router.

[2015-07-30 00:53] dpinart commented on #122
Hi, it seems this bug still persists in latest version of aurelia-router plugin. Can you supply a workaround for this issue?

Thanks

[2015-07-30 02:20] dpinart commented on #122
I finally found the issue. I had the 3 level router-view inside a div with an if.bind. Changing if.bindby show.bind fixed the issue.

So there's no a bug but my mistake!

[2015-07-30 02:20] #122 closed

[2015-07-30 04:56] #166 closed

[2015-07-30 04:57] bryanrsmith commented on #160
@urbaitel were you able to get this working?

[2015-07-30 04:58] bryanrsmith commented on #169
I believe this is due to #113, but will leave this open until I can confirm.

[2015-07-30 05:01] bryanrsmith commented on #170
Scrolling to the top when the navigation is committed should be simple enough.

[2015-07-30 06:07] kdeberni commented on #169
While debugging I noticed that baseUrl was not set in moment when  router's generate function was called to calculate route-href. So probably it is connected to this issue.

[2015-07-30 07:13] bryanrsmith commented on #122
Great! Glad it was an easy fix.

[2015-07-30 09:40] fopsdev commented on #170
just when you are working on this anyway. why not optionally restore the scroll position as it was when the route was left.
or even better, is there a way to restore state on a route as it was when it was left without jumping through hoops? for example when the user selects an item in a select control it should be selected again when moving back. possible solution would be a additional  property o

[2015-08-04 04:52] simonfox opened #172 "Is there a hook to provide a module instance?"
I'm wondering if there is a hook in the router for providing an already instantiated module? And if I'm on the wrong track, what would be a better approach?

Consider this situation...
* I have a model in my domain called Contract.
* Users can search for Contracts.
* Users can open multiple different Contract instances in separate tabs

Following is a section of a UI that shows how this might look

[2015-08-04 04:53] simonfox commented on #172
Sorry, this is probably not the place for this...

[2015-08-04 04:53] #172 closed

[2015-08-04 05:14] jimmyps opened #173 "View and ViewModel caching option in router"
Currently, the aurelia router always re-create ViewModel and View when navigated. There doesn't seem to be option to cache the ViewModel and its associated View, avoiding them to be re-created in subsequent navigation. The benefit of caching is obvious: better user experience. It's also a common implementation used by top commercial apps, including iCloud.

Regarding experience, let's use iCloud a

[2015-08-04 05:36] simonfox commented on #172
Have posted as a [stackoverflow question](http://stackoverflow.com/questions/31801391/aurelia-router-hook-provide-a-pre-instantiated-and-activated-module)

[2015-08-04 06:39] fopsdev commented on #173
+1
it's tedious to recreate viewstate by code all the time
i've commented already on https://github.com/aurelia/router/issues/170
basically i would like to see a "cache" parameter on the route config

[2015-08-04 06:57] jimmyps commented on #173
Agree. The navigation caching is a standard feature in most app framework. This should be a top priority for Aurelia team, quoting the aurelia mission to be "strongly focused on developer experience".

[2015-08-04 10:39] EisenbergEffect commented on #173
It is planned. If you want, you can implement it now yourself. What you would need to do is create your own version of the router-view element that caches and re-uses view instances. We will build that in though.

[2015-08-04 10:45] jimmyps commented on #173
Sounds good. I'll prefer to wait then. It'll be great to see this implemented before beta though. Thanks!

[2015-08-04 10:55] jimmyps opened #174 "Inconsistent activate parameters order"
In one module, the activate parameter order is correct per the documentation, which is `activate(params, routeConfig, navigationInstruction)`. While in some other modules, the activate method signature unexpectedly becomes `activate(model, params, routeConfig, navigationInstruction)`. When accessing routeConfig, the code may become unreliable as its order could change (i.e., from 2nd to 3rd), and

[2015-08-04 12:37] EisenbergEffect commented on #174
@bryanrsmith Can  you look into this? I'm wondering if there's some old code hanging around from an earlier refactory.

[2015-08-04 20:18] bryanrsmith commented on #160
I'm going to go ahead and close since I haven't heard anything. Please reopen if there's still something we need to do on our end.

[2015-08-04 20:18] #160 closed

[2015-08-04 22:22] bryanrsmith commented on #174
@jimmyps It should definitely use the documented order. Are you able to either provide a plunkr demonstrating the issue, or post steps to reproduce the incorrect parameters? I don't see it happening in my test app.

[2015-08-05 05:53] jimmyps commented on #174
@bryanrsmith Thanks for responding. When looking at the issue again, I just realize that I was testing on an outdated sample that I downloaded from the Github. I have to copy the config.js from the skeleton repo to this problematic sample, then perform jspm update. Afterward, this issue no longer appear.

You may close this issue now.

For all Aurelia contributors, I highly suggest to always updat

[2015-08-05 15:33] #174 closed

[2015-08-06 13:57] peisenmann commented on #169
I've noticed this for a while and finally plunked it http://plnkr.co/edit/JoT6Qw

[2015-08-06 15:36] bfil opened #177 "Cancelling a navigation instruction with a redirect from the authorize pipeline step raises inconsistent navigation events"
I've tested the new navigation events (`processing` -> `success`|`error`|`canceled` -> `compete`) using the routing pipeline steps as described [in the documentation](http://aurelia.io/docs.html#customizing-the-navigation-pipeline), but the new router does not seem to raise consistent events when redirecting from a pipeline step.

When redirecting from `/welcome` to `/login` in the `authorize` pip

[2015-08-06 19:28] bfil commented on #177
I've found a workaround for the moment, which is to check `router.currentInstruction` from within the `router:navigation:complete` event handler, instead of using the event data.

[2015-08-07 21:23] bryanrsmith commented on #177
It happens because events are raised using the original instruction, but I agree it's not right. We should raise events using the instruction that actually created that result.

[2015-08-07 21:37] bryanrsmith commented on #177
Thanks for the reminder about 'cancelled'. I'll make sure we're using the American English inflection consistently.

[2015-08-13 07:52] davismj commented on #83
@bfil i read through your pr but i don't see anything about optional route segments. can you give an example?

[2015-08-13 13:31] bfil commented on #83
@davismj the issue the PR fixed was the navigation between `/route/:id` and `/route` (which was not triggering the right logic), it did not implement anything in relation to optional routes, just fixed the router issue.

By the way for me using route: `['/route', '/route/:id']` works just fine in my app (but I'm not using `route-href` or any other fancy routing mechanics).

[2015-08-13 18:24] EisenbergEffect commented on #50
@bryanrsmith Please make a final review of this and see if we want to do this re-design or if you think it's ok the way things are.

[2015-08-14 05:26] bryanrsmith commented on #50
I do like the proposal, and we could do it fairly easily, but I think it's relatively low value at this point. router.navigate doesn't really have much control either-- it delegates directly to the history implementation. I think we can leave it the way it is for now. We can make it a nonbreaking change if we decide to do it in the future.

[2015-08-14 05:26] #50 closed

[2015-08-19 00:50] monkeyhouse opened #185 "nested routing produces incorrect routes when fall through for default '/' route"
When I use a base route of <code>'/'</code>, I have to use a redirect so that my inner routes are generated properly Either way, not sure if its an issue.
Setup:

I have a router nested inside another router.

The outer router has routes defined for '['', 'Seasons']', 'Elements', 'Cloud Types'

For Seasons, the inner router has routes are defined ['',All], Winter, Summer, etc.

If I am at the url

[2015-08-19 18:39] jods4 commented on #21
@peebles in current code you need to use `singleton(false)`, because the flag changed from `registerInRoot` to `registerInChild` <_<. With that it's working for me.

@EisenbergEffect :+1: for caching views. Singleton ViewModels only persist the state that is in your singleton. Complex bindings may have state that you also want to preserve but not bind to the VM. Example: a DataGrid custom element

[2015-08-19 18:46] jods4 commented on #173
@jimmyps Note that half of this is readily available. Put `@singleton(false)` on your viewmodel and it's re-used.

This at least persists and restores your VM state, but the other half (View reuse) is stil required because not all the UI state is in your VM... I give sample use cases in #21

[2015-08-19 20:56] mahtavata opened #186 "TypeError: Cannot read property 'createNavigationContext' of undefined"
I'm not sure why this occurs, but it happens when I'm browsing with a child router. I checked the code and noticed a possible fix for the error.

In aurelia-router.js (from line: 538)

[code]

A possible solution for the error is to add a new variable before the 'then' invocation and use the defined variable inside the anonymous function which is given as a parameter for the then.

[code]

[2015-08-19 21:24] mahtavata opened #187 "Error: There was no router-view found in the view for submenu."
I have a router structure like this:

app
-> 1.1 router-view (menu) -> 1.1.1 router-view (submenu)
-> 2.1 router-view (views)

app (has 2 router-views)
	top menu is rendered in the first one (1.1) and it contains a one router-view (1.1.1) for the sub menu
	the second one contains router-view (2.1) for the application views

The 'There was no router-view found in the view for submenu' error occurs

[2015-08-20 10:05] jimmyps commented on #173
Thanks @jods4 for the update. Since the view caching is my primary concern, I'll be looking forward to it and give it a spin once it's available. Is it currently in progress? Any ETA yet?

[2015-08-20 14:42] EisenbergEffect commented on #173
With respect to the view cache...no "official" work has been done yet. However, as part of some work for a customer, I built a floating window system on top of the router. So, when routes were re-visited it would use the existing view and view model (and simply  bring the window to front) rather than re-create them. That work will help in implementing the router-view's caching implementation.

The

[2015-08-21 10:06] jimmyps commented on #173
Thanks for the insight @EisenbergEffect. No worries, just take your time to proceed with other higher priorities for now. It'll be great if the view cache can make its way sometime after the beta, or possibly before the RTM.

[2015-08-21 18:19] peisenmann opened #189 "`router.reset()` does not reset the promise returned from `router.ensureConfigured()`"
Since `router.reset()` does not reset the `_configuredPromise` created in the router constructor, the promise returned from `router.ensureConfigured()` will always be resolved after the first time the router is configured, even though `router.isConfigured` has been reset to false. This leads to an inconsistent state after reset.

[2015-08-23 19:50] bryanrsmith commented on #186
Thanks @mahtavata. Would you be able to reproduce the error in a Plunkr to help us with a repro? You can fork http://plnkr.co/edit/uNVEk2?p=info

[2015-08-23 20:33] bryanrsmith commented on #187
@mahtavata Would you be able to provide some sample code or a plunkr that reproduces the error?

[2015-08-24 14:36] Zensavona opened #193 "Transient 'Route not found' on various routes throughout my app"
Hi guys, I've been struggling with this for a while now through various router versions and have had little luck trying to debug it.

I'm getting a 'Error: Route not found (route)' on various routes, only very transiently (maybe 1 in every 15 pageloads) and only on the initial page load.

Here's an example output from the main route of the root router:

[code]

And here's my router:

[code]
FWIW I

[2015-08-24 15:17] bryanrsmith commented on #193
Can you still reproduce the error if you return the promise from activate()?
On Mon, Aug 24, 2015 at 7:36 AM Zen Savona <notifications@github.com> wrote:

[2015-08-24 15:45] Zensavona commented on #193
@brianrsmith As noted above I can reproduce the error with only this code:

[code]

[2015-08-24 15:53] Zensavona commented on #193
I'll try to reproduce this for you in a plunkr this afternoon

[2015-08-26 11:02] TommiGustafsson commented on #170
I got it working as follows (from my app.js):

    import $ from 'jquery';
    import 'bootstrap';
    import 'bootstrap/css/bootstrap.css!';

    export class App {
      configureRouter(config, router){
        config.title = 'Admin';
        config.addPipelineStep('postcomplete', PostCompleteStep)
        config.map([
          { route: '',                      name: 'instructions',           m

[2015-08-27 16:31] valichek opened #195 "Need help with implementing 404 page and mapUnknownRoutes."
It looks like easy thing with `mapUnknownRoutes`, but it's getting complicated when adding authorization workflow.
The main idea is:
1. go to the `/notfound` url (notice that there are no known route in config for it).
2. if not authorized show login form (we still at `/notfound`)
3. process login, get navigation, and refresh `/notfound` to show 404 page
[code]
But the problem here is that it upda

[2015-08-27 16:44] valichek commented on #195
Upd: Noticed that `instruction.viewPortInstructions.default` property is undefined

[2015-08-27 17:19] valichek commented on #195
Found workaround for that.
Added `redirect` route to router config:
[code]
Save instruction when not authorized
[code]
After auth I get saved instruction, add route for unknown fragment and do redirect
[code]

Handle redirect in router pipeline step:
[code]

[2015-08-27 18:07] kristianmandrup commented on #56
Has this been documented? Super important feature IMO for any app beyond a "toy app"!!!

[2015-08-28 03:33] bryanrsmith commented on #56
@kristianmandrup http://aurelia.io/docs.html#rendering-multiple-view-ports

Looks like the markup is broken in the current version of the docs, but it's fixed on master. https://github.com/aurelia/documentation/blob/master/English/docs.md#rendering-multiple-view-ports

[2015-08-28 03:38] bryanrsmith commented on #195
In your original setup it may not be activating because the location isn't changing. Try setting `instruction.config.activationStrategy = activationStrategy.invokeLifecycle;` to get the router to process the change.

[2015-08-28 07:17] valichek commented on #195
@bryanrsmith , If I remove `this.router.addRoute({route: fragment, moduleId: './pages/err404', nav: false, auth: true});` and add `instruction.config.activationStrategy = activationStrategy.invokeLifecycle;` to `mapUnknownRoutes ` it doesn't help. Noticed that it stops and does not proceed to the pipeline step.

[2015-08-28 08:05] kristianmandrup commented on #56
When will we see a revamp of the docs? On the 1.0 release? I hope that release is reals soon (within next couple of weeks). Starting to feel that Aurelia is stalling indefinitely... (easy for me to say :P lol)

[2015-08-28 14:12] EisenbergEffect commented on #56
We definitely aren't stalling. In the last 10 days we have:

* Introduced a new cross-loader plugin system
* Refactored view loading to enable both text and html import-based loading
* Introduced new view engine hooks
* Introduced a new view resource plugin system
* Implemented requiring CSS per view
* Implemented JavaScript-less custom element via requiring .html files in views
* Added API doc ge

[2015-08-28 14:13] Zensavona commented on #193
I'm having a hard time replicating this because of it's transient nature. do you have any ideas as to what might be going on here @bryanrsmith?

Today I further simplified the router in question's VM:

[code]
and bumped all my Aurelia versions up to the latest ones, still getting these errors pop up.

Here's an error log from today:
[code]

Tearing my hair out about this a bit...

[2015-08-28 14:21] EisenbergEffect commented on #193
@Zensavona Can you create a bare minimum reproduction of the issue and zip it up? If we can reproduce it ourselves, that makes everything much easier. If it's a bug we can fix it or if it's something else, then we can at least provide some better error information. At this point, it's hard to see what is going wrong.

[2015-08-28 14:49] nomack84 commented on #56
@kristianmandrup if you want to see an stalled project, take a look a angular2, 35 alphas an counting, also, between alpha releases they have tons of BC breaks and they haven't yet a clear date for beta releasing. Besides the fact that they are a bigger team with much more resources...

[2015-08-28 14:54] kristianmandrup commented on #56
Sure, the Aurelia team is AWESOME!!! 'm not even looking at the Angular 2 camp since end of last year after the announcement, when I looked at the hideous syntax they had come up with for their "templating system"...

Anyhow, just feel that the beta and 1.0 release keep being pushed out. I'd rather have a 1.0 that is not "feature complete" but with good docs, easy to get started and sufficient for

[2015-08-28 14:56] EisenbergEffect commented on #56
We are working towards it. The big piece is the documentation, which requires a lot of work to get right. Once that is ready, then we will go beta most likely.

[2015-08-28 17:03] #189 closed

[2015-08-28 20:40] valichek commented on #195
My workaround does not really work as expected
when doing
[code]
 I override already dynamically loaded routes, so tried to check that with `this.router.hasRoute(...)`,
but it turned out that `this.router.recognizer.names` is empty after `this.router.ensureConfigured()`, is it correct?

[2015-08-28 23:52] jods4 commented on #136
I'm not sure about that. Why hardcode this inside the router when writing a auto-focus custom attribute is trivial (well mostly call `focus()` in `attached()`)?

It's too bad the HTML5 spec only gives focus to the first `autofocus` element added to the DOM. That doesn't play nice with SPA.

[2015-08-29 00:06] jods4 opened #201 "Suggestion: router.reload()"
#### Feature description
It would be nice to have an API `router.reload()` or similar. Basically it would navigate to the current route.

Respecting activation strategies means that it could do nothing, create a new VM or just invoke the lifecycle again. I am unsure if passing options to force a different activation strategy (e.g. `invokeLifecycle` instead of default) is useful or not.

As I am no

[2015-08-29 00:11] EisenbergEffect commented on #201
@bryanrsmith I think this is similar to the other issue we had where we proposed something like a `force` option to be added to the options for the `navigate` method. I'm seeing this issue come up more and more, so I think we definitely want to find a clean way to address it.

[2015-08-30 10:39] jods4 commented on #201
@EisenbergEffect Yes, a new option `force: true` that would skip the check on line 191 I referenced in my suggestion would certainly do the trick.

The method `reload` would still be a nice convenience wrapper to call `navigate(this.fragment, { replace: true, force: true })` and is certainly more discoverable.

[2015-08-30 17:05] EisenbergEffect commented on #201
That sounds good. @bryanrsmith At your earliest convenience, let's work on adding the `force` parameters and then creating the `reload` or maybe `refresh` method that is a convenience as stated above.

[2015-08-30 22:19] jeremy-holt opened #203 "Better error message when the router is unable to find a parameter because the underlying data has not yet been loaded"
My model retrieves the `arrival` object and then fills in the view.

My view has a link `<a if.bind="arrival.id" class="btn btn-primary" route-href="route:rawmaterial-new-drying; params.bind: {arrivalId:arrival.id}">Go to dryer</a>`

The router is
[code]

If I don't include the `if.bind="arrival.id"` I get an error:
[code]
On gitter I suggested that what's happening is that the router is looking t

[2015-08-31 00:25] EisenbergEffect commented on #203
@bryanrsmith We may need to push off the generation of the route by scheduling a micro task. I think that should solve the problem.

[2015-09-01 13:40] jods4 opened #204 "Typescript def: mapUnknownRoutes"
If `config` is a function, it returning a promise is optional.

[2015-09-01 13:46] jods4 opened #206 "Typescript def: Navigation context properties"
The tool that creates the `.d.ts` seems to convert properties `get` into functions, which is wrong.

See `NavigationContext` for examples: `nextInstructions`, `currentInstructions`, `prevInstructions`.
Moreover, in all those cases the type information from source file is lost.

[2015-09-01 14:26] #204 closed

[2015-09-02 02:52] jeremy-holt commented on #187
I think I have exactly the same problem.

I'm having trouble understanding how child routers work.
In the two route configs below, I would like to be able to navigate from `produção/lista (production-list)` to `editar/:id (rawmaterial-arrival-edit)`.
[code]
However, when I try to do this I get
[code]

I guess I have to find some way of moving up the tree to the root of the route and then down to t

[2015-09-02 21:40] jdanyow commented on #170
New browser API that could help with this in the future:  https://developers.google.com/web/updates/2015/09/history-api-scroll-restoration

[2015-09-03 08:49] TommiGustafsson commented on #170
Great! But can it scroll up the div with page-host class, not the document or the window?

[2015-09-04 01:20] EisenbergEffect commented on #206
@cmichaelgraham Can you take a look at this. It's probably the next issue we need to tackle with the d.ts generator. Thanks!

[2015-09-04 01:20] cmichaelgraham commented on #206
@EisenbergEffect @jods4 - i'm on it :+1:

[2015-09-04 03:04] cmichaelgraham commented on #206
yessssssssssssss...

[code]

[2015-09-04 03:09] cmichaelgraham commented on #206
icing on the cake:

[code]

[2015-09-04 16:47] reinholdk opened #207 "memory leak in router"
I have a scenario with router and child router which leads to a memory leak. View models instantiated by the child router are still being referenced when navigating away.
I have built the scenario in the following Plunker [http://embed.plnkr.co/n5W1JA/preview].
The child router is part of the view model called "second". It allows to toggle between two view models, "child1" and "child2".
The leak c

[2015-09-05 09:45] cmichaelgraham commented on #206
new release contains updated class:

[from aurelia-router.d.ts](https://github.com/aurelia/router/blob/0.12.0/dist/aurelia-router.d.ts#L263-L272):

[code]

[2015-09-05 10:30] #206 closed

[2015-09-08 18:27] jods4 opened #208 "TS 1.6: strict object literal assignment"
TS 1.6 introduces more strict type checking on object literals:
https://github.com/Microsoft/TypeScript/pull/3823

If an API is commonly meant to be extended, it's good that it adds a generic indexer to its definition for easier consumption.
I think it's the case for `RouteConfig`.

I had this in my code and it now fails in TS 1.6:
[code]

The thing to notice is that I use `auth` to manage authent

[2015-09-08 18:31] bchavez commented on #208
:+1: ran into this same issue when using TS 1.6. I also hang off `auth` and extra parameters in my routes.

[2015-09-08 18:36] EisenbergEffect commented on #208
@bryanrsmith How should we handle that? I don't think that we can do it with Babel, can we?

[2015-09-09 04:29] bryanrsmith commented on #208
@EisenbergEffect Babel does support it. I think we should instead encourage custom data to be added to a property specifically designed for arbitrary data. That would give us more flexibility in internal changes and future API additions. I thought we had such a property documented already, but I'm having trouble finding it now...

[2015-09-09 08:44] jods4 commented on #208
_Customizing the navigation pipeline_ in the doc illustrates using `auth` and friends directly on the route.
http://aurelia.io/docs.html#customizing-the-navigation-pipeline
Maybe the docs should be updated then.

I also note that when you have lots of routes, adding properties on sub-objects it's not very convenient (but doable).

[2015-09-09 12:08] EisenbergEffect commented on #208
@bryanrsmith Yes, there's actually already an interal property designated for that: `settings` which is recognized internally by the code. So, we just need to add that to our definitions as an optional property and make sure the settings object type has the type information described above.

[2015-09-10 06:47] heruan opened #209 "Breadcrumb feature"
I'm trying to create a `<breadcrumb>` custom element, which would `repeat.for` the navigation stack of the router hierarchy. Since the router already builds the page title with the same hierarchy, it would be useful to have the same logic exposed for other purposes (such as a breadcrumb feature).

[2015-09-10 10:00] heruan commented on #209
Also, the custom element would likely be placed on a parent VM, but needs to bind to the entire navigation stack being aware of the entire router tree.

[2015-09-10 16:45] jbellsey opened #210 "Feature: suppress handling on tagged links"
I'm building a plugin, a wrapper library around Google's [MDL](http://getmdl.io). Like Bootstrap before it, it has a set of components, some of which use JavaScript to manage interactions.

The tab component links the tab button (`<a href="#panel1">`) with the tab panel (`<section id="panel1">`) by installing its own click handler. This means I can't use `click.bind` to bypass the router unless I

[2015-09-12 22:01] ctoran opened #211 "RouteConfig does not declare navModel"
`RouteConfig` interface should declare `navModel: NavModel` that is being used in code like in [here](https://github.com/aurelia/app-contacts/blob/master/src/contact-detail.js#L16).

It took me few hours today to figure this out. Unfortunately babel does not do type checking and it's a real pain to manually type check the sources. Even though babel will output .d.ts definition files, I guess they

[2015-09-12 22:17] EisenbergEffect commented on #211
We do have a verification process in place, but no TS process (including switching to TS for everything) would be able to verify this particular pattern. The `RouteConfig' only has a `NavModel` after it is configured and it only mattersfrom the perspective of user code.

[2015-09-12 22:17] #211 closed

[2015-09-12 22:56] ctoran commented on #211
OK, so it is optional: `navModel?: NavModel`. Can I make a PL for it or did you reject the issue? I don't want to set it as `any` in my code when there is good typing in there.

[2015-09-12 23:29] ctoran commented on #211
I see, if I understood correctly you mean it should not come in route maps. In that case why not make it a method like `getNavModel()`? Another way I can think of is to declare `navModel` in another interface that extends `RouteConfig`.

[2015-09-12 23:46] bryanrsmith commented on #210
Thanks, @jbellsey. The work for #80 should let us handle this use case.

[2015-09-12 23:46] #210 closed

[2015-09-13 00:03] ctoran commented on #211
I went with extending the interface:

[code]

then `import {RouteConfig} from 'aurelia-app'` and define `activate` like below:

[code]

[2015-09-13 21:14] jdanyow commented on #207
@reinholdk this issue may have been fixed by some fixes to the binding system that have not been released yet.  I'd like to test your specific test case but I'm not able to access the plunker you put together.  Would you be able to re-post the plunker or create a new one using http://bit.ly/aurelia-plunker ?

[2015-09-14 06:21] reinholdk commented on #207
Strange, I can still see the plunk even when not logged-in to Plunker, it is marked as public plunk.
This is the editor URL exposed when pressing the share as e-mail button: http://plnkr.co/edit/n5W1JA?p=info maybe it works better.

[2015-09-14 09:38] heruan opened #212 "Using URI Template (RFC 6570)"
[RFC 2560](https://tools.ietf.org/html/rfc6570) defines a URI Template syntax widely used in RESTful frameworks (e.g. [JAX-RS](https://docs.oracle.com/cd/E19798-01/821-1841/ginpw/), [Restlet](http://restlet.com/technical-resources/restlet-framework/guide/2.3/core/routing/hierarchical-uris), [Symphony](http://symfony.com/doc/current/book/routing.html)).

The syntax of routes changes slightly, i.e.

[2015-09-14 11:55] jdanyow commented on #207
@reinholdk thanks- I'm able to access it using both links now.  Turns out plunker was down for a little while yesterday.

I'll do some testing with the new bits and report back.

[2015-09-14 13:03] EisenbergEffect commented on #212
I think this is a nice idea...however, as far as I can tell, all the linked libraries are focused on expanding the templates rather than pattern matching, which is what the router does mostly. So, we would need to write an entirely new matcher to support this change.

Since we hope to have the beta out in about 3 weeks, I don't think there's going to be time to do something like that. Especially c

[2015-09-14 15:08] bryanrsmith commented on #212
Yeah, we can do that after beta without breaking anything. We can probably
even factor out just the bits that care about syntax, too, so the matching
& generation logic doesn't need to be reimplemented.

I agree that it's too big a breaking change. The rails style syntax is much
more common in route patterns anyways.
On Mon, Sep 14, 2015 at 6:03 AM Rob Eisenberg <notifications@github.com>
wrote:

[2015-09-16 02:15] Secbone commented on #83
if I use route like this: `['/route', '/route/:id']` , can I use `route-href` without `params.bind` ? like this: `route-href="route: route"` ?

[2015-09-17 17:07] stephenlautier commented on #208
That's exactly how I fixed it on mine for the moment.
I added `settings?: any;` to the `RouteConfig` interface.

Might be better if it allows generic so we do get type strictness in our custom settings model.

[2015-09-18 04:26] bryanrsmith commented on #209
Exposing some of the page title logic should be easy enough, but at the moment child routers are not referenced by parents so you have to start at the bottom and work your way up. We can probably add the necessary structure as part of #90.

[2015-09-18 05:11] #208 closed

[2015-09-18 05:17] bryanrsmith commented on #203
@jeremy-holt Would you mind posting your view model code? My understanding is that the view model is loading the required data asynchronously without blocking activation. If that is the case then the `if` is indeed required, but we could possibly improve the error message.

[2015-09-18 13:56] AStoker opened #213 "Multiple viewports cause duplicate routes"
I'm trying to setup multiple viewports with Aurelia (http://aurelia.io/docs.html#rendering-multiple-view-ports). However, when I setup the router config to tell which ```<router-view>``` which module to load, the result is that now, ```router.navigation``` has an additional entry for each viewport added.

For example (modified from the skeleton project):
[code]
[code]

The result is now ```router.

[2015-09-18 18:32] jdanyow commented on #213
@AStoker try it like this:

[code]

[2015-09-20 15:18] reliak opened #214 "Core-JS dependency in aurelia loader"
Is there a reason why only the aurelia loader module references the core-js from github, while all other modules use the one from npm?
This leads to an increase in my bundle, because both core-js modules get included in the bundle.

[2015-09-20 15:36] #214 closed

[2015-09-21 10:57] corneliutusnea opened #215 "Add route parser for '$' as name/value pair preferably with-two way binding"
Hi,

I'd like to see (or add) support for a new specifier for routes `$` that will parse the url as a set of name=value pairs and feed them as an object in the activate. The name/value pairs could be delimited by a pipe "|".
Currently I ca do this `users/:id/detail` and get in the `activate({id:"1234"}` called but I want a bit more control so I'd like `users/$/` so I can do `/users/id=123|action=e

[2015-09-21 12:03] EisenbergEffect commented on #215
It looks like you are trying to re-implement query strings. Why don't you just use those?

[2015-09-21 13:31] corneliutusnea commented on #215
Because the query string does not have a view selector. In the above example I can have id=1234 for one view and id=456 for the child view. With query strings I'd need to be extra careful to only have a single set of parameters that work for all views.

[2015-09-21 13:59] EisenbergEffect commented on #215
I don't think we're going to add this out-of-the-box. It's very non-standard and would complicate a router that already has a ton of features.

As far as I know, there's nothing preventing you from doing this yourself though. You can just treat the entire segment as a single parameter in your route. You can then parse that parameter according to your own rules and handle it any way you want. You c

[2015-09-21 13:59] #215 closed

[2015-09-22 14:03] AStoker commented on #213
Perfect, thanks @jdanyow! I figured it was a configuration thing, but when I asked on the Aurelia Gitter, no one knew. Didn't realize that each viewport's navigation object works that way (configurable like it's own route). Might be worth putting a note in the documentation about that?

[2015-09-22 14:24] AStoker commented on #213
(Sorry for the late responses too, I've been gone for a bit). That actually didn't seem to work @jdanyow. It's still probably configuration, however, when I have what you have, there is no ```nav: true``` on the route as a whole, and so it doesn't appear at all in the navigation array. If I include ```nav: true``` on the route, and then specify which viewPort has the ```nav: false``` property, I g

[2015-09-23 11:54] heruan opened #216 "Refresh the navigation routes"
I'm writing a Security Manager for my project in Aurelia and I'm trying to fit it well with Aurelia's router. Instead of dealing with `if`s in HTML views, I'd like to use the `nav` property of routes configuration to include/exclude routes from the `navigation` array; i.e.
[code]
When the user login successfully, the `navigation` array should be rebuilt; I tried with `router.refreshNavigaiton()` b

[2015-09-23 12:17] EisenbergEffect commented on #216
Is the `nav` property the only property you need to udpate?

[2015-09-23 12:27] heruan commented on #216
In this scenario, it is. Since—for what I undestand—it's the property defining the presence of the route in the navigation array, I'd like to use that instead of adding another, if that's possibile and correct.

[2015-09-23 12:29] heruan commented on #216
P.S. Of course, I also have an `AuthorizationStep` added to the navigation pipeline to authorize the user to access the route.

[2015-09-23 12:54] EisenbergEffect commented on #216
One way would be to manipulate the router's `navigation` array directly. Just add/remove NavModel instances from that, based on the router's `routes` array.

Another thing you could so is mark every route as `nav: true` during configuration, then simply update the `nav` properties dynamically at a later point in time.

I think you should be able to do this from a pipeline step.

[2015-09-23 12:54] #216 closed

[2015-09-24 12:30] jdanyow commented on #207
Debugged this with the latest versions of binding, templating, etc.  There are still some leaks.  Still working on plugging them.
https://github.com/aurelia/templating-binding/commit/feedc533ca132b392b887094cc7df6193c6d2033

[2015-09-25 12:41] AStoker commented on #213
Bumping this one...

[2015-09-26 03:48] bryanrsmith commented on #213
@AStoker Sorry for the slow response time on this. Looks like a bug in the view port registration code. We look for a `configureRouter` method on the view model when a router-view element is found in the root view. The router isn't marked as configured until *after* configuration runs, and since it's Promise-based they're both running and configuring the router. I should be able to get a fix in th

[2015-09-26 14:02] AStoker commented on #213
Gotcha. Thanks for looking into it! Much appreciated.

[2015-09-27 14:16] devteamexpress opened #217 "Navigation pipeline should support cancelation"
one of my viewmodels activate function takes a while to complete around 15 seconds, if the route is mid activation and then I click another route, the router will wait for the old one to finish activating before proceeding to the new one which means that you're essentially stuck for those 15 seconds. Is there a way for it to cancel the old activation and proceed to the new one.

[2015-09-27 14:20] EisenbergEffect commented on #217
There is no notion of "cancellation" in promises at this point in time, though I have heard talk that the API may be improved to include that at some point in the feature. But, as things are, there's nothing that Aurelia can really do to handle this automatically.

My recommendation would be, for this case, to not return a promise from your activate method. Instead, fix up the view for that screen

[2015-09-27 14:28] devteamexpress commented on #217
Is their a way that Aurelia that if given a promise can wrap that promise in another container which can allow for an early reject. So let's say PromiseWrapper would take a promise and have a method called EarlyReject which would reject the promise mid way.

[2015-09-27 18:19] bryanrsmith commented on #217
I'm going to leave this open because I think we do need to handle cancelation at some point, and we don't have an issue tracking it yet.

[2015-09-28 20:40] derekpitt commented on #132
Is this still an issue? I am seeing the same thing here too..

[2015-09-29 03:47] alsoicode opened #218 "Appending a value to the end of the config.title instead of the beginning"
I would like to set a default title in the Aurelia config and then append values to the *end* of it in views, but Aurelia seems to want to append values to the *beginning* of the config.title value.

I have this question currently open on Stack Overflow: http://stackoverflow.com/questions/32802219/appending-a-value-to-the-aurelia-router-config-title

[2015-09-29 13:27] alsoicode commented on #218
Solved:

In main.js, override `buildTitle`:

    import {NavigationContext} from 'aurelia-router';

    NavigationContext.prototype.standardBuildTitle = NavigationContext.prototype.buildTitle;

    function buildTitle(separator=' | ') {
        var titleValues = this.standardBuildTitle(separator).split(separator),
            routeTitle = titleValues[0],
            configTitle = titleValues.slice

[2015-09-29 16:10] bryanrsmith commented on #218
We should make it easier to customize this behavior.

[2015-09-29 16:22] alsoicode commented on #218
Perhaps a config option to append or pre-pend the route title?

[2015-09-29 16:48] EisenbergEffect commented on #218
That sounds reasonable.
On Sep 29, 2015 12:43 PM, "Brandon Taylor" <notifications@github.com> wrote:

[2015-09-29 19:54] #213 closed

[2015-09-30 01:44] bryanrsmith commented on #212
Closing for now.

[2015-09-30 01:44] #212 closed

[2015-09-30 07:03] devteamexpress opened #220 "Combining parameter and wildcard doesn't match route correctly"
Referencing Issue : https://github.com/aurelia/templating/issues/180

[2015-09-30 07:16] zewa666 commented on #220
so in order for your example of order/112/summary to work you'd need something like this: `order/:id/*s` the important part is that you need to give it at least something behind the star sign. Not sure if that is intended but might help you in the meanwhile

[2015-09-30 14:27] jbellsey commented on #80
Any news on this? My issue (linked above) is awaiting this fix. Thank you!

[2015-10-01 10:13] shabalin opened #222 "Is there any way to bind the route value in route-href custom attribute?"
We have, I guess, pretty simple usage scenario of `route-href` custom attribute.
We have a navigation structure defined in the ViewModel and we want to render simple menu this way:
[code]

which triggers this error

[code]
0: Object
__observer__: OoObjectObserver
__observers__: Object
icon: "fa-crosshairs"
route: "ROUTE_1"
title: "Route 1"
[code]
Unhandled promise rejection Error: A route with nam

[2015-10-01 21:05] #80 closed

[2015-10-02 04:04] bryanrsmith commented on #80
Thanks for the bump @jbellsey. This will be customizable in the next release by registering a custom `LinkHandler` implementation with the DI container.

[code]

Here's the default implementation for reference: https://github.com/aurelia/history-browser/blob/master/src/link-handler.js#L22

[2015-10-02 13:53] jbellsey commented on #80
Sweet! Look forward to the release (and the docs!).

[2015-10-05 14:35] flieks commented on #45
I also have the canDeactivate function exectued twice but i don't have a canActivate in the next route. When this problem happens, the deactivate function doesn't get triggered aldough the page is navigated away from.

[2015-10-07 01:07] nathanchase commented on #222
Try **route.bind** instead of just route:
[code]

[2015-10-07 04:19] bryanrsmith commented on #222
Half way in between :-)

[code]

`${}` is for string interpolation.

[2015-10-07 04:19] #222 closed

[2015-10-07 04:24] bryanrsmith commented on #220
@devteamexpress Can you provide more info about what you're trying to do? The router already sets up wildcard routes internally to handle child routers, so you shouldn't need to worry about that. A single route parameter can't be both dynamic (`:`) and wildcard (`*`).

Does `order/:id/*path` do what you want?

[2015-10-08 03:22] bryanrsmith commented on #220
I'm going to close this for now. Please feel free to reopen it if there's something I need to look into.

[2015-10-08 03:22] #220 closed

[2015-10-12 06:03] #25 closed

[2015-10-12 06:22] EisenbergEffect commented on #40
@bryanrsmith This has been around for a while. Can you take a look at it?

[2015-10-12 06:52] EisenbergEffect commented on #88
@bryanrsmith How are we on this?

[2015-10-12 07:14] avitex commented on #27
:+1:

[2015-10-13 05:18] bryanrsmith commented on #40
@EisenbergEffect What's the expected behavior? The application is configured to not use pushstate, so I think this is working as intended. There is code to transition from path to hash URLs, but it only kicks in if the application asks for pushstate & the browser doesn't support it.

[2015-10-13 05:20] EisenbergEffect commented on #40
@bryanrsmith I think you are right. I'm going to close this.

[2015-10-13 05:20] #40 closed

[2015-10-13 05:35] bryanrsmith commented on #195
@valichek Sorry for the delay on this. This is a problem because the router doesn't let you navigate to the location that's already active. In the next release you'll be able to use the `{ replace: true }` navigate option to force the router to navigate to the same URL.

I'm going to close this because I think this will solve your problem. Please feel free to reopen it if this change isn't working

[2015-10-13 05:35] #195 closed

[2015-10-14 20:56] sorenhoyer commented on #90
+1 this would indeed be a nice enhancement. :)

[2015-10-16 02:19] aidesigner opened #225 "Links containing hash anchor tags not supported in URL"
Aurelia router does not seem to allow a URL that has a link location suffix like "http://localhost:3000/products#middle.  Note I assumed it was mandatory to implemented pushState (http://aurelia.io/docs.html#configuring-push-state), which eliminated the starting # in the URL.  Below are some cases that indicate the #middle is confusing the router.

Experiments
(PASS) Enter browser URL http://local

[2015-10-16 15:46] AStoker opened #226 "CurrentInstruction property on non-Chrome browser doesn't exist on startup"
I have my route configuration inside of an `app.js` file. Inside the app class, I have a configureRouter function which is set up like this:
[code]
This works fine in Chrome, as the `currentInstruction` property exists right off the bat here. However, in Safari, and IE, the property doesn't exist until later, and therefore I can't get the observer to listen properly.

The bug seems to be the timin

[2015-10-16 15:55] AStoker commented on #226
Not sure if this is entirely related to the router. It seems that by bringing things into the app's constructor differently (either through injection or 'new'ing up an object) I get different results.
The odd ball is the MultiObserver class I'm trying to bring in. Would using `@inject` over sewing up an exported class cause differences?

[2015-10-17 16:14] mikeobrien opened #227 "Handle view errors and pipe them into the Aurelia logger"
I'm running into an issue where errors in the view can't be handled. For example, if a route name is wrong in a view, an unhandled promise rejection error is thrown but it's not logged by the Aurelia logger and ATM [you can't reliably catch promise rejection errors with the global error handler](http://stackoverflow.com/questions/31472439/catch-all-unhandled-javascript-promise-rejections). I'm cur

[2015-10-18 22:16] LivesleyWA opened #228 "Export to Router is not a function error"
Just updated to latest version of Aurelia to see if some earlier issues had been addressed. I removed all current jspm delivered packages, updated package.json to remove any reference to version # and reinstalled from scratch.

What was working is no longer. The pacakge.json section, systemjs configuration and error are shown below

_package.json_

  "jspm": {
    "dependencies": {
      "aurelia-

[2015-10-18 23:10] LivesleyWA commented on #228
This may be related to child routers since I am using child routers and @Mule52 has a working example using the same set of modules but I don't think the sample uses child routers.

[2015-10-21 17:11] heruan opened #229 "Binding route title to an object property"
During a VM activate I use the `routeConfig.navModel.setTitle("Title")` to set the route/page title; i.e.
[code]
 I'd like to bind the route title to `entity.name` so that when the name changes it would be reflected on the browser window title and where the route title is referenced (e.g. a breadcrumb custom element). Is it possible such a binding?

[2015-10-21 17:18] EisenbergEffect commented on #229
The binding system can let you execute code when properties change. So, on that side of things it is possible. @bryanrsmith Is it possible to call `setTitle` at any time?

[2015-10-21 17:21] bryanrsmith commented on #229
Yes, but I believe it's only exposed via the activate method, so you'll
need to grab it there and store it on the view model somewhere.

On Wed, Oct 21, 2015 at 10:18 AM Rob Eisenberg <notifications@github.com>
wrote:

[2015-10-21 17:22] EisenbergEffect commented on #229
Ok, cool. So, if @heruan grabs the navModel instance and stores it, he can use it later to update the title. Cool. @heruan Take a look at the bindingEngine, if you have the latest. It's going to chance a bit in the next release, but it lets you observe properties and respond to changes easily.

[2015-10-21 17:22] #229 closed

[2015-10-23 08:15] heruan commented on #229
Following your advice and using the `bindingEngine` I did this and it's working like a charm:
[code]
This will update routes in the form:
[code]
and when `entity.name` changes, the page title and wherever `navModel.title` is used (e.g. breadcrumbs) its values updates accordingly. Awesome!

[2015-10-23 14:46] EisenbergEffect commented on #229
Excellent. Heads up...the binding engine usage is going to change a bit in the next release. You will need to import BindingEngine and then have it injected into your class. We made it a singleton object in your version...which we thought better of almost immediately afterwards. So, be on the lookout for that.

[2015-10-24 06:04] EisenbergEffect commented on #207
@jdanyow Was this fixed? Can we close now?

[2015-10-24 13:16] jdanyow commented on #207
I believe there still is a leak in the router, somewhere in the "instructions" / "previous instructions".  I'll need to re-test.

[2015-10-24 19:06] bryanrsmith commented on #207
@jdanyow Let me know if you want me to check this out.

[2015-10-24 19:08] EisenbergEffect commented on #207
Perhaps once the navigation is complete we need to null out certain parts of the previous instruction? We need to keep part of it around in order to enable correct navigation logic, but we might need to null out everything else in order to clean up the model references. Just thinking out loud here...

[2015-10-25 03:39] chrismbeckett opened #232 "Transclusion / @ContainerLess with Router-View"
I need multiple layouts in my application. The easiest way seems to be to use child routers/nested and  named views, but the router-view element actually gets added to the DOM as a container element and it is making layout CSS with flexbox, and the use of external frameworks like material design lite which expect DOM structure to be a certain way.

I noticed on custom elements there is a @Containe

[2015-10-25 05:41] chrismbeckett opened #233 "Feature Request: Better support for Layouts"
Using the default router schema with the default App view, but binding doesn't seem to work between the App template and the view controller when binding to a property on the router?

[code]

[code]

[2015-10-25 05:58] chrismbeckett commented on #233
UPDATE: Ok, getting router vs routeConfig object mixed up between App controllers and sub-view controllers. A little trial and error and I think I figured out what was wrong.

[2015-10-25 06:11] chrismbeckett commented on #233
Ok, figuring out stuff, but there does seem to be a hole in the router here somewhere. In the App controller, I am configuring my routes as per the docs, but in the template, I need to have conditional logic based on flags on the current route:

[code]

[code]

The real scenario is not this straight-forward because the public and secure layouts require more markup than just the router-view but thi

[2015-10-25 06:19] chrismbeckett commented on #233
One more piece of information, in the activate callback on the App controller, the routeConfig parameter is undefined.

[code]

[2015-10-25 10:41] EisenbergEffect commented on #232
Place the `containerless` attribute on the `router-view` or `compose` element and you will get the behavior you want. In other words, do this:

[code]

[2015-10-25 10:41] #232 closed

[2015-10-25 10:45] EisenbergEffect commented on #233
There are lots of ways to solve this issue. For example, you could use the `compose` element to dynamically render based on data. That's it's main purpose. To find the exact solution, I would need more information on your scenario. The best place for questions like these is our gitter channel though. We use GitHub primarily for tracking bugs and feature enhancements.

[2015-10-25 10:45] #233 closed

[2015-10-25 16:09] chrismbeckett commented on #232
Thanks, that's awesome.

[2015-10-25 16:17] chrismbeckett commented on #233
I had read the docs on compose, but I guess I didn't really get how to use it. This article has helped - http://www.sitepoint.com/composition-aurelia-report-builder/. What I really want is something like what they have on the MeteorJS Iron Router - the ability to specify the layout as part of a route. This is what it would look like:

[code]

Basically, on a route, I want to be able to define diff

[2015-10-25 18:00] chrismbeckett commented on #233
FYI - Thx, I figured it out. I just needed to get my head around the potential for compose. I was able to create layout view-models with compose sections, and my custom version of 'viewPorts' on the route to bind to them achieving what I needed.

[2015-10-25 18:53] bryanrsmith commented on #193
@Zensavona Are you still seeing this problem? We'd love to help but I think we'll need a complete repro in a plunker or a zip of your app.

[2015-10-25 19:37] Zensavona commented on #193
Yup, I'll try to get around to it tomorrow - it's related to a side project that I haven't touched in a while now.

Thanks!

[2015-10-25 20:43] jimmywarting commented on #173
Will some form of offline (aka web storage) technology be implemented?

[2015-10-26 03:35] #227 closed

[2015-10-26 14:49] mikeobrien commented on #227
Thx @bryanrsmith!

[2015-10-26 15:03] EisenbergEffect commented on #177
@bryanrsmith Can we close this now?

[2015-10-26 15:14] #134 closed

[2015-10-26 15:17] bryanrsmith commented on #177
No, I need to make an adjustment to the instruction attached to the event.
On Mon, Oct 26, 2015 at 8:03 AM Rob Eisenberg <notifications@github.com>
wrote:

[2015-10-26 21:41] mattyellen opened #234 "No navModel after passing a RouteConfig to mapUnknownRoutes"
Tried to set up a default route like this:
[code]

But when trying to navigate to an unknown route it fails with:
ERROR [app-router] TypeError: Cannot set property 'isActive' of undefined

Looks like the navModel never gets created in the route config.

Reproduced the issue here:
https://github.com/mattyellen/skeleton-navigation

Which you can see in action by going here:
http://mattyellen.github.

[2015-10-27 05:02] bryanrsmith commented on #226
@EisenbergEffect @jdanyow Any idea on this one?

[2015-10-27 05:02] EisenbergEffect commented on #226
Can it be reproduced?

[2015-10-27 05:08] bryanrsmith commented on #228
@LivesleyWA Are you able to provide a plunker that reproduces the issue, or a link to a repo that I could check out?

Without seeing more code, I can only guess. This could happen if your `configureRouter` method returned an object that's not a `RouterConfiguration` (or returns a Promise that resolves with an object that's not a `RouterConfiguration`).

[2015-10-27 12:41] AStoker commented on #226
It's possible that I'm doing something funky. What I did to reproduce this was take the skeleton project which imported a module titled MultiObserver (based off of http://blog.durandal.io/2015/04/03/aurelia-adaptive-binding/), and then inject it and set the property in the constructor. That may be way off base, but it seems that when I do that, I get the issue to crop up...

[2015-10-27 18:49] LivesleyWA commented on #228
Thanks Bryan, that was it. I was returning an empty promise but I changed the code to return the RouterConfiguration object. This was working before the recent push.

You can close this ticker - thanks.

[2015-10-27 18:49] #228 closed

[2015-10-28 05:00] bryanrsmith commented on #226
`currentInstruction` isn't set until the first navigation completes. I'd expect it to always be `undefined` in your app's `configureRouter` method. I don't know the observer stuff very well myself, but I'd be happy to help debug if you can provide a plunker or repo for me to check out. Otherwise maybe Rob has an idea.

[2015-10-28 05:04] bryanrsmith commented on #203
I've made some recent changes to route-href that should reduce this issue in the next release. I believe route-href is now handling this as well as it can. Please feel free to reopen if that's not correct.

[2015-10-28 05:04] #203 closed

[2015-10-29 04:39] bryanrsmith commented on #187
@jeremy-holt your binding syntax isn't quite right.

`<a route-href="route:rawmaterial-arrival-edit; params.bind:{id:item.arrivalId}">${item.lotNumber}</a>`

@mahtavata I haven't been able to repro this myself, but I'm not sure if I've correctly understood your setup. If you're able to provide a plunker or a repository I could take a look at I'd appreciate it. I'll go ahead and close this for now,

[2015-10-29 04:39] #187 closed

[2015-10-29 04:50] bryanrsmith commented on #168
@kdeberni Wow, looks like this one slipped through the cracks. Sorry about that! Are you still seeing this problem? We've made several changes that relate to this recently.

[2015-10-29 04:55] bryanrsmith commented on #144
I think we discussed this a bit on gitter, but the router's nav model isn't well suited for more complicated scenarios.  I think it'd be best to add custom logic to the application to handle this and avoid adding too much specialized support to the core router. Closing for now, but happy to discuss further.

[2015-10-29 04:55] #144 closed

[2015-10-29 04:57] bryanrsmith commented on #136
@EisenbergEffect Thoughts on this? I think I agree with @jods4. If we add support to the router then we probably need to add an API for disabling it. I'm not sure it's worth the complication.

[2015-10-29 05:01] bryanrsmith commented on #139
#90 will let us avoid reconfiguring child routers. I'm going to close this issue in favor of that one.

[2015-10-29 05:01] #139 closed

[2015-10-29 07:40] kdeberni commented on #168
@bryanrsmith I just checked that out and it looks like it's OK now.At least in version 0.12.0 of aurelia-router. So I think this issue can be closed. Though it would be good to check this on version 0.13.0 but we can't do it now. Worse case scenario I will open it again if in version 0.13.0 this will be again an issue.

[2015-10-29 07:46] kdeberni commented on #169
@bryanrsmith Any news about this issue. In version 0.12.0 it still don't work. And It is really a big issue for us because our application is based on child routers.

[2015-10-29 11:52] jdanyow commented on #136
Couple thoughts:

1.  I don't think there's a need for an option, the inclusion of the autofocus class would be considered "opting in" to the behavior.

2. An `autofocus` custom attribute is a bad idea because it prevents you from composing multiple items that have `autofocus` attributes.  They will steal the focus from each other.  IMHO It's better to tie the focus assignment logic to navigation,

[2015-10-29 12:47] jods4 commented on #136
I am not sure I see the alternative. Inserting multiple `autofocus` elements at the same time would indeed be a race (last one attached wins), but then what do you expect if you design your application with multiple `autofocus` at the same time?

Although I never encountered this problem in practice (I use my own `autofocus` custom attribute) I wonder what alternative design would solve the issue.

[2015-10-29 13:24] jdanyow commented on #136
@jods4 take a look at the original post for this issue.  It describes how durandal used the `.autofocus` class.  It's also mentioned in the [durandal docs](http://durandaljs.com/documentation/Showing-Message-Boxes-And-Modals.html).  The logic is simple, focus the first element with the autofocus class.

This is an important and extremely common scenario that I feel should be covered or at least do

[2015-10-29 23:05] jods4 commented on #136
I agree with you that it's important. I think implementation-wise I just don't see what's so bad with the `autofocus` custom attribute. To try to bring something new to the table, here are a few additional considerations:
- an `autofocus` custom attribute that would focus when `attached()` would mirror closely the HTML5 `autofocus` attribute behavior. I think it's really unfortunate that the HTML5

[2015-10-30 03:20] #234 closed

[2015-10-30 04:09] bryanrsmith commented on #186
Need a repro. Closing for now.

[2015-10-30 04:09] #186 closed

[2015-10-30 05:30] bryanrsmith commented on #136
I agree that we shouldn't implement something that may not be flexible enough. In my own apps I prefer not to return the Promise from `activate()` because I think it makes the app feel more responsive. In that situation, it's not possible for the router to correctly handle autofocus.

The router also has no DOM references right now, and I'd love to keep it that way :-)

@jdanyow Would you be happy

[2015-10-30 09:23] ddittmann opened #237 "after router.reset() and router.configure() the view isn't updated"
I updated the skeleton-navigation from v0.18.1 to v0.19.0.
Try to reconfigure the router with a new map(from server) after authentication.
It worked in v0.18.1. Now it looks like the router doesn't update the view after router.reset(), router.configure()

I can reproduce this in a fresh skeleton-navigation v0.19.0 by calling
[code]
Is there something missing to reconfigure the router?

Can I trigg

[2015-10-30 10:56] jdanyow commented on #136
good points- closing

[2015-10-30 10:56] #136 closed

[2015-11-03 08:51] jods4 commented on #136
For the sake of use-cases that could be interesting tests:

Today I built a dynamic list in a form, with a complex template and an add button. The list itself is simply a `repeat.for`. When I add a new item, I want that the first field of the newly inserted template to get focus (so that the form is totally usable with keyboard).

For this I used an `autofocus` custom attribute that `.focus()` on

[2015-11-04 13:49] VladCherniavsky opened #238 "Refresing router"
Hello everyone!

I have problem with refreshing  the router.
[code]

I have " isLoggedIn "method wich check if the item is in localstorage -its returns "true", if not "false"

At first all is ok. I see "Register" and "login" in nav-bar.
But when user is authorized - nothing change. I also have this two routes in nav-bar.
It will change only if I run   window.location.reload(); - but I don't want t

[2015-11-04 14:15] peisenmann commented on #237
@ddittmann Have you tried `this.router._refreshNavigation()`? I believe that has to be called after you reconfigure the router. That being said, it might be worth the team adding a line to `configure` so that it automatically refreshes the navigation.

[2015-11-04 17:35] ddittmann commented on #237
[code]
In aurelia-router v0.13 I can find.
[code]
But I can't see any effect, the navigation view is still empty. Feels like the observation has been canceled.

[2015-11-04 20:50] VladCherniavsky opened #239 "href in router is undefined"
I tried to configure me route as follow:
[code]
I have the same situation if try this one:
[code]

It  works, I see  items in nav-bar, but when I try to click on link I get "undefined " in url.
The console shows me that 'href' property for this items  is "undefined "
Maybe somebody knows what is the problem?

[2015-11-04 22:52] didenkov commented on #238
Hi Vlad. Have you tried custom authorize step approach described at http://aurelia.io/docs.html#customizing-the-navigation-pipeline ?

[2015-11-05 20:04] larsfjerm commented on #89
I've been waiting for a fix for this in a long time now. Would this be possible when the beta comes out? I would say it's a crucial functionality.

[2015-11-05 20:43] bryanrsmith commented on #89
I agree. I really want this too. I don't think it will be ready before
beta, though. It requires a pretty big internal change that I haven't had
time for. Hoping to get to it soon after beta.

On Thu, Nov 5, 2015 at 12:04 PM Lars <notifications@github.com> wrote:

[2015-11-05 20:52] larsfjerm commented on #89
Nice to hear. You've all done a great job so far. Looking forward for the rest!

[2015-11-05 21:57] BruceL33t opened #240 "Weird problem with router and value converter if inside if.bind"
I've made a plunkr here which replicates the problem.

http://plnkr.co/edit/dnCtpI?p=preview

Eg. this does not work:
[code]

But if I remove the ```<div if.bind="auth.isAuthenticated">``` it does work.

What works? (or not)

[code]
even ```<div if.bind="true">``` doesn't make a difference - the if.bind seems to somehow be the problem

[2015-11-05 22:36] BruceL33t commented on #240
A last resport made me try to replace if.bind with show.bind, and although I must admit I was surprised, it did seem to get the job done. Logically it just doesn't make much sense to me, since I should show was just kinda like jquery.show/hide to toggle visibility on the divs. Here I'd actually use it to either show the login page with no styles or other static assets, vs displaying the fullblown

[2015-11-06 06:26] bryanrsmith opened #241 "Crash when navigating to route with misconfigured viewPorts"
Configure a view with two viewports and a router with one route that properly configures both viewports and one route that configures only one viewport. Attempting to navigate from the good route to the bad will crash in buildNavigationPlan. We should log a helpful error message.

[2015-11-06 16:19] dpinart commented on #201
Hi,

After some time looking for a response I couldn't find any way I can refresh the current view. I'd like to have a way to reload the current view and forcing all the cycle to run

[2015-11-06 20:49] bryanrsmith commented on #240
Configuration of the root router is kicked off when the `router-view` element is created. Maybe the `if` binding is causing the the `nav-bar` to read `router.routes` before configuration completes? I'm not sure why the filter breaks it.

@EisenbergEffect Any ideas?

Looks like the key pieces of the repro are:

1. The `if` binding in the `app.html`.
2. The `route-language-filter` used to filter the

[2015-11-06 21:02] bryanrsmith commented on #239
It looks like `href`s in the navigation array aren't set until the router actives & determines its current location, so my guess is that you're trying to render nav links before the router has been activated.

The root router will activate automatically when a viewport is registered (when you render a `<router-view>` element). I would suggest using a `configureRouter()` method on your root view mo

[2015-11-07 18:55] bryanrsmith opened #243 "Expose history action type"
We should attach the history action type (push or pop) to the navigation instruction so activation code can read it.

[2015-11-07 19:05] EisenbergEffect commented on #243
Great idea!
On Nov 7, 2015 1:55 PM, "Bryan Smith" <notifications@github.com> wrote:

[2015-11-08 02:07] #239 closed

[2015-11-08 02:11] #238 closed

[2015-11-08 12:33] VladCherniavsky commented on #238
@didenkov Hi Dmitry, thanks for  your help, it was useful:  I've manually changed "nav" propetry so the  code  works as I wanted, but I think there must be more convinient way to do the same

[2015-11-08 13:27] VladCherniavsky commented on #239
Unfortunately it didn't solve my problem.
Thanks for help

[2015-11-08 15:55] bryanrsmith commented on #239
Are you able to post a more complete code sample? Seeing the whole view
model & view would be helpful.
On Sun, Nov 8, 2015 at 5:27 AM VladCherniavsky <notifications@github.com>
wrote:

[2015-11-09 06:38] #207 closed

[2015-11-09 21:35] devteamexpress opened #245 "Views don't bind when switching between routes of child router"
If you have a child router and you switch between routes the binding just stops working entirely and i am left with empty fields.

I have put together a sample app
https://github.com/devteamexpress/test-aurelia

I have two screens on my child router (General and Intergrations) start on general go to Intergrations and click the back button you'll see it doesn't bind , furthermore the child router d

[2015-11-09 21:37] Magrangs commented on #185
+1 Having the same issue with child routes defined in a viewmodel that itself is accessed via a default route.

[2015-11-09 21:52] monkeyhouse commented on #185
Hi Magrangs, I think the redirect property solves this issue.
In the example above I would set up the route

[code]

Let me know if it works for you. I will try it out tonight. I think this is the expected workaround

[2015-11-09 21:55] Magrangs commented on #185
Yep, that works! Thanks very much.

[2015-11-11 06:21] #245 closed

[2015-11-11 06:24] devteamexpress opened #246 "Repeat.for doesn't rebind when switching routes in a child router"
This is based on the latest aurelia version as of 11-10

Here is my child viewmodel

    export class ChildView {

    constructor() {
    }

    configureRouter(config, router) {
        config.map([
            { route: ['','route1'], name: 'route1', moduleId: 'views/configuration/route1/index', nav: true, auth: true, title: 'General'},
            { route: ['route2','route2'], name: 'route2', m

[2015-11-11 13:07] jods4 opened #247 "NavigationInstruction TS definitions"
`NavigationInstruction::params, queryParams, config, addViewPortInstruction` are all typed as `Object`.
same for `NavModel.config` and probably others.

This is unhelpful because TS will raise errors whenever you try to do anything remotely useful, such as `instruction.config.moduleId`.

`Object` should be replaced by `any`, or ideally with a strongly typed model where applicable (e.g. `config`).

[2015-11-11 14:31] jods4 opened #248 "TS definition: mapUnknownRoute"
`mapUnknownRoute` is declared to accept a function returning `void | Promise<void>` but it should be `string | Promise<string>` (I think).

[2015-11-11 15:40] EisenbergEffect commented on #248
@bryanrsmith Can you confirm?

[2015-11-11 16:09] StrahilKazlachev commented on #248
Isn't it actually `string | Promise<string> | RouteConfig | Promise<RouteConfig>`?

[2015-11-11 16:37] StrahilKazlachev commented on #248
Also can you replace in the definitions `Object` with `any` where appropriate? Like in `NavigationInstruction.params`, `NavigationInstruction.config`, `NavigationInstruction.queryParams`. Casting to `any` to use them is ... uncomfortable.