[2015-11-11 16:39] EisenbergEffect commented on #248
@bryanrsmith Would be great to get this addressed by Friday so we can have it for the beta.

[2015-11-12 06:06] #248 closed

[2015-11-12 06:08] bryanrsmith commented on #247
Thanks. I've updated those annotations, and several others in the project.

[2015-11-12 06:08] #247 closed

[2015-11-12 06:55] bryanrsmith opened #249 "Add helpers for dynamically matching paths"
We should expose the route recognizer functionality in a convenient way to make it easier to match incoming paths to routes in dynamic handlers. That could help with some scenarios where routes are loaded from remote data, etc. We should be able to refactor some of the createNavigationInstruction code to make it happen.

[code]

[2015-11-12 09:10] jeremy-holt opened #250 "Router.routingContext no longer working"
Since upgrading the following code no longer works:
[code]
It seems to be a problem with the line `return next.cancel(new Redirect('login'));

The router is
[code]
Note that the routes login and logout do not have names. Even if I give them the name property, the Redirect("login") does not work.

The error I'm getting is
[code]
and
[code]

[2015-11-12 09:10] jeremy-holt commented on #250
Note that this is code based on a much older version of aurelia-auth

[2015-11-12 09:20] jeremy-holt commented on #250
Sorry - I found the new dox which gives an example for 'if (navigationInstruction.getAllInstructions().some(i => i.config.auth)) {'

[2015-11-12 09:20] #250 closed

[2015-11-12 14:28] jods4 opened #251 "Regression: route-href binding + pushState"
My app uses
`RouterConfiguration.options.pushState = true`.

I have links throughout the application similar to this:
`<a route-href="route: dashboard">`.

Before pre-beta release it worked fine and looked like this:
`<a href="/my/dashboard/url">`

After beta release it generates this:
`<a href="#/my/dashboard/url">`

Which of course doesn't work anymore.

[2015-11-12 14:38] EisenbergEffect commented on #251
@bryanrsmith If possible to fix by tomorrow, please do. I would categorize this has a high priority bug.

[2015-11-12 14:38] EisenbergEffect commented on #251
@bryanrsmith If it can't be done in time, let me know. We can plan a fast hotfix after release.

[2015-11-13 01:48] EisenbergEffect commented on #65
Routes can have custom settings, which is a perfect way to solve this.

[2015-11-13 01:48] #65 closed

[2015-11-13 05:45] bryanrsmith commented on #246
@devteamexpress Are you sure you're up to date on all the Aurelia libraries? That routing setup is exactly what we use in the skeleton navigation project, which appears to be working. If you are up to date, would you be able to post a plunker that reproduces the problem? I'm not able to repro myself.

[2015-11-13 10:43] xiwc commented on #246
i have the same question.

parent router change, the child router will not refresh bind.

my config:

      "aurelia-binding": "github:aurelia/binding@^0.10.0",
      "aurelia-bootstrapper": "github:aurelia/bootstrapper@^0.18.0",
      "aurelia-dependency-injection": "github:aurelia/dependency-injection@^0.11.0",
      "aurelia-event-aggregator": "github:aurelia/event-aggregator@^0.9.0",
      "au

[2015-11-13 11:38] devteamexpress commented on #246
Here is my config

    "aurelia-animator-css": "github:aurelia/animator-css@0.18.0",
    "aurelia-binding": "github:aurelia/binding@0.11.3",
    "aurelia-bootstrapper": "github:aurelia/bootstrapper@0.19.0",
    "aurelia-dependency-injection": "github:aurelia/dependency-injection@0.12.1",
    "aurelia-dialog": "github:aurelia/dialog@0.4.4",
    "aurelia-event-aggregator": "github:aurelia/event-aggr

[2015-11-13 12:41] nomack84 commented on #246
You have to check the forks, they have been causing a lot of troubles.

[2015-11-13 12:42] nomack84 commented on #246
Try this: `jspm inspect --forks`

[2015-11-13 13:28] stevies opened #252 "router.navigateToRoute places #fragment before query string params"
[code]

Generates URL in the format:

[code]

instead of:

[code]

This is at odds with the spec: http://tools.ietf.org/html/rfc3986#section-4.1 - the #fragment should be the last part of the URL after the query string.

It breaks navigation links because the query string will get stripped off when (after doing a router.navigateToUrl somewhere in the app) you later try to follow a link such as:

[

[2015-11-13 13:46] stevies commented on #252
I notice that given a URL such as:
[code]
then:
[code]
which makes sense if the query params are being treated as belonging to the #fragment.

Maybe adding new query string params after the #fragment in `router.navigateToRoute`  is by design and not a bug - but it will break your application if your entry point URL has any existing query string params.

[2015-11-13 14:23] devteamexpress commented on #246
Installed Forks
    npm:core-js 0.9.18 1.2.6
    To inspect individual package constraints, use jspm inspect registry:name.

[2015-11-13 15:06] jedd-ahyoung commented on #83
Checking into this. As before, I'm running into issues where a route defined like this
[code]

cannot be called like this:
[code]

I receive this error.
[code]

Changing the order of the routes in the array actually does seem to have an effect on this, as I get a different error if I reverse the order. I guess Aurelia scans the route table in order.

[2015-11-13 16:08] bryanrsmith commented on #252
If you don't use pushState then the hash is the only part of the URL that can be modified. This behavior looks correct to me. I don't think I understand the issue with the query string-- are you saying that we should copy the query string into the hash on first load?

[2015-11-13 16:42] stevies commented on #252
I think I understand the reasons why it works like this in Aurelia.

But generally the URL query string should come before the hash, not after it.
[code]
[code]
[code]
[code]

Not sure copying the existing query string onto the hash on first load is necessarily a good idea - it will still be wrong, and you'd end up still losing it on the next navigation to another #hash anyway.

In the app I am cu

[2015-11-14 02:36] xiwc commented on #246
# The second level router's :id will not be refreshed after the first level router changed.

### My first level router:

    // 配置路由
    configureRouter(config, router) {

        config.map([{
            route: ['my'],
            name: 'my',
            moduleId: 'my/my-pane',
            nav: true,
            title: '我的'
        }, {
            route: ['project/:id'],
            name: 'proj

[2015-11-15 14:27] xiwc commented on #246
# I also test at aurelia-skeleton-navigation-v0.20.0

### my parent router
![image](https://cloud.githubusercontent.com/assets/8816203/11169088/e2466cde-8be6-11e5-9812-c398acd8504a.png)
### my child routers
![image](https://cloud.githubusercontent.com/assets/8816203/11169090/ef873cca-8be6-11e5-94d6-104626784d1f.png)
### the result screenshot
![image](https://cloud.githubusercontent.com/assets/8816

[2015-11-15 20:40] bryanrsmith commented on #246
@EisenbergEffect I've confirmed that the router's baseUrl and navigation models are being updated properly, but the binding is not being updated. Could this be related to recent templating changes? If you use `activationStrategy.replace` the view behaves as expected, presumably because that causes a new binding to be created.

[2015-11-15 20:57] EisenbergEffect commented on #246
@xiwc Can you run a `jspm update` and try it out again. We had some more fixes to binding and templating. Not sure if it solves your issues, but would like you to check.

[2015-11-15 21:16] #251 closed

[2015-11-16 03:20] xiwc commented on #246
@EisenbergEffect & @bryanrsmith
 I have checked again with `jspm update`, the issue still there.
My validate branch code: https://github.com/xiwc/aurelia.skeleton.v0.19.test/tree/aurelia-framework-v18

[2015-11-16 03:23] xiwc commented on #246
FYI:
![image](https://cloud.githubusercontent.com/assets/8816203/11173691/8317043a-8c54-11e5-9915-99859ba9aaca.png)

[2015-11-16 04:55] bryanrsmith commented on #246
Yep, I still repro on newest releases as well.

[2015-11-18 17:48] fopsdev commented on #173
just loud thinking:
maybe we can just use browser history instead of view restoring
[code]

[2015-11-22 15:56] glen-84 commented on #83
@EisenbergEffect Have you considered using route definitions similar to those used in ASP.NET 5 attribute routing?

So instead of `/article/:id` you'd use `/article/{id}`, and you could then support features like route constraints (`/article/{id:int}`), optional parameters (`/article/{id:int?}`), and default parameter values (`/article/{id:int=99}`).

[2015-11-22 16:10] davismj commented on #83
That's actually a great idea, especially since it allows better flexibility and strengthens the familiarity MVC developers will have with Aurelia, which is a path we've been treading thus far. +1

[2015-11-22 17:51] StrahilKazlachev commented on #83
Quite usable feature +1. But shouldn't this be in the route-recognizer?

[2015-11-22 18:38] CasiOo commented on #83
+1 @glen-84, seems to be a great idea

[2015-11-22 19:20] bryanrsmith commented on #83
Unfortunately, we're too far along to consider changing the routing syntax. Changing it would be very disruptive to existing apps, and supporting both syntaxes would complicate code and cause confusion in docs and examples. We can (and intend to) support optional segments, default parameters, and route constraints with the current syntax.

Happy to discuss further, but it'd be great to do so in a

[2015-11-22 20:01] glen-84 commented on #83
@bryanrsmith,

That's unfortunate. I thought that it may still be possible as the package is still marked as pre-release and it would be relatively easy to create a migration tool.

Anyway, what about:

`/article/:id{int}/edit` (constraint)
`/article/:id{int?}/edit` (optional)
`/article/:id{int=99}/edit` (default)

Or:

`/article/:id(int)/edit` (constraint)
`/article/:id(int?)/edit` (optional)
`/a

[2015-11-23 09:59] valichek commented on #237
I have similiar problem. Now when `router.reset()` was removed, calling `router.configure(handler)` has no effect if router has been configured already. `handler` is being called. `router.ensureConfigured()` promise is being resolved, but router.routes has no changes. Please, help. My app does really need to re-configure routes when processing auth too.

[2015-11-23 15:17] valichek commented on #249
@bryanrsmith Looks like it is a good replacement for router.reset()?

[2015-11-23 17:17] shajiuk commented on #62
I have a child-router defining routes in a file called index.js.  Then in the following app.js file I reference the index.js file as follows.  The index.html files loops through the navigation and constructs the menu items correctly with the routes correct in the href part.

The problem I am having is that it cannot find the routes. Any ideas?

If I put the routes in the app.js file it finds it.

[2015-11-23 22:22] avitex commented on #237
@valichek I am currently in the same boat as you.

[2015-11-24 06:22] davismj commented on #83
I'd suggest staying in sync with MVC, even if that means waiting until a later version.

[2015-11-24 09:38] valichek commented on #237
@avitex Just as an idea, I think we can use `determineActivationStrategy()`, if routes should be reconfigured we return `activationStrategy.replace` in that way we will get new object and get `configureRouter()` called. But to get `determineActivationStrategy()` called we need to refresh the page, can be done with `router.navigate('', {replace: true})`. So when we get new routes, we can get some f

[2015-11-24 10:19] shajiuk opened #254 "Route Not found when using child routers"
I have a child-router defining routes in a file called index.js. Then in the following app.js file I reference the index.js file as follows. The index.html files loops through the navigation and constructs the menu items correctly with the routes correct in the href part.

The problem I am having is that it cannot find the routes. Any ideas?

If I put the routes in the app.js file it finds it.

ap

[2015-11-24 22:48] avitex commented on #237
@valichek Interesting work around, Ill give it a try at home if I get time. I am currently, and quite embarrassingly so, just calling `document.location.reload()` as a dirty workaround so I could focus on different logic in the application in the meantime.

[2015-11-26 10:37] npelletm commented on #254
Same issue.

It seems that the baseUrl router property is populated too "late".
With a hack
[code]

[2015-11-26 13:16] shajiuk commented on #254
Thanks for the reply but I don't get what you mean - sorry.

What is the parentRoute? The main page has a header and footer from a microservice and that sets the baseURL. Then within this page is a section where the the above page gets loaded. The page has a series of tabs as defined in the code (Supplement rate, Opaque Rate,....) above and defined in index.js  The tabs get genereted with the corr

[2015-11-26 21:34] npelletm commented on #254
Sorry, perhaps it is not the same use case...
In my case i have a parent router with a parent route : "/parentRoute" ("/index" in your case ) and in the child router when configureRouter function called, a route not found error is raised because it seems that child router navigate too early.
With the baseUrl hack route not found error disappear.
In addition, this error appears only on the first ch

[2015-11-27 00:46] nevercast commented on #62
@CBeTHaX Thanks for that. It wasn't clear to me until now that the array of routes is a 'match any' set.

[2015-11-27 05:08] nomack84 commented on #27
Hi @bryanrsmith Do you have any update about this?

[2015-11-27 10:52] dfsq commented on #234
I think this is still the issue with aurelia-router@1.0.0-beta.1. With the following configuration

[code]

and later when attempting to navigate to route with

    this.router.navigate('stats', {userId: this.config.userId, startDate: this.config.startDate});

It throws the error

[2015-11-27 18:02] bryanrsmith commented on #27
Sorry, I haven't had time yet.

[2015-11-28 18:52] stefan505 commented on #173
Any progress on this @EisenbergEffect ? I'm trying to build an "admin" style application. There's a main router on "app" linking to "login", "register" and "shell". "shell" in turn has a child router, with all the application's menu items in the sidebar (think WordPress's admin app). I'm desperately trying to find a way to reuse the Views and ViewModels inside the child router, its where the compl

[2015-11-28 18:55] EisenbergEffect commented on #173
You can implement it yourself. There's no need to wait on us. The `router-view` can be replaced with your own custom element. If you can't wait for us, I recommend you copy/paste the source code of our router-view into your own project, rename the custom element and implement the caching behavior that you desire. The router  knows how to communicate with any custom element that registers itself as

[2015-11-28 19:08] stefan505 commented on #173
Ok, thanks will take a look at router-view and give it a go.

[2015-11-28 22:51] kiryaka commented on #201
+1 to this feature

[2015-11-28 23:48] dpinart commented on #173
Just to add my 5 cents on this topic I'd expect a similar behavior than in xaml PRISM framework.
Each UI region (a router view in aurelia) keeps a list of View/ViewModels that have been activated. Each time a view is navigated to it checks if any of the cached views has the same ID (route). If so, it calls a method on the view/view-model canNavigateTo, this way every view/view-model can decide if

[2015-11-28 23:53] dpinart commented on #201
It's surprising there's no way to reload/refresh current view/view-model... I'd just expect activate method to be called again

[2015-12-01 22:33] nomack84 commented on #254
@shajiuk This seems to be a duplicate of #27. Try this:

[code]
Unfortunately you cannot use child routes with empty urls yet.

[2015-12-02 03:03] xiwc commented on #246
is there some fixing solution.

[2015-12-02 11:45] TravcoUser commented on #254
Thanks guys for your help on this.
@nomack84 - this seems to work - but intermittently! It must be something in my end.

[2015-12-02 11:49] shajiuk commented on #254
Thanks for your help guys.
@nomack84  - your solution seems to work but intermittently! It's probably is something at my end.

[2015-12-02 15:40] nomack84 commented on #254
Yeah, child routers has some bugs that aren't solved yet.

[2015-12-04 09:40] migajek commented on #89
Any news on this?
I think this is a must-have for the complex routing solution.
I'm from Angular background and I really like their's de-facto standard routing solution, ui router.

It's hierarchy is defined through namespacing, following/extending a bit @bryanrsmith 's example:

[code]

the feature I love there is relational navigation, very intuitive.

Assuming ``Users.details`` is our active (c

[2015-12-07 23:17] jadrake75 opened #255 "confirm: calling navigate with the same route but different params does not reload browser pane"
I was working on some refactoring of how I am handling some code that modifies a query string parameter in one of my routes for my application.  Currently the route url might look like the following

[code]

if I call the router with `navigate()` like the following:

[code]

Is it safe to assume this will *not* cause a browser page reload (it will reload the route `stamp-list` only)?  I also did *

[2015-12-07 23:18] jadrake75 commented on #255
(this was phrased as a question - but I can not set labels on the issues)

[2015-12-09 08:41] ClareBear85 opened #256 "Dynamic Routing- Alter Title"
{
route: 'content/:id',
name: 'Details',
title: 'Details',
viewPorts: { main: { moduleId: './admin/content/details' }, aside: { moduleId: './admin/content/aside' } },
settings: { menu:menuSection.content, access: { controller: 'content', action: 'get' } }
},
{
route: 'content/:id',
name: 'Add',
viewPorts: { main: { moduleId: './admin/content/details' }, aside: { moduleId: './admin/content/aside' }

[2015-12-09 08:50] StrahilKazlachev commented on #256
Check the `Router` [API doc](http://aurelia.io/docs.html#/aurelia/router/1.0.0-beta.1/doc/api/class/Router)
[code]

[2015-12-09 09:30] ClareBear85 commented on #256
class UpdateTitle {
    run(routingContext, next, routeConfig) {
        var instr = routingContext.nextInstructions.find(i => i.params.id !== undefined && i.params.id !== 0 && i.params.id !== '');
        if(instr !== undefined) {
            routeConfig.navModel.title("TEST");
            debugger;
        }

        return next();
    }
}

result = Object {status: "rejected", context: Navigatio

[2015-12-09 16:41] bryanrsmith commented on #256
You'll need to use the navModel's `setTitle` method in `activate`.

[code]

Also note that the router does not parse route params, so your ID will be a string, not a number. I.e., a matched path of `/content/0` will result in a params object of `{ id: '0' }`, not `{ id: 0 }`.

[2015-12-09 16:41] #256 closed

[2015-12-09 16:51] bryanrsmith commented on #255
That's correct. By default a query string change won't run lifecycle methods. You can control this behavior by implementing a `determineActivationStrategy` method on your view model.

[code]

[2015-12-09 16:51] #255 closed

[2015-12-09 21:16] Cedware opened #257 "Windows 10 mobile edge Routing not working"
On the edge Browser on windows 10 mobile the routing isn't working, it doesn't matter if Iuse the navigate function of the Router or if I enter the url manually. the page just displays the default route (route: ["","/somePath"])

[2015-12-10 15:36] stefan505 opened #259 "bootstrapping Aurelia app routing from within an ASP.NET MVC route"
I've setup ASP.NET 5 MVC to route to http://localhost:12345**/app** that serves as my Aurelia app. From here, I bootstrap the router:

[code]

It seems that the Aurelia router doesn't seem to work properly when trying to generate the route from within another VM (**BTW** `route.href` is undefined, so I use `route.relativeHref`, also seems strange...):

``<li><a ${activeText} href="/app/#${route.re

[2015-12-10 15:38] EisenbergEffect commented on #259
@bryanrsmith I think this is the same issue we discussed the other day related to `config.options.root`. Can you confirm?

[2015-12-10 16:56] bryanrsmith commented on #259
Is `/app` the root of the aurelia app, or a page of it? You need a route entry for the page you're starting on. Probably either `/`, or `app`. The router can't activate without a matching route for the current page. The navModel's `href` is not set until after the router activates with a valid current route, which is probably why your nav links are not working.

[2015-12-10 17:59] stefan505 commented on #259
`/app` is the result of a razor view being served. That view is an HTML page (`<html>..</html>`), with the `body` tag containing `aurelia-app="main" es5`. Inside `main` (static content served from wwwroot) it resolves to `aurelia.start().then(a => a.setRoot('shell/shell'));`. Inside `shell`, I have this:

[code]

Inside the html template for `shell`, I perform this:

[code]

Inside `menu-tree`, th

[2015-12-10 21:17] bryanrsmith commented on #259
And is there a `<router-view></router-view>` in your shell template? You will need to add a default route at `''` so the router has something to activate.

[2015-12-11 08:22] stefan505 commented on #259
@bryanrsmith yeah, `<router-view></router-view>` inside `shell` template. Changed my first route to include the default route and that renders.

I'm still having no luck with this, so I decided to bypass my own `shell` root component and go back to basics and created a new root component called `bla`. The contents are copied from `app` from the [Aurelia docs](http://aurelia.io/docs.html#/aurelia/f

[2015-12-11 20:59] jedd-ahyoung commented on #232
@EisenbergEffect Is this possible on HTML-only custom elements? I know that we can use the `bindable` keyword. A `containerless` keyword would be great.

[2015-12-11 21:08] bryanrsmith commented on #259
Well that's progress :-)

@EisenbergEffect Does the `<compose>` use look right to you? I think you can drop the `.js` extension, but I'm not sure if that would break it.

[2015-12-11 21:46] hiscodeness opened #261 "Detached not called on an active child route when navigating away to another higher level parent route"
I'm experiencing the following situation:

I have routers on three levels: application, patient viewer and radiology module. The radiology module has two routes, `list` and `:id`. I first list radiology images for a particular patient in route `/patients/14/radiology/list` and then display an image inside a viewer in route `/patients/14/radiology/112`.

When I navigate away from `/patients/14/radi

[2015-12-12 12:53] hiscodeness commented on #261
Found the reason, it is not Aurelia. There was an exception occurring in step 5 that I somehow managed to miss while debugging this last night. With fresh eyes this morning it was immediately clear and after commenting the offending line in step 5, all child custom elements are detached as expected. Closing this issue now.

[2015-12-12 12:53] #261 closed

[2015-12-14 02:30] gregoryagu opened #262 "Allow view-models to be "stateful" by having a "cache" flag on the route"
It would be useful to have a "cache" flag on a route.  This would tell the router to reuse an existing view-model if it already exists.

For example: I have a search page where the user search for a list of items.  Each item in the list has a button to go to details.  From the details, the user should be able to hit the "back" button and return to the List Page.  The list page should be in exactly

[2015-12-14 02:34] EisenbergEffect commented on #262
You can simply decorate your view model with the `@singleton()` decorator and your view model will be kept around and re-used when navigating back to the same screen.

[2015-12-14 02:34] #262 closed

[2015-12-14 03:13] gregoryagu commented on #262
Awesome :)

[2015-12-15 08:53] stefan505 commented on #259
When dropping the `.js` extension, the URL ends up being `http://localhost:60751/shell/menu-tree`. Don't know if this is because I'm using RequireJS, will have to step through Aurelia's code, just haven't had much time.

I've replaced the `InlineViewStrategy` based `menu-tree` with helper functions on the `shell` to achieve my menu requirements. I take two points away:

1) Utilising the router in

[2015-12-15 11:01] Lakerfield commented on #239
@VladCherniavsky I had the same issue. You can fix it with with a refeshNavigation call to update the href property which in used in the nav-bar.
[code]

[2015-12-15 14:00] EisenbergEffect commented on #259
A couple of notes:

I don't understand your first point above. You don't show  how you are using that in any of the preceding examples. Using InlineViewStrategy should work in any scenario. If it doesn't, there's a bug...but I can't exactly tell what you are doing from the details above. There's a lot of missing information in the descriptions.

While we do need much more documentation, I don't se

[2015-12-15 21:23] bryanrsmith commented on #259
Setting `router.config.root = 'app';` when the root router is configured would tell the router to handle everything under /app. So navigating to '/' would map to /app, '/about' would map to '/app/about', etc. I'm not sure if that's the desired behavior or not, but from what I can tell none of the problems described are symptomatic of a misconfigured router root.

@stefan505 Does this help? As Rob

[2015-12-18 05:28] #259 closed

[2015-12-18 06:43] devteamexpress commented on #246
Can we get an update on this? This bug is really killing our company's app.

[2015-12-18 13:22] xiwc commented on #246
i use following way to fix:
[code]

[2015-12-18 16:11] ClareBear85 commented on #256
Sorry for the deploy, was pulled onto something else. This is the code I have:

import {inject} from 'aurelia-framework';
import {Router, activationStrategy} from 'aurelia-router';

@inject(Router)
export class HeaderSplashesDetails {
    constructor(router) {
        this.router = router;
    }

    activate(params){
        this.id = params.id;
        this.router.navModel.setTitle(params.id ===

[2015-12-18 16:17] bryanrsmith commented on #256
navModel is a property on the second parameter to the activate method, not
the router. Take a second look at the code I posted.
On Fri, Dec 18, 2015 at 8:11 AM ClareBear85 <notifications@github.com>
wrote:

[2015-12-18 16:21] ClareBear85 commented on #256
whoops sorry, this can be closed now

[2015-12-18 19:52] EisenbergEffect commented on #246
I will personally look into it next week.

[2015-12-18 21:42] OutOfTouch opened #263 "route-href error or incorrect format"
I have the following `<a route-href="route:details; params.bind{id:movie.id}"
                       class="btn btn-default">Details</a> ` and I am not sure what I am doing wrong to make this work with 1.0.

[2015-12-18 21:47] bryanrsmith commented on #263
What is the problem or error you're seeing? Try params.bind:{id:movieid}
On Fri, Dec 18, 2015 at 1:42 PM Chris Lane <notifications@github.com> wrote:

[2015-12-18 21:54] OutOfTouch commented on #263
I see this : ERROR [route-href]
Error: A route with name 'details' could not be found. Check that `name: 'details'` was specified in the route's config

[2015-12-18 22:03] OutOfTouch commented on #263
OK I tried this ` <a route-href="route:details; params.bind:{id:movieid}"
                       class="btn btn-default">Details</a>` because it looked like I was missing a colon after bind, although I get the same error, I tried what you sugessted and same thing.

[2015-12-19 19:14] mikefills commented on #246
I hate I have to ask this, more than 1 month and no solution to the issue?
I'm looking into choosing Aurelia for a very soon project but this kind of bugs are scary.
Again, I don't want to sound harsh, I know team has been working on many things...

[2015-12-19 22:28] Jenselme commented on #254
I have the same problem. The solution of @npelletm worked for me.

[2015-12-20 00:08] npelletm commented on #254
Thanks for my "solution" but it's more a workaround or a dirty hack....

[2015-12-21 15:52] OutOfTouch commented on #263
Is this the correct syntax? `<a route-href="route:details; params.bind:{id:movieid}" class="btn btn-default">Details</a>`

[2015-12-21 17:10] bryanrsmith commented on #263
Yes.

On Mon, Dec 21, 2015 at 7:52 AM Chris Lane <notifications@github.com> wrote:

[2015-12-21 17:15] OutOfTouch commented on #263
I don't know what is wrong then because that is not working for me.

[2015-12-21 17:49] OutOfTouch commented on #263
Is this route correct `{ route:"details/:id", moduleId:"movies/details" }` or does it need to have the name `{ route:"details/:id", moduleId:"movies/details", name:"details" }`

[2015-12-21 17:50] bryanrsmith commented on #263
Yes, it will need the name that you're using in `route-href`.

On Mon, Dec 21, 2015 at 9:49 AM Chris Lane <notifications@github.com> wrote:

[2015-12-21 18:00] OutOfTouch commented on #263
Ok thank you, that was my problem.

[2015-12-21 18:00] #263 closed

[2015-12-21 21:45] EisenbergEffect commented on #246
@bryanrsmith I've discovered the issue.

See: https://github.com/aurelia/router/blob/master/src/router.js#L326

There's a check whereby the href is not updated if it already exists. This creates the problem because the navModel and its href are pre-existing. This check was put in place so as to not over-write an explicit href provided by the developer.

I believe this should be fixable by adding a

[2015-12-22 01:00] bryanrsmith commented on #246
I'll try. Sounds like a great first PR if anyone is interested in contributing :-)

[2015-12-22 08:55] tomasbonco opened #264 "Root router in plugin - TypeScript"
Hello,

As I'm trying to use Aurelia Flux, it gives me error:
`Pipeline steps can only be added to the root router`

When I was reading files, I found that it tries to use RouterConfiguration.addPipelineStep() whitch results in given error.

Because orignal repo (of Aurelia Flux) doesn't seem to be maintained for a some time, I forked PR that should support Beta 1 and created release myself (so I

[2015-12-22 13:58] EisenbergEffect commented on #264
Great work!

[2015-12-22 13:58] #264 closed

[2015-12-22 21:09] tomasbonco commented on #264
Well, I'm saing it's not working, and it's throwing an error message (in latest version possible) :D Maybe there's a problem with Router, or maybe APi changed ...

[2015-12-22 21:16] EisenbergEffect commented on #264
Ok, I don't know anything about what the Flux library is doing. So, I can't really say what the bug might be. We haven't made any breaking changes that I'm aware of since our Beta launch.

[2015-12-23 06:53] HIRANO-Satoshi opened #265 "AuthorizeStep shows TSC errors like Property 'auth' does not exist on type 'RouteConfig'."
There is the following code in the cheat sheet (typescript). I have similar code borrowed from the cheat sheet.

http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.6/doc/article/cheat-sheet

[code]

tsc shows the following errors.

    Property 'auth' does not exist on type 'RouteConfig'.
    Property 'cancel' does not exist on type 'Function'.

How do I fix?

[2015-12-23 13:36] kdeberni commented on #169
I just wanted to notice that it seams like in beta version this issue has been fixed.

[2015-12-23 14:27] EisenbergEffect commented on #169
Excellent. Thank you!

[2015-12-23 14:27] #169 closed

[2015-12-23 14:44] tomasbonco commented on #264
I believe problem is pre-beta, but my question is - when I add plugin in bootstrap phase, and that plugin uses `RouterConfiguration.addPipelineStep()` shoud it work or not? Won't I get error message?

[2015-12-23 15:01] EisenbergEffect commented on #264
You can only add a pipeline step to the root router. Instead of running the config against a Router instance resolved from the container, try resolving AppRouter.

[2015-12-23 15:57] peisenmann commented on #169
I updated my above-mentioned plunk and agree that it appears to be correct in the beta: http://plnkr.co/edit/t5fkfcmSL9CIj7umKrKS

[2015-12-24 14:29] nazariotpcbf opened #266 "Inconsistent router states when navigating during any Page Activation."
Updated version of https://github.com/aurelia/framework/issues/276

I've tested this on a Mac - Firefox and Chrome.
--
Having subscribed to the  **aurelia-router** events **router:navigation:processing** **router:navigation:success** and **router:navigation:complete**, and listening to it's states i understood that the flow into a Route goes like this.

RouterProcessing -> Page canActivate -> Page

[2015-12-25 18:49] JeroenVinke opened #267 "CSS via require not disposed"
Not sure which repo to post this to, but the router makes the most sense.

Styles imported via `<require>` are not disposed properly, while styles via `<style>` tags are. Is this expected?

Plunkr: http://plnkr.co/edit/gwgBLSLV6OUMHWO7DolL

[2015-12-27 14:24] cmichaelgraham commented on #173
a couple more cents to add :smile:

@Alxandr gave me a solution a long time ago:

* add a custom element, [resource-pooled](https://github.com/cmichaelgraham/aurelia-typescript/blob/master/code-sandbox/code-sandbox/views/wiz2/step-one.html#L4-L21) to the view's template

* in the [resource-pooled custom element](https://github.com/cmichaelgraham/aurelia-typescript/blob/master/code-sandbox/code-san

[2015-12-27 19:26] janosch715 opened #268 "Url Parameters are not checked in BuildNavigationPlanStep"
If navigating from e.g. `/app.html#/page1` to `/app.html#/page1?param1=abc` the `no-change` view port plan is choosen in the `BuildNavigationPlanStep` function. So no view model is ever informed about the navigation.
The problem is that the function `hasDifferentParameterValues`, called from `BuildNavigationPlanStep`, compares the `params` of the current `NavigationInstruction` object to the previ

[2015-12-27 19:35] EisenbergEffect commented on #268
@bryanrsmith Any thoughts on this? I know it can be handled by changing the strategy today, but should we have some sort of route config setting that tells the router to take query strings into account?

[2015-12-27 19:51] bryanrsmith commented on #268
I agree with @janosch715. I think the current behavior is unexpected.

[2015-12-27 22:31] jods4 commented on #173
@cmichaelgraham I think the issue here is not _Resource pooling_ but _View caching_. At least I understood it differently. Notice how the OP wrote:

Currently the problem with back navigation in Aurelia is that there's no way to restore any state that is not bound to a singleton ViewModel. Binding _all_ state is tedious and useless. Typical state that you would not bind but can expect to persist:

[2015-12-28 16:53] Alxandr commented on #173
I'd just like to note that the resource-pool mentioned was done by me as a proof of concept. It has basically no features, and was just a test to see mainly **if** it could be done.

[2015-12-28 17:07] cmichaelgraham commented on #173
I should have mentioned that @Alxandr work was a Poc.  Also @jods4 I appreciate your input.  I may have misunderstood the original ask.

i'm trying to figure out a clean way to make this globe from esri maintain its state when you navigate away and back.  it definitely falls outside the normal view case...

http://cmichaelgraham.github.io/skel-nav-esri4-vs-ts/index-release.html#/esri-globe

[2015-12-28 20:36] bryanrsmith commented on #267
ping @EisenbergEffect

[2015-12-28 20:39] bryanrsmith commented on #265
Looks like we need to adjust the type annotations on the next parameter. It's a function with a `cancel` property tacked on, but it's declared as a function right now.

[2015-12-28 20:39] EisenbergEffect commented on #267
I actually don't quite understand this issue. What do you mean by "disposed"? What is it that you are expecting?

[2015-12-28 21:08] JeroenVinke commented on #267
Sorry. By disposed I mean removed from the `<head>` after the view that contains the `<require>` tag has been unloaded.

I have updated the plunker to hopefully make this more clear: http://plnkr.co/edit/dh3ia6AkB7ZHRvy4m27

[2015-12-28 21:10] EisenbergEffect commented on #267
I'll look into this and see if it's something we can do.

[2015-12-28 23:52] HIRANO-Satoshi commented on #265
I see.

[2015-12-29 03:56] bryanrsmith commented on #265
@cmichaelgraham I believe that [this line](https://github.com/aurelia/router/blob/master/src/pipeline.js#L24) needs to use a type annotation like

[code]

but the dts generator doesn't appear to support it. Is this something we can add easily, or is there alternative syntax that might work?

[2015-12-30 20:35] #265 closed

[2015-12-30 20:36] bryanrsmith commented on #265
Thanks, @cmichaelgraham. Looks like your change worked great.

[2015-12-31 13:02] mib4fun commented on #201
+1
Is there any way to achieve that ?

[2015-12-31 14:39] EisenbergEffect commented on #201
This is tricky. What would it mean to refresh if there were child routers? Would you expect the entire hierarchy to be refreshed? or would you expect only the deepest child to be refreshed? Perhaps this would just be controlled with navigation strategies, but what if you want different strategies for the same view model based on whether or not there's an internal refresh?

A simple way to achieve

[2015-12-31 15:08] kiryaka commented on #201
Our use case is changing permissions for the current user. Imagine the admin user who is going to the user management and change his own roles and permissions. We need the full system refresh. Everything depends on the user permissions from the very beginning, including the navigation. May be with the new permissions user will not even be able to stay on the page where he currently is. The easiest

[2016-01-01 16:56] shabanamukhtar commented on #15
Hello,

I was trying on the same lines. That is,
1. Different bundles for different modules (aurelia-bundling)
2. Use dynamic routing to load routes

It seemed to work initially. But with new skeleton-navigation, the instruction.config is null.

[2016-01-02 13:15] lzonjic opened #270 "Can't navigate directly to route when pushState is true"
If pushState=true then when navigate to Welcome via menu (mouse click on nav-bar) everything is ok, but when I try to reach http://localhost:3000/welcome I'm getting error in browser `Cannot GET /welcome`.

This is my config:
[code]

[2016-01-02 14:08] schatekar commented on #237
I am having similar "view not being updated"  experience after I call `this.aurelia.setRoot('authenticated')` where `authenticated.js` contains my router configuration for authenticated routes. Could the root cause for this issue be same?

[2016-01-02 14:54] EisenbergEffect commented on #270
It sounds like you may not have configured your server. When you have push state on, you will need to ensure that your server sends back the same SPA page for all the client-side routes. Usually the server framework has a way to do this with a wildcard route pattern...just make sure you don't configure it so it can't return the SPA page's static assets or so your API calls don't work.

[2016-01-02 14:54] #270 closed

[2016-01-02 15:34] DamageLimiter opened #271 "Case sensitive router"
The routing is case sensitive and I am not quite sure if it's intended to be like this and url's should not be case sensitive.

I have this route:
[code]

and I have a link dependent on that route:
`<a href="#/fertigung/Waage/${formular.Id}" class="btn btn-white btn-xs"> Waage</a>`

As you can see I have written "Waage" with a capital "W" in the html link, which results to a redirect to the defaul

[2016-01-02 16:29] EisenbergEffect commented on #271
@bryanrsmith I'm thinking that our pattern matching should be case-insensitive but that when we pass the parsed parameters on to the activate method, they should retain their original casing. What do you think?

[2016-01-02 17:21] lzonjic commented on #270
That's it. Thank you!

[2016-01-02 18:58] jods4 commented on #173
@cmichaelgraham I don't know how you did it, but it seems to work ;) When I go back the globe is at the exact same position!

I think using 3rd party plugins (e.g. jQuery plugins) that were wrapped into a custom attribute or custom element is the perfect example where you don't control the complete UI state and need a very special solution if you want to restore the view exactly as it was before.

[2016-01-02 19:09] jods4 commented on #201
I use this (with a ugly hack: add a dummy random parameter to the current route) quite a bit in our app.

One reason (not the only one) is that we use `one-time` bindings where we can, so when we want a full refresh we need to re-evaluate those bindings, too.

It's not the only reason, another being that @EisenbergEffect's example is a basic model. We have complex UI with multiple independent part

[2016-01-02 20:25] bryanrsmith commented on #271
I agree.

[2016-01-02 20:39] nazariotpcbf commented on #266
@bryanrsmith any comments on this case?

[2016-01-02 20:42] bryanrsmith commented on #266
I think this is the same issue as #177, but I haven't had time to look at it.

[2016-01-04 01:53] HIRANO-Satoshi commented on #265
Thank you very much!

[2016-01-07 20:57] shabalin opened #274 "What is right way to configure routes implemented in separate module?"
We are splitting our frontend app into modules or features/plugins(in terms of aurelia).
Basically we want "module/feature" be an independent set of view-models, components and services that could be plugged in to main application.
Example:
[code]
in the configure function of the plugin we add list of routes provided by the module to the main app:

[code]

the issue we run into is how to specify *

[2016-01-07 20:59] EisenbergEffect commented on #274
Please ask questions in our public gitter channel. gitter.im/aurelia/discuss

[2016-01-07 20:59] #274 closed

[2016-01-08 01:38] shabalin commented on #274
Just in case someone will have a same question, the answer is pretty simple - just prefix module path with jspm dependency name, e.g.
`moduleId: "user-management/vm/users.js"`

where
- `user-management`  is a module name
- `vm/users.js` path to view model within a module

Basically  there is RouteLoader implementation that constructs viewModel name

[code]
`relativeToFile` resolves moduleId relati

[2016-01-08 13:55] shajiuk opened #275 "Repair Mesos"

[2016-01-08 13:56] #275 closed

[2016-01-08 14:28] Jaans commented on #27
For those requiring a workaround, the following is a stop-gap workaround I've been using until this has been implemented.
[code]

[2016-01-08 17:28] iosulfur commented on #166
Those pre-defined names **need** to be in the documentation. Even if someone managed to find the page where the documentation for those step names could/should be, the steps names are not there _(as of the date of this comment)_.

http://aurelia.io/docs.html#/aurelia/router/1.0.0-beta.1/doc/api/class/RouterConfiguration

[2016-01-11 18:05] jebbench opened #276 "Allow empty routes"
### Use case
I have a `<router-view>` element in my search results page (`/search/:searchTerm`) which I don't want to populate until the user has selected a search result - currently I achieve this with a "blank" module which is simply a module with no content.
Once the user has selected a item (`/search/:searchTerm/item/:itemKey`) the `<router-view>` loads the `ItemDetails` module which displays

[2016-01-12 18:56] stoffeastrom commented on #239
@bryanrsmith I got the same issue when trying to register a route from a feature/plugin following @EisenbergEffect [suggestion](https://github.com/aurelia/router/issues/156)

[code]

However this yields in a
[code]

when clicking on the `href`. Looking in the `AppRouter` when debugging the `recognizer` hasn't registered it so I guess I have multiple instances of `AppRouter`

[2016-01-12 20:24] EisenbergEffect commented on #239
@stoffeastrom Are you on the latest versions? There was a bug that could enable multiple instances of AppRouter. That was fixed in the last release.

[2016-01-12 20:25] stoffeastrom commented on #239
Good question, let me verify that :)

[2016-01-12 20:26] stoffeastrom commented on #239
:+1: works

[2016-01-16 04:04] jdanyow commented on #276
Seems like an edge case- deferring to @bryanrsmith of course

Here's a few lines of code you can add to your `main.js` to create the `blank` module and it's view:

[code]

http://plnkr.co/edit/E9xeIIto3QBO12tO9cmB?p=preview

[2016-01-17 19:36] bryanrsmith commented on #276
I agree with @jdanyow. I don't think it makes sense for the router to support this. One thing I would like to support in the future is directly providing the view model class instead of a module ID, which could simplify this case a little.

[2016-01-17 19:36] #276 closed

[2016-01-18 06:30] iicaisin1 opened #277 "Invalid parameters"
on activate() passed in parameters are invalid. Please note that two equal signs are removed:

querystring:

*"code=CfDJ8EhAU4TRx49JlmV2229anSM8B2SLsaftgPZAImouLHtusGF2NGEWIbSyanN6evXArBgn/+eTdv+ErHDqQxaj0sFR4HnJmN56P3E9B2TUs3yXzS6fIYR5Pu3BORiKVCNrURuwIppKChaQMuDCkzlyDUO91HRZEXMa7XxSUao+lpPg8GYvit6/31u4SRWhCTvfQARV9iCuEWMJ+lSjp7QA0WSpG1MFr/zmN6tXqnmThOa7IG+8rupHnE8itS7M75dFbg==&username=TEST"*

pa

[2016-01-18 08:04] Mordred commented on #277
You have to escape URL valid characters. In your case .. replace `=` with `%3D` when generating your querystring.

[2016-01-18 09:11] pankajya opened #278 "Parent's deactivate and activate is called on every child navigation."
Hi,

Recently we updated one of our applications from 2.0.1 to 2.1.0 and we're seeing some very different behavior with a child and grand child router. when we navigate between child routes in same parent, the parent's deactivate, activate then finally child's activate is getting called.

Same if i am navigating between child and grand child then first deactivate and activate of main parent is cal

[2016-01-18 10:12] jsobell opened #279 "Router generated URLs not honoring updated params"
If a child route tries to generate an href for a parent route and a param is specified, that generate() incorrectly returns the unmodified URL.
This is reflected in the .navigate collections of the router too.
Including a parameter of any sort to .navigate() causes the URL to be generated correctly, suggesting there is a caching of the calculated route that should presumably not apply if there is

[2016-01-19 05:45] iicaisin1 commented on #277
Of course! Thank you, i used the wrong encoding from .net

[2016-01-19 05:45] #277 closed

[2016-01-20 03:43] davismj commented on #168
@EisenbergEffect @bryanrsmith This issue is resolved.

[2016-01-20 04:02] #168 closed

[2016-01-20 07:43] relyan opened #280 "curren"

[2016-01-20 13:38] #280 closed

[2016-01-20 16:47] larsfjerm opened #281 "Route-appending for global modules"
Consider a sidebar that can slide in/out with a module containing account-profile data.

Would it be possible to tell the router to append a global route `/account` to the current URL and state of the application? So when the the URL equals `/home/account` the state of the sidebar is set to active.

This should also apply for other routes that inherits from the account route and all child routes.

[2016-01-21 19:50] peisenmann commented on #89
:+1: Proposed solutions on this page make sense, and I'd love to see them in a coming version. This seems like it could be achieved in beta without any pending changes from jspm, babel, or any of the other dependencies needed for the final stable 1.0 of Aurelia

[2016-01-21 22:21] cehoffman opened #282 "Better navigation failure logging"
Right now on a failed navigation the logic will reach [this logging statement](https://github.com/aurelia/router/blob/9f48f6bedbab867f9865c2bd6d41d84323efa8e9/src/app-router.js#L187) which for the current errors I'm seeing say `[app-router] Error: Error invoking SetupWelcome. Check the inner error for details` The inner error referenced here I don't know of a good way of getting a handle on in ord

[2016-01-21 22:26] EisenbergEffect commented on #282
Can you not see it in the console? You might need to expand the ... It will depend on the browser.

[2016-01-24 20:58] thomas-darling commented on #42
Hi @EisenbergEffect, sorry to revive this one, but we're facing the exact same requirement, and it's not clear to me how the support for this scenario has evolved, or how we should approach it.

Basically, we have tabs at the top, and clickig them switchs between the different areas of our app - and we need the state of those areas to preserved, such that when the user switches back to a tab, it l

[2016-01-24 21:19] EisenbergEffect commented on #42
You can build your tabs using a child router, and the url will activate the correct tab automatically. If you want to persist the view instance across navigation, then, as stated elsewhere, you could create your own router-view that does the caching. All you need to do is copy the source of our built-in router-view and then alter it to cache View instances. @cmichaelgraham has done this and cal el

[2016-01-24 21:52] cmichaelgraham commented on #42
[This guy](http://cmichaelgraham.github.io/skel-nav-esri4-vs-ts/index-release.html#/esri-globe) does it by switching out the router-view in the case when it is the globe.  try navigating away and back and notice how the globe is as it was when you left

i think you could generalize this to something like this sketch
![image](https://cloud.githubusercontent.com/assets/10272832/12539196/144f541c-c2a

[2016-01-25 13:05] thomas-darling commented on #42
@cmichaelgraham, thanks for the insight, I'll look into that - seems like it could work for us.
Btw, it looks like that globe example is broken in IE11 - works perfectly in Chrome though :-)

@EisenbergEffect, thanks for the update - oh, and yeah, I just realized #173 is a dublicate of this :-)

Just to finish this one though - my question about the URL stuff was not so much about having the corre

[2016-01-25 13:09] EisenbergEffect commented on #42
In the past, I've just used the navigation model to generate my tab strips and a router-view to display the current tab.

[2016-01-26 05:18] davismj commented on #45
What is the desired behavior here? If `AuthorizeStep` throws a `Redirect`, does the `AuthorizeStep` need to be run again? if so, then a "pick up where you left off" strategy makes sense. If not, then perhaps we just want to prevent multiple calls to the same `canDeactivate()` per activation cycle?

[2016-01-27 10:57] TomSelleck opened #283 "app-router error when mapUnknownRoutes is called"
When the following method is added to the router, an error is thrown in the console when a user navigates to an unknown route:
[code]

If I navigate to `http://localhost:9000/#/users` and then enter the url as `http://localhost:9000/#/users2` and press return, I get the following error in the console:

[code]

The app behaves as expected, navigating to `welcome`.

[2016-01-27 11:46] TomSelleck commented on #283
Issue is with my code, not the router.

This
[code]

Should be:
[code]

[2016-01-27 11:46] #283 closed

[2016-01-27 12:37] jsobell commented on #279
Possibly a duplicate of #246 ?

[2016-01-28 18:05] netaisllc opened #284 "System tries to load template with no name when routing"
The following error message results when my app routes between two views.

`Unhandled rejection Error: XHR error (404 Not Found) loading http://104.236.190.18:8080/dist/matrix/.html`

It's odd because it looks like a process is trying to load an unnamed module(?) And further, the routing action succeeds.

This just cropped up in an app I've been working on for a little while now so I suspect I bro

[2016-01-28 18:36] netaisllc commented on #284
This is not an issue; the problem resulted from 'cockpit error'.

The view template contained a `compose` instruction to another template that had no view model of its own. Removing that instruction resolved this error.

[2016-01-28 18:36] #284 closed

[2016-01-28 19:54] EisenbergEffect commented on #284
Well...I have to say...I'm relieved. I had no idea what would cause that ;)

[2016-01-28 20:27] bryanrsmith commented on #284
@EisenbergEffect Is there a good place to detect this error and log a helpful message instead of actually making the request for the empty module name?

[2016-01-28 20:28] EisenbergEffect commented on #284
I'm not sure. If I could have a repro we could probably do something about it though.

[2016-01-28 21:05] netaisllc commented on #284
@EisenbergEffect Yeah, _same here_. Total brain-fade on my part!!
I will try to repro in a micro project, but no promises :)

[2016-02-01 08:19] heruan opened #285 "Declare RouteConfig.navModel for TypeScript projects"
I'm porting my projects to TypeScript, and I was used to dynamically set the page title in the `activate` function:
[code]
but using TypeScript I've found the `RouteConfig.navModel` property isn't declared and the compiler complains:
[code]

[2016-02-02 04:10] jedd-ahyoung commented on #285
@heruan Thank you for the contribution. I can verify that the property exists in the ES2016 skeleton. The Typescript definition files are generated from the codebase itself, so feel free to submit a pull request with the necessary file changes for this fix.

@EisenbergEffect This may need the bug tag.

[2016-02-02 05:42] bryanrsmith commented on #282
Closing for now. @cehoffman Please follow up if we've missed something.

[2016-02-02 05:42] #282 closed

[2016-02-02 08:46] stsje opened #287 "Suggestion to improve route-href syntax"
I find the syntax for route-href difficult to remember, and it doesn't feel natural to type.
You're currently forced to use a JSON-like syntax when declaring your route-href's. My suggestion is to improve it, so we don't have to memorize this weird looking syntax.

Current syntax:
`<a route-href="route: routeName; params.bind: routeParams"></a>`

Suggestion, introducing an attribute to hold the pa

[2016-02-02 09:54] stsje commented on #287
Wrong repository. Reopened here: https://github.com/aurelia/templating-router/issues/22

[2016-02-02 09:54] #287 closed

[2016-02-03 11:18] wichert commented on #271
If this is changed I would like to have an option for the router to remain case sensitive.

[2016-02-03 11:27] wichert opened #288 "Tests are broken in 1.0.0-beta.1.1.0 release"
Ever since @EisenbergEffect commited b473fec the tests have been failing. I was looking at trying to modify the router so we can solve aurelia/i18n#23, and it would be nice to be able to start from a clean build where the tests all pass.

[2016-02-03 11:29] wichert commented on #288
It looks like karma can not load peer dependencies, only direct dependencies.

[2016-02-06 23:42] jsobell commented on #279
Actually (I think) caused by https://github.com/aurelia/route-recognizer/issues/11

[2016-02-07 20:07] rborosak commented on #173
I need multiple instances of the same viewModel class to be active at the same time (I have a tree view on the left side of the screen and as I click the node in the treeview the right side is populated with data. Every node has it's own instance of viewModel)
I copied routerView element and changed process method to read the viewModel from cache (based on the route fragment). This works but it fe

[2016-02-07 21:33] EisenbergEffect commented on #173
You would need to implement your own RouteLoader as well. It's another extensibility point. You can look at the default implementation. It's also in the templating-router repo. Once you implement your own, you would need to register it in the root DI container. `aurelia.registerSingleton(RouteLoader, CustomRouterLoader)`

[2016-02-08 23:33] rborosak commented on #173
Thank you. It works great. I really enjoy working with Aurelia.
Is there any way to skip Activate pipeline step. I have tried implementing
determineActivationStrategy in my VM like this
[code]
but that method was never called. So I looked through the source code and found that this always overrides my strategy (in router, class BuildNavigationPlanStep)
[code]

Is there any way I could skip activat

[2016-02-08 23:54] EisenbergEffect commented on #173
You can always implement a simpel `isActivated` boolean value guard internally.

[2016-02-09 00:20] jods4 commented on #173
@EisenbergEffect In the same vein of what @rborosak asked, but opposite:
Is there a way to instantiate a fresh VM when navigating to the current route again? Is there even a way to detect that?
Scenario is a "New item" form that gets invoked from a menu entry. When clicking the shortcut again, it would be nice if the current form was dismissed and a brand new one shows up. Obviously the route does

[2016-02-09 01:22] EisenbergEffect commented on #173
Yes, 7use `determineActivationStrategy` There should be notes on that in the cheat sheet.

[2016-02-09 08:52] WouterOuwens opened #289 "Incorrect routing when using navigationStrategy callback"
Currently, I'm looking into dynamic routing in aurelia. To achieve this, I mapped all routes using a wildcard and I'm using the navigationStrategy property to determine the correct module id (as suggested in https://github.com/aurelia/router/issues/129).

[code]

The first navigation is correct and loads the correct viewmodel, as expected. However, when I now navigate to _another_ route in the sam

[2016-02-12 05:49] cehoffman opened #290 "Missing baseUrl when entering application at child route"
I have a child router that comprises the steps for a wizard. When I enter the application from the default route of the parent router the canActivate callbacks in the wizard child routes all have baseUrl set correctly to the containing parent route.

If the user reloads a page here I want to redirect them to the first step of the child router and I'd like to make this not depend on the name of the

[2016-02-12 06:09] bryanrsmith commented on #290
Sounds like #113. The base URL isn't set until the navigation is committed, so it can't be used correctly during activation. We need to figure out a good way to set or expose the base URL for the instruction being processed.

[2016-02-12 06:09] #290 closed

[2016-02-12 06:10] bryanrsmith commented on #289
@WouterOuwens Are you able to provide a plunker or link to a repo that demonstrates the problem?

[2016-02-12 06:11] bryanrsmith commented on #288
Tests have since been fixed.

[2016-02-12 06:11] #288 closed

[2016-02-13 03:50] jedd-ahyoung commented on #27
For all of you using this for a "landing page" - it's worth noting that there is a better way than using router defaults; use aurelia's `setRoot` method to accomplish this. There's an excellent question-and-answer [here on StackOverflow](http://stackoverflow.com/a/33458652/677526).

[2016-02-13 04:31] bryanrsmith commented on #209
I'm going to close this for now, since we have other issues to track the page title and child router refactor work.

[2016-02-13 04:31] #209 closed

[2016-02-13 04:33] bryanrsmith commented on #225
I think what we should do for this is pass the hash as a separate property to the route handler so it can be exposed to activated modules as needed. We need to be able to provide an object to the route handler anyways for #243.

[2016-02-13 04:35] bryanrsmith commented on #226
I'm going to close this for now since we have other issues to track the problem with late CurrentInstruction assignment.

[2016-02-13 04:35] #226 closed

[2016-02-13 04:36] bryanrsmith commented on #257
I don't have access to a device to test this on, so I'd be grateful for any help.

[2016-02-13 04:37] bryanrsmith commented on #267
@EisenbergEffect Can this be closed or moved? It doesn't seem like a router issue.

[2016-02-13 04:40] bryanrsmith commented on #279
Yes, this is aurelia/route-recognizer#11. Closing this one for now.

[2016-02-13 04:40] #279 closed

[2016-02-13 05:22] #285 closed

[2016-02-13 05:26] #241 closed

[2016-02-13 06:17] jedd-ahyoung commented on #201
@EisenbergEffect @bryanrsmith  I think that in the case of child routers - if you call `refresh()` on a parent router, it would refresh itself and all of its children (unless you specifically wanted to opt-out of that behavior for some reason). The most logical solution for refreshing only the deepest child, to me, is to call `reload()` on that specific child. (The code would have to have a refere

[2016-02-13 09:31] heruan commented on #209
I managed to develop an `aurelia-breadcrumbs` plugin (https://github.com/heruan/aurelia-breadcrumbs).

It is basically a custom element which crawls the router hierarchy and builds a navigation chain and relative breadcrumbs list.

So I think this can be closed and if better ways to handle this will emerge from other issues, I'll update the plugin accordingly. Thank you @bryanrsmith!

[2016-02-13 15:13] EisenbergEffect commented on #267
Yes. We aren't going to do anything with this for the immediate future.

[2016-02-13 15:13] #267 closed

[2016-02-13 21:23] bryanrsmith commented on #201
That sounds reasonable to me. It might be nice to get feedback from someone who wants this feature, though. The simplest thing to do (in terms of implementation on our end) is to reload the entire router tree, respecting activation strategies. I think that would work now, there's just no helper method for making it happen.

[2016-02-14 03:37] xiaoweil commented on #201
Is there still a plan to add the `force` parameter to the router/navigateToRoute's option?

[2016-02-14 14:12] kiryaka commented on #201
@bryanrsmith "reload the entire router tree" will work for us. We have two use-cases for this feature. Both will be solved. Both of them is "permission based". Current user permissions changed and it pottentially affect everything on the app.

[2016-02-14 14:47] jods4 commented on #201
@bryanrsmith We need this and reload all child routers would work for us as well, mostly because we don't have child routers ;)

[2016-02-15 01:24] jsobell opened #293 "Generate event from Child routers instead of root router"
We currently have EventAggregator events raised for the router, but these are generated from and refer to the root router only.
When creating global actions relating to routers (such as context sensitive information, such as discussed in [https://github.com/aurelia/router/issues/281](https://github.com/aurelia/router/issues/281),  we need routing information from the children too.
Given that we ca

[2016-02-15 02:58] jedd-ahyoung commented on #88
@bryanrsmith Currently, the router can track a baseUrl - but this isn't specifically a fully qualified URI. Do we want to use `window.location.origin` or `document.URL` for this? Using either of those would mean pulling in a dependency for `aurelia-pal`. Of note, certain browsers (IE) may have to be handled a bit differently.

[2016-02-15 04:59] bryanrsmith commented on #88
I think we should add a new method to history & history-browser to get the root location. If I remember correctly, there's at least one other place in the router where we read `history._baseUrl` (which will break with any other history implementation). If we add a `history.getRoot()`, or `history.getBaseUrl()` we could use it here too.

[2016-02-15 10:45] ochart2 commented on #201
@bryanrsmith i was able to hack the old Alpha history-browser previously to reload same path with new dynamically loaded routes
[code]
aurelia/history-browser#4

Also similar use case to @kiryaka.  Unauthorised routes are hardcoded into app. Once authorised, we need to reset router and navigate to same blank route, now configured with authorised routes.
Current call sequence was/is:
[code]

[2016-02-15 16:34] heruan commented on #132
I confirm this, `deactivate` isn't called between VMs on the same navigation hierarchy.

[2016-02-16 20:20] mikeobrien commented on #209
Beautiful, thx @heruan!

[2016-02-17 11:20] tomtomau commented on #132
Also echoing the same issue as @heruan

[2016-02-17 13:40] activebiz commented on #257
@bryanrsmith you dont need an access to the device. If you have VS 2015 you can install the app locally (without debug)

[2016-02-17 19:05] aozisik commented on #90
I would love this, as well. Until then, is there a workaround one could use?

[2016-02-17 20:48] npelletm commented on #90
+1 for this feature :)

[2016-02-17 20:57] larsfjerm commented on #90
+1 - fingers crossed for this!

[2016-02-18 22:52] kirandeorespecialprojects commented on #237
I'm facing the same issue when I reset the router with new routes

[code]

[2016-02-19 22:38] no1melman opened #295 "Navigation Pipeline as normal middleware pipeline rather than specific hooks"
So I've just used the `config.addPipelineStep('authorize', AuthRouterPipelineStep);` in the `configureRouter` function.

I initially tried to do:

```config.addPipelineStep('authorise', AuthRouterPipelineStep);```

That didn't work, and it was until I changed the name to `authorize` till it worked. This seem very unintuative to me. I was informed there are different hooks in the navigation pipelin

[2016-02-19 23:41] EisenbergEffect commented on #295
This seems very reasonable to me. We need to make sure we've got the pipeline nailed down and then we can add a nicer API on top of that. @jedd-ahyoung Since you were discussing this with @no1melman on gitter, would you be interested in doing a bit of work on this?

[2016-02-20 12:32] CasiOo commented on #295
+1 confused me as well. I too tried to add my own step instead of 'authorize'.

[2016-02-20 14:23] lor3 commented on #295
+1 did the same thing (custom step name).

[2016-02-20 14:52] jedd-ahyoung commented on #295
@EisenbergEffect Sure. I'll try to take a look at this next week. For what it's worth, when I first worked with pipeline steps, I made the same mistake.

[2016-02-22 02:29] xiwc commented on #246
# Suggesting fixing solution
![image](https://cloud.githubusercontent.com/assets/8816203/13207941/1623a2e6-d94f-11e5-968c-5555933662df.png)

[2016-02-24 13:55] Souldrinker opened #297 "Wildcard routes not working?"
I'm trying out to switch my login logic to an external identity server to whom I pass in a redirect url back to my application which means I get a call like ```http://localhost:4703/#id_token=atoken&scope=openid%20profile&state=somestate&session_state=somesessionstate```.

In this case I wanted to catch it with a wild card route like ```{ route: "id_token*token", moduleId: "views/login/oauth-check

[2016-02-24 15:31] Cedware commented on #90
+1 configuring routes in the ViewModel isn't really pretty

[2016-02-24 20:43] bryanrsmith commented on #297
Wildcard segments can be used to match the "rest" of the path, but they only work with complete segments. I.e., `foo/*path` would match `/foo/bar/baz`, with the `path` parameter holding `'bar/baz'`. partial segment matchign with wildcards, like `foo/bar*path`, is currently not supported.

Also note that routing only inspects the path portion, not the query string. The URL in your example looks lik

[2016-02-24 20:43] #297 closed

[2016-02-25 04:56] #295 closed

[2016-02-25 07:40] Souldrinker commented on #297
Ok, thanks for the quick response. Then I'll stick with my mapUnknownRoutes that works fine with a few lines of code.

The reason I asked was that I had Google authentication working in one of my old Durandal projects with the following setup and thought it worked the same in Aurelia:
[code]

[2016-02-25 14:56] stefan505 commented on #173
I have exactly the same question / need as @jods4. I've got a "users" route (list of users) and a "users/add" route (to add a user). If I add a user and navigate back to the list and then navigate to "users/add" again, the previous values are populated.

I've added the `determineActivationStrategy()` as suggested in the cheat sheet, but that never fires on my "users/add" VM. Feels like there's som

[2016-02-25 15:01] EisenbergEffect commented on #173
@stefan505 You have something else going wrong. If you navigate back and then you navigate to a new route, you will get new instances unless you changed something somewhere explicitly. I'm going to take a wild guess here.. are you trying to inject `User` into your VM? If so, that's getting registered as a singelton and you are getting the same user instance even though you are getting a different

[2016-02-25 20:00] stefan505 commented on #173
@EisenbergEffect, you are right, something else is going wrong, but I found the problem.

I'm navigating from "users" to "users/add", then back to "users" then back "users/add" again. After testing all DI components one-by-one (i.e. one at a time trial-and-error), I found the error within `aurelia-validation`:

[code]

The `@ensure` decorator is somehow causing my VM data to be "cached" incorrectl

[2016-02-25 20:03] EisenbergEffect commented on #173
@PWKad I suspect that something strange is going on with the way metadata and  instance values are stored. I think @stefan505 may be right about the connection to the other issue.

[2016-02-26 13:37] Cedware commented on #26
How do I add a additional Step like:

`config.addPipelineStep('isconfigured', IsConfiguredStep);`

[2016-02-26 20:40] jedd-ahyoung commented on #26
@Cedware The router has a specific set of slots to which you can add a step. They are defined by the framework (as part of the routing lifecycle) and so one can only add steps to certain slots; 'authorize' and 'modelbind' are two of these slots.

In your case, if you want to do something after your router is configured, you can simply use a promise callback, like so:

[code]

[2016-02-28 03:39] jedd-ahyoung commented on #268
@EisenbergEffect @bryanrsmith A few thoughts -

1. Any ideas for router configuration parameter names? Perhaps `config.ignoreQueryParameters = true` or something like that?
2. This is marked with the `breaking` tag. Will we be changing the query check to be the default behavior, or will this be an opt-in?

Other than these two issues, I should be able to knock this out fairly quickly.

[2016-02-28 03:52] EisenbergEffect commented on #268
Can we keep today's behavior the default and then add a config setting to add the new behavior? Then, in a future version we could potentially change the default, after we go through a cycle of emitting warning of the planned change, etc. What do you think?

[2016-02-28 03:53] jedd-ahyoung commented on #268
That sounds reasonable and I like the fact that can can provide an easy
migration plan.

2016-02-27 22:52 GMT-05:00 Rob Eisenberg <notifications@github.com>:

[2016-02-29 04:07] Jaans opened #298 "Trigger rebind on router.navigation to reflect effect of value converter for auth"
We use a custom value converter `authFilter` to update the visible navigation items when a user logs in with different roles which gives access to different areas in the site. This works beautifully, and Aurelia allows this to be clean and elegant.
(PS: Yes we enforce security server side first and foremost).

[code]

With the event aggregator we receive notification of an authentication event (e.

[2016-02-29 04:12] EisenbergEffect commented on #298
There's a couple of ways you could solve this:

* You can keep things as they are and use a `signal` binding behavior to signal the specific bindings to update. You can read about that in the docs here: http://aurelia.io/docs.html#/aurelia/binding/1.0.0-beta.1.1.3/doc/article/binding-binding-behaviors/5
* Or, you could add a `settings` property to your route config items and include a property on

[2016-02-29 04:12] #298 closed

[2016-02-29 04:18] Jaans commented on #298
Thanks Rob, I'll look at the `settings` property approach and "invert" the design.

I forgot to mention (proably key), that our routes include a `Role` property which the `authFilter` inspects. Hmm... that gives me some ideas. Thanks again.

[2016-02-29 04:25] Jaans commented on #298
Then again, the `BindingSignaler` is a shoe-in for this. Thanks for the reminder of that - it would be very useful elsewhere too.

Damn, it just gets better and better. I really like what you guys have done with Aurelia!!!

[2016-02-29 21:30] stoffeastrom opened #299 "Should RouterConfiguration be a transient?"
[code]
If you have multiple plugins/features doing this it will add up the same route multiple times. Sure you can do
[code]
but it would make more sense to have it marked as transient.

[2016-02-29 21:41] EisenbergEffect commented on #299
This is an interesting usage of the APi...I can see how that would be handy for plugins that want to configure routes. However, is there any reason you don't just instantiate the RouterConfiguration with its constructor?

[2016-02-29 21:59] stoffeastrom commented on #299
Not really. I stumbled on this after a copy paste :). It can be a bit confusing but as long as it's well documented I don't see a problem with it.

[2016-03-04 13:40] valichek commented on #237
Finally i have implemented my idea for route reset and it works)
[code]
I use `canActivate()` to parse parameters and load new navigation if needed, when navigation is loaded I save it (but not in current VM, bacause it will be re-created) and set `this.refreshRoutes = true` and return `new Redirect(navigationInstruction.fragment+(navigationInstruction.queryString? '?'+navigationInstruction.queryS

[2016-03-06 18:09] jrsmith17 opened #301 "Route Not Found Following Documentation Example"
I worked through the documentation on my local windows box, and the site worked as expected. I tried pulling that code onto my remote gentoo box and was immediately slammed with Route Not Found errors. To makes sure it wasn't something from the windows -> linux transition, I restarted the tutorial on my gentoo box. I hit the same error the moment I got to the step including the <router-view></rout

[2016-03-07 01:22] jrsmith17 commented on #301
I did some stepping through my two setups with the debugger. I can see what's happening, but still haven't wrapped my head around the why. I have my initial breakpoint set at Router.prototype._createNavigationInstruction (aurelia-router.js on line 945).

Both boxes follow the same path until they arrive at recognizeChar (aurelia-route-recognizer.js at line 454). Inside of the for loop there is the

[2016-03-07 02:08] johnmanko commented on #27
@Jaans That doesn't seem to work. I start having problems using Redirect from an auth filter. Same error. I'm not ready to file a new bug for this one.

[code]

and `$ jspm inspect`

[code]

[2016-03-07 11:18] johnmanko commented on #301
I'm confirm this is happening with me, too.

[code]

[2016-03-07 13:02] kdeberni commented on #168
This issue returned in version 1.0.0-beta.1.1.2 of aurelia-router. Before update we had version 1.0.0-beta.1 and it was OK - I just rechecked that by reverting our project to previous revision.
So issue occurred between version beta.1 and beta.1.1.2.

[2016-03-07 13:04] kdeberni commented on #169
This issue returned in version 1.0.0-beta.1.1.2 of aurelia-router. Before update we had version 1.0.0-beta.1 and it was OK - I just rechecked that by reverting our project to previous revision.
So issue occurred between version beta.1 and beta.1.1.2.

[2016-03-08 05:26] johnmanko commented on #83
optional and with regex patterns. :)

[2016-03-08 05:31] johnmanko commented on #119
Perhaps the articles/documentation should be updated to reflect that configuration of routes is required when using `configureRouter`. I ran into this issue today, and the error message doesn't describe the error clearly.

[2016-03-08 05:38] EisenbergEffect commented on #119
Can you clarify that a bit more? I'm not sure I follow.

[2016-03-08 08:54] piwnik opened #302 "Returning false from canDeactivate removes history entry (browser history back)"
When navigating back by browser history and return false from canDeactivate, then history record is removed (replaced).

How to reproduce:
1. run skeleton-navigation application
2. Go to "Child Router" page
3. Go to "Github Users" page
4. Go to "Welcome" page
5. Change first name
6. Press browser back
7. In promt choose Cancel
8. Press browser back again
9. In promt choose Ok

Effect:
"Child Route

[2016-03-08 09:26] piwnik commented on #302
I have workaround for this issue, but it seems dirty...

Idea is return redirect to previous page to avoid loosing navigation history.

How to apply:
in welcome.js
import router and redirect
`import {Router, Redirect} from 'aurelia-router';`
 inject router
`static inject(){
    return [Router];
}`
`constructor(router){
    this.router = router;
}`

in canDeactivate change
` return confirm('Are you

[2016-03-08 18:15] bhaeussermann opened #303 "Hash '#' in URL path"
Hi,

In the getting started kit, the router adds a '#' in all URL paths (eg. `http://127.0.0.1:8080/#/users` ).
Is there a way to get rid of the '#'?

[2016-03-08 18:17] EisenbergEffect commented on #303
See the section on "Configuring Push State" here: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet/7

[2016-03-08 18:17] #303 closed

[2016-03-08 18:20] bhaeussermann commented on #303
Thanks! I will have a look.

[2016-03-09 02:54] johnmanko commented on #119
@EisenbergEffect sure. First, I can't find documentation for `configureRouter` at [aurelia.io](aurelia.io). In fact, I can't find a list of lifecycle methods a view controller can hook into.  There are references to to `configureRouter` in code examples, but information such as "adding a `configureRouter` method to your child-route class REQUIRES that routes be configured, otherwise you'll get an

[2016-03-09 03:31] EisenbergEffect commented on #119
Have you read the Cheat Sheet in the docs? It has a list of component lifecycle events and a list of router lifecycle events. It also describes how to configure the router.

Can you explain why you would add a `configureRouter` method if you don't intend to configure routes?

[2016-03-09 04:41] johnmanko commented on #119
@EisenbergEffect To answer your second question first, I was using `configureRouter` to get the router. I did know that I could inject it into the constructor, but I was taking a shortcut. :)

For your first question, is this an exhaustive list? BTW, I LOVE this framework, so don't think I'm complaining. :)

**The Component Lifecycle**
- `constructor()`
- `created(owningView: View, myView: View)`

[2016-03-09 07:16] swiftanthony commented on #293
Same issue here. Are there any updates on this ?

[2016-03-09 14:55] EisenbergEffect commented on #119
That's the list, yes. However the event aggregator doesn't use any special hooks. Also not that "valueChanged" is a special instance of "propertynameChanged" for custom attributes, because they automatically get a "value" property.

[2016-03-09 22:14] AStoker opened #304 "router.navigation is not triggering computed gets"
FYI, might be related to https://github.com/aurelia/router/issues/246

Repro repository: https://github.com/AStoker/AureliaBindingIssues

This repo was created to try and initially test out issues on a custom element that was receiving the `router.navigate` property, modifying it to group navs together, and then use them on the view. What is happening is that when the router is configured with ele

[2016-03-09 22:18] EisenbergEffect commented on #304
If you suspect it's related to polyfills. Please do a `jspm update` to make sure you have the latest polyfills. There have been updates almost every day, including today.

[2016-03-10 01:08] AStoker commented on #304
I did that today with no luck. I also tried bringing back core-JS  which seem to work two days ago, but today I had no luck with it either

[2016-03-10 06:07] bhaeussermann commented on #303
So to my understanding all that I should do is add
[code]
The '#' is gone now, but I don't understand what's going on. As far as I can tell this makes the browser use relative URL paths. But why was the '#' there in the first place? Is there an article somewhere that explains this?

Furthermore, this seems to break the routing a bit. Without `pushState`, I can go to the *users* page and refresh th

[2016-03-10 13:23] jedd-ahyoung commented on #303
@bhaeussermann What you're seeing is part of the way that URIs are implemented in web browsers - it's not an Aurelia-specific thing. The hash symbol is part of the (fragment identifier)[https://en.wikipedia.org/wiki/Fragment_identifier]. It has a lot of uses, but it's used by single-page applications for history purposes, explained here: https://en.wikipedia.org/wiki/Single-page_application#Browse

[2016-03-10 14:55] jebbench opened #306 "Regression - route-href sets wrong url on viewmodel from child route after page refresh"
After updating to aurelia-router to beta.1.1.3 I'm having issues where child routes don't set the correct href on links when they are accessed directly (i.e. going directly to /parent-route/child-route) or the page is refreshed; loading the parent route and navigating to the child route works as expected.

It seems to be the same as previously fixed #169.

[2016-03-10 15:01] EisenbergEffect commented on #306
@jedd-ahyoung @bryanrsmith Can you guys look into this. I think we should mark this as a high priority issue.

[2016-03-10 15:12] ne0guille opened #307 "Rounting issue in Safari In Windows"
Hey, i have a really browser specific issue using aurelia router,

i have this anchor tag and the navigate method like this

navigate(param){
	    this.router.navigateToRoute(param.route, param.param);
	}

its working ok in all browsers but Safari running on Windows, working in IOS.
The routing is working ok, but the data is not been displayed, i tried ading an /#/ to the url on the browser  and t

[2016-03-10 15:19] EisenbergEffect commented on #307
Safari on Windows is not supported. That is a dead browser and hasn't been updated in many years.

[2016-03-10 15:19] #307 closed

[2016-03-10 16:08] AStoker commented on #304
Doing some more research. If I do all of my route configs inside a promise and we return that promise in `configureRouter`, then everything works fine. This makes sense because the router isn't going to publish the navigation array until everything is finished.
Now if I am adding dynamic routes later (i.e. I config some base routes and then make an async request and add a route later), it's this c

[2016-03-10 16:08] AStoker commented on #304
Perhaps then as a simpler fix I need to find a different way to add routes dynamically?

[2016-03-10 16:17] ne0guille commented on #307
thanks you very much for ur reply we will doom this browser

[2016-03-10 16:29] AStoker commented on #304
Another update, my initial issue seems to be related to the core-js promise library. There's still the issue of creating dynamic routes and those routes not being updated however. The repo has been updated and comments added to the `app.js` to document what needs to happen to see the case.

[2016-03-10 17:11] bryanrsmith commented on #306
I think this is still #113. I don't know why it would have been working in a previous version, though.

[2016-03-10 17:12] EisenbergEffect commented on #306
@bryanrsmith Would it be possible for you to tackle #113 next and attempt to move the calculation to a new earlier step in the pipeline?

[2016-03-10 19:14] vdangwal opened #308 "Spelling mistake 'delcared'"
Not sure but i think there is a spelling mistake in below message from aurelia.

it says 'delcared' instead of 'declared'.

ERROR [app-router] Error: Change handler selectedProvidersChanged was specified but not delcared on the class.
    at BindableProperty.createObserver

[2016-03-10 19:43] AStoker commented on #304
Perhaps then as a simpler fix I need to find a different way to add routes dynamically?

[2016-03-11 00:41] bryanrsmith commented on #308
Issue moved to [aurelia/templating #291](https://github.com/aurelia/templating/issues/291) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-11 00:41] #308 closed

[2016-03-11 02:05] jedd-ahyoung commented on #306
@EisenbergEffect @bryanrsmith Looking at this, it looks like this is governed by the `_refreshBaseUrl` method in the router, which is called during `_commitChanges` in navigation_instruction.js. I don't see why this can't be called at the beginning of activate or even after the configure function runs.

The only thing I'm not sure about is that `_refreshBaseUrl` calls a method on the currentInstru

[2016-03-11 02:07] EisenbergEffect commented on #306
The instruction should be set up before the pipeline starts, so we should be good on that.

[2016-03-11 12:44] ashleybrener commented on #201
We are also desperately waiting on a fix for this.
Is there an ETA ?
Thanks.

[2016-03-12 23:56] jedd-ahyoung commented on #306
I've been looking into this more and I'll place my notes here.

BaseURLs in the router are dynamically generated at runtime by inspecting the fragment passed to the current navigation instruction. (This fragment comes from the history module, which will call `_loadURL` on the app-router). This is done because of the recursive nature of the routers and because of child routes. I don't think we can

[2016-03-14 12:09] Jaans commented on #89
I too would be keen for a implementation that achieves @migajek 's sample. What are you guys doing to workaround this at the moment?

One hack-ish thought I'm having is to Inject the singleton viewmodel with the other child routes Router instance and then to perform a code base navigation (instead of href). Other ideas?

[2016-03-14 23:00] Dygerati commented on #201
+1

[2016-03-15 13:20] ochart2 commented on #201
also seems that this issue is closely related #237

[2016-03-15 15:17] balazsmeszegeto opened #309 "URL encode results incorrect baseUrl of child router in Firefox"
I have a router in app.js and then a child router, which has route-parameters.
App router config:
`    config.map([
      { route: 'child-route',  name: 'child', moduleId: 'child-router' }
    ]);`

Child router config:
`	config.map([
      { route: 'my-route/p1/:param1/p2/:param2', name: 'my-route', moduleId: 'my-route' }
    ]);`

If `:param1` or `:param2` contains non-URL characters (which has

[2016-03-15 19:53] davidbfrogman commented on #271
I would also be interested in the router being case insensitive.

[2016-03-16 09:31] flieks opened #310 "eventAggregator subscribe 2x router:navigation:complete"
Hi,

How can i subscribe in 2 different places to an event from the router ?
The second subscription is overriding the first one now..
so the first one is never called

Greetings
Felix

[2016-03-18 01:05] DanielRNichols commented on #201
I am having a similar issue in which some pages are not being updated when the route changes. I see some mention of  (with an ugly hack: add a dummy random parameter to the current route).  Does anyone have a sample of how this hack is implemented? Thanks.

[2016-03-21 08:24] Scapal commented on #173
@EisenbergEffect How would you put the cache on the history, in order to replicate the behavior of a Navigation View in iOS or Android? New view going forward, popping the view cache going backward.
I may be wrong but it seems you don't have that kind of info in the `router-loader.loadRoute()` nor the `route-view.process()`.
Are those kind of features already planned? You sure need those for Aurel

[2016-03-21 10:56] EisenbergEffect commented on #173
We are experimenting with the best way to handle this in Aurelia Interface. Any improvements we make as part of that process will be migrated back to the APIs you mention above.

[2016-03-21 11:04] aozisik commented on #177
Any progress on this issue? I have also hit the same wall

[2016-03-21 14:16] heruan commented on #173
This would be a great enhancement! I think it is kind of expected in a SPA to find at the same state you left a certain view(-model); isn't that the definition of *singleton*, btw? As far as I understand all VM are singletons by default, then why are they recreated every time? I tried with `@singleton(false)` as suggested, but my route hierarchy somehow screwed up…

[2016-03-21 14:19] EisenbergEffect commented on #173
The view models used in navigation are singletons per the request scope, not for the application. If you need an app-wide singleton you would hadd `@singleton()` to the view model. That would not cause the view to be cached though. That only affects the view model. Views will still be created and destroyed.

We're investigating enhancements to the route loading and view creation for navigation sce

[2016-03-21 15:03] ggrimbert commented on #302
Hi,

I am experiencing the same problem, but your workaround doesn't work for me.
In all case, ```this.router.history.previousLocation``` returns my current page

[2016-03-21 15:48] heruan commented on #173
Thank you @EisenbergEffect for the explanation, this might not be the right thread for me since I don't really need view caching, I'd just like to reuse the state of a previous instantiated VM for a specific route; i.e. navigating this path `/res => /res/123 => /res` using the same instance of the VM for `/res` in steps 1 and 3. I tried with `@singleton` on the VM, but then I get this error:
[code

[2016-03-21 15:58] EisenbergEffect commented on #173
That sounnds like a bug. Please create an issue on the aurelia-polyfills repo and attach a zip containing the source for a simple reproduction on top of the nav skeleton.

[2016-03-21 16:15] heruan commented on #173
Opened https://github.com/aurelia/polyfills/issues/17. No zip needed I think, since the bug triggers just adding `@singleton` to e.g. `users.js` in the nav skeleton! I'll track the issue there. Thank  you!

[2016-03-22 22:15] ppn2 opened #311 "Bug: The Bind method is not called if the navigate to same page but different URL parameter"
If you navigate from a page to same page with different parameter (e.g. from #/user/1 to #/user/2), the bind method is not called for main component or any of the child component. So that means if a user is navigating to #/user/2 from #/users it takes a different execution path versus if the user were to navigate to #/user/2 to #/user/1.

Please see the example on [plunker](http://plnkr.co/edit/WP

[2016-03-23 00:22] EisenbergEffect commented on #311
By default the router tries to preserve the UI if only the parameters changed, by simply calling activate again with the new values. If you want to completely re-instantiate the component, you can implement a method called `determineActivationStrategy` and return `activationStrategy.replace`. You can read more in the cheat sheet under the router section here: http://aurelia.io/docs.html#/aurelia/f

[2016-03-23 00:22] #311 closed

[2016-03-23 05:00] ppn2 commented on #311
thanks @EisenbergEffect. it does resolve the issue.

[2016-03-25 20:01] dlo83 commented on #90
+1

[2016-03-25 20:57] npelletm commented on #90
For the next RC could we expected this feature ?

[2016-03-26 10:48] claylaut commented on #90
+1

[2016-03-27 03:54] ppn2 opened #312 "Error on adding navigation step"
When I add navigation step following the cheat sheet documentation example I get error "Invalid pipeline slot name: progress. Here is the code I used for routing. If I remove the line related to adding the new step everything works fine.

[code]

[2016-03-27 04:04] ppn2 commented on #312
Please ignore this. After googling some more, i found you can't just have any arbitrary name but some of the pre-built slot names, where the step will be added. I hope documentation had been more clearer on that.

[2016-03-27 04:04] #312 closed

[2016-03-27 06:25] cehoffman opened #313 "Canceled navigation attempts add current route to history"
When navigating to a route, but the a view model on the new route cancels the navigation using `canActivate` the navigation entry is still added to the history stack. This causes any bound places using `router.navigateBack()` to require the user to keep activating the number of times the previous route activation was canceled.

I've created a sample application which shows this in the particular s

[2016-03-27 17:34] bryanrsmith commented on #90
Sorry, but I don't know of any plans to work on this before 1.0. I really want it too, but I haven't had much time to spare lately. If anyone wants to work on a PR I'd be more than happy to discuss the necessary changes and answer questions.

[2016-03-28 05:17] jon123 opened #314 "Navigating to a parameterized route with siblings(viewports) results in an error."
Referring to the use of viewports/siblings found in this closed issue:

https://github.com/aurelia/router/issues/56

Creating sibling with a parameterized route (as shown below) results in an error when navigating to the route.

[code]

Navigating results in the following error: `aurelia-bundle.js:8297ERROR [app-router] Error: Invalid Route Config: Configuration for viewPort "default" was not foun

[2016-03-28 07:22] jon123 commented on #314
Should be noted that this error only occurs when navigating in-app.  The error occurs via an href within the app such as `#/someChildRoute/someId/route`. Pasting a url such as `localhost:9000/#/someChildRoute/someId/route` into a new browser window and loading the app does not invoke the error and appears to work as expected.

[2016-03-29 13:14] Jule- opened #315 "'watch' route fail in Firefox"
Hi,

I tried to make a page named 'watch' and added it to my router :
`{ route: 'watch', name: 'watch', moduleId: 'watch', nav: true, title: 'Watch' }`

With a simple empty declaration :
`export class Watch { ... }`

And it works in Chrome. Unfortunately when I tried to run this in Firefox I have errors.

You can try this Gist in both browsers to see : https://gist.run/?id=515e1400e6628338a956

An

[2016-03-29 13:24] Jule- commented on #315
Error message extracted from Firefox console:
[code]

[2016-03-29 15:00] Jule- commented on #315
Maybe some clue here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/watch

How and why router is trying to redefine `Object.prototype.watch` is another question.

Can someone tell me if this can be considered as an issue or it is a limitation of Firefox and no plan to add workaround? In what case it could be great to add this limitation in the documentatio

[2016-03-29 15:22] EisenbergEffect commented on #315
I'm unaware of any code that accesses Object.protyype.watch...That's a FF-specific, non-standard api that we haven't ever used.

[2016-03-29 16:01] Thanood commented on #315
Well, it seems you can't call a route "watch" in Firefox. Then if you change that route to "watchx", the routing works again.

@Jule- showed me a link earlier today from Angular issues where they described the same problem with ngClass and they also had this problem with ui-router: https://github.com/angular-ui/ui-router/issues/511.

Maybe you don't need to use Object.prototype.watch directly to r

[2016-03-29 16:28] EisenbergEffect commented on #315
@bryanrsmith Can you look into this?

[2016-03-29 17:39] Thanood commented on #315
Interesting, ```unwatch``` has the same effects.

[2016-03-29 18:35] stoffeastrom commented on #315
@EisenbergEffect

I had to take a quick look and as far as I can understand it the root cause is when invoking dependencies

[code]
The problem is `new Type()` which in this case is doing new on the global `watch` which comes from `ensureViewModel`
[code]
since `viewModelResource.value` is the global `watch`

[2016-03-29 19:22] stoffeastrom commented on #315
Oh I think I found the real root cause :)

[code]
this will return the `watch` function and yields in above error.
I just tested creating an global `testing` object to confirm
[code]

[2016-03-29 19:29] EisenbergEffect commented on #315
Ok, interesting. So, we need a hasOwnProperty check there instead and probably also in the default loader as well. @stoffeastrom Interested in submitting a PR?

[2016-03-29 19:43] stoffeastrom commented on #315
Same thing in `moduleAnalyzer``
[code]
Let me see if I can get it up and running.. might be multiple repos involved here

[2016-03-29 19:48] stoffeastrom commented on #315
[code]
same thing here.. @EisenbergEffect where is this code located?

[2016-03-29 19:49] stoffeastrom commented on #315
nvm `view-resources.js`

[2016-03-29 19:52] stoffeastrom commented on #315
So fixes those places seems to get it up and running... :)

[2016-03-30 04:48] stoffeastrom commented on #315
@EisenbergEffect I've updated the PR's

[2016-03-30 09:59] Jule- commented on #315
Thank you for the quick investigation and fixes. Waiting for the release!

[2016-03-30 13:17] ne0guille opened #316 "Navigation fails when refreshing or press enter on the url."
Hello, im having issues in our DEV or QA enviroments when refreshing a page after a navigation.
In these enviroments i can see that we dont have the # in the url as i have in my local enviroment, and if i add the # manually it works ok.

examples: `http://localhost/url/#/general/1038` work ok if i hit enter or refresh.
              `http://DEV/general/1076` fails after hitting enter on the url or

[2016-03-30 13:45] EisenbergEffect commented on #316
Have you set a base element in your html?

[2016-03-30 13:47] EisenbergEffect commented on #316
Take a look at the cheat sheet, in the router section: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet/7  Scroll down to the part titled "Configuring Push State". Make sure you've set everything up as described there. Also, make sure your server is configured properly for push state scenarios.

[2016-03-30 13:47] #316 closed

[2016-03-30 14:37] smithaitufe commented on #237
Please @valichek, where is should the determineActivationStrategy method be kept? Is it the main.js folder or each viewmodel that will configure routes dynamically

[2016-03-30 19:23] jrsmith17 commented on #301
It's been over three weeks and I wanted to circle back and see if anyone has had a chance to look at this ticket. If not, Aurelia is effectively unworkable for me.

[2016-03-30 20:26] valichek commented on #237
@smithaitufe when you have configureRouter() implemented in viewmodel, you can have  determineActivationStrategy() in that vm too

[2016-03-30 21:43] EisenbergEffect commented on #301
@bryanrsmith Can you take a look into this?
@jrsmith17 Can you create a consistently failing unit test that we can use to help us provide a fix?

[2016-03-30 21:47] EisenbergEffect commented on #237
You can add `determineActivationStrategy()` to any view model that is navigated to. If you don't want to litter your view model with that, and the strategy is static, you can add an `activationStrategy` property to the route config.

[2016-03-30 21:47] #237 closed

[2016-03-31 04:18] bryanrsmith commented on #301
If someone can provide a failing test, or a plunker, or a repo that I can clone to reproduce the problem that'd be great.

[2016-03-31 08:24] bhaeussermann commented on #303
@jedd-ahyoung Thanks for the explanation! It seems that the approach with the fragment identifier (with `pushState = false`) is pretty standard among single-page apps anyway, so we should probably stick with that.

What does bother me is that it seems Aurelia adds an unnecessary `/` after the #. As in `http://localhost:43804/#/users` instead of just `http://localhost:43804/#users`. The latter URL

[2016-03-31 13:43] ne0guille commented on #316
i made the configurations and set the base with a url. so now to make it work i have to add this url to the router, but i dont think its the right thing, what should i change to make it work without this url on the router config.

	config.map([
		  { nav: true,	route: ['','cases'],		name: 'home',			moduleId: 'case/list',			    title: 'Cases',			settings: { auth: true, role: '' } },
		  {				route:

[2016-03-31 14:41] hmarcelodn opened #317 "Autorize Pipeline Step"
I am using the authorize pipeline step posted in the Aurelia.io site in order to redirect unauthorized users to login page.

I can see how the unathorized users access certain route which needs authotization and they are being redirected to login page.

The problem is that Aurelia is activating viewmodels even if you are not authorized and the pipeline rdirects you back to login page. Its running

[2016-03-31 15:11] ne0guille commented on #316
added config.options.root and its works now. thanks

[2016-03-31 20:14] denimaaark opened #318 "navigateToRoute doas not reload same page"
I have problem with navigateToRoute.
I am trying to reload current page localhost:9000/#/contacts with

this.router.navigateToRoute('contacts', { groupId: 25 }, { replace: true})
but it is not working.

It is wotking only if i call another route like "users", but not from same.

Url is changed to localhost:9000/#/contacts?groupId=25 but it is not reloading current page, no network activity.

Pleas

[2016-03-31 21:51] Mordred commented on #113
Is there any progress with this issue? Because of this bug I have to manually write urls using `href.bind`

[2016-04-01 06:27] praga opened #319 "Router params value return true for base64 encoded parameter value"
When parameter value contains base64 encoded value ending with '==' it returns true instead of the actual value

Example
http://localhost:9000#/?AccessCode=60CF38Ey7v2Q1rN295O4BdmiAJs3t1PFXvSFBBySNcCd2a6lbQy9gXn6MfjC5iuK6ZrA3nwcP3TjdtVo1AjgvBRhkaIQKK4_w5mkxPhVkZcRkkWgApxsXq5t1P_Q3-Le1WI17zpvQEX28hylrLM1x6n9U0g==

**Actual**
Access Code = true
**Expected**
Access Code = 60CF38Ey7v2Q1rN295O4BdmiAJs3

[2016-04-02 10:47] tolemac commented on #271
I have a strange behaivor with the router tests.

I have add after `it('should navigate to named routes',` this test:

    it('should navigate to case sensitive routes', (done) => {
      const options = {};
      spyOn(history, 'navigate');

      router.configure(config => {
          config.map({ name: 'test', route: 'Test/Test', moduleId: './test' });
        })
        .then(() => {

[2016-04-02 19:05] davidbfrogman commented on #271
I'd love to see some movement on this feature.

[2016-04-03 01:43] jrsmith17 commented on #301
I pushed up the fragment from the documentation that wasn't working to my account [here](https://github.com/jrsmith17/portfolio).

Since it has been a while, I ran through testing it again locally on my windows machine and remotely on my gentoo machine. Now both don't work, which I suspect is better than the alternative. The error message I posted above is still accurate.

[2016-04-03 02:39] ngelx commented on #90
+1

[2016-04-04 17:02] tolemac opened #321 "Router ignore <base/> tag when use pushState = true"
Router ignore `<base/>` tag when `pushState = true` I have to add:

[code]

To get work it.

The documentation says nothing about it.

[2016-04-04 17:28] EisenbergEffect commented on #321
@bryanrsmith Can you include this in the router docs you are working on?

[2016-04-04 17:59] tolemac commented on #271
I would like to help to implement it but have no experience with tests. Anybody can tell me how to test it in order to try implement it?

[2016-04-04 18:15] EisenbergEffect commented on #271
Take a look at some of the existing tests in the repo and see how they are put together. If you have questions, I'm sure @bryanrsmith can help you out.

[2016-04-04 19:04] tolemac commented on #271
Yes, I have looked to the rest of the test, and I have copied the `should navigate to absolute paths` test, I have wrote the avobe test and I think it works.

The problem is that it should fail but passed ... I don't understand :D. If I write the test with other route, for example:

	it('should navigate to case sensitive routes', (done) => {
	  const options = {};
	  spyOn(history, 'navigate');

[2016-04-04 22:42] tolemac commented on #271
I'm thinking ... sould be this issue related to "route-recognizer"??
I think yes.

[2016-04-05 00:38] tolemac commented on #271
I have created a pull request on "route-recognizer" to be case insensitvie: https://github.com/aurelia/route-recognizer/pull/20

If this pull request is accepted will be easy to enable it by each route.

[2016-04-05 00:51] EisenbergEffect commented on #271
@bryanrsmith or @jedd-ahyoung Can you review the PR?

[2016-04-05 12:09] stephenlautier commented on #321
Unless this is something which was changed, I don't have to do this in order to get it working. However the base has to be as:

[code]

[2016-04-05 12:21] tolemac commented on #321
I have:

    <base href="/au/">

But doesn't work if I don't set `options.root`.

[2016-04-05 16:50] jedd-ahyoung commented on #317
@hmarcelodn This behavior shouldn't happen. To verify, are you returning the redirect action as the return value of your pipeline? If not, the behavior you're describing could be possible. You'll need to make sure that your pipeline returns either a Promise or a navigation instruction.

Can you post your pipeline code, and can you provide a plunkr or a gist.run showing the issue?

[2016-04-06 03:09] jrsmith17 commented on #301
I wanted to follow up and make sure there wasn't any issue in accessing my repo. Thanks!

[2016-04-06 16:01] hadrienl opened #322 "Router navigate twice"
Since I upgraded to beta 1.2 I have a strange behavior : when I navigate in my app, all of my views are loaded twice. If I set some `console` in `activate` method of controlleurs, I can see it two times. If I observe `router.currentInstruction`, event is fired twice :

![capture d ecran 2016-04-06 17 56 34](https://cloud.githubusercontent.com/assets/225382/14323623/83e7580a-fc21-11e5-96b6-87004c0a

[2016-04-07 00:49] #319 closed

[2016-04-07 00:50] praga commented on #319
Fixed on Aurelia Path 1.0.0-beta.1.2.1

[2016-04-07 07:44] hadrienl commented on #322
It's hard to reproduce. I'm having the problem when loading a view with a child router. If I load the root view first, then, the rooter will works fine when I navigate child routes. Then, If I reload from a child route, I'll get the twice load.

[2016-04-07 08:05] hadrienl commented on #322
App.js have this configuration:

[code]

If I load my app on /, /su or /login, I'll get the double navigation but not on /profile/foo/bar. Then, if I replace `route: 'profile/:provider/:name',` for `route: 'profile',`, I'll get the bug too.

[2016-04-07 11:21] bebor opened #323 "is there a way to determine the previous route's name?"
is there a way to determine the previous route's name?

     i know that
`this.router.history.previousLocation`

     gives me the url for the previous route. means the one you go to when you do
`this.router.navigateBack();`

     but i need to know the routes name, the one o would need for doing:
`this.router.navigateToRoute(previouseRouteName);`

     any ideas?is there a way to determine the pr

[2016-04-08 21:37] ppn2 opened #324 "Customizing the Navigation Pipeline"
Using the example in the cheat sheet, I customized the router pipeline. It works as expected normally.
Now I tried a different use case, where I want to navigate to the same page but with different query string. e.g. ```/product?size=1``` to ```/product?size=2```. In that case the activation lifecycle events are not fired, which is expected. However I would also expect the custom steps are not fir

[2016-04-11 08:33] heruan opened #325 "Mapping imported VM"
I have built a module to reuse common VMs in different apps. How can I map those VM in the router? I tried to use the imported type in `moduleId`, but it seems to accept only strings.

I tried this:
[code]
but I get ` TypeError: name.trim is not a function`.

[2016-04-11 09:39] EisenbergEffect commented on #325
You don't provide a type there, you provide a module id. Using that, it can load the view model from anywhere.

[2016-04-11 09:39] #325 closed

[2016-04-11 09:50] heruan commented on #325
Thank you Rob, I understand now. So I can use `moduleId: "my-module"`, but which VM is used if "my-module" exports more than one type?

[2016-04-11 09:59] EisenbergEffect commented on #325
That is indeterminate at present because the system is built to work with one export per module. So, code like that should not be pre-bundled and should be distributed as a collection of independent modules. In the future we may open up more possibilities, but that's the way it is today.

[2016-04-11 10:07] heruan commented on #325
Okay, I'll work that out and try to keep the module split where necessary to adhere to this convention.

[2016-04-13 05:29] bryanrsmith commented on #271
@EisenbergEffect Left a few comments for minor issues.

I'm not sure about the API, though. It looks like we're adding an API for specifying whether or not the router is case sensitive, and then letting you specify an override on each individual route. IMO we should just make the router case insensitive by default, and let routes specify otherwise. I think that would be a less surprising default,

[2016-04-13 06:30] tolemac commented on #271
@bryanrsmith I'm agree with your comments on the PR.

I'm agree about API notes too, if @EisenbergEffect is agree too I can make the changes.

@EisenbergEffect are you agree?

[2016-04-13 11:02] EisenbergEffect commented on #271
@tolemac Yes, I agree. Let's proceed 😄

Also, I noticed that you haven't yet signed our CLA. We would appreciate it if you would consider doing that for us. Before signing, please take a few minutes to read [our contributing guidelines](https://github.com/DurandalProject/about/blob/master/CONTRIBUTING.md). These guidelines will help get you up to speed on how our community likes to operate and how

[2016-04-14 23:06] maverix opened #326 "Type Definition issue : Cancelling navigation"
Hi All,

I have implemented a PipelineStep in order to intercept navigation and cancel the navigation in certain situations.  It is working well, except I had to edit the typescript definition for aurelia-router.d.ts.

In the current version (1.0.0-beta.1.2.1) the definition for Next expects a value to be passed into the cancel method.  i.e.

  export interface Next {

    /**
      * Indicates th

[2016-04-15 00:10] EisenbergEffect commented on #326
You can make a PR directly to the source code to add the typing info there.

[2016-04-16 15:22] nexbit commented on #314
Hi, it works with the following fix:

[code]

I don't know if it's the intended behaviour, but it works the same even for a root router.
In my app I follow I guideline where I mark secondary viewports with an explicit name (like `tabs` in your example) and I leave the main content anonymous (router-view without a name).
Then in my router config I associate the `default` viewport to the main module

[2016-04-16 18:08] tolemac commented on #271
@EisenbergEffect and @bryanrsmith my apologies, I didn't read the contributing guidelines. Well, I have read it now, and I have cancel the pull request and I have done other following the guidelines.
I have signed the CLA too.

Here is the new pull request: https://github.com/aurelia/route-recognizer/pull/21

[2016-04-16 18:48] tolemac commented on #271
Well, the changes on route-recognizer aren't enougth to close this issue.
We need to make changes on the router too. I think to add "caseSensitive" property to the `RouteConfig` interface. Then, on `Router.addRouter` method pass this property to route recognizer:

    let state = this._recognizer.add({path: path, handler: config, caseSensitive: config.caseSensitive});

I'm trying to write a spec t

[2016-04-16 19:55] tolemac commented on #271
@bryanrsmith, @EisenbergEffect I just finished the changes on the router. I have replace the `route-recognizer` module by the new and it works.

How to do it? have I to wait to you accept the `route-recognizer` and then make the pull request to the `router`??

[2016-04-16 22:29] EisenbergEffect commented on #271
@bryanrsmith Can you review?
@tolemac Go ahead and add a PR the second set of changes to the router.

[2016-04-16 23:24] tolemac commented on #271
Done.

[2016-04-17 00:54] Ixonal opened #328 "Observables in Router Activation Lifecycle"
I was thinking, it would be nice to have behavior similar to that of Promises in the activate hook, but for Observables (https://github.com/zenparsing/es-observable), with the whole not showing until the first value comes through.

I figure it'd be something similar to this...
[code]

Admittedly, the unsubscribe part would require a modification to the spec to allow the subscription to be undone i

[2016-04-17 13:33] valichek opened #329 "Discussion: Bluebird promises, rejecting with non-error objects, "Warning: a promise was rejected with a non-error" in log"
Here is a reason:
https://github.com/aurelia/router/blob/master/src/navigation-plan.js#L34
[code]

Here is explanation of warning.
https://github.com/petkaantonov/bluebird/blob/master/docs/docs/warning-explanations.md#warning-a-promise-was-rejected-with-a-non-error

[2016-04-17 19:10] jon123 commented on #314
I tried the 'default' entry and it works acceptably.

What concerns me is the full page reload does not require 'default' . In theory, an internal href navigation should not give a different result than a full page reload using the same url.  This sniffs of a potential problem.

For me the use of 'default' is acceptable but perhaps is not the most desirable long term solution.  Apart from being se

[2016-04-18 13:34] silverbucket commented on #225
+1

[2016-04-19 18:42] sylvain-hamel commented on #60
+1 on the request to make move the authorize step earlier in the pipeline.

[2016-04-20 12:24] hadrienl opened #330 "Binding attributes in <router-view>"
I have a route hierarchy like that: `/accounts/1/foo/bar` so I have a first router on `/accounts/:id` which will load the account #1 then I have two levels of child routers `/foo` and `/bar`. Each loads many views which will have to work with the loaded account of the parent router.

I have two ways to handle this :
1 - On upper router, I set `this.router.account = account` and then, on child rout

[2016-04-21 01:41] diegograsso opened #331 "Return a Promise for a navigation command on canActivate"
Hello,
I know that canActivate should return a boolean value, a promise for a boolean value, or a navigation command like a Redirect or RedirectToRoute.
But I have a case where I need to return a Redirect after an async call in a promise.
I tried that but realised that when the router process the canActivate callback and gets a Promise it expects it to resolve to a boolean and ignores my redirect.

[2016-04-21 01:53] EisenbergEffect commented on #331
This definitely sounds like a bug. @bryanrsmith Can you look into this?

[2016-04-21 03:45] bryanrsmith commented on #331
I think you have to *reject* with the redirect. Try `throw RedirectToRoute('myOtherVM)`. It's a bit odd & I think it'd be better to respect a navigation command in the resolution as well.

[2016-04-21 06:41] heruan commented on #132
Will this possibly be addressed in the next release? Since now I was using @brantwedel trick, but I'm facing a scenario where I really need `deactivate` to be called *only if* `canDeactivate` returns true!

[2016-04-21 12:01] EisenbergEffect commented on #331
I agree. Can we make that improvement?
On Apr 20, 2016 11:45 PM, "Bryan Smith" <notifications@github.com> wrote:

[2016-04-21 13:25] EisenbergEffect commented on #132
@bryanrsmith Can you look at this with top priority?

[2016-04-21 14:06] stsje commented on #331
In the meanwhile you could manually call either resolve or reject
[code]

[2016-04-21 16:53] diegograsso commented on #331
Thank you for your quick response. I've just tried it seem to be returning
the navigation command but it's still not working. I think now it has a
problem because it's in a child router.

It I created a plukr with an example:
https://plnkr.co/edit/UrewdjNS7EUfNfyA4wQA
In the example, I'm using the old Redirect because it's not at the latest
version, my real code is up to date and has the same issu

[2016-04-22 12:46] glen-84 commented on #89
1. I'm already using periods to name my routes, so if there are plans to use periods for route namespacing, they should be made reserved characters.

2. I don't like the idea of activating other modules to access routing data – if you need to generate a full navigation structure, it would cause almost all modules to be activated/downloaded. I would prefer something like #90 where you configure all

[2016-04-24 09:29] heruan commented on #113
Same here, @Mordred. In #306 it was declared as high-priority, I'm looking for updates too.

[2016-04-24 09:30] heruan commented on #306
Any news on this? I'm experiencing the same issue with the latest router: binding to the `href` property in `router.navigation` produces wrong URLs.

[2016-04-24 10:41] EisenbergEffect commented on #306
@jedd-ahyoung This relates to some of what you are working on correct? Any ETA on when you'll be able to finish that up?

[2016-04-24 15:35] z-brooks opened #332 "Pipeline steps are not reset when changing roots"
I'm using roots to separate the login/register parts from the rest.  The login root doesn't need the auth step used in the main root.

Pipeline steps added in `configureRouter` are not removed when switching roots with `setRoot`.  Any steps added will remain and will be added again when switching back.
* [skeleton repro](https://github.com/z-brooks/pipeline-repro)
* [gist.run](https://gist.run/?id

[2016-04-24 22:24] jedd-ahyoung commented on #310
@flieks Can you create a test case for this, using the router navigation event and a separate event? This may be an issue with the event aggregator.

[2016-04-24 22:27] jedd-ahyoung commented on #310
Issue moved to [aurelia/event-aggregator #20](https://github.com/aurelia/event-aggregator/issues/20) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-24 22:27] #310 closed

[2016-04-24 22:37] jedd-ahyoung commented on #318
@denimaaark See https://github.com/aurelia/router/issues/255 - this can be controlled by changing the activation strategy.

[2016-04-24 22:38] #318 closed

[2016-04-24 22:54] jedd-ahyoung commented on #329
@valichek I don't think this is something that we can honor as we use promises for flow control in this case. Further, our API is stabilizing and this would be a breaking change.

@EisenbergEffect I'm tagging this with the `wontfix` tag. Let me know if we should change this.

[2016-04-24 22:54] #329 closed

[2016-04-26 07:43] ppn2 commented on #324
@jedd-ahyoung thanks for looking into this issue. Don't you think this is bug rather than enhancement. In my view, no body would expect that half of the pipeline is not executed and rest half is executed.

[2016-04-26 11:41] EisenbergEffect commented on #332
Pipeline steps are not managed by the router, but by a separate pipeline provider service. I would recommend that you just reference that and remove the steps you don't want as needed.

[2016-04-26 11:41] #332 closed

[2016-04-26 11:44] EisenbergEffect commented on #328
We would be interested in a PR to add this if you find it useful.

[2016-04-26 11:46] EisenbergEffect commented on #324
You can control this using activation strategy. See the router docs. You can also control this with the options you pass to the navigate method, for example `{ trigger: false }`.

[2016-04-26 11:46] #324 closed

[2016-04-26 11:47] EisenbergEffect commented on #323
Try `router.currentInstruction`. You should be able to get the information from that.

[2016-04-26 11:47] #323 closed

[2016-04-26 11:49] EisenbergEffect commented on #322
Can you re-create this on the nav skeleton for us and attach the src? I haven't seen this behavior with similar setups.

[2016-04-26 11:50] EisenbergEffect commented on #317
Closing this since there was no response in three weeks and the source code of the pipeline provider seems to indicate this should not happen if the step is implemented correctly.

[2016-04-26 11:50] #317 closed

[2016-04-26 21:27] z-brooks commented on #332
Yeah, that's fine. I'm currently using the modified fork linked in the top post.

The concern is that when switching back and forth the steps accumulate so there are multiples of the same step in the pipeline being applied when routes change.
Updated the [gist.run](https://gist.run/?id=e0a6204fd698f5597328acc992293ce6) to illustrate. Click the `switch` button a few times and the steps will add up.

[2016-04-26 21:31] EisenbergEffect commented on #332
Perhaps we can just have a reset method on the provider to set it back to the default configuration?

[2016-04-26 21:43] z-brooks commented on #332
That's what I'm doing now. Either way is fine, just rambling ideas. As long as there's a way to clear out unneeded/duplicate steps. Duplicates could be prevented with a simple check though.

[2016-04-26 21:49] EisenbergEffect commented on #332
Sounds like a nice PR opportunity. Any interest in submitting an improvement to the pipeline provider?

[2016-04-26 21:56] z-brooks commented on #332
Sure.  Are you looking for a single method to reset everything to as it is right after construction? Or, something to reset a specific slot like https://github.com/z-brooks/router/blob/pipeline/src/pipeline-provider.js#L90?

[2016-04-27 04:36] Ixonal commented on #328
I'll look into it in a few days.

[2016-04-29 02:16] Ixonal commented on #328
Alright, found a way to handle the synchronous first value in subscriptions and made a fork using that https://github.com/Ixonal/router/blob/master/src/activation.js#L205

Any comments or concerns, or does it look good? If it's good, I'll set up the tests and put in a pull request.

[2016-04-29 04:03] EisenbergEffect commented on #328
That seems pretty reasonable. @bryanrsmith What do you think?

[2016-04-29 05:15] bryanrsmith commented on #328
Sounds reasonable to me, too. I haven't spent much time with observables, so I do have a few questions:

1. Is waiting for the *first* value the right thing to do, or will anyone want to wait for the sequence to complete?
1. Do we need to unsubscribe on error?
1. Do we need to observe sequence completion to cover the case where an observable produces no value?

[2016-04-29 17:11] Ixonal commented on #328
1. Considering that the Observable may never actually complete, waiting for that could be problematic. My thinking on this feature was in the way of using Observables with AJAX requests (like how Netflix and Angular 2 use them to get request cancellation support) and WebSockets. If it's for an AJAX request, the first value is the whole response and then it'd be complete anyways. If it's for a WebS

[2016-05-03 12:49] ashleybrener commented on #201
The concern with this issue is that we we have to do a page refresh on the browser every time a user authenticates (which is when we generate the navigation menu's).

The result of this is that page load feels like it takes 15sec when in actual fact it would take 3sec.

*yawn*

[2016-05-03 16:17] mikeesouth commented on #201
For authentication, one solution is to route the user to a "logged in page" or profile page but I want the user to stay on the current page (but refresh it based on the new authenticated status). I solved this scenario by sending an event when the user authenticates. Each view is then responsible to subscribe to this event and react accordingly. Some views does nothing, some update backing fields

[2016-05-04 04:06] Ixonal commented on #328
I made a change that should cover points 2 and 3. I thought more about point 1, and if they need all values from an Observable, they can convert it to a promise. In the es-observable spec, the forEach method returns a promise when the Observable completes. Other libraries have additional ways to do that too. For example, RxJS has the toPromise instance method. Then the existing promise handling co

[2016-05-06 13:39] heruan commented on #132
Any news on this?

[2016-05-06 13:56] EisenbergEffect commented on #132
No news. As always, if an issue is important to you, we welcome all PR. That's the best way to get a particular issue prioritized.

[2016-05-09 11:31] corneliutusnea commented on #209
Any chance to resolve the hash from the navigation instruction? I'd prefer to have a correctly generated `<a href="#/route/view/sub-view"` then use click.delegate to navigate.
The correct href allows Open in New window to work correctly.
I can't find a way to generate the route hash from the navigationInstruction.

[2016-05-09 18:30] #88 closed

[2016-05-09 18:36] #271 closed

[2016-05-12 06:08] cehoffman opened #335 "previousInstruction on currentInstruction"
I finally got the chance to upgrade from the 1.1 beta (roughly 2 months ago) to the most recent release as of today. Most everything appears to be working just as expected except **previousInstruction** on the **currentInstruction** of the router instance no longer has the last route's information. It is always null.

The following snippet from the **attached** callback on a viewPort view model us

[2016-05-12 06:26] cehoffman commented on #335
It appears that the 3rd argument to the activate callback has the expected previousInstruction. It never makes its way to the currentInstruction on the router.

[2016-05-12 08:24] chrisckc commented on #323
Hi, I have tried the suggestion and cannot find a way to get the previous route name or path.
I am using aurelia-router@1.0.0-beta.1.1.1 has this been fixed in the latest release? I am not quite ready to update everything yet.

This is what i have found:
`this.theRouter.currentInstruction.previousInstruction` is always null
`this.theRouter.currentInstruction.parentInstruction` is always null

i al

[2016-05-12 10:15] EisenbergEffect commented on #335
@bryanrsmith Can you look into this?

[2016-05-12 10:18] EisenbergEffect commented on #323
@bryanrsmith This is related to the other issue I tagged you on this morning. I believe we have/had a way to do this. Can you investigate? There may have been a regression here.

[2016-05-13 03:20] bryanrsmith commented on #335
7fa6e0b97370f08a4e3b1c08bad2ea1eded330f4 removed the `previousInstruction` at the end of the activation cycle to plug a memory leak. You will need to read the name of the previous route during activation and store it for later use. I believe this happened around version 0.13. I'm not sure why it would have worked with any beta version.

[2016-05-13 03:20] bryanrsmith commented on #323
7fa6e0b97370f08a4e3b1c08bad2ea1eded330f4 removed the `previousInstruction` at the end of the activation cycle to plug a memory leak. You will need to read the name of the previous route during activation and store it for later use. I believe this happened around version 0.13. I'm not sure why it would have worked with any beta version.

[2016-05-13 05:32] cehoffman commented on #335
Maybe this other bit of behavior change I've noticed is related then. Previously it appears attached related items were available in the activate callback that no longer are. Perhaps attached was being called prior to activate and that is why `router.currentInstruction` still had the previousInstruction set. Was there a change in the callback ordering? Specifically we had in the template a call li

[2016-05-13 06:28] cehoffman commented on #331
I can offer a bit of empirical evidence on **canActivate** and navigation commands. I've used **Redirect** and **RedirectToRoute** extensively and it works without a problem in a no child router application. I don't have to reject the promise with the navigation command and with is with release **beta.1.2.2** of the router.

[2016-05-13 12:40] EisenbergEffect commented on #335
The `attached` callback has fired after the `activate` callback for a very long time. If it worked the other way, it was some sort of accidental regression in an old version.

@bryanrsmith Let's see if we can give "some" sort of previous instruction info. Maybe as @cehoffman we can provide a cleaned up instance that won't have the memory leak issues.

[2016-05-14 00:21] Ixonal commented on #328
@EisenbergEffect @bryanrsmith I'm assuming the silence means you have no objections?

[2016-05-14 00:28] EisenbergEffect commented on #328
Seems pretty reasonable. Go ahead and create a PR and we cn have @bryanrsmith  do a final review.

[2016-05-15 02:47] ejsmith opened #338 "Hide detached element"
We have a view that has a google map on it which is expensive to draw. The UI is setup in such a way that the user would be switching back and forth between the map view and a grid view frequently. Is there some way that we can load the map the 1st time the view is shown and then just hide it when the user navigates out of the view so that it can just be marked visible when the user goes back to i

[2016-05-16 13:07] EisenbergEffect opened #339 "Add view ports in the skeleton-navigation"
@ceoaliongroo commented on [Tue May 26 2015](https://github.com/aurelia/skeleton-navigation/issues/101)

I'm using view ports to refactoring a ui-router application.

I did an example, to check. How to use the view ports in the skeleton-navigation  code.
https://github.com/ceoaliongroo/sandbox-aurelia/pull/6/files

[code]

This code works fine, except the navigation menu, each moduleId id take as

[2016-05-16 13:38] #185 closed

[2016-05-16 13:39] EisenbergEffect commented on #254
We recommend using redirect from the empty route to a named route to solve this issue.

[2016-05-16 13:39] #254 closed

[2016-05-16 13:40] EisenbergEffect commented on #193
Haven't heard back in a while so I assume it's no longer an issue. This was likely a combination of the module loader with the route configuration module ids.

[2016-05-16 13:40] #193 closed

[2016-05-16 14:47] EisenbergEffect commented on #240
The router-view itself cannot be conditionally included.

[2016-05-16 14:47] #240 closed

[2016-05-16 14:51] EisenbergEffect commented on #246
Does anyone want to submit a PR is or this issue no longer important?

[2016-05-17 12:50] EisenbergEffect commented on #113
@jedd-ahyoung With the merge of the recent PRs around url calculation, how difficult would it be to implement this fix?

[2016-05-17 14:44] ejsmith commented on #338
Any ideas on this?

[2016-05-17 14:46] EisenbergEffect commented on #257
Is this still an issue? or was it resolved? Are all the proper polyfills being used for IE10?

[2016-05-17 15:02] EisenbergEffect commented on #266
Closing as duplicate.

[2016-05-17 15:02] #266 closed

[2016-05-17 15:07] EisenbergEffect commented on #338
@cmichaelgraham Can you provide guidance here? I know you've done this exact thing...

[2016-05-17 15:07] EisenbergEffect commented on #338
@cmichaelgraham Please ping me after responding so I can close this out.

[2016-05-17 15:10] dpinart commented on #338
Would be nice to have this topic on the cheat sheet...

[2016-05-17 15:19] EisenbergEffect commented on #338
It's not merely a topic but an advanced customization of the router-view. It's probably better for some sort of "recipes" section though...

[2016-05-17 15:47] ejsmith commented on #338
Yeah, would definitely be great to document this.

[2016-05-18 06:23] Cedware commented on #257
I'm going to try it in the next few days

[2016-05-18 18:29] devmai commented on #246
This is the most commented issue as bug in aurelia router and still open since November. All recommodated fixes never worked for me. It's still very important because it prevents more advance leveled SPAs. What think the others?

[2016-05-18 18:45] EisenbergEffect commented on #246
Why don't you submit a PR with the fix? It would be a great contribution. We marked this as "help wanted" because we think it's a good fit for someone from the community to get their feet wet contributing.

[2016-05-19 14:14] ejsmith commented on #338
Any code you can point me at?

[2016-05-19 14:59] EisenbergEffect commented on #338
@cmichaelgraham Please respond here. Also, it would be worth it to put together a sample solution to show you did it for future reference.

[2016-05-19 20:19] yaredtek commented on #246
is this issue fixed?

[2016-05-19 20:42] EisenbergEffect commented on #246
No it's not fixed. We are asking for a community member to make the PR. It should be easy.

[2016-05-20 12:05] bobpardoe opened #340 "router.hasOwnRoute & router.hasRoute both return false but the navigate works and the route exists in the routes array"
`
// will dynamically add the routes from the menu data
    addRoutes() {
        this.router.addRoute({route: "nbrm11", moduleId: "nbrm11", nav: true, title: "Test Page 1"});
        this.router.addRoute({route: "test-page2", moduleId: "test-page2", nav: true, title: "Test Page 2"});
        this.router.addRoute({route: "test-page3", moduleId: "test-page3", nav: true, title: "Test Page 2"});

[2016-05-20 14:07] nporcu commented on #201
We also have the same problem in my company with the same usecases =>
- Change User login which also changes language or permission
- Change User settings (language or permission)

When doing so this results in wrong translated views or in wrongly shown views. There is currently no possibility to refresh a page you always have to use observers or something like this in order to get the views refre

[2016-05-20 17:08] jasoncarreira opened #341 "Router should get context path when starting up"
Rather than having to set the base url and base href the router should pick up the context URL when the app starts and use that as the base for the routes.

[2016-05-20 17:10] EisenbergEffect commented on #341
What is the "context url"? I haven't seen that term before. Where can we derive it from?

[2016-05-20 17:12] jasoncarreira commented on #341
Everything after the domain:

http://www.foo.com/some/context/url

[2016-05-20 17:14] EisenbergEffect commented on #341
And how does that relate to the `base` tag?

[2016-05-20 17:18] jasoncarreira commented on #341
See gitter... Someone was having a very hard time getting it to correctly route under the context.

If the app was running under /context1 rather than going to /context1/route1 it wanted to take them to /route1

In multi-app sites that could be part of a whole other app.

I haven't set up an Aurelia app to run below the root context but I don't see why the router can't handle that on its own.

Her

[2016-05-20 17:19] nikolaj-a commented on #341
I have got a workaround for this, but it's very clunky:

In the index file, add a base tag with the context path (be aware that this is JSP templating, NOT Aurelia templating). Don't forget the trailing slash!

[code]

And in configureRouter(), do the following.

[code]

It would be nice if Aurelia picks up this "base" from the base tag automatically, or we can enable it somehow (config.options.us

[2016-05-20 17:44] EisenbergEffect commented on #341
We're happy to address this. It sounds like a good contribution that could come from the community. Is anyone interested in putting together a pull request for this?

[2016-05-20 18:04] jasoncarreira commented on #341
I could take a look if you can point me to where I should start. I haven't messed with the router at all.

[2016-05-20 18:25] EisenbergEffect commented on #341
Start by looking at the history-browser library. It's relatively small and important to this issue.

[2016-05-20 18:25] jasoncarreira commented on #341
Okay, will do

[2016-05-22 02:25] ejsmith commented on #338
Attempting to wait patiently. :-) I guess I should dig into the router source code and see if I can figure out how to change the behaviour.

[2016-05-22 04:16] cmichaelgraham commented on #338
hi sorry for the delayed response.

[here](http://cmichaelgraham.github.io/skel-nav-esri4-vs-ts/index-release.html#/esri-globe) is a link to a running sample with the esri map.  notice that if you zoom in, change to a different route, and change back, it snaps right in...

implementation is [here](https://github.com/cmichaelgraham/skel-nav-esri4-vs-ts)

doesn't mess with the router.  hides/shows t

[2016-05-23 19:23] ejsmith commented on #338
Ok, I took a look at your example and at first I saw the ResourcePool code and was thinking that was how you were doing it, but upon further investigation, it looks like that code isn't being used. Was that a different attempt of trying to get this behaviour?

So basically, you just have an element at the app level that is shown or hidden over top of a blank view and then it's visibility is toggle

[2016-05-23 19:34] EisenbergEffect commented on #338
@cmichaelgraham This isn't the demo I was referring to. There was an implementation with a custom router-view that showed how to do this more generically wasn't there?

[2016-05-24 04:21] ejsmith commented on #338
Yeah I was hoping for something a little more generic as well.

[2016-05-24 15:58] maksymzav opened #342 "The route does not change it's state when changing the address directly in browser's address bar."
Hi.
I have, for example, two next files:

[code]

The routes from the last file are used for a navigation.

Now the situation:
1) I go to the address /update/12.
2) Then I change the address to /update/13 directly(manually) in the browser's address bar and press enter.
3) I get the updated information about my item on my page.
But. The links of my navigation, that generated this way:
[code]
have n

[2016-05-24 17:07] dpinart commented on #338
I also expected another thing, it seems like a hack of mines :). Anyway, I have tried this solution and it works like a charm.

[2016-05-25 10:10] henning-krause opened #343 "Localizing title"
This is somewhat related to #218.

Currently, I'm using some kind of resource identifier the page title in the router config:
`
config.map([
            {
                route: ["", "home"],
                name: "home",
                moduleId: "dashboard/home",
                nav: true,
                title: "home"
            },
`
I'm localizing the title in the nav-bar.html using t.bind, a

[2016-05-25 11:07] EisenbergEffect commented on #343
We could add a translate hook that the router passed all title information through before setting the actual document title. This sounds like a nice user contribution and we'd be happy to take a PR for that. I think it would mean adding a `titleTransform` setting and using that throughout.

@zewa666 may have some thoughts on this as well as @bryanrsmith

[2016-05-25 11:41] simonfox opened #344 "Possible issue with child router nav collection"
Not sure if this is an issue or if I just have something wrong, but I have created a [repro here](https://github.com/simonfox/skeleton-navigation-possible-router-issue).

The use case is a UI with two levels of tabs. The top level tabs represent instances of a single VM type.

In the repro you can open top level tabs from the welcome screen. Each top level tab has a router with two bottom level ta

[2016-05-25 15:08] ejsmith commented on #338
@EisenbergEffect it sounds like @cmichaelgraham tried to build a more generic version of doing this, but ended up doing a simpler solution. It seems like this would be a generally useful feature to have in the router. Any ideas how you would go about implementing it?

[2016-05-25 15:21] EisenbergEffect commented on #338
Yes, you start by forking our router-view implementation from templating-router. If you look at that code, you will see a process method, you need to cache some of the data that is created there instead of creating it each time.

We have an issue tracking adding this as a feature. It's difficult to add in a generic way, which is why it hasn't been added yet. We are considering it and will probably

[2016-05-25 15:21] #338 closed

[2016-05-25 17:45] TGMorais opened #345 "configureRouter from a feature view-model"
Hi,

I have been trying to setup a child router inside a feature, with no success.

As the docs say, to setup a child router one only has to call `configureRouter()` from the intended view-model.
However when I do this from a feature view-model, `configureRouter` is never called.
 I wonder if this is intended behaviour.

I have something like this:

`src/features/my-feature/index.js`
[code]

`src/

[2016-05-25 17:56] EisenbergEffect commented on #345
Calling `config.router()` installs the router plugin. That's not what you want here. You need to map the parent router to your feature's view model.

[2016-05-25 17:56] #345 closed

[2016-05-25 19:03] simonfox commented on #344
Sorry, have just realized [this open issue](https://github.com/aurelia/router/issues/246) is tracking this problem. I am going to have a go at putting a PR together today.

[2016-05-25 19:55] #344 closed

[2016-05-25 19:56] simonfox commented on #246
I'm going to have a crack at fixing this today

[2016-05-26 09:16] TGMorais commented on #345
@EisenbergEffect Hmm, I'm not sure I follow.
I need a new (child?) router with it's own mapping for my feature, so I can have my own child routes.
How would I go that ? By importing the AppRouter into my feature?

[2016-05-26 12:17] EisenbergEffect commented on #345
The "feature" feature and "routers" don't have anything to do with one another. The problem you have is that you just haven't configured routing correctly. You can see how to set up child routers in the getting started guide. I'd recommend you look through that again as well as the section on routing in the Cheat Sheet.

[2016-05-27 18:40] Vaccano commented on #173
@EisenbergEffect - I really need to have my ViewModel be reused.  I thought that I would roll-my-own as that is the solution you recommended for this 10 months ago (and from what I can see is still the recommended solution).

So I found the `router-view.js` file and I put it in project.  I changed the name of the class to CachingRouterView and the name of the element to `@customElement('caching-ro

[2016-05-27 19:46] simonfox commented on #246
@EisenbergEffect @bryanrsmith any chance my PR can get looked at before next weeks release cycle? I have some time over the weekend if any changes to it are required and would be great to get it merged before next week.

[2016-05-27 20:03] Vaccano commented on #173
I just want to say +1 on this feature request.  I think this should be considered a "core" feature that should have been done a while ago.

I have been trying to make it myself and it is hard for someone not familiar with the internals of Aurelia.

[2016-05-27 20:12] rborosak commented on #173
@Vaccano  Just follow what @EisenbergEffect  suggested. I'm a total JS noob and I got it working so I believe anyone can.
I have created my own RouteLoader implementation where I read my view model from cache (if it exists) and pass it down the pipeline.
I have also created my ViewFactory that loads my view from cache.
If you need help I'll provide a code sample.

[2016-05-27 20:14] Vaccano commented on #173
@rborosak I would LOVE a code sample.  I am am not doing to well on this one.

[2016-05-27 20:20] Vaccano commented on #173
@rborosak if it too much to post, you could put it on a [gist ](https://gist.github.com/) or email it to me at Vaccano.Routing@xemaps.com

[2016-05-27 20:30] rborosak commented on #173
Here is a link. That works for me, but as I said I'm a JS noob so it might not be the best solution :)

https://gist.github.com/rborosak/dc505e32a672e60c061dccd048767a98

[2016-05-27 20:31] Vaccano commented on #173
@rborosak  Thank You!  I will give it a look.

[2016-05-27 21:30] Vaccano commented on #173
@rborosak That was really good stuff!  Thanks!

Would you be willing to show where/how you plugged into the ViewFactory?

[2016-05-27 21:37] rborosak commented on #173
Here it is, but I'm not sure if it works. I think there is some problem with should invalid data (red square around invalid text boxes) with cached view so I'm not using view caching. I always create a new. Although I wasn't using the new version of aurelia validation.

https://gist.github.com/rborosak/265ece1aee0628219af0566fb552d721

[2016-05-28 02:01] EisenbergEffect commented on #246
Mostly likely it will get in. @bryanrsmith Can you take a look? It seems pretty straghtforward to me.

[2016-05-30 20:37] #246 closed

[2016-06-01 15:17] cosminonea opened #347 "route-href does not take into account the href on the route config"
I've got a route like this:

[code]

Notice the href there. In the view I have something like this:
[code]

The dataViews looks like this:
[code]

If I am on a deep URL like `#/some/data/charts/[chart-name-here]` and refresh the browser all the items in the list have a URL like `#/charts/[chart-name-here]` without the `#/some/data/` prefix. If I navigate to the page via navigation links however, a

[2016-06-01 15:58] EisenbergEffect commented on #347
Is this with the latest release of the router? If so, can you see if it exists in the previous release?

[2016-06-01 16:02] cosminonea commented on #347
This is a snapshot of my config.js file:

[code]

Not sure if this is the latest.

[2016-06-01 16:07] cosminonea commented on #347
well, the reason I am trying to use the href on the route configs is because if I browser-refresh a "deep" url, none of the URL generation works. It looks like the whole context of the current route/router is lost and I am trying to get around that using the href which is not ideal but that doesn't work either.

[2016-06-01 16:10] shannonhorn opened #348 "doc outline"
Can we get an outline of the topics to cover in the Router: Basics doc? Thank you!

[2016-06-01 16:16] cosminonea commented on #347
This happens using the latest router release as well:
[code]

[2016-06-01 16:20] EisenbergEffect commented on #348
* Router Configuration
    * title
    * map
    * options (push state)
    * Async Config
    * handle unknown routes
* router-view
* Child Routers
    * relative href and module id
* Link Generation with router-href
* Router Pipeline customization

This would be a good start.

[2016-06-01 16:20] EisenbergEffect commented on #347
Are you using push state?

[2016-06-01 16:25] cosminonea commented on #347
No, not explicitly. I guess it's off by default.

[2016-06-03 18:31] classicalConditioning commented on #302
as another not very clean temp workaround - you can call `this.router.history.navigateBack()` instead of returning false in `canDeactivate()`. so

`if(!confirm('Are you sure you want to leave?')){
      this.router.history.navigateBack();
  }`

[2016-06-05 09:47] sew810i9 commented on #157
Hello. I have the same problem with routing.
**My index.html**
[code]

[2016-06-05 10:56] EisenbergEffect commented on #157
Is your server configured correctly? For push state, you also have to configure your server.

[2016-06-05 11:16] sew810i9 commented on #157
I don't know. I didn't find an information to configure a server for pushState. What should I configure? Maybe I should configure my .htaccess which located at root directory of my project?

[2016-06-05 15:44] EisenbergEffect commented on #157
Depending on what server-side web framework you are using, you will need to configure it to serve your Aurelia app for routes that it doesn't recognize so that those can be handled on the frontend.

[2016-06-05 16:28] sew810i9 commented on #157
I am using node js + express but I don't understand how to configure my server for Aurelia. Now I start server using a command  http-server -c-1 it means that I don't use node js on server-side. I don't know how to start aurelia and node js jointly. I've never used frameworks similar to Aurelia but I want try it. If you can help me to do it I will be very grateful to you.

[2016-06-05 19:37] EisenbergEffect commented on #157
Please ask in the community gitter channel: gitter.im/aurelia/discuss

[2016-06-06 09:21] bhatnagar-ankur commented on #90
+1

[2016-06-06 11:21] vaags opened #349 "Customizing the Navigation Pipeline in Typescript: "Property 'cancel' does not exist on type 'Function'.""
Hi. I'm trying to customize the Navigation pipeline in my main router, as described in the docs:(http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.2.4/doc/article/securing-your-app).

I'm using TypeScript with the latest [typescript-webpack skeleton](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack) (1.0.0-beta.1.2.6).

I've entered `config.addPipeli

[2016-06-06 15:46] EisenbergEffect commented on #349
The code is correct, but our d.ts files might not be, which is causing TS to complain.

[2016-06-06 17:02] genericuser-me opened #350 "Change Page Title"
[code]

Can anyone please help, why it doesnt change the router title when its within api call?

[2016-06-06 17:29] vaags commented on #349
Ah. I see. Could this be related to #326? I tried changing the aurelia-router.d.ts, like @maverix did there, but still got the squiggly.

[2016-06-07 12:48] AStoker opened #351 "Wildcard Routes not matching correctly"
### Help Wanted/Possible Enhancement

I have an application that consists of two "main" pages, "Home" and "Settings". For both of those pages, there are child routes.  Both Home and Settings define their main route in the `app.js`, and then the subsequent child routes are defined in each view model (`home.js` and `settings.js`).

Home does not have any prepended route to navigate to sub routes. So

[2016-06-07 14:20] AStoker commented on #350
Can you give more context? How is the router being used to display titles? The routes that are generated are different objects then routes defined, therefore you might be changing the title of the route, not not the navigational routes.

[2016-06-07 14:39] AStoker commented on #351
Not sure if this issue should belong more in the route-recognizer repo though: https://github.com/aurelia/route-recognizer

[2016-06-07 14:51] genericuser-me commented on #350
Worked using return. here is the code:

 activate(params: any, route, navigationInstruction) {

        //route.navModel.router.title="test"; // This works, changes the title
         **return** this.api.pull<Product>(params.id).then(items => {
                items.forEach(item=>
                {
                    if(item.id == params.id)
                        {
                            r

[2016-06-07 14:58] AStoker commented on #350
Returning an api call in the activate will stop any further rendering or lifecycle callbacks until that promise is finished. So what was probably happening was the binding of the title wasn't taking place after the initial load. By not doing binding until after you have your data, you've solved your problem :) Otherwise, you'd have to give more examples of what you're trying to accomplish (includi

[2016-06-07 16:37] genericuser-me commented on #350
Yes :+1:

[2016-06-07 16:37] #350 closed

[2016-06-08 13:22] AStoker commented on #351
Repro Repo: https://github.com/AStoker/aurelia-route-recognizer-issue

The problem seems more specific to the route-recognizer, so I'm moving the issue there: https://github.com/aurelia/route-recognizer/issues/22

[2016-06-08 13:22] #351 closed

[2016-06-08 19:43] AStoker opened #352 "Router silently fails"
### Enhancement Request

There are cases when the router will swallow errors during the navigation process, leaving the user with a blank page, and the console with no indication what went wrong.
I've found that most cases (for me at least) involve failing on some kind of `deactivate` or `detached` method, and every time I get this behavior, I have to go into the code and wrap the navigation insid

[2016-06-08 19:54] EisenbergEffect commented on #352
Since you have figured out how to catch them, perhaps you can make a PR for the fix? @bryanrsmith can review and provide any guidance you need.

[2016-06-08 19:58] AStoker commented on #352
Sure. What I had done was just wrap the code at https://github.com/aurelia/router/blob/master/src/router.js#L143 inside a try catch. I can make a PR with just that, but I'm not sure if that's something that should just be thrown into the console, or interact with the aurelia logger (which I'm not as familiar with)?

[2016-06-10 15:09] cosminonea commented on #347
Is this an issue with the router?

[2016-06-10 18:49] genericuser-me opened #353 "Dynamic route parameters"
Hi,

I implemented multilevel  menu using [this](https://github.com/cmichaelgraham/aurelia-typescript/tree/master/multi-level-menu).

Here is my router config:

[code]

I want to be able to add the href parameters dymanically, is it possible?

[2016-06-11 12:52] EisenbergEffect commented on #353
I think we'll need some more information in order to help you with this, but the best place to get questions answered right now is not here but on gitter or stack overflow. We use github for feature and bug issues.

[2016-06-11 12:52] #353 closed

[2016-06-11 16:47] talski opened #354 "Route not found not firing EventAggregator event error"
Hello guys,
In the app that I've been developing I wanted to handle route not found, and redirect to home page, the default behaviour is to restore the previous location, but when I direct open a invalid link (http://localhost:3000/#/somewrongroute), I get this error:

[code]
I've found that aurelia-router fire the following events in EventAggregator:

So lets use the EventAggregator to solve my p

[2016-06-11 19:44] StrahilKazlachev commented on #354
Why don't you use `mapUnknownRoutes` when configuring the router?

[2016-06-12 09:10] vaags opened #355 "Setting "routeConfig.nav = true" from within a route does not update the router view"
(I don't know if this really is an issue with the router. I might just be missing something, but couldn't find an answer to this anywhere.)

I have a router with some routes. One of the routes have its `nav` property set to `false`. This prevents the route from showing in my navigation-bar - as expected.

What I want to do is to make this route shown in the navbar whenever a user has navigated to

[2016-06-13 11:30] talski commented on #354
Oh, thank you, it looks way better

[2016-06-13 11:30] #354 closed

[2016-06-13 15:21] MaartenThomassen commented on #89
Any progress on this? I agree with @larsfjerm  that this is basic functionality. Especially since the RedirectToRoute class supports parameters and the Redirect class does not. The only way i can now redirect to a child sibbling is to manually format the entire url.

[2016-06-14 21:10] shaunluttin commented on #121
We're experiencing this problem and are using `.standardConfiguration`.

[2016-06-14 21:13] EisenbergEffect commented on #121
Check to see if you have version forks. Jspm can do this sometimes and it results in this type of erroneous behavior.

[2016-06-14 21:13] shaunluttin commented on #121
What is a version fork?

[2016-06-14 21:15] EisenbergEffect commented on #121
It means you have two versions of the same library somehow. I believe `jspm -forks` will show them to you.

[2016-06-14 21:15] shaunluttin commented on #121
[code]

[2016-06-14 21:17] shaunluttin commented on #121
[code]

[2016-06-14 21:18] EisenbergEffect commented on #121
Yes, you've got multiple versions loading there. You need to resolve the forks be removing the old versions. Try a `jspm clean` first to see if it does that for you. If not, go into the config.js and update the version numbers to only use the latest. Sorry about this...it's a problem with jspm we're not fond of.

[2016-06-14 21:21] shaunluttin commented on #121
Does `jspm resolve` help with this?

[2016-06-14 21:22] EisenbergEffect commented on #121
That sounds reasonable. I haven't tried that myself.

[2016-06-14 21:25] shaunluttin commented on #121
It seems to work.

# Find Forks

[code]

# Resolve Forks

[code]

[2016-06-15 06:13] jkehler commented on #89
I'm going to chime in here and say this feature would be very very very nice to have. Too bad there's been no progress on it for over a year now.

[2016-06-15 10:30] EisenbergEffect commented on #89
Most of our core team has full-time day jobs just like most other open source projects. If something doesn't happen it's because our team has other higher priorities. If you want to see a feature fast-tracked the best way to see that happened is to get involved. It doesn't mean you have to implement the whole thing. There are lots of ways to help:

* Write some unit tests to validate the the funct

[2016-06-15 16:45] ajdisalvo72 opened #356 "Problem with/Question about adding steps to the router pipeline"
I have added into the pipeline an authorize step in my router config. when the application gets initialized, the run method gets called and the app checks to see if the user is authorized/authenticated. If the user is not authenticated, the user gets redirected to the oauth provider. When the user logs in via the oauth provider, the oauth provider redirects back to the application including the to

[2016-06-16 15:32] AStoker opened #357 "Routing to an AMD module"
### Help Wanted/Possible Issue
I have an Aurelia project that is currently in the process of upgrading a segment of the site from Durandal. In particular, I have a section where I have an Aurelia View/ViewModel routing to an AMD module using the `<router-view>` syntax. The AMD module is returning a function to keep with AMD spec, and right now is just returning an empty object:
[code]
This causes

[2016-06-16 19:08] Roustalski opened #358 "`addPipeline` not allowed on child routers"
Hi,

I have a parameterized route, e.g `...9000:/projects/:key/services`.

The `projects/` route configures a child router to go between several different sub-routes.
The VM that handles the parameter `:key` does a lookup to see if the key actually exists and shows a missing content section if the key is invalid without changing or redirecting the user.

Now, if the user hits `/services` sub-url u

[2016-06-17 13:23] ajdisalvo72 commented on #356
I figured it out..
I needed to add:
config.mapUnknownRoutes({ route: "id_token*token", moduleId: "home", nav: false, title: "home" });

To my router configuration.

[2016-06-17 13:23] #356 closed

[2016-06-19 13:54] martonsagi commented on #257
Hi,

I've just tested the most recent [skeletion-webpack](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-webpack), and I was unable to reproduce any of these issues with aurelia-router 1.0.0-beta.2.0.1. It works without any problem on Windows 10 Mobile.

**Test environment 1:**
Microsoft Lumia 640
Windows 10 Mobile, OS Build 10.0.10586.71 (2016-02-01)
[VorlonJS](https://github

[2016-06-19 14:15] EisenbergEffect commented on #257
Thanks @martonsagi Perhaps it was a system.js issue?
On another note, I see you are using VorlonJS. How so you like it?

[2016-06-19 14:15] #257 closed

[2016-06-20 15:42] EisenbergEffect commented on #357
Nothing special, no. Aurelia is usually used as AMD modules and I have plenty of projects set up to transpile to that format. Perhaps check with the CoreJS people to see if they have some thoughts on this. FYI Aurelia no longer needs CoreJS unless you are using special features not supported by our baseline.

[2016-06-20 15:42] #357 closed

[2016-06-21 19:00] Costo opened #359 "Declare NavModel.router for TypeScript projects"
Hi,

I'm using a singleton view model inside a child router.  When the view model is instantiated, the wrong router is injected (it's the AppRouter instead of the child router).
One workaround I found is to get the router from `routeConfig.navModel.router` in the activate method.
However, the router property is not declared in TypeScript so I have to use a cast to `any`.

It is possible to add `Na

[2016-06-23 03:06] ajdisalvo72 opened #360 "How to use a method that returns a promise in a navigationStrategy Method"
I am trying to take advantage of the navigation strategy method within the router to redirect the user to different home pages based upon their roles within the system. At the time that the user is navigating to the page,(it is uncertain that the logged in user information(roles, etc) is populated, therefore I am calling a method that returns a promise of the logged in user's information. Can you

[2016-06-23 03:56] ajdisalvo72 commented on #360
I figured out the solution to my problem

I return new Promise from the function that calls the this.appState.getLoggedInUser() method and resolves the updated instructions.

[2016-06-23 03:56] #360 closed

[2016-06-24 09:24] jesuslpm commented on #173
I'm also interested in this feature. In the mean time I'm developing hybrid mobile apps with ionic, but I plan to start with Aurelia as I think it's the better javascript framework . Ionic implement this feature out the box. From ionic docs:

[2016-06-24 09:30] Scapal commented on #173
@jesuslpm I implemented a navigation-view for that reason:
https://gist.github.com/Scapal/20518b932c4c8e3c1940

Demo:
https://gist.github.com/Scapal/27e46dd56fb48f5b02aa725ac04b26ca

[2016-06-24 09:32] jesuslpm commented on #173
@Scapal Great!! Thanks!!

[2016-06-25 16:56] rekna1 opened #361 "child router not navigating correctly until another parent route has been visited"
I created an application using the rc cli.

app.ts
[code]
app.html
[code]
klant.ts
[code]
klant.html
[code]
deploymentsforklant.ts
[code]

deploymentsforklant.html
[code]
selectklant.html and selectklant.ts are just like deploymentsforklant, simple template, class with no code.

When I start the application, you get as expected:

When i click on the link "deployments for klant" I get an error
Erro

[2016-06-28 05:13] maverix commented on #326
Ok, I got around to trying to make a pull request.  But I couldn't for the life of me workout where in the api.json to indicate that a parameter was optional.  Any pointers?

[2016-06-28 12:52] EisenbergEffect commented on #326
No need to edit the api.json. That is generated from the code itself. You just need to indicate that the param is optional in the code using a `?`, for example `method(param?: string)`

[2016-06-28 23:30] maverix commented on #326
@EisenbergEffect does this look right?

[2016-06-30 13:21] swiftanthony opened #363 "Information about child route in navigationInstruction"
I have a child router defined.
In main app file app.js I am listening for navigation success event:
[code]
Now I am navigating to a route defined in a child router. The listener above catches the event but navigationInstruction does not contain any information about childRoute. All I get is:
[code]
Is there a way to get information about child route I navigated to from navigationInstruction ?

[2016-06-30 17:41] Ixonal commented on #328
Just realized this never got closed when the pull was integrated. Going to go ahead and close now.

[2016-06-30 17:41] #328 closed

[2016-07-03 13:35] alfkonee opened #364 "Feature Sections Route Handling"
I have a project structured as shown below
![image](https://cloud.githubusercontent.com/assets/3909521/16545689/aaa7d498-4121-11e6-805c-56627aae1aa5.png)

I setup some child routes in the *-section.ts files which is like so
[code]
and my app.ts is
[code]

Whenever I call router.generate('staffById', 'new') on staff-list.html it says it can't find route staffById
i'd like to ask if it's possible re

[2016-07-03 15:18] vegarringdal commented on #364
Im no router expert by by looking at you code and the docs it look like you need to add the route before the ```:id```
Docs:
http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/cheat-sheet/7

Like this:
[code]

But again, I could be wrong here since Ive never tied that part yet.

[2016-07-04 03:30] EisenbergEffect commented on #281
The best way to handle this is to make the sidebar work independent of routing. Simply have the sidebar subscribe to a message on the event aggregator. Whenever a screen needs to show the sidebar with some data, it simply publishes the message.

[2016-07-04 03:30] #281 closed

[2016-07-04 14:30] EisenbergEffect commented on #289
Closing this issue since it was not reproducible and the OP didn't respond after several months.

[2016-07-04 14:38] EisenbergEffect commented on #293
It sounds like we can add this pretty easily. Would anyone care to spec it out and provide a few more implementations details?

[2016-07-04 14:53] #299 closed

[2016-07-04 17:03] EisenbergEffect commented on #301
Is this still an issue? If so, it seems like a difference in whatever browser you are running the code in. We'd need more details so we could set up an environment that matches yours.

[2016-07-04 17:05] EisenbergEffect commented on #302
The history entry that is being removed should be the one that was cancelled. So, it makes sense for that to be removed, given that that route was never actually allowed to activate or be visited. If you want different behavior, then using a redirect is a perfectly valid solution.

[2016-07-04 17:05] #302 closed

[2016-07-04 17:06] jrsmith17 commented on #301
This is still an issue, though I have since switched to a different project. I was using whatever the latest version of Chrome and Firefox were at the time.

[2016-07-04 17:14] EisenbergEffect commented on #304
Have you tried calling router.refreshNavigation()?

[2016-07-04 17:16] EisenbergEffect commented on #301
So, the problem manifested on both Chrome and Firefox on Linux?

[2016-07-04 17:17] jrsmith17 commented on #301
I was using Chrome and Firefox on my local Windows box to access a quick test site I was running off my Gentoo Linux instance using nginx

[2016-07-04 17:19] EisenbergEffect commented on #113
Closing this as a duplicate.

[2016-07-04 17:19] #113 closed

[2016-07-04 17:24] EisenbergEffect opened #365 "Strange Rendering Behavior since 1.1.4 release"
@devteamexpress commented on [Sun Mar 13 2016](https://github.com/aurelia/templating/issues/294)

I understand as part of the new aurelia release there was some work done on minimizing the visual popping

We have code which looks like this
    <i show.bind = "router.isNavigating"  class="fa fa-spinner fa-spin"></i>
    <div show.bind = "router.isnavigating"></div>

This has served us well in the p

[2016-07-04 17:35] EisenbergEffect commented on #301
Hmmm. The code was running on windows then. Perhaps the server was handling the paths differently when files were requested?

It's hard to know without an exact setup end-to-end. I'm going to close this issue for now since it's not affecting you. If someone else has this come up, we can investigate with them.

[2016-07-04 17:35] #301 closed

[2016-07-04 18:48] EisenbergEffect commented on #309
@balazsmeszegeto Seems like you've got it figured out. Would you be interested in contributing by submitting a PR to fix the issue?

[2016-07-04 22:15] EisenbergEffect commented on #313
Cancellation should be replacing the route with the previous route. We will need to investigate further since we haven't seen this before.

[2016-07-04 22:21] EisenbergEffect commented on #315
Fixed some time back. Sorry for not closing this issue earlier!

[2016-07-04 22:21] #315 closed

[2016-07-05 18:25] EisenbergEffect commented on #321
@tolemac To clarify, are you saying that if you set a `base` tag you expect the options.root to be set automatically from that?

[2016-07-05 18:27] EisenbergEffect commented on #322
Closing since cannot reproduce and no repro from OP.

[2016-07-05 18:27] #322 closed

[2016-07-05 19:22] tolemac commented on #321
The documentation (http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/cheat-sheet/7 section `Configuring PushState`) says you have to add a `base tag` and configure the router this way:
[code]

Setting `options.pushState` to `true`, it says nothing about `options.root`.
Then I had understood that it should be enough, therefore Yes, I expect the options.root to be set automatically.

[2016-07-05 19:29] #321 closed

[2016-07-05 19:29] EisenbergEffect commented on #321
Updated the docs concerning this setting. It will go out in the next docs update release this week.

[2016-07-05 20:08] #309 closed

[2016-07-06 01:26] EisenbergEffect commented on #326
Closing since the fix was merged :)

[2016-07-06 01:26] #326 closed

[2016-07-06 02:25] EisenbergEffect commented on #330
We recommend to not tie this type of data to the navigation structure as that will cause structural coupling throughout your app and make it difficult to change your app's UX.

Instead, consider creating a mediator service that can enable storage and lookup of data that is shared by different levels of the hierarchy.

[2016-07-06 02:25] #330 closed

[2016-07-06 02:30] EisenbergEffect commented on #331
I can also confirm that it works in various scenarios. @diegograsso is the problem still present? If so, can you tell if you are getting a route not found? What exactly happens?

[2016-07-06 02:31] EisenbergEffect commented on #331
Looks like it can't find the route. This is probably an issue with route generation in child routers. We are tracking this elsewhere, so I'll close this for now.

[2016-07-06 02:31] #331 closed

[2016-07-06 14:47] jods4 commented on #201
**Update**
In case you missed it, it seems some changes have been made that impact this.

The culprit used to be the following line in `history-browser`
`if (this.fragment === fragment) return;`
Which was changed at some point to:
`if (this.fragment === fragment && !replace)`

It's not clear to me why this was changed and `replace` is a bit orthogonal to "force reload".
_But_ the net result is tha

[2016-07-06 14:51] jods4 opened #366 "Generate route should use route variables"
I have the following route definition:
`{ route: 'location/:id', name: 'location' }`

But when I call `router.navigateToRoute('location', { id: 42 })` it navigates to: `/location?id=42`.

This does work for Aurelia, but it would be better if it went to the expected route: `/location/42`.
Other components (and users) might look at the URL and this is a bit unexpected.

[2016-07-06 15:05] jods4 opened #367 "Navigate to the unknown route"
It would be nice if `mapUnknownRoutes({ name: '404', ... })` would create an actual route when it contains a `name`.

This would allow direct navigation to the route `router.navigateToRoute('404')` or `return new RedirectToRoute('404')`.

Currently this fails, and trying to go to an unknown route with APIs `navigateToRoute('sfjklghsf')` does not actually go to the unknown route, it just fails the

[2016-07-06 15:14] EisenbergEffect commented on #366
It should work as you say, so there must be some sort of bug.

[2016-07-06 15:23] jods4 commented on #366
Found the bug. It was in our code.

Someone created different routes for new and existing entities with the same name:
[code]

It seems the last one wins, which then makes perfect sense.
I renamed the second route with `name: 'newLocation'` and now it works as it should, indeed.

Should there be at least a warning when you use the same name for different routes?

[2016-07-06 15:26] EisenbergEffect commented on #366
Probably. We hadn't considered that sort of mistake :) We can certainly add it. Can you create a new issue for that? Also, this sounds like a great opportunity for a community PR :)

[2016-07-06 15:28] jods4 commented on #83
Would it be so bad to support both `:id` (without optional, types, etc.) and `{id}` (for full support) syntaxes? Seems doable to me, benefits of not having to learn a new syntax is big.

[2016-07-06 15:30] jods4 commented on #366
@EisenbergEffect we can re-open this issue if you want to track the warning issue?

[2016-07-06 20:08] EisenbergEffect commented on #335
@cehoffman Any interest in submitting a PR for this?

[2016-07-07 15:09] EisenbergEffect commented on #340
You need to give your routes a `name` property and then check by that name.

[2016-07-07 15:09] #340 closed

[2016-07-07 20:26] EisenbergEffect commented on #347
Ok, this seems like two issues here:

1. The refresh of a deep link isn't working.
2. The route-href doesn't use an explicit href is provided.

Issue one has only occurred when using push state in my experience, if the base and root aren't configured properly. Other than that, we can't reproduce that problem.

The second issue seems like an oversight in the route-generation code. I'll look into th

[2016-07-07 20:52] #347 closed

[2016-07-07 23:21] EisenbergEffect commented on #342
I believe this was already reported and fixed.

[2016-07-07 23:21] #342 closed

[2016-07-08 10:28] stsje commented on #343
How about letting the title either be a string or a function?

[2016-07-08 11:08] stsje commented on #343
I don't like the i18n to know about the router, and the router shouldn't know about i18n, so I see no option atm. to update the title on language change without coding it yourself. Should be a one-liner if title could be a function (as suggested above).
`this.eventAggregator.subscribe('i18n:locale:changed', this.router.updateTitle.bind(this.router));`

[2016-07-08 11:24] ochart2 commented on #201
@jods4, this is still an issue for us...

[code]
am I doing anything wrong to dynamically load the new routes?
[code]

[2016-07-08 11:30] jods4 commented on #201
@ochart2 sorry, I really don't know what you're trying to do with the dynamic router configuration. Maybe @EisenbergEffect can help.

I am just using `this.router.navigateToRoute(currentRoute, currentParams, { replace: true })` in our ViewModels and with the current release it seems to correctly reload the page.

[2016-07-08 11:34] ochart2 commented on #201
The idea is to reload the router with brand new routes, and then navigate to the `emtpy` route again, which should activate a different viewmodel from the one currently loaded.  Does that make sense?

[2016-07-08 11:54] ochart2 commented on #201
@jods4 ps getting the following when using `navigateToRoute`
[code]
with the names object in `aurelia-route-recognizer` empty

[2016-07-08 12:23] ochart2 commented on #201
@jods4, got it working with navigateToRoute!
Question, it is now manipulating the actual url by appending `?replace=true` to it.
Is there not a cleaner solution for this as I am now manually removing  `?replace=true`  out of the url afterwards?

[2016-07-08 12:25] jods4 commented on #201
@ochart2 I think you messed up the parameters. `navigateToRoute(routeName, routeParams, options)`
Note that there is one additional parameter compared to `navigate()`.

[2016-07-08 12:31] ochart2 commented on #201
That's it! `navigateToRoute` with named routes fixed it!
Thanks @jods4!

[2016-07-08 13:49] ochart2 commented on #201
@jods4, just realised i have another issue... if i call `router.reset()`, `navigateToRoute` does not work, but my routes get duplicated each time within the router if i don't call it.  Is there a way for me to clear current routes inside the router, before reconfiguring?

[2016-07-08 14:09] EisenbergEffect commented on #343
I think we just need to implement a function that each "title" value for each route gets passed through when it builds the full title. This would allows the developer to supply any function they want, including one that invokes i18n APIs.

[2016-07-08 14:16] jods4 commented on #201
@ochart2 I don't know as I never use dynamic routes / `router.reset()` myself. Maybe ask in the gitter channel!

[2016-07-08 14:34] CasiOo commented on #343
How would that work when a page needs to show a product name in the title? Would you replace the transform function, or have a title-parameter property on the route?

[2016-07-08 14:50] EisenbergEffect commented on #343
You can currently use the nav model's `setTitle()` api to dynamically set the route for any router. I would imagine, you would just call that api today with the translated product name.

[2016-07-08 16:29] CasiOo commented on #343
I see, so you don't add a transform function to routes which title are dynamic. For those you must set the title in the VM, passing any parameters to i18n that would be needed. I'm thinking titles that have placeholders `{{category}} - {{productTitle}}`.

I can see it working out :) Would be great to know what title requirements people have in their projects.

[2016-07-08 21:26] EisenbergEffect commented on #349
Typings should be all fixed up now.

[2016-07-08 21:26] #349 closed

[2016-07-09 05:01] EisenbergEffect commented on #352
@AStoker Since navigation is asynchronous, it's not clear to me how wrapping the line you reference in a try catch will actually catch any real errors that happen. Are you sure that's the correct location? Can you tell me how I can reproduce the unreported error? That would enable me to find the best place to put the error reporting logic.

[2016-07-09 05:07] EisenbergEffect commented on #355
Usually, I would just make `nav: true` when you initially configure the route and then add a custom setting that you use to toggle its visibility.

[2016-07-09 05:07] #355 closed

[2016-07-09 05:35] EisenbergEffect commented on #358
We don't allow pipelines on child routers because the pipeline really operates on the aggregate navigation operation.

To solve this, you can still add a pipeline step to the root router. You can gain access to all the navigation instructions of all the child routers, make whatever inspections you want and take appropriate actions.

[2016-07-09 05:35] #358 closed

[2016-07-09 05:48] #359 closed

[2016-07-09 05:48] EisenbergEffect commented on #359
The reason for this is that you've made a singleton, which lives at the root container where the root router also lives, so the child router can't be injected (because it's not existing at that level of the DI).

I've added the router property to the nav model as requested.

[2016-07-09 20:19] EisenbergEffect commented on #361
The issue is child route navigation from parent default, empty routes. We have this tracked in another issue. A cleaner way to handle this would be to make the empty route redirect to the patterned route. That will fix your problem.

[code]

[2016-07-09 20:19] #361 closed

[2016-07-11 12:46] AStoker commented on #352
@EisenbergEffect, I think the router has changed a bit, so that line number isn't accurate anymore. What was happening was one of the view model's `deactivate` method was throwing an error, and that method is called during the router lifecycle. But somewhere along the way, the error was being swallowed and not writing the error to the console, so wrapping the navigate logic was all I needed to at

[2016-07-11 13:45] EisenbergEffect commented on #364
The call to generate is incorrect. `router.generate('staffById', { id: 'new' });` should be used.

[2016-07-11 13:45] #364 closed

[2016-07-12 10:02] balazsmeszegeto commented on #309
@EisenbergEffect I would be interested, but seems like you've already solved it (I was on vacation)

[2016-07-12 13:57] TheOnlyJohnHancock commented on #122
Hi,

This same issue is plaguing me at the moment. I don't know what I have broken because it was working initially. It only happens on child-route.

Any suggestions would be greatly appreciated?

![image](https://cloud.githubusercontent.com/assets/20421142/16769414/7663a972-47fd-11e6-8059-2885b9066088.png)

[2016-07-12 14:11] EisenbergEffect commented on #122
This literally means that in your view, you forgot to add a `router-view` element to indicate where to render the route.

[2016-07-12 14:44] TheOnlyJohnHancock commented on #122
of course!!! Thanks very much, I did not pick up on that one.

[2016-07-13 17:27] sysanin commented on #90
+1, any plans on this feature?

[2016-07-13 17:31] EisenbergEffect commented on #90
We are working towards v1 release in the next few weeks. After that we'll look at adding some new features to the router. This is high on the list.

(As this is open source, all community members are welcome to implement this and send a PR. That helps to move certain requests ahead faster.)

[2016-07-14 01:25] bigopon opened #368 "How to make `navigateToRoute` and `mapUnknownRoutes` change address?"
Hi, when testing the two methods mentioned, my application address wasn't changed to the correspondence. How can I do this without manually setting hash?

[2016-07-14 02:24] EisenbergEffect commented on #368
Please ask questions in the gitter room or on stack overflow.

[2016-07-14 02:24] #368 closed

[2016-07-14 22:15] Ronmenator commented on #201
I have a workaround for the menu reload: Hope it helps someone down the line.

`import {bindable} from "aurelia-framework";
import {Context} from './Context';

export class NavBar {
    @bindable router = null;
    routes = [];

    constructor() {
        Context.Register("ActiveChanged", this, this.setRoutes);
    }

    setRoutes(page, user) {
        page.changeRoutes();
    }

    attached()

[2016-07-15 10:52] devteamexpress commented on #365
Is their an update here?

[2016-07-15 18:10] matthewca commented on #225
+1

[2016-07-16 10:04] HIRANO-Satoshi opened #370 "Better error message for Invalid route config"
[code]

I can't know which route config is wrong. Could you show a better error message?

Could _route_ or _name_ in the config be printed?

[2016-07-16 12:52] EisenbergEffect commented on #370
Sounds like a good opportunity for a PR.

[2016-07-17 01:28] HIRANO-Satoshi commented on #370
No problem. I did.

[2016-07-18 01:05] HIRANO-Satoshi commented on #348
I am confused with route, href and name. I cannot figure out their relationship.

[2016-07-18 02:35] EisenbergEffect commented on #348
`route` is the pattern to match. `name` is just a name used to reference the route configuration so you can generate routes throughout your application without hardcoding urls. `href` isn't used unless you need to hardcode an href associated with a route for the purpose of generating a navigation structure. Normally the router would generate the route. Setting this overrides the generated value.

[2016-07-19 10:15] hadrienl opened #372 "Child router doesn't navigate"
Hi,

I have a root router in app.js with this config:

[code]

In connect.js I have this config:

[code]

I can navigate to / and /not-allowed, views are correctly displayed but when I try to navigate to /connect/something I can see the url in browser flashing by going to /connect/something and going back to / very quickly, and never display the correct view. I can't see nothing in console and if

[2016-07-19 13:16] EisenbergEffect commented on #372
This issue has already been reported. There's a problem with child routes attached to "emtpy" parent routes. To work around it, you should have your root `/` route redirect to a route with a fragment. Just create another route and then have the empty route add a `redirect` property that points to the non-empty route.

[2016-07-19 13:16] #372 closed

[2016-07-21 16:45] TylerBrinkley commented on #355
To get around this issue I manually pushed my NavModel into the router's navigation property and then assigned the router's navigation property to itself to initiate an update of the view.

[2016-07-22 12:41] Kiciaczek opened #374 "generating routing links by jQuery plugin"
I'm not sure if it's a bug or it's simply not possible. I'm trying to generate souting links in jQuery plugin like this:

`$('<a route-href="route:' + 'entity' + '; params.bind:{id: '+ node.key +'}"> <span style="padding: 1px 1px; font-size: 10px;">Edit</span></a>')`

I append this to the node in my tree later on. It appears on the site as a link, but lacks aurelia-generated classes (like: 'au-tar

[2016-07-22 14:12] #374 closed

[2016-07-22 14:38] EisenbergEffect opened #375 "Add TypeScript ViewModel Interface"
@TylerBrinkley commented on [Fri Jul 22 2016](https://github.com/aurelia/framework/issues/481)

It would be nice if a TypeScript ViewModel interface was added for better visibility of available features. It might look something like the below. There's probably more methods that could be specified but I just haven't discovered them yet which would just show the utility of adding this.

    export i

[2016-07-22 14:43] TylerBrinkley commented on #375
Thanks Rob, obviously all methods defined in the interface would be optional which means users wouldn't need to implement the interface explicitly but it might help them to better discover what features are available to them. Are there more than just these 4 methods that a ViewModel can implement?

[2016-07-22 14:54] AshleyGrant commented on #375
Over in NG2 world, they do stuff like this. I've been thinking it wouldn't hurt to have this, as long as the framework doesn't require a user to implement this interface and it just serves as a reminder.

Here's the docs form ng2: https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html their interfaces are optional, and I actually prefer the strategy @TylerBrinkley is suggesting.

Maybe the n

[2016-07-22 15:08] EisenbergEffect commented on #375
`RoutableComponent` I think would be the name. If someone wants to submit the PR to router, that would be great. Perhaps a similar interface `Component` should be added to templating. I'd accept a PR for that as well.

[2016-07-22 19:05] StrahilKazlachev commented on #375
@EisenbergEffect Do you consider:
- `determineActivationStrategy()` part of `RoutableComponent` ?
- `RoutableComponent` extends `Component` ?

[2016-07-22 19:09] EisenbergEffect commented on #375
No way to extend from Component because that is part of templating and router has no hard dependency on that. So, they should be independent.

You can include `determineActivationStrategy()` as well as `getViewStrategy()` as part of `RoutableComponent`

[2016-07-23 09:21] atsu85 commented on #375
I've created my own interfaces for TypeScript, but I've taken slightly different approach. I created one interface for each method (instead of single interface for all optional methods) so that when i add the interface to the class, then TypeScript compiler actually checks the correctness of the method signature as well.

[2016-07-23 09:28] StrahilKazlachev commented on #375
@atsu85 Could you look at the PR and tell me what you think? I don't mind splitting the interface.

[2016-07-23 13:26] atsu85 commented on #375
I've commented @StrahilKazlachev's [PR](https://github.com/aurelia/router/pull/376#issuecomment-234718035) and added gist to my solution

[2016-07-25 00:32] DrunkenInfant commented on #306
Is there any know workaround for this while it is being fixed? I tried adding a setTimeout in activate in which I set the data the routes-href use, but it doesn't seem to work.

[2016-07-27 02:19] tomtomau opened #378 "Child Route activate() called before childRouter has refreshed baseUrl"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0-rc1.0.5

**Current behavior:**

Originally in Gitter chat:

So I have a AppRouter (A) which has a Route (B) which is a ChildRouter under the likes of "/register", I want to dynamically throw the user around different routes in this child router. So I started by creating essentially an index route (C) for ChildRouter (B) (i.e. it handle

[2016-07-27 03:14] EisenbergEffect commented on #347
@cosminonea We've had to make a change to the way this works, coming in tomorrow's release. When you want route generation to use a hardcoded href, on your route config, you need to set the property `generationUsesHref: true`

[2016-07-28 12:23] jods4 commented on #366
#377 has been merged and is published in 1.0.0 but it contains a critical bug!

Apparently, the patch #377 trips on single routes that have multiple alternative URLs.
So trying to register this route:
`{ route: ['', 'home'], name: 'home' }`
Triggers the distinct name error.

**This is a very hard regression, because the impact is that the application does not start at all.**

It is also a bit tric

[2016-07-28 12:55] EisenbergEffect commented on #366
It's already fixed. We realized it during the release process and reverted that code entirely.

[2016-07-28 12:55] EisenbergEffect commented on #366
Update to 1.0.2

[2016-07-29 11:21] kristianmandrup opened #379 "Load route viewModel module from external location or via alternative resolve strategy"
Currently the Router only seems to support loading a ViewModel module for a route given a moduleId which is resolved relative to `/src` in the main project, ie. via `moduleRoot` config.

`moduleRoot: path.resolve('src').replace(/\\/g, '/'),`

Would be awesome if the module could also be resolved using normal module resolution strategies, such that we can split up an application in a modular fashio

[2016-07-29 12:02] kristianmandrup commented on #379
Made a [PR](https://github.com/aurelia/templating-router/pull/35) for this change

[code]

[2016-07-29 12:30] mohsenasfia opened #380 "Support external routes in router configuration"
**I'm submitting a feature request**

When building an app that links to external/legacy pages, it would be really handy if the URL's for those external pages could be configured and generated the same way as the app routes.

Example:

[code]

The idea is, that routes starting with `http://` or `https://` would be used as-is, without prepending the base URL of the app. When navigating to the route

[2016-07-29 13:00] EisenbergEffect commented on #379
The router should be resolving modules relative to the router, not src. What build system are you using?

[2016-07-29 13:02] kristianmandrup commented on #379
Yeah, whatever, `src` or relative to router. The question is whether it can be made relative to something else?

[2016-07-29 13:03] EisenbergEffect commented on #379
Gotcha. I'll review the PR. Thank you!

[2016-07-29 13:25] kristianmandrup commented on #379
Thanks. Basically, the current way that routing works is "mysterious", ie. not very well documented.  Also going beyond the default Routing strategy... such as this section on the [hub](http://aurelia.io/hub.html#/doc/article/aurelia/router/latest/router-configuration/3)

How can I access the location of the project root, so as to calculate a file location relative to there?

[2016-07-29 13:33] kristianmandrup commented on #379
I suggest the ability to attach a a module resolution strategy on the router itself as perhaps a more sensible approach:

[code]

But then I think it would be much better like:

[code]

Which also makes it "clear" that view models are resolved relative to the router.

[2016-07-29 13:56] mohsenasfia commented on #380
Conceptually, this seems to be the changes needed to make this work:

`RouteRecognizer.prototype.add`
Should not recognize the first ":" as an `EpsilonSegment` if the path starts with "http" or "https".

`RouteRecognizer.prototype.generate`
Should be changed such that
[code]
Becomes
[code]

`Router.prototype.generate`
Should be changed such that
[code]
Becomes
[code]
Finally, it should be allowed

[2016-07-29 13:57] mohsenasfia commented on #380
It looks like Aurelia can also be monkey-patched to support this with the code:
[code]
And route definitions written as:
[code]

[2016-07-29 14:01] mohsenasfia commented on #380
Actually, it should probably also support routes defined as:
[code]

[2016-07-29 14:33] kristianmandrup commented on #379
I believe the above is a much more sensible approach. I have made changes and PRs in both `router` and `template-routing`. Not sure how I go about building the `dist` folders as part of PR and testing...

[2016-07-30 08:51] kristianmandrup commented on #379
This PR is in preparation for an easier way to structure an app into truly independent, reusable modular components instead of having a monolithic app, important for scaling the size of an app.

[2016-07-30 23:47] thomas-darling opened #382 "<base> tag breaks svg id's"
This is more of a FYI than an actual issue, as we did eventually make things work.
However, since this came as quite a surprise to us, I thought it might be a good idea to make you aware of this _potential_ issue, so we don't get any breaking changes in the future.

Basically, be aware that the presence of a `<base>` tag on the page breaks SVG id's, effectively making it impossible to reference an

[2016-07-30 23:52] thomas-darling commented on #341
Be aware that the `<base>` tag breaks SVG id's, so this should also work without it: https://github.com/aurelia/router/issues/382

[2016-08-01 14:45] don-bluelinegrid opened #383 "router isActive property not correct"
**I'm submitting a bug report**
- **Library Version:**
  major.minor.patch-pre1.0.2
- **Node Version:**
  4.4.7
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  webpack
- **Language:**
  TypeScript

**Current behavior:**
Using the typescript-webpack skeleton.

When programmatically routing to a route using `me.router.navigateToRoute('community');`, for a route defined like so:
`{

[2016-08-03 10:10] powerbuoy commented on #177
Had the same issue but using `event.instruction.router.currentInstruction.config.name` instead of `event.instruction.config.name`.

[2016-08-03 15:45] heruan commented on #89
This would be great! I would stick with the existing `generate` function, with an algorithm like this:

Being in `/start/from/here`, call `router.generate('get/me/there')`; then `generate` would:

1. split `'get/me/there'` in `[ 'get', 'me', 'there ]` (these are route names);
2. look backwards in the hierarchy for a route named `'get'`;
3. if found (could also be the current router itself), from t

[2016-08-03 16:05] kristianmandrup commented on #138
@bryanrsmith I don't understand how to use this.

I've been trying this so far:

`{ route: 'screen/:id',  moduleId: 'screens/screen/display', href: 'red', nav: true,  title: 'Screen #1' }`

Then I get the error route not found `red`. But I thought the href was only for display purposes. So it seems to override the moduleId or wtf!?

Having played around with Aurelia 1.0 the past few days, I feel t

[2016-08-03 16:22] kristianmandrup commented on #138
The docs for `href`  are gobbydygod to me...

`href` - is a conditionally optional property. If it is not defined then route is used. If route has segments then href is required as in the case of files because the router does not know how to fill out the parameterized portions of the pattern.

What does it mean `as in the case of files`  and `router does not know how to fill out the parameterized

[2016-08-04 10:45] heruan commented on #90
I think the solution for this and https://github.com/aurelia/router/issues/89 should address a more general scenario. Aurelia is so modular it comes natural to have an app built upon different external modules which may contribute to the route hierarchy. For example:
[code]
Then `blog-app` and `wiki-app` may depend both on `admin-app`, and their view-models might need to generate a route to a view

[2016-08-04 14:00] EisenbergEffect commented on #90
@heruan We'd love to have you work on it. It's a very tricky problem, especially since the child apps may not even be loaded and you've got to account for parameters and wild cards at various levels.

[2016-08-04 14:13] heruan commented on #90
I'm just studying the `RouteLoader` logic and since loading is involved it's clear that `generate` will never be able to return synchronously. I'm evaluating a more straightforward approach, of a `RouteMapper` which would be built with all the involved routers configurations and thus have a static hierarchy of url templates. I'll publish ASAP a repo with examples.

[2016-08-04 14:15] thomas-darling commented on #90
Yeah, whatever is done here, it has to be considered how it might affect bundling.
Lets say we have the root router, and a child router for each area of the site.
The app would also  be bundled this way; one core bundle, and one bundle for each area.

To make this work, I think we would need to move the `configureRouter` function to a separate file, such that this file can be included in the core

[2016-08-04 14:15] EisenbergEffect commented on #90
I think this could be a good approach. One idea I had, just off the top of my head, was very similar. Basically, enable a separate mapper or some additional config at the app level that would provide info for generation. Child routers could maybe reference this information so they didn't need to repeat themselves. It's a difficult problem. We are open to ideas.

[2016-08-04 16:19] heruan commented on #90
I came up with this: https://github.com/heruan/aurelia-route-mapper
and this example app: https://github.com/heruan/aurelia-route-mapper-example

The concept is to use a `RouteMapper` which is an extended `RouteRecognizer` and has a `map(routes: RouteConfig[])` function which adds to the its recognized routes the ones passed as the argument, but also looks for a `settings.childRoutes` and recursiv

[2016-08-04 19:29] vbartolini commented on #203
I have problem with Aurelia binding. My class is as following:

    import {inject} from 'aurelia-framework'
    import {HttpClient, json} from 'aurelia-fetch-client';

    @inject(HttpClient)
    export class AppleList{
	constructor(client){
				this.apples = [];
				this.client = client;
	   }

	   created(){
		this.client.fetch('http://localhost:50165/api/values')
        .then(response => resp

[2016-08-04 19:37] EisenbergEffect commented on #203
Is your property named `Id` or should it be `id`. The error you are getting is because you have null items in your array or an id that isn't defined. There's literally no way to generate the route without the required info.

[2016-08-04 19:47] vbartolini commented on #203
Thank you Rob for fast response.
My property "Id" is coming from server and it is "Id". When it is "id" I'm getting the error. To be sure, I've changed property name for "id" but the problem still exists. If I add "if.bind="apple" everything is going properly.
The more interesting thing is that I have seven items in apples collection but I'm getting only three errors in scenario without "if.bind".

[2016-08-04 19:51] EisenbergEffect commented on #203
It sounds like your array has holes in it.

[2016-08-04 20:05] vbartolini commented on #203
If you mean hole as empty object or null then my answer is "I don't think so". I've checked whole array (length == 7), and every object has filled by proper id and name. All names are displayed in browser and every href for every link has proper value.

[2016-08-04 20:13] EisenbergEffect commented on #203
Is the array being filled after rendering? The error you are getting is literally indicating that when the route-href behavior runs, the data isn't all present.

[2016-08-04 21:20] vbartolini commented on #203
OK, I understand my fault after debugging vendor-bundle.js. The data are loaded from server before rendering, but resolver is working ansychronously and errors are coming when Promises collection is preparing.
Am I right?

[2016-08-04 22:35] jods4 commented on #83
I did a PR for this. Any opinion?
I would like optional parameters to land because it will remove a few pain points for us.

I could port this to the old syntax if you prefer: `/user/:id?`.
Defaults and constraints can probably easily be supported there as well, maybe with alternative syntax: `/user/:id=42` and `/user/:id|int/:phone|regex(\d{3}-\d{2}-\d{2})`

The one thing that is harder to introd

[2016-08-04 22:41] EisenbergEffect commented on #83
I think I prefer the syntax from the pr, especially since it doesn't break anything we currently have. We haven't had an opportunity to review it yet. It will take a bit of time since it is a significant feature addition. We need to consider it carefully.

[2016-08-04 23:06] jods4 commented on #83
@EisenbergEffect I have been pondering about the breaking potential and there is one thing:

People _could_ have static routes that look like `/folder/{1234-56-7890}`. It is not likely, but possible.
In that case it will continue to work (unless there is a `?`, `=` or `:` inside that segment, which is even less likely) albeit in a slightly different way: the segment becomes a parameter named `1234

[2016-08-05 01:25] EisenbergEffect commented on #83
I think this is probably very rare to non-existent. What we could do is blog about this to see if anyone has concerns. If they do, we could add some sort of switch.

[2016-08-05 03:55] andrewtobin commented on #349
@EisenbergEffect I've just installed the cli, and tried this and still getting the same problem.  I've made sure to do an npm update on the aurelia-router but same.